.card {
    &.master-data-card{
        border-radius: 4px;
        box-shadow: 0 6px 14px rgb(0 0 0 / 6%);
    }

.t-master-data{
    p{
        color: #5B6874;
        transition: 0.3s;
        cursor: pointer;
        line-height: 15px;
    }
    
    .t-master-data-content{
        .Msterdata-col{
        transition: 0.8s;
            span{
                font-size: 12px;
                color: #6C757D;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                white-space: nowrap;
            }
        }
        label{
            font-weight: 500;
            color: #343A40;
            line-height: 24px;
            margin-bottom: 0px;
        }
        .multilabel{
            justify-content: start;
            .collapsePanel{
                position: relative;
                a{
                    color: #4c7ff0;
                    white-space: nowrap;
                }
                .more-label{
                    min-width: 200px;
                    border: 1px solid #CFD8E1;
                    border-radius: 4px;
                    background-color: #ffffff;
                    position: absolute;
                    left: 100%;
                    top: 0;
                    z-index: 9;
                    .dropdown-title-bg-color{
                        background-color: #FAFCFF;
                    }
                }
            }
            span{
                display: inline-block;
                font-weight: 500;
                color: #343A40;
            }
        }
        .d-none{
            display: none;
        }
        .d-block{
            display: block;
        }
        
    }
}
}
