@import "../../../../assets/sass/abstracts/variables";

.info {
  .initials {
    width: 36px;
    height: 36px;
    color: #000;
    &-light {
      background-color: #E8ECFF;
      color: #7F6FC1;
    }

    &-green {
      background-color: #CAFFB2;
      color: #59BC2E;
    }
  }
}
.assignment-history-wrapper{
  table {
    border: 1px solid $border-color;

    tr {
      border: 1px solid $border-color;
    }
    thead {
        background-color: #FBFAFF;

        th {
            font-size: 13px;
            color: #576471;
            text-align: left;
            height: 44px;
            border-right: 1px solid $border-color;
        }
    }

    tbody {
        td {
            font-size: 13px;
            height: 44px;
            border-right: 1px solid $border-color;
        }
    }
}
}
.toggle-header {
  toggle-button {
    right: 0;
    top: 5px;
  }

  h4 {
    icon {
      ::ng-deep i {
        vertical-align: middle;
      }
    }
  }

  toggle-button {
    width: 30px;
    
    ::ng-deep .toggle-button-text {
      height: 15px;
      width: 27px;
    }

    ::ng-deep .toggle-button-switch {
      width: 12px;
      height: 12px;
    }

    ::ng-deep input {
      &:checked {
        ~ .toggle-button-switch {
          left: 13px;
        }
      }
    }
  }
}
.text-red {
  color: #FF0D45;
}

.text-green {
  color: #2dd36f!important;
}

.summary {
  p {
    color: black !important;
  }
}
.first-field {
  width: 25%;
  .text-danger {
    color: $color-red-100;
  }
  .text-success {
    color: #3c9217;
  }
}

.w-50{
  width: 50%;
}
.rate-factor-modify{
  font-size: 13px;
  color: #1C60D0;
}
.modified-rate{
  color: #001A43;
  font-size: 13px;
}

.download-btn {
  color: #307CC9;
  font-size: 13px;

  icon {
    vertical-align: middle;
  }
}

  .pop-over {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 258px;
    padding: $p12;
    z-index: 10;
    background-color: $light;
    border-radius: $border-radius;
    border: 1px solid #DEE2E6;
    color: $light;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 3px 6px #0000002B;

    p {
      color: #495057;
    }

    .pop-item-wrap {
      gap: 5px;
    }

    .pop-item {
      background-color: #F8F9FF;
      font-size: 10px;
      border-radius: $border-radius;
      text-align: center;
      padding: $p4 $p8;
      color: #3A4550;
      position: relative;



      span {
        display: block;
      }

      &:first-child {
        &:before {
          display: none;
        }
      }
    }

    button {
      width: 100%;
      font-size: 12px;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: -10px;
      z-index: 10;
      border-right: 12px solid $light;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      content: '.';
      text-indent: -9999px;
      overflow: hidden;
      display: block;
      width: 4px;
      height: 1px;
      transform: translateY(-50%);
    }

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  .light-blue-bg-block{
    background-color: #6F73DE14;
    border: 1px solid #6F73DE2B;
    border-radius: $border-radius;
    font-size: 13px;
    color: #6F73DE;
      i{
        color: #6F73DE;
        font-size: 20px;
      }
      a{
        color: #00338E;
        text-decoration: underline;
      }
  }
.worker-update-history {

  .impersonated-wrapper {
    .impersonated-data {
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: default;
    }

    .meta-tooltip {
      top: 41px;
      left: 0;
      transform: translateY(0);
    }
  }
}
  
