
<div class="content-area ui-content-wrapper no-content bg-light list-not-found">
    <div class="page-title px-24 pt-24">{{title | i18next}}</div>
    <div class="no-data text-center">
        <img src="./assets/images/no-data.png" alt="organization-board" class="img-fluid">
        <h2>{{headingmsg | i18next}}</h2>
        <p class="font-weight-medium mb-24">{{pmsg | i18next}} <a (click)="createClick()">{{clickHere | i18next}}</a> </p>
        <button class="btn btn-secondary large mx-auto" (click)="createClick()"><icon size="20px" name="add" type="material" class="icon--on-left" cuClass="cu-icon"></icon>{{btnmsg | i18next}}</button>
    </div>
</div>
