$colors: (
    gray: (
        1: #EBF0F5,
        2: #E3E9F0,
        3: #CFD8E1,
        4: #AFB9C5,
        5: #A3B0C0,
        6: #84919F,
        7: #5B6874,
        8: #2F3943,
        9: #1D252D
    ),
    primary: (
        1 : #EDF2FE,
        2 : #AAC8FF,
        3 : #5B96FF,
        4 : #2D75FF,
        5 : #0055FF,
        6 : #0044C5,
        7 : #00338E,
        8 : #001A43,
        9 : #001A43
    ),
    light-blue: (
        1 : #E1F2FF,
        2 : #AADAFF,
        3 : #5BB7FF,
        4 : #2DA0FF,
        5 : #0089FF,
        6 : #006CC5,
        7 : #004F8E,
        8 : #004175,
        9 : #002843
    ),
    cyan: (
        1 : #B6F6FF,
        2 : #75EEFF,
        3 : #2CE3FF,
        4 : #01D1F1,
        5 : #01BCDA,
        6 : #00A7C0,
        7 : #008CA1,
        8 : #006C7C,
        9 : #003D46,
    ),
    indigo: (
        1 : #EBE8FF,
        2 : #DDD8FF,
        3 : #CDC6FF,
        4 : #BCB4FF,
        5 : #AA9FFF,
        6 : #9587FF,
        7 : #7A6AFF,
        8 : #5643FF,
        9 : #422DFF
    ),
    violet: (
        1 : #FCC5FF,
        2 : #F9A9FF,
        3 : #F575FF,
        4 : #F143FF,
        5 : #EB00FF,
        6 : #B600C5,
        7 : #84008E,
        8 : #6C0075,
        9 : #54005B
    ),
    fuschia: (
        1 : #FFE2FC,
        2 : #FFCEF9,
        3 : #FFB6F6,
        4 : #FF9CF2,
        5 : #FF7CEF,
        6 : #FF52E9,
        7 : #F700D6,
        8 : #BD00A5,
        9 : #8E007C
    ),
    pink: (
        1 : #FDF0F7,
        2 : #F8CCE5,
        3 : #F8AFD8,
        4 : #F266AD,
        5 : #D93378,
        6 : #BD1E5F,
        7 : #A2164A,
        8 : #83153D,
        9 : #611430
    ),
    red: (
        1 : #FFC5C5,
        2 : #FFAAAA,
        3 : #FF7575,
        4 : #FF4343,
        5 : #FF0000,
        6 : #C50000,
        7 : #A90000,
        8 : #750000,
        9 : #440000
    ),
    orange: (
        1 : #F8E8DD,
        2 : #F3D7C4,
        3 : #EEC5AA,
        4 : #E7B18D,
        5 : #D8834B,
        6 : #CF6625,
        7 : #BC5A1E,
        8 : #AC4300,
        9 : #602800
    ),
    yellow: (
        1 : #FFF5C5,
        2 : #FFEB8E,
        3 : #FFE15B,
        4 : #FFD82D,
        5 : #FFD000,
        6 : #E1B700,
        7 : #C5A000,
        8 : #8E7500,
        9 : #5B4B00
    ),
    lime: (
        1 : #DEF2C1,
        2 : #C4E994,
        3 : #A9DE63,
        4 : #89D12F,
        5 : #6AC100,
        6 : #5DAA00,
        7 : #4F8E00,
        8 : #3E6E00,
        9 : #253E00,
    ),
    green: (
        1 : #ACFFB5,
        2 : #79FF87,
        3 : #53FF65,
        4 : #01DF1A,
        5 : #01CA17,
        6 : #01B116,
        7 : #009514,
        8 : #007311,
        9 : #003D0B
    ),
    teal: (
        1 : #CCF5DD,
        2 : #A6EDC2,
        3 : #7AE3A5,
        4 : #48D780,
        5 : #0DC752,
        6 : #01AF44,
        7 : #00943A,
        8 : #00722E,
        9 : #00411D
    ),
);

$surfacing-in-white: #FAFCFF;
$white: #ffffff;
$font-family: Inter;

//padding
$p0: 0px;
$p4: 4px;
$p8: 8px;
$p12: 12px;
$p15: 15px;
$p16: 16px;
$p24: 24px;
$p32: 32px;
$p64: 64px;

//margin
$m0: 0px;
$m4: 4px;
$m8: 8px;
$m9: 9px;
$m12: 12px;
$m16: 16px;
$m24: 24px;
$m32: 32px;
$m64: 64px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$border-radius: 4px;
$rounded-circle: 50%;

$font-primary: 13px;
$font-large: 16px;
$font-small: 12px;
$transition: 0.2s ease-in-out;

@function colors($base, $shade) {
    $color: map-get(map-get($colors, $base), $shade);
    @return $color;
}
