@import '../../../../../../assets/sass/self-config/base/variables.scss';


.try-out-block{
    border: 1px solid colors(gray, 3);  
    
    .try-out-head{
        color: colors(primary, 8);
    }
}

::ng-deep .accuracy-configuration-modal{
    app-svms-modal-body{
        .svms-modal-body{
            padding: 0;
        }

        .ng-select-container,input{
            min-width: 250px;
        }

        .ng-select-container{
            .ng-input{
                padding-left: 0px !important;
            }
        }
    }
}