@import "../../../assets/sass/abstracts/variables";
.search-candidate {
    .search-cand {
      top: 10px;
      left: 12px;
      color: $placeholder-color;
      z-index: 6;
    }
  }
  
  ::ng-deep {
    .search-candidate {
      .ng-select {
  
        .ng-select-container {
          padding-left: 24px;
        }
      }
  
      .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
        left: 24px;
      }
  
      .ng-select.ng-select-opened .ng-select-container {
        z-index: 3;
      }
    }
  
    .ng-dropdown-panel {
      box-shadow: 0px 0px 0px 0px #00000000;
      z-index: 7 !important;
    }
  }