@import '../../../assets/sass/abstracts/variables';

h3 {
  font-weight: bold;
}


:host ::ng-deep {
  h4 {
    font-weight: bold !important;
    font-size: 18px;
  }

  .col-4 {
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

.toggle-panel {
  margin-top: 24px;
  width: 240px;
}

.toggle-background {
  background: #F6FAFD;
}


::ng-deep.svms-body {
  padding: 24px;
  text-align: left;
}

.margin-left {
  margin-left: 10px;
}

.icon-bg {
  background-color: #faf8ff;
  border: 1px solid $color-border-secondary;
  padding: 11px;
  border-right: 0;
  border-radius: $border-radius;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.remove-radius {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-right: 24px;
  .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 24px;
  }
}

ngx-dropdown-treeview ::ng-deep {
  div {
    button ::ng-deep {
      font-size: 14px;
      background-color: white;
      border: 1px solid #EBEEF3;
      text-align: left;
      color: #707070;

      &:after {
        font-size: 14px;
        background-color: white;
        border: 1px solid #EBEEF3;
        text-align: left;
        color: #707070;
      }

      &:hover, &:focus {
        color: #f4f4f4;
        background-color: #f4f4f4;
      }

    }
  }
}

.badge {
  padding: 2px 8px;
  color: #001A43;
}