// @import '../../../../../../svms-web/src/assets/sass/self-config/base/variables.scss';
@import '../../../../assets/sass/abstracts/variables';
.contact-form{
    border: 1px solid colors(gray, 3);
    border-radius: $border-radius;
    padding: $p8 $p16;
    .contact-details{
        .sub-title{
            color: colors(primary, 9);
        }
    }
    form{
        textarea{
            min-height: 40px;
        }
    }
    .country-code{
        min-width: 115px;
    }
}
