@import '../../../../assets/sass/abstracts/_variables.scss';

.list-widget,
.widget-content-info {
  overflow: auto;
  height: 100%;

  &.edit-widget .widget-content-info {
    opacity: 0.1;
  }

  .widget-header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;

    &.bg-red {
      background: $color-red-80;
    }

    &.bg-purple {
      background: $color-light-blue;
    }

    &.bg-grey {
      background: $color-gray-80;
    }

    &.bg-orange {
      background: $color-orange;
    }

    .notifications-active {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
      height: 30px;
      width: 30px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: 'notifications_active';
        font-family: 'Material Icons';
        font-size: 16px;
      }
    }
  }

  .widget-body {
    margin-top: 50px;
    padding: 16px;
  }

  .text-white {
    color: $color-white;
  }

  .text-secondary {
    color: $color-secondary
  }

  .text-bold {
    font-weight: bold;
  }
}
