<div class="job-listing" id="aa">
  <vms-table [loading]="dataLoading" [vmsTableConfig]="tableConfig" [vmsDataSource]="vmsData" [totalItem]="totalRecords"
    [count]="countData" [itemsPerPage]="itemPerPage" (changePage)="onPaginationClick($event)"
    (changeRecords)="onClickRecords($event)" (onSort)="onSortClick($event)" (search)="onSearch($event)"
    [currentPage]="pageNo" (onListFilter)="onListFilter($event)" (onTabClick)="onTabClick($event)"
    (onViewClick)="onClickView($event)" (onOptOutClick)="onOptOutClick($event)" (onCreate)="onCreateClick($event)"
    (onSubmittedCandidateClick)="onSubmittedCandidateClick($event)" [currentTab]="selectedTab"
    (onOptionClicked)="onOptionClicked($event)" (onDistributionOptionClicked)="onJobListOptionClicked($event)"
    (onEditClick)="onEditClick($event)" (onJobOptionClicked)="onJobOptionClicked($event)"
    (onDraftOptionClicked)="onDraftOptionClicked($event)" (onCloneJobClick)="onCloneJobClick($event)"
    [dateTransform]="true" (onOptInClick)="onOptInClick($event)">
  </vms-table>
</div>
<app-opt-out-reason (optOutJob)="optJob($event)" [_closeSidebar]='closeSidebar'></app-opt-out-reason>
