@import '../../../../assets/sass/abstracts/variables';

.disable {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .5;
}

.initials_blue {
  background-color: #30AEB2 !important;
}

.contact-avatar-list {
  span {
    position: relative;
    margin-left: -8px;
    margin-right: 0;
    border: 1px solid #FFFFFFEA;

    &:first-child {
      margin-left: 0;
      z-index: 10;
    }

    &:nth-child(2) {
      z-index: 9;
    }

    &:nth-child(3) {
      z-index: 8;
    }

    &:nth-child(4) {
      z-index: 7;
    }

    &:nth-child(5) {
      z-index: 6;
    }

    &:nth-child(6) {
      z-index: 5;
    }

    &:nth-child(7) {
      z-index: 4;
    }

    &:nth-child(8) {
      z-index: 3;
    }

    &:nth-child(9) {
      z-index: 2;
    }

    &:nth-child(10) {
      z-index: 1;
    }
  }
}

.rate-card-options {
  width: 200px !important;
}

.option-dropdown {
  top: 60px;
  left: -22px;
  box-shadow: 0px 11px 16px #0000000F;
  width: 210px;
  z-index: 4;
  transition: $transition;
  opacity: 0;
  visibility: hidden;

  &:before {
    background: $light;
    border: 1px solid $color-gray-30;
    width: 10px;
    height: 10px;
    content: '.';
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    visibility: visible;
    position: absolute;
    top: -7px;
    right: 30px;
    z-index: 1;
    transform: rotate(45deg);
  }

  &:after {
    background: $light;
    width: 13px;
    height: 1px;
    content: '.';
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    visibility: visible;
    position: absolute;
    top: 0px;
    right: 30px;
    z-index: 2;
  }

  ul {
    list-style-type: none;
    border: 1px solid $color-gray-30;
    border-radius: $border-radius;
    overflow: hidden;
    max-height: 0;
    position: relative;
    z-index: 2;
    background: $light;
    transition: $transition;

    li {
      border-top: 1px solid $color-gray-30;

      a {
        line-height: 46px;
        padding-left: $p16;
        padding-right: $p16;
        color: $color-gray-70;
        transition: $transition;

        table-icon {
          float: left;
          margin: $m12 $m12 0 0;
        }

        &:hover {
          text-decoration: none;
          background: $color-gray-5;
        }
      }

      &:first-child {
        border-top: 0;
      }

      &.red-color {

        a {
          color: $color-red-90;
        }
      }
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;

    ul {
      max-height: 500px;
    }
  }
}

.hierarchy-required {

  span {
    position: relative;
    padding-left: 22px;

    &:before {
      position: absolute;
      top: 4px;
      left: 0;
      width: 10px;
      height: 10px;
      content: '.';
      text-indent: -9999px;
      overflow: hidden;
      display: block;
      visibility: visible;
      border-radius: $rounded-circle;
    }

    &.red {
      position: relative;
      color: $color-red-90;

      &:before {
        background: $color-red-90;
      }
    }

    &.violet {
      position: relative;
      color: $color-blue;

      &:before {
        background: $color-blue;
      }
    }

    &.grey {
      position: relative;
      color: $color-gray-70;

      &:before {
        background: $color-gray-70;
      }
    }
  }
}

.module-icon-display {
  display: inline-block;
  vertical-align: middle;

  table-icon {
    height: 20px;
    display: block;

    ::ng-deep i {
      color: $color-gray-70;
    }
  }

}

.manager-avatar-list {
  list-style-type: none;

  li {
    position: relative;
    margin-left: -8px;
    border: 1px solid #FFFFFFEA;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    border-radius: $rounded-circle;
    background: $color-green;
    width: 22px;
    color: $light;
    font-size: 10px;

    &:first-child {
      margin-left: 0;
    }

    &.more-link {
      background: $light;
      box-shadow: 0px 3px 6px #00000029;
      color: $color-link;
    }

    .more-item-dropdown {
      top: 37px;
      left: -16px;
      box-shadow: 0px 11px 16px #0000000F;
      width: 157px;
      z-index: 4;
      transition: $transition;
      opacity: 0;
      visibility: hidden;

      &:before {
        background: $light;
        border: 1px solid $color-gray-30;
        width: 10px;
        height: 10px;
        content: '.';
        text-indent: -9999px;
        overflow: hidden;
        display: block;
        visibility: visible;
        position: absolute;
        top: -7px;
        left: 20px;
        z-index: 1;
        transform: rotate(45deg);
      }

      &:after {
        background: $light;
        width: 13px;
        height: 1px;
        content: '.';
        text-indent: -9999px;
        overflow: hidden;
        display: block;
        visibility: visible;
        position: absolute;
        top: 0px;
        left: 30px;
        z-index: 2;
      }

      ul {
        list-style-type: none;
        border: 1px solid $color-gray-30;
        border-radius: $border-radius;
        overflow: hidden;
        max-height: 0;
        position: relative;
        z-index: 2;
        background: $light;
        transition: $transition;
        padding-left: $p8;
        padding-right: $p8;
        text-align: left;

        li {
          margin-top: $m8;
          margin-bottom: $m8;
        }
      }
    }

    &:hover {
      .more-item-dropdown {
        opacity: 1;
        visibility: visible;

        ul {
          max-height: 500px;
        }
      }
    }
  }
}

.no-hover {
  display: flex !important;
}

.icon-src {
  height: 30px;
  width: 30px;
}

.check-required {
  .checkbox-box {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    align-items: center;
  }

  .checkbox-container .checkmark {
    border-radius: 50%;
    border-color: #ccc;
    height: 13px;
    width: 13px;
  }

  .checkbox-container input:checked ~ .checkmark {
    background: #2DD36F;

  }

  .checkbox-container .checkmark:after {
    content: "done";
    font-family: "Material Icons";
    position: absolute;
    display: block;
    font-size: 8px;
    top: 2px;
    left: 2px;
    width: 3px;
    height: 3px;
    color: $color-gray-50;
  }

  .checkbox-container input:checked ~ .checkmark:after {
    color: $light;
  }

  .checkbox-h {
    height: 50px;
  }
}

.match-svg {
  position: absolute;
  top: 12px;
  left: 17px;

  svg {
    transform: scale(1.2) rotate(180deg);

    .circle {
      fill: none;
      stroke: #ffbc0b;
      stroke-width: 3;
    }

    .circle-bg {
      fill: none;
      stroke: #eee;
      stroke-width: 3;
    }
  }
}

.match-value {
  padding-left: 0px;
  padding-top: 0px;
  font-size: 12px;
  color: #C39A1A;
}

.status-column {

  span {
    background-color: #8B80FD;
    line-height: 21px;
    padding: 0 8px 0 19px;
    color: $light;
    font-size: 12px;
    display: inline-block;
    border-radius: $border-radius;

    &:before {
      position: absolute;
      top: 50%;
      left: 7px;
      background-color: $light;
      width: 7px;
      height: 7px;
      content: '.';
      text-indent: -9999px;
      overflow: hidden;
      display: block;
      visibility: visible;
      transform: translateY(-50%);
      border-radius: $rounded-circle;
    }

    &.sourcing {
      background-color: $color-warning;
    }

    &.rejected {
      background-color: $color-red-80;
    }
  }
}

.actions {
  position: initial !important;

  .rate-card-actions {
    width: 120px !important;
  }
}
