<div class="panel panel-light p-0">
  <div class="panel-head">
    <h5 I18n>
      <icon size="19px" name="category" type="material" class="d-flex mr-4" cuClass="d-flex">
      </icon>
      {{ 'select_hierarchies' | i18next }}
    </h5>
  </div>

  <div class="panel-content">
    <svms-hierarchy *ngIf="hirerachyLvlList?.length > 0" [hierarchyData]="hirerachyLvlList"
      (selectHierarchyLevel)="selectHierarchy($event)" [selectedHierarchy]="selectedHierarchy">
    </svms-hierarchy>

  </div>
</div>
