<div class="d-print-none" (clickOutside)="closeSidebar()">
<div id="sidebar" class="sidebar float-left position-fixed">
  <div class="logoNmenu position-relative">
    <a  (click)="toggleSidebar()" class="switch-menu"></a>
    <!-- <h2 class="logo-sidebar hide-on-desktop position-absolute">SimplifyVMS</h2> -->
    <img class="sidebar-logo-mobile hide-on-desktop" [src]="logoUrl">
  </div>
  <div class="sidebar-inner mb-64 position-fixed">
    <perfect-scrollbar [config]="{ suppressScrollX: true, suppressScrollY: false }">
      <ul class="main-nav m-0 mt-12 p-0">
        <li *ngFor="let sideBar of sideBarData" class="mt-4 mb-4 ml-0 mr-0">
          <!--For no submenu-->
          <a tooltip="{{sideBar?.title}}" [visibility]="tooltipvisible" placement="right" delay="500"
            *ngIf="validatePermission(sideBar)" [hidden]="sideBar?.isSideMenu" class="pl-24 position-relative" 
            [routerLink]="sideBar?.path"
            (click)="actionForPowerBI(sideBar?.path); openSideMenu(sideBar?.name, false); toActiveSideBar(sideBar, sideBar?.name)" 
            [ngClass]="{ 'active-perent-menu': checkActiveMenuState(sideBar?.name) && outsidePathsExcluded }">
            <icon [cuClass]="sideBar.class" theme="outlined" [name]="sideBar.icon" size="20px" type="material"
              class="float-left mr-16"></icon>
            <label I18n class="m-0">{{sideBar?.title | i18next}}</label>
          </a>
          <!--For submenu-->
          <a tooltip="{{sideBar?.title}}" [visibility]="tooltipvisible" placement="right" delay="500"
            *ngIf="validatePermission(sideBar)" [hidden]="!sideBar?.isSideMenu" class="nav-item pl-24 position-relative"
            (click)="openSideMenu(sideBar?.name, true);" [ngClass]="{
              'active-perent-menu': checkActiveMenuState(sideBar?.name) && outsidePathsExcluded
            }">
            <icon [cuClass]="sideBar.class" theme="outlined" [name]="sideBar.icon" size="20px" type="material"
              class="float-left mr-16"></icon>
            <label I18n class="m-0">{{sideBar?.title | i18next}}</label>
          </a>
        </li>
      </ul>
    </perfect-scrollbar>
  </div>
</div>

<div class="current-program" *ngIf="currentProgram?.name">
  <a   class="mini-mode" [tooltip]="currentProgram?.name" placement="right"
    (click)="!loginService.impersonationSession?openSideMenu('current-program', true):''"
    [ngClass]="{'multiple' : currentProgram?.name > 1, 'active': isToggled === 'current-program'}">
    {{currentProgram?.name | shortName:'first'}}
  </a>
  <div class="expanded-mode">
    <div class="expanded-trigger" (click)="openSideMenu('current-program', true)">
      <figure class="float-left mr-12">
        {{currentProgram?.name | shortName:'first'}}
      </figure>
      <div class="full-name float-left">
        <p>
          {{currentProgram?.name}}
        </p>
        <span>{{currentProgram?.unique_id}}</span>
      </div>
      <div class="view-list float-right">
        <icon name="keyboard_arrow_right" size="20px" type="material"></icon>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="user-settings">
  <a  (click)="openSideMenu('user', true)" [ngClass]="{'active': isToggled === 'user' }">
    <figure class="rounded-circle mb-0 text-center position-relative mb-0 text-center default-color"
      [style.background]="user?.theme_code">
      <!-- <img [src]="user?.avatar" alt="" class="rounded-circle" *ngIf="user?.avatar"> -->
      <span *ngIf="userAvatar" class="text-uppercase"> {{userAvatar |shortName: 'last'}}</span>
      <span *ngIf="!userAvatar" class="text-uppercase"> {{user?.initials}}</span>
      <span *ngIf="!userAvatar && !user?.initials" class="text-uppercase"> {{user?.first_name |shortName: 'last'}}</span>

      <span class="availability rounded-circle online d-none"></span>
    </figure>
    <div class="current-user-info float-right mt-4">
      <span class="name d-block overflow-hidden">{{user?.first_name + ' ' + user?.last_name}}</span>
      <p class="m-0 small overflow-hidden">{{account?.role?.organization_category }}</p>
    </div>
  </a>
</div>

<div class="sidenav position-fixed" [ngClass]="{'sidenav-active': isToggled === sideBar?.name}">
  <div class="nav-title overflow-hidden pt-8 pr-24 pb-8 pl-24">
    <h4 class="float-left m-0 font-weight-medium">{{sideBar?.closeSubMenu?.title | i18next}}</h4>
    <a  class="closebtn float-right overflow-hidden mt-12"
      (click)="openSideMenu(sideBar?.name)">
      <icon [cuClass]="sideBar?.closeSubMenu?.class" [name]="sideBar?.closeSubMenu?.icon" size="18px" type="material">
      </icon>
    </a>
  </div>
  <div class="sidebarmenu-scroller">
    <perfect-scrollbar [config]="{ suppressScrollX: true, suppressScrollY: false }">
      <div class="nav-search" *ngIf="sideBar?.isSearch">
        <input type="text" name="search" placeholder="{{ 'search' | i18next }}" class="p-8">
      </div>
      <ul class="submenu  mt-0 mr-24 mb-0 ml-24 p-0" *ngFor="let subMenu of sideBar?.sideBarSubMenu">
        <li *ngIf="subMenu?.title" class="seperationlabel mt-16 ml-16">{{subMenu?.title | i18next}}</li>

        <li *ngFor="let sortSubMenu of subMenu?.subMenuItem">
          <a *authorize="sortSubMenu?.permission" (click)="openMenuItem(sortSubMenu)" 
            [ngClass]="{
              'active': currentURL?.endsWith(sortSubMenu?.path),
              'create': sortSubMenu?.title?.startsWith('create_')
            }"
            class="overflow-hidden d-block pt-12 pb-12 pl-16 pr-16 position-relative"
            (click)="openSideMenu(sideBar?.name, true); toActiveSideBar(sortSubMenu, sideBar?.name, true)">
            <icon class="float-left mr-16" [cuClass]="sortSubMenu?.class" [name]="sortSubMenu?.icon" size="24px"
              type="material">
            </icon>
            {{sortSubMenu?.title | i18next}}
          </a>
        </li>

      </ul>
    </perfect-scrollbar>
  </div>
</div>

<div class="sidenav position-fixed" [ngClass]="{'sidenav-active': isToggled === 'user' }">
  <div class="user-title overflow-hidden d-flex flex-column pt-24">
    <div class="d-flex pb-8 px-24">
      <figure class="text-center rounded-circle mr-16 mb-0 position-relative text-center overflow-hidden default-color"
        [style.background]="user?.theme_code">
        <!-- <img [src]="user?.avatar" alt="" class="rounded-circle" *ngIf="user?.avatar"> -->
        <span *ngIf="userAvatar"> {{userAvatar |shortName: 'last'}}</span>
        <span *ngIf="!userAvatar"> {{user?.initials}}</span>
        <span *ngIf="!userAvatar && !user?.initials"> {{user?.first_name |shortName: 'last'}}</span>

        <span class="availability rounded-circle online d-none"></span>
      </figure>
      <div>
        <h4 class="mb-4 overflow-hidden font-weight-medium text-capitalize" tooltip="{{createFullName(user) | titlecase}}"
          placement="right" delay="500">
          {{createFullName(user) | titlecase}}
          <!-- {{user?.first_name + ' ' + user?.last_name}} -->
        </h4>
        <p class="user-email">
          <icon class="d-inline-block mr-4" name="email" theme="outlined" size="10px" type="material"></icon> <span
            class="d-inline-block overflow-hidden" tooltip="{{user?.email}}" placement="right"
            delay="500">{{user?.email}}</span>
        </p>
        <p class="user-email" *ngIf="account?.organization?.name">
          <icon class="d-inline-block mr-4" name="corporate_fare" theme="outlined" size="10px" type="material"></icon> <span
            class="d-inline-block overflow-hidden" tooltip="{{account?.organization?.name}}" placement="right"
            delay="500">{{account?.organization?.name}}</span>
        </p>
      </div>
    </div>
    <div *ngIf="account?.role?.name || account?.role?.organization_category" class="d-flex justify-content-around other-user-info">
      <p class="small px-4" *ngIf="account?.role?.name">
        <icon class="d-inline-block mr-4" name="verified_user" color="#000000" size="12px" type="material"></icon>
        {{account?.role?.name}}
      </p>
      <p class="small px-4" *ngIf="account?.role?.organization_category">
        {{account?.role?.organization_category | titlecase}}'{{ 's_account' | i18next }}
      </p>
    </div>
    <a *ngIf="linkedAccounts?.length && !loginService.impersonationSession"  class="switch-account-button font-weight-medium" (click)="switchAccountVisibilityToggle(true)">{{'switch_account' | i18next}}</a>

    <a  class="float-right p-0 closebtn" (click)="openSideMenu('user')">
      <icon cuClass="sidebar-icon" name="close" size="20px" type="material"></icon>
    </a>
  </div>

<div class="settings-menu-scroller">
  <perfect-scrollbar [config]="{ suppressScrollX: true, suppressScrollY: false }">
    <ul class="submenu mt-8">
      <li>
        <a routerLink="auth/user-account/account-settings" (click)="closeSidebar()"
          class="overflow-hidden d-block px-24 py-12 position-relative">
          <icon class="float-left mr-16" cuClass="sidebar-icon-submenu" name="build_circle" size="20px" type="material">
          </icon>
          {{ 'account_settings' | i18next }}
        </a>
      </li>
      <li *ngIf="accountDetails?.role?.organization_category?.toLowerCase() != 'candidate' && currentProgram?.id">
        <a routerLink="notification/config/user-based-settings" (click)="closeSidebar()"
          class="overflow-hidden d-block px-24 py-12 position-relative">
          <icon class="float-left mr-16" cuClass="sidebar-icon-submenu" name="notifications_active" size="20px" type="material">
          </icon>
          {{ 'notification_settings' | i18next }}
        </a>
      </li>
      <li *ngIf="currentProgram?.id">
        <a (click)="toggleVisibility()" class="overflow-hidden d-block px-24 py-12 position-relative">
          <icon class="float-left mr-16" cuClass="sidebar-icon-submenu" name="support_agent" size="20px" type="material">
          </icon>
          {{ 'contact_us' | i18next }}
        </a>
      </li>
      <li *ngIf="hasImpersonateAuthority && !loginService.impersonationSession">
        <a (click)="impersonateVisibilityToggle(true)" class="overflow-hidden d-block px-24 py-12 position-relative">
          <icon class="float-left mr-16" cuClass="sidebar-icon-submenu" name="theater_comedy" size="20px" type="material">
          </icon>
          {{ 'impersonate' | i18next }}
        </a>
      </li>
      <!-- <li *ngIf="linkedAccounts.length > 0" class="switch-account">
        <ng-select [clearable]="false" [(ngModel)]="selectedLinkedUser"
          class="d-block px-24 py-12 position-relative"
          placeholder="Switch Account" [searchable]="false"
          (change)="confirmLinkedAccountSwitch($event)">

          <ng-option [value]="linkAccount.user_id" *ngFor="let linkAccount of linkedAccounts">
            {{linkAccount.contact_email}} ({{linkAccount.user_type}})
          </ng-option>

        </ng-select>
      </li> -->
      <!-- <li>
        <a href="#" class="overflow-hidden d-block pt-0 pb-0 pl-16 pr-16 position-relative">
          <icon class="float-left mr-16" cuClass="sidebar-icon-submenu" name="build_circle" size="20px" type="material">
          </icon>
          Account Settings
        </a>
      </li>
      <li>
        <a href="#" class="overflow-hidden d-block pt-0 pb-0 pl-16 pr-16 position-relative">
          <icon class="float-left mr-16" cuClass="sidebar-icon-submenu" name="add_alert" size="20px" type="material">
          </icon>
          Notifications Settings
        </a>
      </li>
      <li>
        <a href="#" class="overflow-hidden d-block pt-0 pb-0 pl-16 pr-16 position-relative">
          <icon class="float-left mr-16" cuClass="sidebar-icon-submenu" name="security" size="20px" type="material">
          </icon>
          Change Password
        </a>
      </li>
      <li>
        <a href="#" class="overflow-hidden d-block pt-0 pb-0 pl-16 pr-16 position-relative">
          <icon class="float-left mr-16" cuClass="sidebar-icon-submenu" name="book" size="20px" type="material"></icon>
          Recent Activities
        </a>
      </li>
      <li>
        <a href="#" class="overflow-hidden d-block pt-0 pb-0 pl-16 pr-16 position-relative">
          <icon class="float-left mr-16" cuClass="sidebar-icon-submenu" name="phonelink_setup" size="20px"
            type="material">
          </icon>
          Mobile App Settings
        </a>
      </li> -->

      <li class="seperationlabel px-24 py-8">{{ 'theme' | i18next }}</li>
      <app-theme-switcher class="theme-switcher"></app-theme-switcher>
      <li *ngIf="!loginService.impersonationSession">
        <a  class="overflow-hidden d-block px-24 py-12 position-relative"
          (click)="logout()">
          <icon class="float-left mr-16" cuClass="sidebar-icon-submenu" name="login" size="20px" type="material">
          </icon>
          {{ 'logout' | i18next }}
        </a>
      </li>
      <!-- <li class="seperationlabel mt-16 ml-16">Support</li>
      <li>
        <a href="#" class="overflow-hidden d-block pt-0 pb-0 pl-16 pr-16 position-relative">
          <icon class="float-left mr-16" cuClass="sidebar-icon-submenu" name="contact_support" size="20px"
            type="material">
          </icon>
          Help
        </a>
      </li>
      <li>
        <a href="#" class="overflow-hidden d-block pt-0 pb-0 pl-16 pr-16 position-relative">
          <icon class="float-left mr-16" cuClass="sidebar-icon-submenu" name="keyboard" size="20px" type="material">
          </icon>
          Hot Keys
        </a>
      </li>
      <li>
        <a href="#" class="overflow-hidden d-block pt-0 pb-0 pl-16 pr-16 position-relative">
          <icon class="float-left mr-16" cuClass="sidebar-icon-submenu" name="play_circle_filled" size="20px"
            type="material"></icon>
          Video Tutorials
        </a>
      </li> -->
    </ul>
  </perfect-scrollbar>
</div>

</div>

<!-- <div  class="sidenav position-fixed overflow-auto program-sidebar" [ngClass]="{'sidenav-active': isToggled === 'current-program' }">
  <div class="nav-title d-flex justify-content-between align-items-center overflow-hidden pt-12 pr-24 pb-8 pl-24">
    <h3 class="m-0 font-weight-medium">{{ 'switch_to' | i18next }}</h3>
    <a  routerLink="/control-panel"  *ngIf="isSuperAdmin"  class="overflow-hidden">
      {{ 'simplify_control_panel' | i18next }} <icon name="launch" size="16px"></icon>
    </a>
  </div>
  <div class="program-list">
    <app-programs></app-programs>
  </div>
</div>
</div> -->

<!-- WORKER ASSIGNMENT SIDEBAR -->
<div  class="sidenav position-fixed overflow-auto program-sidebar" [ngClass]="{'sidenav-active': isToggled === 'current-program' }">
  <div class="nav-title d-flex justify-content-between align-items-center overflow-hidden pt-24 pr-24 pb-16 pl-24 pr-m-0">
    <h3 class="m-0 font-weight-medium">{{ 'switch_to' | i18next }}</h3>
    <a  routerLink="/control-panel"  *ngIf="isSVMSUser"  class="overflow-hidden">
      {{ 'simplify_control_panel' | i18next }} <icon name="launch" size="16px"></icon>
    </a>
  </div>

  <div class="program-list worker-assignment-list" *ngIf="user?.is_candidate else showPrograms">
    <app-worker-assignments></app-worker-assignments>
  </div>
  <ng-template #showPrograms>
  <div class="program-list">
    <app-programs></app-programs>
  </div>
  </ng-template>
</div>

</div>
<svms-support [supportEmail]="supportEmail"
  [visibility]="supportVisibility"
  (onClose)="toggleVisibility()"
></svms-support>

<svms-impersonate-dialog
  *ngIf="hasImpersonateAuthority && !loginService.impersonationSession"
  [(visibility)]="impersonateVisibility">
</svms-impersonate-dialog>

<app-switch-account-dialog [(visibility)]="switchAccountVisibility"></app-switch-account-dialog>
