@import "../../../../assets/sass/abstracts/variables";
.line {
  stroke: $color-steelblue;
  stroke-width: 1.5;
  fill: none;
  pointer-events: all;
  cursor: pointer;
}

circle {
  cursor: pointer;
  pointer-events: all;
}

.dots {
  opacity: 1;
  stroke-width: 1.5;
  stroke: $color-steelblue;
  fill: $color-steelblue;
}

circle:hover {
  stroke-width: 3;
  stroke: $color-steelblue;
}

.domain {
  opacity: 0;
}

.tick text {
  text-transform: capitalize;
}

.tick line {
  opacity: 0.05;
}

.axisleft {
  margin: 0 50px;
  font-size: 10px;
  color: $color-gray-60;
  font-family: Inter;
}

.axisbottom {
  text-anchor: middle;
  /*text-transform: uppercase;*/
  font-size: 10px;
  font-weight: 400;
  color: $color-gray-60;
  font-family: Inter;
}

.gradient-line {
  stroke: url(#line-gradient) !important;
  opacity: 0.1;
  transform: rotate(0) !important;
}

.legend-text {
  font-size: 13px;
  font-family: Inter;
  color: $color-gray-60;
  text-anchor: start;
  opacity: 0;
  pointer-events: none;
}

.legend-line {
  stroke-width: 1.5;
  stroke: $color-gray;
}

#tooltip-oneline {
  text-align: left;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
  color: $color-gray-60;
  opacity: 0;
  padding: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: $color-white 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px $color-gray-94;
  border-radius: 2px;
}

#tooltip-oneline th {
  height: 0.9em;
  line-height: 0.7em;
  padding-left: 10px;
  border-bottom: 1px solid $color-gray-23;
  font: normal normal medium 13px/24px Inter;
  color: $color-black;
}

#tooltip-oneline td.name {
  width: 120px;
}

#tooltip-online tr {
  font: normal normal normal 12px/24px Inter;
  color: $color-black;
}

#tooltip-oneline td {
  height: 0.8em;
  /* line-height: 0.5em;*/
  padding-top: 12px;
  padding-right: 7px;
  padding-left: 2px;
  white-space: nowrap;
  font: normal normal normal 12px/12px Inter;
  font-weight: 500;
  letter-spacing: 0px;
}

#tooltip-oneline td:first-of-type {
  padding-top: 5px;
  padding-left: 9px;
}
