@import "../../../../../assets/sass/abstracts/variables";

.initails-purple {
    background-color: #9a68f8;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    overflow: hidden;
}

.initials-blue{
    background-color: $color-blue;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    overflow: hidden;
    font-size:14px;
}
.initials-profile {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    overflow: hidden;
    img {
        width: 100%;
    }
}
.text-gray-90 {
    color: $color-gray-90;
}

.text-gray-70 {
    color: $color-gray-70;
}

.w-93 {
    width: 93%;
}

textarea {
    height: 200px;
}

.initial {
    width: 21px;
    height: 22px;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 100%;
    color: white;
    &.red {
        background-color: red;
    }
    &.blue {
        background-color: blue;
    }
    &.more {
        background-color: white;
        color: black;
    }
    &:not(:first-child) {
        margin-left: -8px;
    }
}
