.deselectAll {
  display: flex;
  justify-content: space-between;
}


::ng-deep{
  .custom-column-block{
    overflow: hidden !important;

    .col-settings{
      max-height: calc(100vh - 320px);

      .col-settings-sidebar, .col-settings-content{
        max-height: inherit;
        overflow: auto;

        &::-webkit-scrollbar {
          width: 8px;
        }
      
        &::-webkit-scrollbar-track {
          background: transparent;
        }
      
        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #828282;
        }
    
      }

    }
  }
}