@import '../../../../../assets/sass/abstracts/variables';

.resume-wrapper {
  text-align: center;

  .drop-zone {
    width: 47px;
    height: 47px;
    margin: auto;
    border: 1px dashed $border-color;
    border-radius: $border-radius;

    icon {
      display: inline-block;
      line-height: 47px;
      color: $color-gray-50;

      ::ng-deep i {
        line-height: 47px;
      }
    }
  }

  h4 {

    a {
      color: $color-link;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.autofill {

  .toggle-panel {
    width: auto;
    display: inline-block;

    .toggle-panel-inner {
      background-color: transparent;
      border: 0;
    }
  }
}

.svg-wrap {
  &.animation {
    #Detail-2 {
      animation: slideanim .9s ease infinite;
      position: relative;
      transform: translateY(44px);
    }

    #Bg {
      animation: bganim .9s ease infinite;
      position: relative;
      transform: translateY(44px);
    }

    @keyframes slideanim {
      0% {
        transform: translateY(44px);
      }

      50% {
        transform: translateY(8px);
      }

      100% {
        transform: translateY(44px);
      }
    }

    @keyframes bganim {
      0% {
        transform: translateY(44px);
      }

      50% {
        transform: translateY(8px);
      }

      100% {
        transform: translateY(44px);
      }
    }
  }
}

.toggle-panel {

  &.fullwidth {
    width: 100%;
  }
}

.upload-section {

  ::ng-deep .upload-zone {
    border: 0;
  }
}

.resume-loader-wrap {

  .resume-loader-text {
    position: absolute;
    top: 24px;
    left: 50%;
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    color: #1D1C1C;
    white-space: nowrap;
    transform: translateX(-50%);
  }
}


.uploaded-list-sidebar {
  list-style-type: none;

  li {
    border: 1px solid $color-gray-30;
    background: $color-gray-5;
    overflow: hidden;
    padding: $p16 $p24;

    figure {
      float: left;
      margin-right: $p12;
    }

    .item-description {
      float: left;
      font-size: 12px;
      font-weight: $font-weight-medium;

      icon {
        color: $color-green;
        vertical-align: middle;
      }

      p {
        font-size: 11px;
        color: $color-gray-90;
        font-weight: $font-weight-regular;
        white-space: nowrap;

        span {
          padding: 0 $p8;
        }
      }
    }

    .delete-resume {
      float: right;
      margin-top: $m8;
      cursor: pointer;

      icon {
        color: $color-red-90;
      }
    }
  }

  &.error {
    li {
      background: #CE0B252F;

      .item-description {
        icon {
          color: $color-red-90;
        }

        p {
          color: $color-red-90;
          font-weight: $font-weight-medium;
        }
      }

      .delete-resume {
        icon {
          color: $color-secondary;
        }
      }
    }
  }
}