@import "../../../../assets/sass/abstracts/variables";

.breadcrumb-list {
  .breadcrumb-listItem i {
    font-size: 1px;
  }
  a {
    color: $color-primary;
  }
}
.max-length {
  width: 295px;
}
.btn {
  height: 32px;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  padding: 1px 11px;
  border: 1px solid $color-gray-34;
}

.btn-dots {
  width: 35px;
  height: 32px;

  &:hover {
    background-color: $color-light-blue;
    color: $color-white;
  }
}

#parent:hover .parent-highlight {
  i {
    color: $color-white;
  }
}

.options-opened {
  background-color: $color-light-blue;
  color: $color-white;
}

.page-container {
  .settings-icon-height {
    min-height: 44px;
  }
}

.dashboard-heading {
  line-height: 44px;
  display: inline-block;
  font: normal normal normal 14px/24px Inter;
  &-root {
    color: $color-purple;
  }
}

.space-between {
  justify-content: space-between;
}

.dots {
  display: flex;
  i {
    color: $color-purple;
  }
}

.bordered {
  border: 1px solid $color-purple;
}

.color-red {
  color: $color-red-70;
}

.options {
  &-wrapper {
    width: 193px;
    height: 128px;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 2;
    border-radius: 4px;
    background-color: $color-white;
    box-shadow: 0px 3px 6px $color-gray-95;
  }
  &-button {
    width: 100%;
    height: 21px;
    padding: 0 0 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: $color-white;
    border: none;

    i {
      font-size: 21px;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.assignment {
  margin-right: 20px;
}
