@import '../../../../../assets/sass/abstracts/variables';
.toggle-disable {
    .toggle-panel-inner {
        font-size: 14px;
        font-weight: 400;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0px 16px;
        border: 0px solid var(--color-border-primary);
        height: 40px;
        background-color: transparent;
        float: right;
    }
}
.autocomplete-items {
    // position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 1;
    top: 100%;
    // left: 0;
    // right: 0;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.checkmark1 {
    border: none;
    border-radius: $rounded-circle;
    background-color: $color-gray-50;
  
    &:after {
      display: block;
    }
  }
.radio-container {
    padding-left: 24px;
    margin-top: 3px;
    .checkmark {
        background-color: #ffffff;
        border: 2px solid black;
        height: 18px;
        width: 18px;
        &:after {
            top: 1px;
            left: 1px;
            color: #000000;
            font-size: 12px;
        }
    }
}

.badge {
    &:not(:first-child) {
        margin-right: 12px;
    }
}

.h-80 {
    min-height: 65px !important;
}

.w-70 {
    width: 70px;
}