@import '../../../assets/sass/abstracts/variables';
.counter {
    height: 20px;
    justify-content: center;
    position: relative;
    top: 12px;
    left: 8px;
    background: #FAF8FF;
    border: 1px solid #E0D6FF;
    padding: 10px;
    float: right;
}
.disabled {
    opacity: .5;
    cursor: not-allowed;
    pointer-events: none;
}
.approval-nofification {
    background-color: $color-red-80;
    border-radius: $border-radius;
    padding: 0 $p8;
    p {
        color: $light;
    }
    span {
        background-color: rgba(0, 0, 0, .09);
        width: 27px;
        height: 27px;
        border-radius: $rounded-circle;
        overflow: hidden;
        icon {
             ::ng-deep i {
                color: $light;
                line-height: 27px;
            }
        }
    }
    button {
        background-color: #C32E42;
        border: 0;
        outline: 0;
        color: $light;
        height: 27px;
        border-radius: 5px;
        font-size: 13px;
        cursor: pointer;
        padding: 0 $p16;
    }
}

.mr-10 {
    margin-right: 10px;
}

.ml-6 {
    margin-left: 6px;
}

.btn-success {
    background-color: $color-success;
    border-color: $color-success;
    color: $color-white;
}

.btn-review {
    background-color: #89D12F;
    color: $color-white;
    border-color: #89D12F;
}

.btn-reject {
    background-color:$color-red-100;
    border-color: $color-red-100;
    color: $color-white;
}