<!-- <i *ngIf="type==='fa'" [class]="'fa fa-'+name" [style.color]="color" [style.fontSize]="size" aria-hidden="true"></i> -->
<!-- <i *ngIf="type==='linear'" [class]="'lnr lnr-'+name" [style.color]="color"></i> -->
<i *ngIf="type==='material'" [class]="cuClass ? 'material-icons '+cuClass : 'material-icons icon-default'"
   [style.color]="color" [style.fontSize]="size" (click)="click($event)">{{name}}</i>
<i *ngIf="type==='custom'" [class]="cuClass ? 'custom-icon '+cuClass+' cu-'+name : 'custom-icon icon-default cu-'+name"
   [style.color]="color" [style.fontSize]="size" (click)="click($event)"></i>
