
@import "../../../../assets/sass/abstracts/variables";

.select-box {
    border: 1px solid var(--color-border-secondary);
    border-top: none;
    position: absolute;
    width: 20%;
    z-index: 999;
    background: white;
    p:hover{
        background: $color-assets-primary;
        cursor: pointer;
        color: white;
    }
}