.radio-container_description {
  color: #7f92a3;
  font-size: 14px;
  width: 106px;
}
.checkbox-container{
  padding-left: 30px;
  line-height: 25px;
}
.checkbox-container .checkmark:after {
  top: -3px;
}

.bor-top {
  border-top: 1px solid #57708824;
  padding-block-start: 8px;
}
