@import '../../../../assets/sass/abstracts/variables';

.header-fixed {
  position: fixed;
  background: $light;
  top: 0px;
  left: 225px;
  right: 0;
  z-index: 9;
  border-bottom: 1px solid $border-color;
  min-height: 51px;

  .header-left {
    margin: $m4 0 $m4 $m16;
  }

  .header-right {
    display: flex;
    align-items: center;

    .notification {
      margin: 0 $m24 0 0;
      position: relative;

      a {
        color: $color-assets-secondary;

        span {
          position: absolute;
          top: 0;
          left: 12px;
          z-index: 10;
          background: $error-color;
          color: $light;
          width: 16px;
          font-weight: $font-weight-regular;
          font-size: 9px;
          line-height: 16px;
          text-align: center;
          border-radius: $rounded-circle;
          box-shadow: 0px 3px 6px #00000029;
        }
      }
    }

    .language {
      margin: 0 $m12 0 0;
    }

    .exit-program {
      background-color: $color-blue;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        color: $color-white;
        font-size: 13px;
      }
    }
  }
}

.text-secondary {
  color: $color-secondary;
}

.active {
  color: $color-primary !important;
}

.mor-horz {
  width: 20px;
}

.insights {
  cursor: pointer;
  color: $color-blue;
}

ul {
  list-style-type: none;

  ::ng-deepli {
    a {
      font-weight: $font-weight-medium;
      font-size: $font-primary;
      line-height: 45px;
      color: $navigation-text;
      transition: $transition;

      icon {
        font-weight: $font-weight-regular;
        font-size: 21px;
        line-height: 45px;

        ::ng-deep.sidebar-icon-submenu {
          line-height: 45px;
          color: $navigation-icon;
        }

        &.toggle-off {
          height: 45px;

          ::ng-deep.sidebar-icon-submenu {
            line-height: 45px;
            color: $color-assets-secondary-tint;
          }
        }
      }

      &:hover {
        background: $border-color;
        border-radius: $border-radius;
        text-decoration: none;
      }
    }

    &.seperationlabel {
      font-weight: $font-weight-medium;
      font-size: 13px;
      line-height: 35px;
      color: $color-gray-70;
      text-transform: uppercase;
    }
  }
}

.dropdown {
  position: absolute;
  width: 306px;
  box-shadow: 0px 11px 16px #0000000F;
  border: 1px solid #E2E2E2;
  top: 49px;
  background-color: $color-white;
  padding-bottom: 12px;

  &:after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: $color-white;
    border: 1px solid #e2e2e2;
    position: absolute;
    top: -9px;
    left: 24px;
    transform: rotate(45deg);
    border-color: #e2e2e2 transparent transparent #e2e2e2;
  }
}

.dropdown-program-detail {
  left: -18px;
  top: 52px;
  padding-bottom: 0px;
}

.program-name-initials {
  color: $color-white;
  background-color: $color-blue;
  height: 40px;
  width: 40px;
}

.status {
  width: 72px;
  height: 21px;

  font-size: 12px;

  &-inactive {
    color: $color-gray-70;
    background-color: $color-gray-30;

    icon {
      color: inherit !important;
    }
  }

  &-active {
    background-color: $color-green;
    color: $color-white;

    icon {
      color: inherit !important;
    }
  }

}

.prog-id {
  color: $color-gray-90;
}

.btn-bg{
background-color:$color-gray-10;
}