@import '../../../../assets/sass/abstracts/variables';

.edit-rules-wrap {
  max-width: 100%;
  margin: auto;
  .wrap-inner-container {
      max-width: fit-content;
      display: flex;
  }
}

.field {
    ::ng-deep .ng-value-container {
        ::ng-deep .ng-value {
            display: none !important;
        }
    }
}

.chip-holder {
    display: flex;
    flex-wrap: wrap;
}
.custom-chip {
    min-height: 16px;
    min-width: 32px;
    max-width: fit-content;
    background-color: #E8ECFF;
    border-radius: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    div {
      padding: 4px;
    }
    .close {
      cursor:pointer;
    }
}

.rule-small {
    text-align: left;
    font: normal normal normal 12px/19px Inter;
    letter-spacing: 0px;
    color: #577088;
    opacity: 1;
}
.edit-rule-title {
    text-align: left;
    font: normal normal medium 13px/22px Inter;
    letter-spacing: 0px;
    color: #0F2E4E;
    opacity: 1;
    font-weight: bold;
}

.setting-head {
    text-align: left;
    font: normal normal medium 12px/25px Inter;
    letter-spacing: 0px;
    color: #577088;
    text-transform: uppercase;
    opacity: 1;
}

.rule-row-setting {
    background: #FAFCFF 0% 0% no-repeat padding-box !important;
    opacity: 1;
}

.edit-rules-basic-wrap {
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 4px 4px 0px 0px;
    opacity: 1;
    border: 1px solid #F2F3FF;
    width: 100%;
    .head {
        text-align: left;
        letter-spacing: 0px;
        color: #4C7FF0;
        opacity: 1;
        font-family: Arial, Helvetica, sans-serif;
    }
    .small {
        text-align: left;
        font: normal normal normal 12px/19px Inter;
        letter-spacing: 0px;
        color: #577088;
        opacity: 1;
    }
    .edit-title {
        text-align: left;
        font: normal normal medium 13px/22px Inter;
        letter-spacing: 0px;
        color: #0F2E4E;
        opacity: 1;
    }
    .required {
        color: red;
    }
    .invalid ::ng-deep {
        .ng-select-container {
            background: #FE585822 0% 0% no-repeat padding-box !important;
            border: 1px solid #FD1F1F27 !important;
        }
    }
    .toggle-panel {
        width: 32.5%;
    
        &-inner {
          padding: $p8 $p12;
          font-size: $font-primary;
          font-weight: $font-weight-regular;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: $m12;
          padding: $p4 $p8;  
          border: 1px solid $border-color;
          border-radius: $border-radius;
        }
        .toggle-panel-inner .toggle-switch {
          min-width: 27px !important;
      }
    }
}

.validation-message {
    background: #FE585822 0% 0% no-repeat padding-box;
    border: 1px solid #FD1F1F27;
    border-radius: 4px;
    opacity: 1;
    .error-title {
        text-align: left;
        font: normal normal medium 16px/20px Inter;
        letter-spacing: 0px;
        color: #FD1F1F;
        opacity: 1;
    }
    .small {
        text-align: left;
        font: normal normal normal 12px/19px Inter;
        letter-spacing: 0px;
        color: #577088;
        opacity: 1;
    }
}

.accordion-item-body {
    height: auto;
    background-color: #FFFFFF;
    border: 1.5px solid #F2F3FF40;
    border-radius: 0px 0px 4px 4px;
}

.rule-title {
    color: #4C7FF0;
}

.delete {
    color: red;
}
