#analytics {

  width: 100%;
  overflow-y: hidden;
  height: 100vh;

  // max-width: 2000px;

  padding-top: 50px;

 

  ::ng-deep {

    iframe {

      width: 100%;

      height: calc(100vh - 4rem + 11px);

      border: none;

    }

  }

}

