@import '../../../../assets/sass/abstracts/variables';
.questionnaire-table {
    tr {
        .move{cursor: move;}
        th {
            text-align: left;
        }

        td {
            background-color: #FAFBFC; 
            .checkbox-container .checkmark { 
                background-color: #FFFFFF;
                border: 1px solid #2b2d4245;
                border-radius: 50%;
            }
            .checkbox-container input:checked ~ .checkmark {
                background-color:  #2DD36F !important;
            }
        }
    }

    span {
        &.active {
            color: #2DD36F;
            position: relative;
            padding-left: 25px;

            &:before {
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: #2DD36F;
                border-radius: $rounded-circle;
                content: '.';
                text-indent: -9999px;
                overflow: hidden;
                display: block;
                visibility: visible;
                top: 5px;
                left: 0;
            }
        }

        &.inactive {
            color: #333333;
            position: relative;
            padding-left: 25px;

            &:before {
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: #333333;
                border-radius: $rounded-circle;
                content: '.';
                text-indent: -9999px;
                overflow: hidden;
                display: block;
                visibility: visible;
                top: 5px;
                left: 0;
            }
        }
    }
}

::ng-deep li {

    &.dndPlaceholder {
        list-style: none;
    }   
}
.error {
    border: 2px solid #EB445A !important;
  }
  .invalid-feedback{
    color:  #EB445A !important;
  }
  .disabled{ 
      pointer-events: none !important; 
      opacity: 0.7;
  }

 