<svms-sidebar (onClose)="sidebarClose()" [title]="title" [dataVisibility]="viewCardVisibility">
  <svms-sidebar-body class="sidebarBody">
    <div [formGroup]="jobForm" class="form-group sidebarContent mt-32">
      <div class="sidebarContent form-group">
        <label for="job-category">{{ 'job_category_-_title' | i18next }} <span class="require">*</span></label>
        <input class="form-control" [readonly]="true" id="job-category" type="text" [value]="jobCategoryName">
      </div>
      <div class="sidebarContent form-group">
        <label for="currency">{{ 'currency' | i18next }} <span class="require">*</span></label>
        <ng-select [readonly]="true" formControlName="currency" [placeholder]="selectedCurrencyDetail" [searchable]="false" [clearable]="false" id="currency" ngDefaultControl>
        </ng-select>
      </div>
    </div>
    <div class="rateCardContent">
      <div class="rateCardContentTitle">
        <h4>{{ 'set_default_rates_for_this_rate_card' | i18next }}</h4>
        <p>{{ 'unit_of_measure' | i18next }}</p>
      </div>
      <div class="rateCardContentToggles">
        <div *ngIf="showUOM('hourly')" class="toggle-panel">
          <div class="toggle-panel-inner toggle-background">
            <span>{{ 'hourly' | i18next }}</span>
            <span id="hourly" [ngClass]="toggles?.hourly?.value ? 'toggle-on' : 'toggle-off'" class="toggle-switch"></span>
          </div>
        </div>
        <div *ngIf="showUOM('hourly') && toggles.hourly.value" class="toggleContent d-flex">
          <div class="minBill">
            <div class="form-group">
              <label for="hourlyMinBill">{{ 'min_rate' | i18next }}</label>
              <div class="d-flex">
                <div class='d-flex'>
                  <span class='input-text'> {{ '0' | currency: selectedCurrencyName | slice:0:1 }} </span>
                  <input
                    [readonly]="true"
                    id="hourlyMinBill"
                    type="number"
                    class="form-control mr-4"
                    [(ngModel)]="toggles.hourly.minBill"
                  >
                </div>
                <ng-select [readonly]="true" class="w-100" [(ngModel)]="toggles.hourly.minBillSetting" [searchable]="false" [clearable]="false">
                  <ng-option [value]="'Can Change'">{{ 'can_change' | i18next }}</ng-option>
                  <ng-option [value]="'Cannot Reduce'">{{ 'cannot_reduce' | i18next }}</ng-option>
                  <ng-option [value]="'Cannot Change'">{{ 'cannot_change' | i18next }}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="maxBill ml-64">
            <div class="form-group">
              <label for="hourlyMaxBill">{{ 'max_rate' | i18next }}</label>
              <div class="d-flex">
                <div class='d-flex'>
                  <span class='input-text'> {{ '0' | currency: selectedCurrencyName | slice:0:1 }} </span>
                  <input
                    [readOnly]="true"
                    id="hourlyMaxBill"
                    type="number"
                    class="form-control mr-4"
                    [(ngModel)]="toggles.hourly.maxBill"
                  >
                </div>
                <ng-select [readonly]="true" class="w-100" [(ngModel)]="toggles.hourly.maxBillSetting" [searchable]="false" [clearable]="false">
                  <ng-option [value]="'Can Change'">{{ 'can_change' | i18next }}</ng-option>
                  <ng-option [value]="'Cannot Reduce'">{{ 'cannot_increase' | i18next }}</ng-option>
                  <ng-option [value]="'Cannot Change'">{{ 'cannot_change' | i18next }}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showUOM('daily')" class="toggle-panel">
          <div class="toggle-panel-inner toggle-background">
            <span>{{ 'daily' | i18next }}</span>
            <span id="daily" [ngClass]="toggles?.daily?.value ? 'toggle-on' : 'toggle-off'" class="toggle-switch"></span>
          </div>
        </div>
        <div *ngIf="showUOM('daily') && toggles.daily.value" class="toggleContent d-flex">
          <div class="minBill">
            <div class="form-group">
              <label for="dailyMinBill">{{ 'min_rate' | i18next }}</label>
              <div class="d-flex">
                <div class='d-flex'>
                  <span class='input-text'> {{ '0' | currency: selectedCurrencyName | slice:0:1 }} </span>
                    <input
                      [readonly]="true"
                      id="dailyMinBill"
                      type="number"
                      class="form-control mr-4"
                      [(ngModel)]="toggles.daily.minBill"
                    >
                </div>
                <ng-select [readonly]="true" class="w-100" [(ngModel)]="toggles.daily.minBillSetting" [searchable]="false" [clearable]="false">
                  <ng-option [value]="'Can Change'">{{ 'can_change' | i18next }}</ng-option>
                  <ng-option [value]="'Cannot Reduce'">{{ 'cannot_reduce' | i18next }}</ng-option>
                  <ng-option [value]="'Cannot Change'">{{ 'cannot_change' | i18next }}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="maxBill ml-64">
            <div class="form-group">
              <label for="dailyMaxBill">{{ 'max_rate' | i18next }}</label>
              <div class="d-flex">
                <div class='d-flex'>
                  <span class='input-text'> {{ '0' | currency: selectedCurrencyName | slice:0:1 }} </span>
                  <input
                    [readonly]="true"
                    id="dailyMaxBill"
                    type="number"
                    class="form-control mr-4"
                    [(ngModel)]="toggles.daily.maxBill"
                  >
                </div>
                <ng-select [readonly]="true" class="w-100" [(ngModel)]="toggles.daily.maxBillSetting" [searchable]="false" [clearable]="false">
                  <ng-option [value]="'Can Change'">{{ 'can_change' | i18next }}</ng-option>
                  <ng-option [value]="'Cannot Reduce'">{{ 'cannot_increase' | i18next }}</ng-option>
                  <ng-option [value]="'Cannot Change'">{{ 'cannot_change' | i18next }}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showUOM('weekly')" class="toggle-panel">
          <div class="toggle-panel-inner toggle-background">
            <span>{{ 'weekly' | i18next }}</span>
            <span id="weekly" [ngClass]="toggles?.weekly?.value ? 'toggle-on' : 'toggle-off'" class="toggle-switch"></span>
          </div>
        </div>
        <div *ngIf="showUOM('weekly') && toggles.weekly.value" class="toggleContent d-flex">
          <div class="minBill">
            <div class="form-group">
              <label for="weeklyMinBill">{{ 'min_rate' | i18next }}</label>
              <div class="d-flex">
                <div class='d-flex'>
                  <span class='input-text'> {{ '0' | currency: selectedCurrencyName | slice:0:1 }} </span>
                  <input
                    [readonly]="true"
                    id="weeklyMinBill"
                    type="number"
                    class="form-control mr-4"
                    [(ngModel)]="toggles.weekly.minBill"
                  >
                </div>
                <ng-select [readonly]="true" class="w-100" [(ngModel)]="toggles.weekly.minBillSetting" [searchable]="false" [clearable]="false">
                  <ng-option [value]="'Can Change'">{{ 'can_change' | i18next }}</ng-option>
                  <ng-option [value]="'Cannot Reduce'">{{ 'cannot_reduce' | i18next }}</ng-option>
                  <ng-option [value]="'Cannot Change'">{{ 'cannot_change' | i18next }}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="maxBill ml-64">
            <div class="form-group">
              <label for="weeklyMaxBill">{{ 'max_rate' | i18next }}</label>
              <div class="d-flex">
                <div class='d-flex'>
                  <span class='input-text'> {{ '0' | currency: selectedCurrencyName | slice:0:1 }} </span>
                  <input
                    [readonly]="true"
                    id="weeklyMaxBill"
                    type="number"
                    class="form-control mr-4"
                    [(ngModel)]="toggles.weekly.maxBill"
                  >
                </div>
                <ng-select [readonly]="true" class="w-100" [(ngModel)]="toggles.weekly.maxBillSetting" [searchable]="false" [clearable]="false">
                  <ng-option [value]="'Can Change'">{{ 'can_change' | i18next }}</ng-option>
                  <ng-option [value]="'Cannot Reduce'">{{ 'cannot_increase' | i18next }}</ng-option>
                  <ng-option [value]="'Cannot Change'">{{ 'cannot_change' | i18next }}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showUOM('monthly')" class="toggle-panel">
          <div class="toggle-panel-inner toggle-background">
            <span>{{ 'monthly' | i18next }}</span>
            <span id="monthly" [ngClass]="toggles?.monthly?.value ? 'toggle-on' : 'toggle-off'" class="toggle-switch"></span>
          </div>
        </div>
        <div *ngIf="showUOM('monthly') && toggles.monthly.value" class="toggleContent d-flex">
          <div class="minBill">
            <div class="form-group">
              <label for="monthlyMinBill">{{ 'min_rate' | i18next }}</label>
              <div class="d-flex">
                <div class='d-flex'>
                  <span class='input-text'> {{ '0' | currency: selectedCurrencyName | slice:0:1 }} </span>
                  <input
                    [readonly]="true"
                    id="monthlyMinBill"
                    type="number"
                    class="form-control mr-4"
                    [(ngModel)]="toggles.monthly.minBill"
                  >
                </div>
                <ng-select [readonly]="true" class="w-100" [(ngModel)]="toggles.monthly.minBillSetting" [searchable]="false" [clearable]="false">
                  <ng-option [value]="'Can Change'">{{ 'can_change' | i18next }}</ng-option>
                  <ng-option [value]="'Cannot Reduce'">{{ 'cannot_reduce' | i18next }}</ng-option>
                  <ng-option [value]="'Cannot Change'">{{ 'cannot_change' | i18next }}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="maxBill ml-64">
            <div class="form-group">
              <label for="monthlyMaxBill">{{ 'max_rate' | i18next }}</label>
              <div class="d-flex">
                <div class='d-flex'>
                  <span class='input-text'> {{ '0' | currency: selectedCurrencyName | slice:0:1 }} </span>
                  <input
                    [readonly]="true"
                    id="monthlyMaxBill"
                    type="number"
                    class="form-control mr-4"
                    [(ngModel)]="toggles.monthly.maxBill"
                  >
                </div>
                <ng-select [readonly]="true" class="w-100" [(ngModel)]="toggles.monthly.maxBillSetting" [searchable]="false" [clearable]="false">
                  <ng-option [value]="'Can Change'">{{ 'can_change' | i18next }}</ng-option>
                  <ng-option [value]="'Cannot Reduce'">{{ 'cannot_increase' | i18next }}</ng-option>
                  <ng-option [value]="'Cannot Change'">{{ 'cannot_change' | i18next }}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showUOM('yearly')" class="toggle-panel">
          <div class="toggle-panel-inner toggle-background">
            <span>{{ 'yearly' | i18next }}</span>
            <span id="yearly" [ngClass]="toggles?.yearly?.value ? 'toggle-on' : 'toggle-off'" class="toggle-switch"></span>
          </div>
        </div>
        <div *ngIf="showUOM('yearly') && toggles.yearly.value" class="toggleContent d-flex">
          <div class="minBill">
            <div class="form-group">
              <label for="yearlyMinBill">{{ 'min_rate' | i18next }}</label>
              <div class="d-flex">
                <div class='d-flex'>
                  <span class='input-text'> {{ '0' | currency: selectedCurrencyName | slice:0:1 }} </span>
                  <input
                    [readonly]="true"
                    id="yearlyMinBill"
                    type="number"
                    class="form-control mr-4"
                    [(ngModel)]="toggles.yearly.minBill"
                  >
                </div>
                <ng-select [readonly]="true" class="w-100" [(ngModel)]="toggles.yearly.minBillSetting" [searchable]="false" [clearable]="false">
                  <ng-option [value]="'Can Change'">{{ 'can_change' | i18next }}</ng-option>
                  <ng-option [value]="'Cannot Reduce'">{{ 'cannot_reduce' | i18next }}</ng-option>
                  <ng-option [value]="'Cannot Change'">{{ 'cannot_change' | i18next }}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="maxBill ml-64">
            <div class="form-group">
              <label for="yearlyMaxBill">{{ 'max_rate' | i18next }}</label>
              <div class="d-flex">
                <div class='d-flex'>
                  <span class='input-text'> {{ '0' | currency: selectedCurrencyName | slice:0:1 }} </span>
                  <input
                    [readonly]="true"
                    id="yearlyMaxBill"
                    type="number"
                    class="form-control mr-4"
                    [(ngModel)]="toggles.yearly.maxBill"
                  >
                </div>
                <ng-select [readonly]="true" class="w-100" [(ngModel)]="toggles.yearly.maxBillSetting" [searchable]="false" [clearable]="false">
                  <ng-option [value]="'Can Change'">{{ 'can_change' | i18next }}</ng-option>
                  <ng-option [value]="'Cannot Reduce'">{{ 'cannot_increase' | i18next }}</ng-option>
                  <ng-option [value]="'Cannot Change'">{{ 'cannot_change' | i18next }}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </svms-sidebar-body>
</svms-sidebar>


