@import '../../../../assets/sass/abstracts/variables';

.notification-page-wrapper {
  background-color: #F7FAFC;
  min-height: calc(100vh - 50px);
  padding: 2em;

  .card {
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px #0000001a;
    border-radius: 4px;
    font-family: Inter !important;
    margin-bottom: 2em;

    .list-group {
      list-style-type: none;
      border-top: 1px solid #eeeeee;

      li {
        border-top: 1px solid #E8F0F780;

        a {
          color: #6f73de;
        }

        &:first-child {
          border-top: 0;
        }
      }
    }
  }
}
