
.filter-clear {
    color: #D3270F;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.border-right {
    border-right: 1px solid #EBF0F5;
}

*::ng-deep {
    .tooltip-inner {
        padding: 8px;
        border-radius: 4px;
        background: black;
        color: white;
        position: relative;
        bottom: 16px;
        left: 80px
    }
}