@import '../../../../../assets/sass/abstracts/variables';

.btn-primary-outline {
  position: absolute;
  top: 107px;
  right: 584px;
  font-size: 12px;
  border: 2px solid #4c7ff0;
  background: #fff;
  color: #4c7ff0;
}

.btn-primary {
  position: absolute;
  top: 107px;
  right: 431px;
  font-size: 12px;
}

:host ::ng-deep {
  .if-submitted-candidate {
    input {
      margin-right: 0px !important;
      padding-top: 0px !important;
      margin-top: 6px !important;
    }
    .paragraph-checkbox {
      float: right !important;
    }
  }
}

.individual-invoice {
  ::ng-deep {
    .table-listing {
      tr {
        vms-row {
          &:first-child {
            td {
              &.if-submitted-candidate {
                padding-right: 130px !important;

                .checkbox-box {
                  min-height: 24px;
                  max-width: 24px;

                  &.invisible {
                    visibility: hidden;
                  }
                }

                p {
                  &.paragraph-checkbox {
                    width: 76% !important;
                  }
                }
              }
            }
          }
        }
      }
      &.cloned {
        tbody {
          tr {

            vms-row {
              &:first-child {
                td {
                  padding-right: 24px;
                  p {
                    overflow: visible;
                    text-overflow: inherit;

                    &.paragraph-checkbox {
                      width: 90%;
                    }

                    a {
                      width: 200px !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.btn-primary {
  position: absolute;
  top: 107px;
  right: 40px;
  font-size: 12px;
}
.btn-primary-download {
  position: absolute;
  top: 107px;
  right: 131px;
  font-size: 12px;
}

::ng-deep .invoice-header-btn {
  &:hover {
    background-color: $light;
  }
}
