<svms-sidebar [title]="'Group Name'" [dataVisibility]="visiblity" [size]="'small'">
    <div>
        <svms-sidebar-body>

            <div class="d-flex flex-column px-24 pt-24">
                <div class="mb-12 d-flex align-items-center">
                    <div class="initials initials-profile">
                        <img src="../../../../../assets/images/user-profile.png" alt="" />
                    </div>
                    <p class="text-dark ml-12">{{ 'james' | i18next }}</p>
                </div>
                <div class="mb-12 d-flex align-items-center">
                    <div class="initials initials-profile">
                        <img src="../../../../../assets/images/user-profile.png" alt="" />
                    </div>
                    <p class="text-dark ml-12">{{ 'james' | i18next }}</p>
                </div>
            </div>
        </svms-sidebar-body>

    </div>
</svms-sidebar>