@import "../../../assets/sass/abstracts/_variables.scss";

.login-wrapper {
  width: 100%;
  background-size: 50% 100%;
  height: 100vh;

  ::ng-deep.material-icons {
    font-size: 19px;
  }
  
  input::-ms-reveal {
    display: none;
  }

  //language switcher classes
  .lang-switcher-panel {
    top: 20px;
    right: 20px;
    z-index: 1000;

    ::ng-deep.lang-modal-cta {
      background-color: #F6FAFD;
      border: 1px solid #D7E0E7;
      color: #2b2d42;
      font-size: 14px;
      line-height: 24px;
      height: 32px;
      border-radius: 4px;
      text-align: center;
      vertical-align: middle;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      cursor: pointer;
      outline: none;
      font-weight: $font-weight-medium;
      padding-left: 6px;
      padding-right: 6px;

      icon {
        display: flex;
        margin-right: 4px;
        float: none;
        margin-top: 0px;
      }
    }
  }
}

//language switcher classes end 
h2 {
  line-height: 32px;
  margin-bottom: 8px;
  font-weight: $font-weight-semibold;
}

//left panel
.left-panel {
  position: relative;
  float: left;
  width: 45%;
  height: 100vh;
  background: #0b1122ba;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background: url(../../../assets/images/login-banner.jpg) no-repeat left top;
    content: ".";
    text-indent: -9999px;
    display: block;
    visibility: visible;
    background-size: cover;
    z-index: -1;
  }

  .left-pannel-bgimage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ".";
    text-indent: -9999px;
    display: block;
    visibility: visible;
    background-size: cover;
    // z-index: -1;
  }

  .image-overlay {
    z-index: -1;
  }

  .left-panel-content {
    height: 100%;
    z-index: 10;
    max-width: 380px;
    margin: auto;
  }

  ul {
    list-style-type: none;
    padding: $p0;
    margin: 4% 0 0;
    line-height: 35px;

    li {
      padding: $p0;
      font-weight: $font-weight-regular;
      font-size: 17px;
      line-height: 35px;
      color: #E4E4E4;
      display: inline-block;
      position: relative;
      padding-left: 62px;
      &:before {
        position: absolute;
        top: 14px;
        left: 24px;
        width: 10px;
        height: 10px;
        background: rgba(255, 255, 255, .82);
        content: '.';
        text-indent: -9999px;
        overflow: hidden;
        display: block;
        visibility: visible;
        border-radius: $rounded-circle;
      }

      &:first-child, &:nth-child(2), &:nth-child(4), &:nth-child(6) {
        padding-left: 0px;

        &:before {
          display: none;
          visibility: hidden;
        }
      }
    }
  }

  &:before {
    position: absolute;
    left: -81px;
    bottom: -90px;
    width: 180px;
    height: 150px;
    background: $color-primary;
    content: '.';
    text-indent: -9999px;
    display: none;
    visibility: visible;
    overflow: hidden;
    transform: rotate(45deg);
    box-shadow: 0px 3px 6px #00000048;
  }
}

//left panel end 

//right panel  
.right-panel-wrapper {
  float: right;
  width: 55%;
  height: 100vh;
  background: #fff;
}

.right-panel {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 430px;

  figure {

    &.user-avatar {
      width: 81px;
      border-radius: 50%;

      img {
        object-fit: cover;
      }
    }
  }

  .initials {
    width: 65px;
    height: 65px;
    font-size: 24px;
  }


  p {
    line-height: 24px;
    color: $text-secondary;
    margin: $m0 $m0 $m16 $m0;
    font-weight: $font-weight-medium;


    &.forgot-link {
      line-height: 41px;
      letter-spacing: 0px;
      color: $color-secondary;
    }

    i {
      font-size: 50px;
      color: $color-dark;
    }

    &.green {
      i {
        color: #698037;
      }
    }
  }

  .links {
    color: $links;
    border-bottom: 1px solid !important;
  }

  .forgot-links {
    line-height: 40px;
    color: #4A57BA;
    font-size: 13px;
  }

  .other-login-option {
    background-color: #F2F0F0;
    height: 1px;
    position: relative;

    span {
      width: 33px;
      height: 33px;
      border: 1px solid #F2F0F0;
      border-radius: $rounded-circle;
      text-align: center;
      line-height: 33px;
      font-size: 13px;
      color: #3A4550;
      z-index: 2;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .sso-login {
    font-size: 15px;
    background-color: #3F3F76;
    border-color: #3F3F76;

    &:hover {
      background-color: #525286;
      border-color: #525286;
    }

    &:focus,
    &:active {
      background-color: #2d2d52;
      border-color: #2d2d52;
    }
  }

  .link2 {
    color: $color-secondary !important;
    border-bottom: 1px solid !important;
    font-size: 16px;
  }

  //login icon append classes
  .input-group-text {
    border-width: 1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    icon {
      height: 18px;

      ::ng-deep.login-form-icon {
        color: #536476;
      }
    }
  }

  .form-control {
    height: calc(1.5em + 1.6rem + 2px);
    padding-right: 2.3rem;
    width: 100%;
    padding-left: 54px;
  }

  .input-group {
    &.left-border {
      .form-control {
        border-left: 1px solid $border-color;
      }
    }

    &.active {
      .input-group-text {
        border-color: #b2b2b2;
        border-width: 1px;
      }

      &.left-border {
        .form-control {
          border-left-color: #b2b2b2;
          border-left-width: 1px;
        }
      }
    }

  }

  .login-btn {
    width: 30%;
    font-size: 15px;
    background-color: #5E71FE;
    border-color: #5E71FE;

    &:hover {
      background-color: #4e61ef;
      border-color: #4e61ef;
    }

    &:active,
    &:focus {
      background-color: #7a89fd;
      border-color: #7a89fd;
    }
  }

  .loginbtn {
    width: 48%;
    font-size: 15px;
    font-weight: $font-weight-regular;

    icon {
      right: 10px;
      height: 18px;
    }

    &.full-width {
      width: 100%;
    }

    &.userbtn {
      width: 28%;
    }
  }

  &.forgot-usernme {
    background: url(../../../assets/images/shadow.png) no-repeat center bottom;
    padding-bottom: 80px;

    p {
      line-height: 44px;
    }

    .btn {
      width: 30%;
    }
  }

  .validation-status {
    top: 53%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    line-height: 16px;
    z-index: 10;

    &.success {

      icon {
        ::ng-deep.valid-field-icon-green {
          color: $success-color;
        }
      }
    }

    &.gray {

      icon {
        ::ng-deep.valid-field-icon-gray {
          color: #b2b2b2;
        }
      }
    }

    &.invalid {
      icon {
        ::ng-deep.invalid-field-icon {
          color: $color-red-90;
        }
      }
    }
  }

  ::ng-deep.showhide {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    line-height: 16px;
    z-index: 10;
    cursor: pointer;
  }

  // classes for validation error and success alert

  .validation-alert {
    border-radius: $border-radius;
    padding: $p8;

    p {
      line-height: 20px;
      margin: $m0;

      a {
        border-bottom: 1px solid;
      }
    }
  }

  //alert-error
  .alert-error {
    background: $color-red-30;

    ::ng-deep i {
      color: $color-red-90;
    }

    a {
      color: $color-red-90;
    }

    p {
      color: $color-red-90 !important;
    }
  }

  //alert-success
  &.alert-sucess {
    background: $alert-success-bg;
    color: $success-color;

    a {
      color: $success-color;
    }

    ::ng-deep i {
      color: $success-color;
    }
  }

  .msg-input-bottom {

    .validation-msg {
      color: $color-red-90;

      icon {
        height: 20px;
      }
    }
  }
}

.loader {
  border-top: 3px solid #e9e9e9;
  border-right: 3px solid #e9e9e9;
  border-radius: 50%;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.text12 {
  font-size: 12px;
}

.mobile-logo {
  display: none;
}

.ml--7 {
  margin-left: -7px !important;
}

.line-shadow {
  height: 3px;
  background: #00000005;
}


.blue-text {
  color: #5E71FE;
}

.underline {
  text-decoration: underline;
}

.custom-error-lh {
  line-height: 22px;
}