@import '../.././../../assets/sass/abstracts/variables';

:host .sidebar-wrapper {
    padding: $p24;
    max-height: calc(100vh - 130px);

    .rate-factor-wrapper {
        border: 1px solid #F2F3FF;
        padding-bottom: $p4;

        .sub-title {
            background-color: #F2F3FF;
            line-height: 48px;
            padding: 0 $p16;
            margin-bottom: $m32;
        }

        icon {
            vertical-align: middle;
            line-height: 20px;
            display: flex;
        }

        .factor {
            input {
                border-right: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                max-width: 60px;
            }

            .ng-select {

                ::ng-deep .ng-select-container {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }

        .adjustment {
            input {
                padding-left: 50px;
            }

            span {
                position: absolute;
                top: 1px;
                left: 1px;
                bottom: 1px;
                line-height: 40px;
                background-color: #FAFBFC;
                text-align: center;
                width: 41px;
            }
        }
    }
}