@import '../../../../../../assets/sass/self-config/base/variables.scss';

.reassign-modal{
    ::ng-deep .svms-modal-body{
        height: calc(100vh - 100px);
    }
}
.min-height300{
    min-height: 300px;
}
.middle-content {
    width: 80%;
    h3{
        a{
            display: block;
        }
    }
    .sync-icon{
        font-size: 70px;
        color: #D8834B;
    }
    .success-icon{
        font-size: 88px;
        color: #01CA17;
    }
}
.reassign-alert{
    color: colors(primary, 6);;
    background-color: #EDF2FE;
    margin: 0 -16px;
    padding: 16px;
}
.reassign-items-list{
    ul{
        li{
            border-bottom: 1px solid colors(gray, 1);
            margin: 0 -16px;
            .items-name-left{
                width: calc(100% - 254px);
                p{
                    color: colors(primary, 8);
                    i{
                        color: #0044C5;
                        font-size: 18
                    }
                }
            }
            ng-select{
                width: 254px;
            }
            &:last-child{
                border-bottom: 0;
            }
        }
    }
}

.reassign-checkbox{
    .checkbox-container {
        padding-left: 30px;
        .checkmark{
            height: 15px;
            width: 15px;
            border-radius: 2px;
            border: 1px solid colors(gray, 7);
            
            &::after{
                font-size: 13px;
                top: 0px;
                left: 0px;
            }
        }
        input {
            &:checked {
                ~ .checkmark {
                    border: 1px solid colors(primary, 6);
                    background-color: colors(primary, 6);
                }
            }
        }
    }
    .checkbox-text{
        color: colors(gray, 8);
    }
}