@import '../../../../../../assets/sass/self-config/base/variables.scss';
@import '../../../../../../assets/sass/abstracts/variables';    

.create-new-timesheet {
    .toggle-width {
        width: 17%;
    
        .toggle-panel {
            width: auto;
        }
    }

    .tooltip-icon {
        font-size: 16px;
        color: colors(gray, 5);
    }
    .disableDiv{
        pointer-events:none;
    }
    .status-text{
      min-width: 60px;
    }
}

.define-rules {
    ::ng-deep {
        .tab-inner-parent {
            .tab-inner {
                border-top: 0;
                padding-top: 0;
                .tab-left-content{
                    i.invoice-icon{
                        top: 22%;
                        font-size: 23px;
                    }
                    i.remove-invoice-icon{
                      top: 2%;
                      font-size: 23px;
                  }
                } 
            }
        }
    }
}
.no-rule-created {
    background-color: colors(primary, 1);
    border-radius: $border-radius;
    i{
        color: colors(primary, 6);
    }
    .no-rule-created-text{
        p{
            &:first-child{
                color: colors(primary, 6);
            }
            &:last-child{
                color: colors(primary, 7);
            }
        }
    }
}
::ng-deep {
    .create-new-timesheet {
        .c-listing-table-wrapper {
            margin-top: 0px;
        }
    }
}
.alert-warning {
    background: #F8E8DD;
  
    ::ng-deep i {
      color: #CF6625;
    }
  
    a {
      color: #CF6625;
      border-bottom: 1px solid;
      cursor: pointer;
    }
  
    p {
      color: #CF6625;
    }
  
    &.light {
      background: $light;
  
      ::ng-deep i {
        color: #CF6625;
      }
  
      h3 {
        color: #CF6625;
      }
  
      p {
        color: $color-gray-90;
      }
  
      span {
        ::ng-deep i {
          color: $color-gray-70;
        }
      }
    }
  }
  .alert {
    padding: $p24;
    width: 100%;
    bottom: 79px;
    left: 220px;
    border-radius: $border-radius;
    box-shadow: 0px 7px 13px #0000001D;
  
    h3 {
      color: #CF6625;
    }
  
    p {
      line-height: 18px;
      margin: 0;
      font-weight: normal;
    }
  
    .cursor-pointer {
      top: 14px;
      right: 14px;
      cursor: pointer;
      pointer-events: all;
    }
  }
  
  .view-details-btn {
    text-align: right;
    button {
        width: 111px;
        height: 40px;
        color: #AC4300;
        border-radius: 4px;
        background: #F3D7C4;
        border: none;
        margin: 0 10px;
    }
  }