<nav class="pages-sub-nav">
    <ul>
      <li class="cursor-pointer" [ngClass]="{'active' : (timesheetTab == 'timesheet')}" (click)="showTimesheetTab('timesheet')">
        <div class="d-flex align-items-center">
          <icon name="info" theme="outlined" class="mr-4" cuClass="d-flex"></icon> <span>{{'timesheet_details'|i18next }}</span>
        </div>
      </li>
      <li *ngIf="isShowMultiApproval && currentUserType !== UsersType.VENDOR" class="cursor-pointer"  [ngClass]="{'active' : (timesheetTab == 'workflows')}" (click)="showTimesheetTab('workflows')">
        <div class="d-flex align-items-center">
          <icon name="task_alt" class="mr-4" cuClass="d-flex"></icon> <span>{{'Workflows'|i18nextEager }}</span>
        </div>
      </li>
    </ul>
   </nav> 