@import '../../../../assets/sass/abstracts/variables';

.edit-worker-detail {
    ::ng-deep .ng-select.ng-invalid.error .ng-select-container{
        border: 2px solid #EB445A;
    }
      
    ::ng-deep .ng-untouched.ng-pristine.ng-invalid.error .datepicker--imgdate.position-relative{
        border: 2px solid #EB445A;
        border-radius: 4px;
    }
}

.candidate{ 
.reset_btn{
    border: 0;
    color: blue;
}
.account_reg{
 background-color: blue;   
 color: white;
 text-align: center;
}
.account_unreg{
    background-color: #FF7676; 
    color: white;
    text-align: center;
   }
   .send_email_btn{
    border: 0;
    color: white;
    background:  #F43E3E ;
    font-size: 13px;
}
.small{
    label{
        font-size: 13px;
    color: #5F6D89;
    }
}
.text-dark{
    color: #2B2D42;
}


}


