@import '../../../../../../assets/sass/abstracts/variables';
.job-view-content {
    border-radius: $border-radius;
    min-height: 98%;
    nav {
        background-color: #ffffff;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        border-bottom: 1px solid #ececec;
        ul {
            list-style-type: none;
            padding: 0 $p12;
            li {
                display: inline-block;
                a {
                    line-height: 56px;
                    display: block;
                    padding: 0 $p12;
                    color: #222428;
                    transition: $transition;
                    position: relative;
                    icon {
                         ::ng-deep i {
                            color: #222428;
                            vertical-align: middle;
                        }
                    }
                    &:hover {
                        color: $color-assets-primary;
                        icon {
                             ::ng-deep i {
                                color: $color-assets-primary;
                            }
                        }
                    }
                    &.active {
                        color: $color-assets-primary;
                        icon {
                             ::ng-deep i {
                                color: $color-assets-primary;
                            }
                        }
                        &:before {
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: $color-assets-primary;
                            height: 3px;
                            content: '.';
                            text-indent: -9999px;
                            overflow: hidden;
                            display: block;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

.content-details {
    min-height: 70vh;
}