@import '../../../../assets/sass/abstracts/variables';

.table-rehire{
    border-radius: 4px;
    margin-top: 10px;
    
thead{
    background-color: #F9F7FF;
    border:1px solid #F1F3F7;
    border-bottom-color: transparent;
    border-radius: 4px 4px 0 0;
}
tbody{
    tr{
        th,td{
            border:1px solid #F1F3F7;
            border-collapse: collapse;
        }
    }
}
}