@import '../../../../../../assets/sass/self-config/base/variables.scss';
.create-new-expense {
    .enable {
        cursor:pointer;
        pointer-events: none;
        opacity: .8;
    }
    button:disabled {
        opacity: 0.5;
        cursor: pointer;
    }
    .disable {
        pointer-events: none;
        opacity: 0.5;
    }
    .enable-tax-on-expense-types{
        margin: 0 -24px;
    }

    .field-toggle {
        .toggle-panel {
            padding-top: 12px;
            width: auto;
          
            .toggle-panel-inner {
              border: 0;
              background-color: transparent;
              padding: 0;
              height: 20px;
            }
        }
    }

    .config-item {
        border-top: 1px solid colors(gray, 1);
        padding: $p16 $p24;

        p {
            &.blue-color {
                color: colors(primary, 6);
            }
        }

        .toggle-panel {
            width: auto;
          
            .toggle-panel-inner {
              border: 0;
              background-color: transparent;
              padding: 0;
              height: 20px;
            }
          }
    }

    .exp-wrapper {
        margin-bottom: $m24;
    }
    .exp-items {
        gap: 10px;
        flex-wrap: wrap;

        .item {
            border: 1px solid colors(gray, 1);
            padding: $p8;
            position: relative;
            border-radius: $border-radius;
            min-width: 150px;

            .more-option {
                position: absolute;
                top: 8px;
                right: 8px;
                border: 1px solid transparent;
                line-height: 10px;
                padding: 5px;
                border-radius: $border-radius;

                i {
                    font-size: 14px;
                }
                .check{
                    font-size: 19px;
                    color: green;
                }
                .cross {
                    font-size: 19px !important;
                    color: red !important;
                }

                &:hover {
                    border-color: colors(gray, 4);
                }
            }

            img {
                width: 20px;
                height: auto;
            }

            p {
                &.exp-name {
                    font-weight: $font-weight-medium;
                }
            }

            &.add {
                padding: 0;
                a {
                    display: block;
                    padding: 19px 0;
                    background-color: colors(primary, 1);
                    text-align: center;
                    color: colors(primary, 6);
                    font-weight: $font-weight-medium;

                    i {
                        color: colors(primary, 6);
                    }

                    span {
                        display: block;
                    }
                }
            }

            .action-dropdown-list {
                top: 20px;
            }
        }
    }
}