@import '../../../../assets/sass/abstracts/variables';

.resume-uploader {
  ::ng-deep .resume-wrapper {
    >div {
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;

      .drop-zone {
        width: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8px;
      }

      p {
        text-align: center;
      }
    }
  }
}

.with-left-text {
  position: relative;

  .sign-select{
    width: 74px;
    position: absolute;
    left: -74px;
    ::ng-deep .ng-select-container{
        border-radius: 4px 0 0 4px;
    }
    .sign-icon{
        vertical-align: middle;
        font-size: 16px;
    }
}

  span {
    background-color: #FAF8FF;
    position: absolute;
    left: 1px;
    top: 1px;
    width: 43px;
    height: 38px;
    text-align: center;
    line-height: 40px;
    border-right: 1px solid $color-border-secondary;
  }

  input {
    padding-left: 50px;
    border-radius: 0 4px 4px 0;
  }
}

.form-control[readonly] {
  background: #FAF8FF;

  &::placeholder {
    color: $navigation-submenu-text;
  }
}

.expense-date {
  ::ng-deep .datepicker-main-wrapper {
      top: 74px;
  }
}

.expense-form {
  overflow-y: auto;
  max-height: calc(100vh - 122px);
}

.half-width {
  width: 50%,
}
table {
  border: 1px solid #E3E9F0;
  border-radius: $border-radius;
  th {
      text-align: left;
      border: 1px solid #E3E9F0;
      padding: 8px 16px !important;
      background-color: #FCFAFF;
      height: fit-content !important;
      color: #001A43;
  }

  .total-left{
      text-align: right;
  }

  .table-footer{
      background-color: #FCFAFF;
      height: fit-content;
      color: #001A43;
      font-weight: 500;
      border: 1px solid #E3E9F0;;
  }

  tbody{
    tr{
      color: #001A43;
      border: 1px solid #E3E9F0;
      .light-bg{
        background-color: #EDF2FE;
        border-radius: $border-radius;
        text-align: center;
        padding: $p4 $p16;
        width: max-content;
        margin: 0 $m8 $m8 0px;
        display: inline-block;        
        text-transform: capitalize;
      }

      td{
        .input-data{
          display: flex;
          flex-wrap: wrap;
          width: 50%;
        }
      }
    
    }
  }
}