.messageType{
  background-color: rgba(119, 108, 255, 0.23);
  color:rgb(60, 46, 254);
  border-radius: 10px;
  padding: 2px 10px;
}
.generic-list-page {
  ::ng-deep {
      .ng-dropdown-panel {
          direction: ltr;
          text-align: left;
      }

      .ng-select {
          .ng-select-container {
              .ng-value-container {
                  padding-left: 13px;
                  padding-right: 0px;
              }
          }
      }

      .ng-value {
          min-width: 28px;
      }

      .c-listing-table tbody tr td {
        max-width:350px;
      }
  }
}

.self-config-notification-wrapper{
  ::ng-deep {
    .c-listing-header, .c-listing-footer{
    left: 60px;
    width: calc(100% - 84px);
    }
  }
}

.show-warning ::ng-deep .c-listing-table-wrapper{
  margin-top: 19px !important;
}

