@import '../../../../assets/sass/abstracts/variables';

.local-storage {
  icon {
    float: left;
    padding: 6px 11px;
    border-radius: 4px;

    ::ng-deep i {
      color: $header-icon-color;
    }

    &:hover {
      text-decoration: none;
      background-color: $header-icon-hover-color;
    }
  }
}

.local-storage-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1081px;
  max-width: 80%;
  z-index: 100;
  background-color: $light;
  transition: $transition;
  transform-origin: center center;
  height: 80%;
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;

  .close-trigger {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
  }

  .main-data {
    width: 100%;
    background-color: #ecf2fe;
    max-height: 94%;
    overflow-y: auto;
    word-wrap: break-word;
  }
}

.local-storage-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #1F2031;
  opacity: .85;
  visibility: visible;
}

// table tr th:first-child,
// table tr td:first-child {
//   width: 20%;
//   min-width: 20%;
//   max-width: 20%;
//   word-break: break-all;
// }

// table tr th:last-child,
// table tr td:last-child {
//   width: 80%;
//   min-width: 80%;
//   max-width: 80%;
//   word-break: break-all;
// }

table tr th:last-child {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}