.tab-close {
  color: gray;
  text-align: right;
  cursor: pointer;
}

.uom-tabs{
  display: flex;
  padding-left: 0;
  list-style: none;
}

.uom-tabs li {
  font-size: 12px;
  text-align: center;
  letter-spacing: 0px;
  color: #7F92A3;
  opacity: 1;
  margin:8px 24px 16px 0;
  cursor: pointer;
  text-transform: capitalize;
}

.active {
  border-bottom: 2px solid #2DD36F;
  letter-spacing: 0px;
  color: #2B2D42;
  opacity: 1;
}
