*::ng-deep {
    tr > td:nth-child(1) {
        padding-right: 20px !important;
    }

    tr > td {
        overflow: hidden;
    }

    .c-listing-table thead th:first-child {
        padding-right: 20px;
    }

    .failed {
        background-color: #fce7dd;
        color: #e25f0a;
        &::before {
            background-color: #e25f0a;
        }
    }
}