@import '../../../../assets/sass/abstracts/variables';
.revision-history {
    ::ng-deep {
        .table-bg {
            padding: 0;
            min-height: inherit;
            .table-bg-inner {
                box-shadow: inherit;
                .content-area-inner {
                    padding: 0 !important;
                }
            }
        }
        .vms-header-panel {
            display: none !important;
        }
        .listing-wrap {
            .table-outer {
                .table-overflow {
                    .ps__rail-x {
                        position: absolute !important;
                        left: 0 !important;
                    }
                }
            }
        }
    }

    h4 {
        icon {
            vertical-align: middle;
        }
    }
}

.invoice-link{
    color: $links;
}