
  <div class="assignment-list-item">
    <div class="description-card p-24 detail-page-responsive-list pl-m-0 pr-m-0">
      <!-- <div class="dotloader" *ngIf="dataLoading"></div> -->
        <vms-table  [vmsTableConfig]="tableConfig"  [vmsDataSource]="vmsData" [loading]="dataLoading"
        [open]="isExpand" [totalItem]="totalRecords" [itemsPerPage]="itemsPerPage" (onViewClick)="onClickView($event)"
        (onExpandClick)="onExpandClick($event)" (onEditClick)="onEditClick($event)" (changePage)="onPaginationClick($event)"
          (onUpdateRecord)="onUpdateRecordClick($event)" 
        (onCreate)="onCreateClick($event)" (onDisableClicked)="disableClicked($event)"
        (onDeleteClick)="onDeleteClick($event)" (numberBadgeClicked)="columnClicked($event)"
         (onWithdrawProfileClick)="onWithdrawProfileClick($event)"
        (cloneClicked)="cloneClicked($event)" (onViewProfileClick)="viewProfileClicked($event)"  (search)="onSearch($event)"
         (onListFilter)="onListFilter($event)" (changeRecords)="onClickRecords($event)"  (previewClicked)="previewClicked($event)">
        </vms-table>
    </div>
  </div> 
    <!-- <app-view-profile></app-view-profile> -->