@import '../../../../../assets//sass/abstracts/variables';

.assignment-list-item {
    ::ng-deep {
        .table-bg {
            padding: 0px !important;
            .table-bg-inner {
                box-shadow: 0px 0px 0px #00000000 !important;
                .title {
                    padding-left: 0px !important;
                }
                .p-24 {
                    padding-left: 0px !important;
                    padding-right: 0px !important;
                }
                .px-24 {
                    padding-left: 0px !important;
                    padding-right: 0px !important;
                }
            }
        }
    }
}
