<!-- <div class="invite-user-wrap">
  <div class="invite-user-box">
    <figure><img src="assets/images/logo-light.svg" alt="" width="104" height="22"></figure>
    <h3 class="text-center mt-64 mb-32"><span>{{Invite_sender_name}}</span> has invited you to
      collaborate on the <span>UsTech({{programName}})</span>
      Program</h3>
    <p *ngIf="tokenUsed" class="mb-32 error">You have already accepted the invitation. Please <a (click)="redirectToProgramDetails()">click here</a> to see your
      program details </p>
    <p *ngIf="isTokenExpired" class="mb-32 error">This invitation is already expired. Please <a (click)="regenerateToken()">click
        here</a> to request SimplifyVMS admin to get a new invitation email </p>

    <button class="btn btn-primary large mx-auto" (click)="acceptInvite()">Accept Invitation</button>
    <p class="mt-64 mb-32">If you were not expecting this invitation, you can ignore the email. <br>This invitation link
      is only
      valid for next 48 Hours.</p>
    <p>
      Thanks, <br>
      Team @Simplify
    </p>
    <p class="mt-16 notify pt-24 d-none">
      If you're having trouble clicking the Accept invitation button, copy and paste the URL below Into your
      web
      browser..
    </p>
  </div>
  <p class="text-center mt-16 footer-text">&copy; 2020 simplifyvms. All rights reserved.</p>
</div> -->