@import '../../../../assets/sass/abstracts/variables';

.upload-symbol {
  position: absolute;
  top: 5px;
  right: 5px;
}

.uploaded-controls {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: #F6FAFD;

  p {
    line-height: 32px;
    color: #00338E;

    .f-name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 300px;
      display: inline-block;
    }
  }

  .file-tool {
    padding: $p8;
    border-left: 1px solid #DDEAFF;
    background-color: #FCFCFC;
    display: flex;
    align-items: center;
    height: 39px;
    i {
      font-size: 24px;
      color: #0044C5;
      font-variation-settings: "FILL" 0, "wght" 200, "GRAD" -25, "opsz" 48;
    }

    &.del {
      i {
        color: #FF0000;
      }
    }
  }
}

::ng-deep .prewrap {
  white-space:  pre-wrap;
  word-wrap: break-word;
}