@import '../../../../../../assets/sass/abstracts/variables';
.disableDiv::ng-deep {
    pointer-events: none;
    div > div > div > span.ng-value-icon.left {
        width: 0px !important;
        height: 0px !important;
    }

    div > div > div > span.ng-value-icon.left::before {
        display: none;
        visibility: hidden;
    }
}
.inputwidth{
  max-width: 100px;
}
.checkbox-panel {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 48px 0px;
    margin: 24px 0px 0px 40px;

}
.panel-footer{
    height: 80px;
    background-color: #FAFBFC;
    position: relative;
}
.panel-footer-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    height: 80px;
    background-color: #FAFBFC;
    position: absolute;
    right: -10px;
    left: -24px;
    width: 103.2%;
    border: none;
    top: -2px;
    .save{
        width: 93px;
    }
}
.toggle-panel {
    width: 32.5%;
    padding-right: 20px;

    &-inner {
      padding: $p8 $p12;
      font-size: $font-primary;
      font-weight: $font-weight-regular;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: $m12;
      padding: $p4 $p8;  
      border: 1px solid #CFD8E1;
      border-radius: $border-radius;
      margin-bottom: 12px;
      background-color: #fff;
    }
    .toggle-panel-inner .toggle-switch {
      min-width: 27px !important;
  }
}
.if-inactive {
    .toggle-switch {
      opacity: 0.5;
    }
  }

  @media screen and (max-width: 920px){
    .checkbox-panel {
        margin: 0 !important;
        margin-top: 24px !important;
    }
    .toggle-panel {
        width: 100%;
    }
  }