.manage-template-config {
  display: flex;
  position: relative;
  flex-direction: row;

  &__panel {
    margin: 24px;
    border-left: none;

    label {
      color: #5F6D89;
      font-size: 14/24px;
    }

    .header {
      display: flex;
      align-items: center;

      .title {
        span {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
        }
      }

      .toggle-panel {
        margin-left: 65%;
      }
    }


    .header-layout, .header-logo, .header-caption, .header-social_media, .header-download-links, .header-hyper-links {
      &__label {
        margin-top: 35px;
        height: 50px;
        cursor: pointer;
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        display: flex;
        align-items: center;

        span {
          margin-left: 15px;
          font: normal normal medium 16px/24px IBM Plex Sans;
          letter-spacing: 0;
          color: #000000;
          opacity: 1;
        }
      }
    }

    .header-layout {
      &__content {
        height: 170px;
        padding-left: 15px;

        &__item {
          margin-top: -3px;
          width: 48%;
          height: 50px;
          cursor: pointer;

          .media-links-layout, .download-links-layout, .onlyLogo, .hyper-links-layout {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            width: 100%;

            .logo {
              width: 75px;
              height: 22px;
            }
          }

          .media-links-layout {
            img {
              width: 22px;
            }
          }

          .download-links-layout {
            img {
              width: 50px;
            }
          }



          .blank-header {
            font: normal normal normal 14px/14px IBM Plex Sans;
            letter-spacing: 0;
            color: #7F92A3;
            opacity: 1;
          }

          .onlyLogo {
            display: flex;
            justify-content: center;

            .logo {
              width: 75px;
              height: 22px;
            }
          }

          .hyper-links-layout {
            a {
              margin-inline: 20px;
              text-decoration: underline;
              color: #7F92A3;
            }
          }

          .checkbox {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #3ed66f;
            right: -10px;
            top: -10px;
            display: none;

            i {
              color: white;
              font-size: 20px;
            }
          }

          .showCheck {
            display: block;
          }
        }

      }
    }

    .header-logo {
      &__content {
        margin-top: 24px;
        padding-left: 15px;

        .error-text {
          font-size: 10px;
        }
      }
    }

    .header-caption {
      &__content {
        label {
          color: #002626;
        }
      }
    }

    .header-social_media {
      &__content {
        padding-left: 15px;

        .row {
          .choose-app {
            width: 40%;
          }

          .choose-url {
            display: flex;
            width: 100%;

            .prepend {
              width: 40%;
              border-radius: 4px 0 0 4px;
              color: #7F92A3;
              user-select: none;
            }
          }
        }

      }
    }

    .header-download-links {
      &__content {
        padding-left: 15px;

        .row {
          .choose-url {
            display: flex;
            width: 100%;

            .prepend {
              width: 40%;
              border: 1px solid #EBEEF3;
              border-radius: 4px 0 0 4px;
              line-height: 38px;
              color: #7F92A3;
              padding-left: 10px;
              user-select: none;
            }
          }
        }

      }
    }

    .header-hyper-links {
      &__content {
        padding-left: 15px;

        .row {


          .choose-url {
            display: flex;
            width: 100%;

            .btn-name {
              width: 40%;
            }

            .url {
              width: 60%;
            }
          }
        }

      }
    }
  }

  .divider {
    position: absolute;
    width: 100%;
    left: 0;
    border: 1px solid #EBEEF3;
    box-shadow: 0 3px 16px #0000000b;
  }

  .hide {
    display: none;
  }

  .toggle-panel {
    margin-left: auto;

    .toggle-panel-inner {
      border: none;
      background: none;
    }
  }


  &__preview {
    position: fixed;
    left: 60%;
    margin: 24px;
    height: 541px;
    width: 500px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 1px 5px #00000029;
    border-radius: 4px;
    opacity: 1;

    .layout {
      justify-content: space-between;
      padding: 40px;

      .layout-logo {
        display: flex;

        .img-after-upload {
          border-radius: 50%;
          width: 30px;
          height: 30px;
        }

        .title {
          font-size: 26px;
          font-weight: bold;
        }
      }

      .caption, .blank-text {
        text-align: center;
        width: 100%;
        color: #002626;
        font: normal normal normal 10px/23px Helvetica;
        overflow-wrap: anywhere;
      }


      .social_media_links, .download_links, .hyper_links, .default_check {
        display: flex;
        padding: 5px;
      }

      #default_check {
        width: 60%;
        margin: auto;
        text-align: center;
        font-size: 12px;
      }

      .social_media_links {
        img {
          height: 25px;
          width: 25px;
          margin-inline: 10px;
        }
      }

      .download_links {
        img {
          width: 70px;
          margin-inline: 10px;
        }
      }

      .hyper_links {
        padding-top: 10px;
        font: normal normal medium 12px/25px IBM Plex Sans;

        a {
          color: #002626;
          margin-inline: 10px;
          text-decoration: underline;
        }
      }
    }

    .onlyLogo {
      justify-content: center !important;
    }
  }
}

.actions {
  position: absolute;
  height: 70px;
  padding: 14px;
  width: 100%;
  left: 0;
}

.img-after-upload {
  max-width: 40vw;
  max-height: 20vh;
}

.social-logo {
  width: 2em;
  height: auto;
}