.additional-budget {
  ::ng-deep .ng-select.ng-invalid.error .ng-select-container {
    border: 2px solid #EB445A;
  }
  
  ::ng-deep .ng-untouched.ng-pristine.ng-invalid.error .datepicker--imgdate.position-relative {
    border: 2px solid #EB445A;
    border-radius: 4px;
    ;
  }
  
  ::ng-deep .datepicker-inline {
    position: absolute;
    top: auto;
    z-index: 1;
  
  }
  
  ::ng-deep .datepicker--nav-title p {
    color: var(--color-assets-secondary-shade);
  }
}

