@import '../../../../assets/sass/abstracts/variables';

.info-bg {
  background: #F6FAFD;

}
.disable-color {
  background-color: #FAFBFC;
}
.panel-footer {
  background: $color-gray-5;
}

.listed-inline {

  ul {
    margin-bottom: $m4;
  }

  li {
    list-style-type: none;
    display: inline-flex;
    margin-right: $m16;
    margin-left: $m0;
    padding-left: $p0;

  }

}

.mt-26 {
  margin-top: 26px;
}

.toggle-disable {
  .toggle-panel-inner {
    font-size: 14px;
    font-weight: 400;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 16px;
    border: 0px solid var(--color-border-primary);
    height: 40px;
    background-color: transparent;
    float: right;
  }

}

.trans-bg {
  background: $light;
  margin-bottom: 16px;
  border: 0px solid var(--color-border-primary);
}

.spc {
  padding: 9px 0px 20px 0px;
}

.highlight-form {
  background-color: #F6FAFD;
}

.panel-info {
  border: 1px solid #EBEEF3;
  background-color: #FAFBFC;
  border-radius: 4px;
}

.card-info {
  border: 1px solid #F0F2F4;
  background-color: #F6FAFD;
  border-radius: 4px;
}

.Quali-logo {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: $color-blue;
  color: $color-white;
}

.candidate-select {
  p {
    color: $text-black;

    &.x-small {
      color: $color-gray-70;
    }
  }
}

.contacts {
  font-size: 14px;
  color: $color-blue;

  span {
    color: $text-black;
  }
}

.add-cadidate {
  color: $color-blue;
}

.h-150 {
  height: 150px;
}

.search {
  position: absolute;
  top: 10px;
  right: 8px;
  color: $placeholder-color;
  z-index: 999999;
}

.tabs {
  width: 100%;

  .tabs-panel {
    width: 150px;
    background-color: $color-gray-10;
    border-radius: 4px;
    font-size: 14px;
    color: $color-gray-70;

    p {
      color: $text-black;
    }
  }

  .tabs-panel-strength {
    width: 175px;
  }
}

.strength-bar {
  display: flex;
  flex-wrap: nowrap;

  ul {
    list-style-type: none;
    margin: $m0;
    position: relative;
    width: 100%;

    li {
      float: left;
      background: $border-color;
      width: 19%;
      height: 10px;
      margin-right: 1%;

      &:first-child {
        border-radius: 4px 0px 0px 4px;
      }

      &:last-child {
        border-radius: 0px 4px 4px 0px;
      }

      &.active {
        background-color: $color-blue;
      }
    }

    &:after {
      position: absolute;
      top: -5px;
      right: 0;
      font-size: 11px;
      visibility: visible;
      display: block;
      color: #5c5656;
    }
  }

}

.blue {
  color: #776DE0;
}

.light-bg {
  background: $light;
}

.arrow_position {
  position: relative;
  top: 17px;
  transform: translateX(205px);
}

.profiles-img {
  display: inline-flex;

  span {
    width: 20px;
    height: 20px;
    border: 1px solid $border-color;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $bg-default;
    box-shadow: 0px 3px 6px #00000019;
    position: relative;
    float: left;

    &:nth-of-type(2) {
      left: -16px;
      margin-right: -10px;
    }

    &:nth-of-type(3) {
      left: -16px;
      margin-right: -10px;
    }

    &:nth-of-type(4) {
      left: -16px;
      margin-right: -10px;
    }
  }
}
