@import '../../../assets/sass/abstracts/variables';
.search-candidate {
    .search-cand {
      top: 10px;
      left: 12px;
      color: $placeholder-color;
      z-index: 4;
    }
} 
::ng-deep {
    .search-candidate {
      .ng-select {
        .ng-arrow-wrapper {
          display: none;
        }
  
        .ng-select-container {
          padding-left: 24px;
        }
      }
  
      .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
        left: 24px;
      }
  
      .ng-select.ng-select-opened .ng-select-container {
        z-index: 3;
      }
    }
  
    .ng-dropdown-panel {
      box-shadow: 0px 0px 0px 0px #00000000;
    }
  }
  
.create-assignment-form {

    .section-heading {
        color: $color-black;
    }
    .candidate-dropdown {
        width: 79%;
    
        ::ng-deep {
            .ng-value-container {
                .ng-value {
                    figure, .status-ui {
                        display: none;
                    }
    
                    p {
                        span {
                            display: none;
                        }
                    }
                }
            }
            .ng-dropdown-panel {
    
                .option-item {
                    width: 100%;
    
                    p {
                        width: 85%;
                        color: #212529;
    
                        span {
                            display: block;
                            font-size: 12px;
                            color: #6C757D;
                        }
                    }
                }
                figure {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 16px;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                        width: auto;
                        height: auto;
                    }
                }
            }
        }
    }
    
    .candidate-create-btn {
        width: 21%;
    }
    
    .toggled-item {
        position: relative;
        padding: 30px 0;
        margin-left: 57px;

        p {
          color: $color-black;  

          span {
              display: block;
              font-size: 12px;
              color: #6C757D;
              font-weight: $font-weight-regular;
          }
        }

        .item-icon {
            position: absolute;
            top: 30px;
            left: -57px;
            width: 41px;
            height: 41px;
            border-radius: 8px;
            background-color: #AB7EFF19;
            text-align: center;

            icon {
                line-height: 41px;

                ::ng-deep i {
                    vertical-align: middle;
                }
            }

            &.medium {
                width: 36px;
                height: 36px;

                icon {
                    line-height: 36px;
                }
            }

            &.blue {
                background-color: #839EE619;
            }

            &.light-green {
                background-color: #8CC44019;
            }

            &.violet {
                background-color: #AB7EFF19;
            }

            &.dark-green {
                background-color: #20B99B19;
            }

            &.olive{
                background-color: #86D0891D;
            }
        }

        .item-checkbox {
            margin-top: 16px;
            toggle-button {
                width: 37px;
                height: 20px;
            }
            ::ng-deep {
                .toggle-button-switch {
                    width: 16px;
                    height: 16px;
                    top: 2px;
                    left: 2px;
                }
                .toggle-button-text {
                    height: 20px;
                    width: 37px;
                    border-radius: 10px;
                }

                input {
                    &:checked {
                        ~ .toggle-button-switch {
                            left: 18px;
                        }

                        ~ .toggle-button-text {
                            background-color: #4BA324;
                        }
                    }
                }
            }
        }

        .radio-group {
            max-width: 50%;

            .radio-container {
                input {
                    &:checked {
                        ~ .checkmark {
                            background-color: #5E71FE15;
                            color: $color-assets-primary;
                        }
                    }
                }

                &:first-child {

                    .checkmark {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }

                &:nth-child(2) {

                    .checkmark {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }
        }

        &.first {
            border-bottom: 1px solid #EBEEF3;
            .item-icon {
                background-color: #86D0891D;
            }
        }

        &.top-border {
            border-top: 1px solid #EBEEF3;
        }
    }

    .one-third {
        width: 33.33%;
    }

    .finance-table {
        margin-top: $m16;
        thead {
            tr {
                background-color: #A5C0FA10;
                border-bottom: 1px solid #EBEEF3;

                th {
                    height: 48px;
                    font-size: 12px;
                    color: #6C757D;
                    text-align: middle;
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid #EBEEF3;

                td {
                    height: 70px;

                    &:nth-child(1) {
                        width: 20%;
                    }

                    &:nth-child(2) {
                        width: 25%;
                    }

                    &:nth-child(3) {
                        width: 15%;
                    }

                    &:nth-child(4) {
                        width: 40%;
                    }
                }
            }
        }

        
        &.activity {
            border: 1px solid #EBEEF3;

            tbody {
                tr {
                    td {

                        &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                            width: 27%;
                        }
    
                        &:first-child {
                            width: 19%;
                        }
                    }
                }
            }
        }
    }

    .activity-loop-wrapper {
        .activity-loop {
            position: relative;
            margin-top: $m24;
    
            // &:before {
            //     position: absolute;
            //     top: 14px;
            //     left: -40px;
            //     width: 8px;
            //     height: 8px;
            //     border: 1px solid $color-assets-primary;
            //     border-radius: 50%;
            //     content: '.';
            //     text-indent: -9999px;
            //     overflow: hidden;
            //     display: block;
            //     visibility: visible;
            // }
    
            &:after {
                position: absolute;
                top:-100%;
                left: -36px;
                width: 1px;
                height: 104%;
                border-left: 1px dashed $color-assets-primary;
                content: '.';
                text-indent: -9999px;
                overflow: hidden;
                display: block;
                visibility: visible;
            }
    
            &:first-child {
                &:after {
                    display: none;
                }
            }
        }

        .add-new-btn {
            border-radius: 16px;
            font-size: 12px;
        }
    }

    .billing-entry-wrapper {
        gap: 14px;
        margin-bottom: $m24;

        .billing-entry {
            border: 1px solid #EBEEF3;
            box-shadow: 0px 2px 4px #00000007;
            border-radius: $border-radius;
            padding: $p16;
            flex: 1;

            p {
                color: #3A4550;

                &.small {
                    color: #6C757D;
                }
            }
        }
    }

    .activation-dropdown {
        width: 40%;
    }

    .fees-input {

        span {
            position: absolute;
            top: 1px;
            left: 1px;
            bottom: 1px;
            background-color: #F8FCFF;
            z-index: 2;
            text-align: center;
            width: 42px;
            display: block;
            line-height: 40px;
            border-right: 1px solid #EBEEF3;
        }

        input {
            padding-left: 50px;
            text-align: right;
        }
    }

    .rate-wrapper {
        border: 1px solid #E9ECEF;
        padding: $p16;
        margin-bottom: $m16;

        .rate-factor-box {
            border: 1px solid $color-border-secondary;

            .left-part{
                flex: 1;
                padding-left: $p12;
                padding-right: $p12;
            }

            .fees-input {
                flex: 1;
            }

            .form-control {
                border: 0;
            }

            icon {
                cursor: pointer;
            }
        }
    }

    .pop-over {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
        width: 250px;
        padding: $p12;
        z-index: 10;
        background-color: #191818;
        border-radius: $border-radius;
        color: $light;
        opacity: 0;
        visibility: hidden;

        p {
            color: $light;

            &.small {
                color: #ADB5BD;
            }
        }
        .pop-item-wrap {
            gap: 5px;
        }
        .pop-item {
            background-color: #3D3E43;
            font-size: 10px;
            border-radius: $border-radius;
            text-align: center;
            padding: $p4 $p8;
            color: #e7e7e8;
            position: relative;

            &:before {
                position: absolute;
                width: 3px;
                height: 3px;
                background-color: #3d3e43;
                border-radius: 50%;
                overflow: hidden;
                display: block;
                visibility: visible;
                content: '.';
                text-indent: -9999px;
                top: 50%;
                left: -8px;
                transform: translateY(-50%);
            }

            span {
                display: block;
            }
            &:first-child {
                &:before {
                    display: none;
                }
            }
        }

        button {
            width: 100%;
            font-size: 12px;
        }

        &:before {
            position: absolute;
            top: 50%;
            left: -10px;
            z-index: 10;
            border-right: 12px solid #191818;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            content: '.';
            text-indent: -9999px;
            overflow: hidden;
            display: block;
            width: 4px;
            height: 1px;
            transform: translateY(-50%);
        }

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    .factor-label {
        &.active {
            color: #4BA324;
        }
    }

    .finance-tab {
        .toggled-item {
            padding: 20px 0;
        }
    }
}
.candidate-panel {
    align-items: left;
    background-color: #f6fafd;
    border: 1px solid #f0f2f4;
    font-size: $font-primary;
    padding: $p16;
    position: relative;
    color: $color-assets-secondary-shade;
    border-radius: $border-radius;
  
    &:after {
      content: "";
      background-color: #f6fafd;
      width: 15px;
      height: 15px;
      position: absolute;
      top: -8px;
      transform: rotate(45deg);
    }
  
    .donot-rehire{
      position: absolute;
      right: 30px;
    }
  }
  .result-panel {
    display: flex;
    align-items: left;
    background-color: #f6fafd;
    border: 1px solid #f0f2f4;
    font-size: $font-primary;
    padding: $p8;
    position: relative;
    color: $color-assets-secondary-shade;
    border-radius: $border-radius;
  
    &:after {
      content: "";
      background-color: #f6fafd;
      width: 15px;
      height: 15px;
      position: absolute;
      top: -8px;
      transform: rotate(45deg);
    }
  
    .client,
    .industry {
      display: flex;
      flex-direction: column;
  
      span {
        &:first-child {
          color: $color-assets-secondary-shade;
        }
      }
    }
  
    .icons {
      a {
        &:not(:last-child) {
          margin-right: $m8;
        }
      }
    }
  }
  .responsive-logo img {
    height: 49px !important;
    border-radius: 5px;
    box-shadow: 0px 10px 12px -12px #00000057;
    border: 1px solid #00000014;
    background: #fff;
    padding: 4px;
    margin-right: 15px;
    width: auto !important;
    max-width: auto !important;
  }
  .hierarchy {
    position: absolute;
    top: 10px;
    right: 8px;
    color: $placeholder-color;
  }
  .m-3{
      margin:10px
  }
  .p-3{
      padding: 5px;
      color: white !important;
  }
  