
@import "../../../../../assets/sass/abstracts/variables";

.expense-configuration-item-table ::ng-deep .table-listing tbody > tr > td {
  //padding: 8px 24px;
}

.expense-configuration-item-table ::ng-deep .listing-filter > .breadcrumb-listItem > .btn {
  background-color: $color-assets-primary;
  border-color: $color-assets-primary;
}

.expense-configuration-item-table-wrapper {
  margin: 50px;
  background-color: $light;
  box-shadow: 0 3px 6px #0000001a;
  border-radius: $border-radius;
  padding-top: 30px;
}

.expense-configuration-item-table {
  ::ng-deep {
    .table thead th span{
      text-transform: capitalize;
    }
    .table thead th {
      &:nth-child(3) {
        //background: red;
        //width: 10%;
      }
    }

   .listing-wrap{
     height: auto;
     min-height: 50vh;
    }

    .data-loader {
      position: absolute;
      top: 74px;
      z-index: 8;
      left: 0;
      right: 0;
      bottom: 0;
    }

  }
}



.expense-configuration-tab {
  ::ng-deep {
    .tab-panel{
      padding-left:0 !important;
      padding-right:0 !important;
      padding-top: 0 !important;

    }
    .tab-menu {
      height: auto !important;

      ul {

        li {
          a {
            background-color: transparent !important;
            border-bottom-width:2px !important;
          }
        }
      }
    }
  }
}
