@import "../../../../../assets/sass/abstracts/variables";

.strike-through {
    text-decoration: line-through;
    color: red !important;
    display: block;
    font-size: 11px;
}

.grid-panel {
    background-color: white;
    border: 1px solid $color-gray-20;
    border-radius: 4px;
    p {
        margin-bottom: 0px;
    }
    a {
        color: #5f70f5;
    }
}

.h-70 {
    min-height: 70px;
}

.grid-data-wrap
.grid-data{
    width: calc(100% - 48px) !important;
}

:host ::ng-deep {
  .section-title {
    font-size: 15px;
    font-weight: $font-weight-medium;
    color: $color-black;

    i {
      vertical-align: middle;
      margin-top: -3px;
    }
  }
}

.border-none {
  border: none;
}

.additionalattend, .int-list {
  clear: both;

  .fixed-width {
      a {
          color: $color-link;
      }
  }
  .item-first {
       p {
          background-color: #e1e5ff;
          border-radius: $border-radius;
          padding: 3px $p8;
          margin-right: $m8;
          display: inline-block;
      }
  }

  .pop-over {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 80%;
      width: 250px;
      padding: $p12;
      z-index: 10;
      background-color: #191818;
      border-radius: $border-radius;
      color: $light;
      opacity: 0;
      visibility: hidden;

      p {
          color: $light;
      }

      Ul {
          list-style-type: none;
          margin: 0;
          float: none;

          li {
              float: none;
              width: auto;
              height: auto;
              border: 0;
              margin: 0;
              border-radius: inherit;
              color: #e7e7e8;
              font-size: 12px;
          }
      }

      &:before {
          position: absolute;
          top: 50%;
          left: -10px;
          z-index: 10;
          border-right: 12px solid #191818;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          content: '.';
          text-indent: -9999px;
          overflow: hidden;
          display: block;
          width: 4px;
          height: 1px;
          transform: translateY(-50%);
      }

      &.active {
          opacity: 1;
          visibility: visible;
      }
  }
}
