@import '../../../../../assets/sass/abstracts/variables';

.replace-approver-panel {
  height: 100%;
  background-color: $color-white;
  border-radius: 4px;
  border: 1px solid $color-gray-8;
}

.approver-dropdown {
  width: 250px;
  max-width: 200px;
}

.user-options {
  white-space: nowrap;
}
