@import '../../../../assets/sass/abstracts/_variables.scss';
@import '../../../../assets/sass/abstracts/mixins';

.quick-link-widget {
  height: 100%;
  padding: 18px;
  cursor: pointer;
  .edit-mode-label{
    color:$color-gray-40;
    margin-bottom: 10px;
  }


  .widget-content-info {
    display: flex;
    h1{
      font-size: 26px;
      color: #0F2E4E;
    }
  }

  &.edit-widget {
    .widget-content-info {
      display: none;
    }
  }
}

.full-rounded {
  @include display-flex($flex-direction: row, $justify-content: center);
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.font-size-14 {
  font-size: 14px;
}

.pending-action-text{
  color:#0F2E4E;
  font-size: 13px;
  font-weight: 400;
}