.custom-form-control {
    font-weight: 500;
    width: 100%;
    background-color: #ffffff;
    font-size: 14px;
    border: 0px solid transparent;
    outline: none;
}

.dialog-header {
    margin-left: 16px;

    h4 {
        text-align: left;
        font-weight: bolder;
    }

    p {
        text-align: left;
    }
}

.user-metadata {
    h4 {
        font-size: 14px;
    }
    p {
        font-size: 12px;
    }
}

.impersonate-icon {
    width: 48px;
    height: 48px;
    background-color: #4C7FF027;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 48px; 
    height: 48px;
}

.lines {
    width: 100%; 
    height: 48px;
}

.flex-grow {
    flex-grow: 1;
}

.blue-text {
    color: #6F73DE;
}

.avatar-icon {
    position: relative;
    top: 4px;
    width: 40px;
    height: 40px;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4C7FF027;
    color: #6F73DE;
}

.user-entry {
    cursor: pointer;
    margin-bottom: 12px;
    padding: 8px;
    border: 1px solid transparent;
    &:hover {
        border-radius: 4px;
        background-color: #EAF5FF;
    }
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-user {
    border-radius: 4px;
    background-color: #EAF5FF;
    border: 1px solid #4C7FF027;
}

#impersonate-dialog::ng-deep {
    .confirmation-dialog {
        top: 50px;
        bottom: 50px;
    }

    svms-dialog-body {
        height: calc(100% - 120px);
        overflow: hidden;
        min-height: 148px;
    }

    .no-record-panel {
        width: 100%;
        height: calc(100% - 48px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}