@import '../../../../assets/sass/abstracts/variables';

.rounded-circle {
    background-color: #5E71FE;
    border-radius: 50%;
    color: white;
    padding: 8px;
    cursor: pointer;
}

.impersonation {
    background-color: $color-primary-shade;
    color: $header-icon-color;
    font-weight: $font-weight-medium;
    text-transform: capitalize;
    display: block;
    line-height: 22px;
    padding: 6px 11px;
    border-radius: 4px;
    font-size: 13px;
    transition: $transition;
  
    icon {
      float: left;
      margin: 1px $m4 0 0;
  
      ::ng-deep i {
        color: $header-icon-color;
      }
    }
  
    &:hover {
      text-decoration: none;
      background-color: $header-icon-hover-color;
    }
  }
  