@import '../../../../assets/sass/abstracts/variables';

.view-profile-sidebar {
  .profile-avatar {
    width: 68px;
    height: 68px;
    border: 8px solid#f3f5f9;
    box-sizing: content-box;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  .avatar-initial {
    border: 8px solid#f3f5f9;
    width: 68px;
    line-height: 68px;
    text-align: center;
    background: $initials-purple;
    color: $light;
    font-size: 19px;
    box-sizing: content-box;
  }
  
  h4 {
    color: $color-black;
    icon {
      vertical-align: middle;
   }
  }

  p {
    &.custom-font-size {
      font-size: 13px;
      color: #3A4550;
    }
  }


  .initials {
    width: 36px;
    height: 36px;
    color: #000;

    &-light {
      background-color: #E8ECFF;
      color: #7F6FC1;
    }

    &-green {
      background-color: #CAFFB2;
      color: #59BC2E;
    }

    &-gray{
      background-color: rgb(238, 238, 238);
    }
  }

  table {
    td {
        font-size: 12px;
        color: #3A4550;
        
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
