@import '../../../assets/sass/abstracts/variables';


.profile-back{
    position: absolute;
    top: 24px;
    left: 16px;
    icon{
        ::ng-deep i{
            color: #001A43 !important;
        }
    }
}

.profile-linking-main{
    display: flex;
    ul{
        list-style-type: none;
        div{
            max-width: 100%;
            min-width:39px;
        }
        li{
            span{
                color: $color-gray-60;
            }
        }
    }
    

    .profile-linking-sidebar{
        padding-top: 26px;
       li{
            display: flex;
                &:nth-last-child(3) span{
                    width: 220px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    display: inline-block !important;
                } 
                span{
                    margin-left: 3px;
                }    
        }
        width: 22%;
        .side-header{
            border-radius: $border-radius;
            h4{
                color: $color-white;
                font-size: 14px;
                line-height: 20px;
            }
            .icon-bg{
                background-color: #ffffff2e;
                width: 45px;
                height: 45px;
                border-radius: $rounded-circle;
                icon{
                    ::ng-deep i{
                        font-size: 22px;
                    }
                }
            }
        }
        ul{
            li{
                color: #5B6874;
            }
        }
        .btn-primary:hover{
            background-color: $color-assets-primary !important;
        }
    }
    .linking-content-list{
        width: 78%;
        .mtp-matches{
            flex-wrap: nowrap !important;
            padding-top: 26px;
            .linked-profile-count {
                position: absolute;
                top: -26px;
                background-color: #ddeaff;
                left: 8px;
                right: 0;
                line-height: 18px;
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
                z-index: 2;
                text-align: center;
                color: $color-black;
                font-size: 12px;
                padding: $p4;
            }
        }
        .profile-link-data{
            border: 1px solid #CFD8E1;
            border-radius: $border-radius;
            margin-bottom: 20px;
            cursor: pointer;
            height: 683px;
            margin-left: $m8;
            .profile-link-name{
                padding: $p16;
                padding-bottom: 7px;
                figure{
                    width: 40px;
                    height: 40px;
                    background-color: #E3E5E8;
                    border-radius: $border-radius;
                    min-width: 40px;
                }
                .profile-link-text{
                    h4{
                        font-size: 14px;
                        margin-bottom: 0;
                    }
                    span{
                        height: 17px;
                    }
                    label{
                        span{
                            font-size: 12px;
                        }
                    }
                }
            }
            .mtp-linking {
                span {
                    width: 309px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    display: inline-block !important;
                }
                icon {
                    height: 11px;
                }
            }
            ul{
                li{
                    icon{
                        ::ng-deep i{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

.linking-modal-body ::ng-deep .svms-modal-body{
    padding: 0 16px !important;
    position: relative;

    .ps__rail-x {
        position: fixed !important;
        bottom: 65px !important;
        left: 23% !important;
    }
  
  }
.is-active{
   border: 1px solid #4c7ff0 !important;
}

ul{
    li{
        &:nth-child(odd){
            background-color: $light;  
        }
        &:nth-child(even){
            background-color: #f9f7ff;
            
        }
    }
}
@media only screen and (max-width:1280px){
    .profile-link-data{
        height: 413px !important;
    }
}