@import '../../../assets/sass/main.scss';
@import '../../../assets/sass/abstracts/variables';

.view-detail-page {
  .search-field {
    border: 0;
    background-color: $light;
    outline: 0;
    width: 100%;
  }

  .section-info {
    height: calc(100vh - 318px);
    overflow: auto;

    .item-list  {
      list-style-type: none;

      li {
        border-bottom: 1px solid $color-border-secondary;
        background-color: $light;
      }
    }
  }

  .c-listing-footer {
    width: 100%;
  }
  .no-data-found{
    display: flex;
    justify-content: center;
    height: calc(100vh - 289px);
    margin-top: 30px;
    font-size: 18px;
  }
}
