<div class="view-detail-page">
    <header class="section-header p-24 d-flex align-items-center justify-content-between">
        <div class="page-title font-weight-semibold d-flex align-items-center">
            <i (click)="backClicked()" class="material-icons back-arrow-icon mr-16 cursor-pointer" tooltip="{{'back' | i18next}}" placement="bottom">arrow_back</i>
            <h3 class="font-weight-semibold mb-0">{{ pageTitle | i18next}}</h3>
        </div>
        <div>
            <button class="c-btn c-btn-success-medium" (click)="onSave()">
                {{(isEditMode?'update':'save')|i18next}}
            </button>
        </div>
    </header>

    <section class="section-body-content">
        <div *ngIf="masterForm" class="p-24">
            <div [formGroup]="masterForm">
                <div class="c-form-group-row">
                    <div class="c-form-group">
                        <label>{{'master_data_type_name'|i18next}} <span class="require">*</span></label>
                        <input type="text" class="c-form-control" formControlName="name" 
                            [placeholder]="'enter_name'|i18next" minlength="3" maxlength="255"
                            [mandatePattern]="inputTextPattern" (blur)="trimField('name')"
                        />
                        <ng-container *ngIf="masterForm?.controls?.name?.touched">
                            <p class="validation-msg" *ngIf="masterForm?.controls?.name?.errors?.required">
                                {{ "*_this_field_is_required" | i18next }}
                            </p>
                            <p class="validation-msg" *ngIf="masterForm?.controls?.name?.errors?.minlength">
                                {{ "_atleast_3_characters_are_required" | i18next }}        
                            </p>
                        </ng-container>
                    </div>
                    <div class="c-form-group toggle-width toggle-panel pt-24">
                        <div class="toggle-panel-inner" style="width: 100%"
                            [ngClass]="status ? 'if-active' : 'if-inactive'">
                            <span class="status-text">{{(status ? 'active' : 'inactive') |i18next}}</span>
                            <span class="toggle-switch" [ngClass]="status ? 'toggle-on' : 'toggle-off'"
                                (click)="(status = !status)"></span>
                        </div>
                    </div>
                </div>

                <div class="c-form-group-row">
                    <div class="c-form-group mb-0">
                        <label>{{'description '|i18next}}</label>
                        <textarea class="c-form-control" formControlName="description" 
                            [placeholder]="'enter_description'|i18next" 
                            maxlength="2000" rows="4">
                        </textarea>
                    </div>
                </div>

                <h4 class="font-weight-medium my-16">{{ 'settings' | i18next }}</h4>
                
                <div class="mb-24">
                    <toggle-panel 
                        formControlName="allow_multiple_default_values"
                        name="Allow Multiple Values"
                        description="When this setting is enabled, the system will allow for multiple values to be selected for this Master Data Type."
                    >
                    </toggle-panel>
                </div>
               

                <div class="mb-24">
                    <toggle-panel 
                        formControlName="view_only"
                        name="View Only"
                        description="When this setting is enabled, the system will set this Master Data Type to be read only.  In other words, the user can NOT change what has been set as default.  If a default value does NOT exist, the system will allow a Master Data Type value to be selected."
                    >
                    </toggle-panel>
                </div>

                <div class="mb-24">
                    <toggle-panel 
                        formControlName="user_association_exclude"
                        name="Exclude from User Association"
                        description="When this setting is enabled, the system will exclude this Master Data Type field from displaying on the “Default Master Data” section on the user record."
                    >
                    </toggle-panel>
                </div>

                <div class="mb-24">
                    <toggle-panel 
                        formControlName="track_owner"
                        name="Track Owner"
                        description="When enabled, the system will allow the user to define Master Data Owner on each Master Data Record."
                    >
                    </toggle-panel>
                </div>

                <div *ngIf="masterForm?.controls?.track_owner?.value" class="mb-24">
                    <toggle-panel 
                        formControlName="require_owner"
                        name="Require Owner"
                        description="When enabled, the system will require that an Owner be selected on each Master Data record.  The Master Data Owner can then be used on approval workflows and in reporting."
                    >
                    </toggle-panel>
                </div>

                <div class="mb-24">
                    <toggle-panel 
                        formControlName="financial_master_data_type"
                        name="Financial Master Data Type"
                        description="This flag identifies whether or not this Master Data Type is considered financial in nature. MDTs identified as financial will then be taken into account during assignment updates for timesheet automated reprocessing."
                    >
                    </toggle-panel>
                </div>

                <h4 class="font-weight-medium my-16">{{ 'module_grouping' | i18next }}</h4>

                <div class="select-panel mb-24 d-flex align-items-center justify-content-between rounded-sm">
                    <div class="p-24">
                        <p class="panel-title">{{ 'contingent' | i18next }}</p>
                        <div *ngIf="(masterForm?.value?.module_jobs !== 'OFF')" class="d-flex align-items-center">
                            <toggle-button class="c-toggle-button-switch"
                                [checked]="allowMultipleJobs"
                                (changed)="(allowMultipleJobs = $event)">
                            </toggle-button>
                            <label class="m-12"> {{ 'allow_multiple_values' | i18next }} </label>
                            <div class="cursor-pointer">
                                <icon name="help" size="14px" color="grey" type="material" cuClass="d-flex" placement="right"
                                    tooltip="When “Allow Multiple Values” enabled, system should provide provision to select multiple Master Data values in Job module">
                                </icon>
                            </div>
                        </div>
                    </div>
                    <div class="py-24 pr-24">
                        <ng-select class="mw-136" (change)="disableMultipleToggle('module_jobs', $event)" formControlName="module_jobs" [clearable]="false">
                            <ng-option [value]="entry"
                                *ngFor="let entry of moduleOptions;">
                                {{ entry | titlecase | i18next }}
                            </ng-option>
                        </ng-select>
                    </div>       
                </div>

                <div class="select-panel mb-24 d-flex align-items-center justify-content-between rounded-sm">
                    <div class="p-24">
                        <p class="panel-title">{{ 'services_procurement' | i18next }}</p>
                        <div *ngIf="(masterForm?.value?.module_sow !== 'OFF')" class="d-flex align-items-center">
                            <toggle-button class="c-toggle-button-switch"
                                [checked]="allowMultipleSOWs"
                                (changed)="(allowMultipleSOWs = $event)">
                            </toggle-button>
                            <label class="m-12"> {{ 'allow_multiple_values' | i18next }} </label>
                            <div class="cursor-pointer">
                                <icon name="help" size="14px" color="grey" type="material" cuClass="d-flex" placement="right"
                                    tooltip="When “Allow Multiple Values” enabled, system should provide provision to select multiple Master Data values in SOW module">
                                </icon>
                            </div>
                        </div>
                    </div>
                    <div class="py-24 pr-24">
                        <ng-select class="mw-136" (change)="disableMultipleToggle('module_sow', $event)" formControlName="module_sow" [clearable]="false">
                            <ng-option [value]="entry"
                                *ngFor="let entry of moduleOptions;">
                                {{ entry | titlecase | i18next }}
                            </ng-option>
                        </ng-select>
                    </div>       
                </div>
                
                <h4 class="font-weight-medium my-16"> {{ 'associations' | i18next }} </h4>
                <div class="c-form-group-row">
                    <div class="c-form-group">
                        <label>{{ "master_data_type" | i18next }}</label>
                        <custom-ng-selector 
                            name="master_data" 
                            [loading]="masterDataTypeLoading || false"
                            [items]="allowedMasterDataTypes" 
                            [selected]="masterForm.get('master_data')?.value || []"
                            [placeholder]="'select_values'|i18next" 
                            (onChanged)="selectedValues('master_data', $event)"
                            (searchTerm)="searchTerm('master_data', $event)"
                            (scrollToEnd)="scrolledToEnd('master_data', $event)"
                        ></custom-ng-selector>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
