@import '../../../../../../assets/sass/self-config/base/variables.scss';
:host {
    .select-panel {
        border: 1px solid colors(gray, 3);
    }
    
    .panel-title {
        color: colors(primary, 8);
    }
    
    .mw-136 {
        min-width: 136px;
    }

    .c-toggle-button-switch {
        height: inherit;
    }
}
