@import '../../../../assets/sass/abstracts/variables';

.checkbox-panel {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 48px 0px;
    justify-content: space-between;
  }
  
  .toggle-panel {
    width: 32.5%;

    &-inner {
      padding: $p8 $p12;
      font-size: $font-primary;
      font-weight: $font-weight-regular;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: $m12;
      padding: $p4 $p8;  
      border: 1px solid $border-color;
      border-radius: $border-radius;
    }
    .toggle-panel-inner .toggle-switch {
      min-width: 27px !important;
  }
}

label {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}


.configuration {
  .toggles {
    .toggle-panel {
      width: 40%;
      margin-left: 8px;
    }
  }

  .rate-model {
    label {
      font-size: 14px;
      color: #2B2D42;
      font-weight: 500;
    }

    div {
      .radio {
        display: flex;
        margin-inline: 15px;

        label {
          font-weight: normal;
        }

        input {
          margin: 2px 10px 0 !important;
        }
      }
    }
  }

  .date-format {
    label {
      font-size: 14px;
      color: #5F6D89;
      font-weight: 500;
    }

    .toggle-panel  {
      margin-top: $m24;
      width: 100%;
    }
  }
}

.if-inactive {
  .toggle-switch {
    opacity: 0.5;
  }
}

.bottom-4 {
  position: relative;
  bottom: 4px;
}