@import '../../../../../../assets/sass/self-config/base/variables.scss';
.is-invalid{
    border-color: #dc3545 !important;
}

.create-new-fee {
    .date-picker {
        max-width: 309px;
    }

    .config-item {
        border-top: 1px solid colors(gray, 1);
        padding: $p16 $p24;

        p {
            &.blue-color {
                color: colors(primary, 6);
            }
        }

        .toggle-panel {
            width: auto;
          
            .toggle-panel-inner {
              border: 0;
              background-color: transparent;
              padding: 0;
              height: 20px;
            }
          }
    }

    .detail-page-table {
        background-color: $surfacing-in-white;
        border-top: 1px solid colors(gray, 1);

        thead {
            th {
                padding-left: $p24;
            }
        }

        tbody {
            td {
                padding-left: $p24;
            }
        }
    }
}
