.generic-list-page {
    &.doc-list {
        ::ng-deep {
            .c-listing-header {
               top: 50px;
            }

            .c-listing-table-wrapper {
                &.search-disabled {
                    margin-top: 92px;
                    padding-bottom: 56px;
                }
            }

            .c-listing-footer {

            }
        }
    }
}
::ng-deep {
  .btn-secondary{
    display: none;
  }
}
::ng-deep {
    .page-container {
        &.mini-sidebar{
            .generic-list-page {
                &.doc-list{
                    .c-listing-header, .c-listing-footer {
                        left: 265px;
                        width: calc(100vw - 265px);
                    }
                }
            }
        }
        .generic-list-page {
          &.doc-list {

            .c-listing-header,
            .c-listing-footer {
              left: 427px;
              width: calc(100% - 427px);
            }
          }
        }
    }
}
