@import '../../../../assets/sass/abstracts/variables';

h4 {
  line-height: 20px;
  border-bottom: 1px solid $border-color;
  line-height: 50px;
}

.close-notify {
  position: absolute;
  top: 15px;
  right: 15px;
  color: $color-assets-secondary;

  i {
    font-size: 16px;
  }
}

.program-search {
  border-bottom: 1px solid $color-border-secondary;
  padding: $p16 54px;
  position: relative;

  input {
    border: 0;
    background-color: $light;
    width: 100%;
    outline: 0;
  }

  .search-icon {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
  }

  .clear-search {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    // display: none;
  }

  &:focus {
    input {
      color: #001A43;
      font-weight: $font-weight-medium;
    }

    ~ .clear-search {
      display: block;
    }
  }
}

.program-items {
  padding: 10px;
  transition: $transition;
  cursor: pointer;

  figure {
    background-color: #5B96FF;
    border-radius: $border-radius;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: $light;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      object-fit: cover;
    }
  }
  .assigment-title{
    line-height: 20px;
    p{
        color: #001A43;
        font-weight: $font-weight-medium;
        font-size: 13px;
        white-space: nowrap;
        width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    span{
        font-size: 12px;
        color: #5B6874;
        i{
            color: $color-orange;
            font-size: 16px;
        }

    }
}

  p {
    line-height: 18px;
  }

  icon {
    ::ng-deep i {
      color: #E8E4E4;
    }

    &.default {
      ::ng-deep i {
        color: #C5A000;
      }
    }
  }

  &:hover, &.active-program {
    background-color: #EDF2FE;
  }
}



.search-when-expand {
  width: 360px;
  .filter-search {
      position: absolute;
      height: 30px;
      width: 350px;
      right: 5px;
      top: 2px;
      .search-input {
          width: 100%;
          height: 29px;
          &.no-radius {
              border-radius: 0;
          }
      }
      table-icon {
          position: absolute;
          top: 7px;
          right: 8px;
          color: $text-secondary;
      }
       ::-webkit-input-placeholder {
          color: inherit;
          font-size: inherit;
      }
       :-ms-input-placeholder {
          color: inherit;
          font-size: inherit;
      }
       ::placeholder {
          color: inherit;
          font-size: inherit;
      }
  }
}

