@import '../../../../assets/sass/abstracts/variables';

.scroll-wrapper {
    max-height: calc(100vh - 130px);
    overflow: auto;
}
.offer-accept .form-group label{
  font-size: 12px;
  color: #919191;
}
.field-with-unit {
    input {
        padding-right: 50px;
    }

    span {
        position: absolute;
        top: 1px;
        right: 0;
        bottom: 1px;
        background-color: #FAF8FF;
        border-left: 1px solid #EBEEF3;
        color: #000000;
        width: 43px;
        line-height: 41px;
        text-align: center;
    }
}

.remove-type-icon {
    margin-top: 32px;
    cursor: pointer;
}

.add-new {
    width: 100%;
    margin-bottom: $m24;
    background-color: #F9F9FF;
    border: 1px dashed #5E71FE5F;
    border-radius: $border-radius;
    font-size: 12px;
    color: $color-assets-primary;
    font-weight: $font-weight-regular;

    icon {
        ::ng-deep i {
            color: $color-assets-primary;
        }
    }
}
