@import '../../../../assets/sass/abstracts/variables';

.fixed-footer {
    left: 50%;
    bottom: 0;
    width: 947px;
    transform: translateX(-50%);
    margin-left: $m32;
    overflow: hidden;

    button {
        float: right;
        min-width: 120px;
    }
}

.component-box-shadow {
    box-shadow: 0px 7px 16px #0000000B;

    ::ng-deep .level-listing {
        margin-left: 0;
        margin-right: 0;
    }
}

.toggle-max-width {
    max-width: 147px;
}

.card {

    &.bottom-padding {
        padding-bottom: 125px !important;
    }
}

.program-user-cf {
    background: #E7E9F8 !important;
    color: $color-light-blue !important;
}