@import '../../../../assets/sass/abstracts/variables';

.checkbox-panel {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 48px 0px;
    justify-content: space-between;
  }
  
  .toggle-panel {
    width: 32.5%;

    &-inner {
      padding: $p8 $p12;
      font-size: $font-primary;
      font-weight: $font-weight-regular;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: $m12;
      padding: $p4 $p8;  
      border: 1px solid $border-color;
      border-radius: $border-radius;
    }
    .toggle-panel-inner .toggle-switch {
      min-width: 27px !important;
  }
}

.if-inactive {
  .toggle-switch {
    opacity: 0.5;
  }
}