@import '../../../../../../../../assets/sass/abstracts/variables';
.interview-type {
    margin-top: $m4;
    background-color: #5E71FE2F;
    border-radius: 11px;
    padding: 2px $p12;
    color: #5E71FE;
    font-size: 12px;
    icon {
        vertical-align: middle;
    }
}

.note-color {
    color: $color-assets-primary;
}

.dropdown-box-wrapper {
    background-color: $light;
    width: 250px;
    border-radius: 4px;
    box-shadow: 0px 11px 16px #0000000f;
    z-index: 7;
    position: absolute;
    top: 45px;
    right: 0;
    &:before {
      background: $light;
      border: 1px solid $color-gray-30;
      width: 10px;
      height: 10px;
      content: ".";
      text-indent: -9999px;
      overflow: hidden;
      display: block;
      visibility: visible;
      position: absolute;
      top: -7px;
      right: 30px;
      z-index: 1;
      transform: rotate(45deg);
    }
    &:after {
      background: $light;
      width: 13px;
      height: 1px;
      content: ".";
      text-indent: -9999px;
      overflow: hidden;
      display: block;
      visibility: visible;
      position: absolute;
      top: 0px;
      right: 30px;
      z-index: 2;
    }
    ul {
      list-style-type: none;
      border: 1px solid $color-gray-30;
      border-radius: $border-radius;
      overflow: hidden;
      position: relative;
      z-index: 2;
      background: $light;
      transition: $transition;
      li {
        border-top: 1px solid $color-gray-30;
        a {
          line-height: 46px;
          padding-left: $p16;
          padding-right: $p16;
          color: $color-gray-70;
          transition: $transition;
          white-space: nowrap;
          display: block;
          table-icon {
            float: left;
            margin: $m12 $m12 0 0;
          }
          &:hover {
            text-decoration: none;
            background: $color-gray-5;
          }
        }

        &:first-child {
          border-top: 0;
        }

        &.red-color {
          a {
            color: $color-red-90;
          }
        }
      }
    }

    &.active {
      opacity: 1;
      visibility: visible;
      &.flip {
        transform: translateY(-118%);
        &:before {
          background: $light;
          border: 1px solid $color-gray-30;
          width: 10px;
          height: 10px;
          content: ".";
          text-indent: -9999px;
          overflow: hidden;
          display: block;
          visibility: visible;
          position: absolute;
          bottom: -6px;
          top: auto;
          right: 30px;
          z-index: 1;
          transform: rotate(45deg);
        }
      }
    }
    .red-color {
      a {
          color: $color-red-90;
      }
  }
  }

.interview-detail-view {
    button {
        &.color-green {
            background-color: #26CC39;
            border-color: #26CC39;
            font-weight: 400;
            icon {
                 ::ng-deep i {
                    color: $light;
                }
            }
        }
        &.download {
            font-weight: 400;
        }
        &.more-btn {
            icon {
                 ::ng-deep i {
                    vertical-align: middle;
                }
            }
        }
        &.bookmark-button {
            border: 0;
            background-color: transparent;
            margin-left: $m16;
            cursor: pointer;
        }
    }
    .header-section {
        background-color: #FCFAFF;
    }
    .text-muted {
        color: $color-gray-70;
    }
    .grid-panel {
        background-color: white;
        border: 1px solid $color-gray-20;
        border-radius: 4px;
        p {
            margin-bottom: 0px;
        }
        a {
            color: #5f70f5;
        }
    }
    .initials-profile {
        border-radius: 100%;
        overflow: hidden;
    }
    .attandees {
        list-style-type: none;
        margin-top: $m4;
        li {
            display: inline-block;
            position: relative;
            line-height: 24px;
            background-color: $color-blue;
            border: 1px solid $light;
            text-align: center;
            color: $light;
            border-radius: $rounded-circle;
            overflow: hidden;
            width: 24px;
            height: 24px;
            font-size: 12px;
            &:nth-child(2) {
                left: -9px;
                z-index: 2;
            }
            &:nth-child(3) {
                left: -15px;
                z-index: 3;
            }
        }
    }
    .other-attandees {
        vertical-align: top;
        margin-top: $m4;
    }

    .interview-feedback{
        background-color: #FAFCFF;
        border: 1px solid #E3E9F0;
        border-radius: $border-radius;
        .interview-feedback-content{
            p{
                font-size: 13px;
                &.label{
                    color: #0F2E4E;
                }
            }
        }
    }
    .stars {
        pointer-events: none;
    }
}

.instruction {
    border: 1px solid #FCE6FF;
    border-radius: $border-radius;
    .trigger {
        cursor: pointer;
        p {
            flex-basis: 89%;
        }
    }
}

h4 {
    color: $text-black;
    font-weight: $font-weight-medium;
    icon {
        vertical-align: middle;
         ::ng-deep i {
            line-height: 24px;
        }
    }
}

.Scheduled-header {
    .first {
        flex-basis: 40%;
    }
    .second {
        flex-basis: 40%;
    }
    .third {
        flex-basis: 20%;
    }
}

.labels {
    color: $color-body-txt-secondary;
    font-size: 13px;
}

.max-width-set {
    max-width: 498px;
    overflow: hidden;
}
.max-width-set-title {
    max-width: 374px;
}
.acceptedmessage {
    background: #50d450;
    margin: -10px;
    margin-bottom: 13px;
    padding: 7px;
    border-radius: 0px 0px 4px 4px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.Scheduled-body {
    border: 1px solid $color-gray-30;
    border-radius: $border-radius;
    &.disabled {
        opacity: .5;
    }
    .date-thumb {
        background-color: $color-assets-primary;
        border-radius: $border-radius;
        width: 30px;
        line-height: 30px;
        color: $light;
        color: #FFFFFF;
        text-align: center;
        margin-right: 16px;
        height: 28px;
        width: 28px;
        line-height: 20px;
        &.schedule-rejected{
            background-color: #E3E9F0;
            color: #84919F;
        }
    }
    // .date {
    //   flex-basis: 31%;
    // }
    .time {
        flex-basis: 44%;
    }
    .status-icon {
        flex-basis: 20px;
        height: 20px;
        width: 20px;
        text-align: center;
        border-radius: $rounded-circle;
        icon {
             ::ng-deep i {
                color: $color-red-80;
            }
        }
    }
    &.active {
        border-color: #50d45036;
        background-color: #50d45012;
        .date-thumb {
            background-color: #2DD36F;
        }
        .status-icon {
            border-color: #2DD36F;
            background-color: #2DD36F;
            icon {
                 ::ng-deep i {
                    color: $light;
                }
            }
        }
    }
}

.interview-type {
    .no-item {
        background-color: #FAFBFC;
        border: 1px solid $color-border-secondary;
        height: 40px;
        margin-top: 25px;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
    .type {
        flex-basis: 46%;
    }
}

.dates-header {
    p {
        &.first {
            flex-basis: 42%;
        }
        &.second {
            flex-basis: 58%;
        }
    }
}

.dates-bodywrapper {
    .dates-loop {
        background-color: $color-gray-1;
        padding: $p12;
        margin-bottom: $m8;
        .form-group-row {
            .form-group {
                &:first-child {
                    flex-basis: 75%;
                }
            }
        }
        .addslot {
            display: none;
            margin-top: 7px
        }
        .deleteslot {
            margin-top: 7px;
            display: block;
        }
        &:first-child {
            .addslot {
                display: block;
            }
            .deleteslot {
                display: none;
            }
        }
         ::ng-deep .datepicker-inline {
            top: 42px;
        }
    }
}

.radio-container {
    padding-left: 24px;
    margin-top: 3px;
    .checkmark {
        background-color: #ffffff;
        border: 2px solid $color-assets-primary;
        height: 18px;
        width: 18px;
        &:after {
            top: 1px;
            left: 1px;
            color: $color-assets-primary;
            font-size: 12px;
        }
    }
}

.w-60 {
    width: 60%;
}

.row-container {
    margin-left: 10px;
    margin-right: 10px;
}

.additionalattend, .int-list {
    clear: both;

    .fixed-width {
        a {
            color: $color-link;
        }
    }
    .item-first {
         p {
            background-color: #e1e5ff;
            border-radius: $border-radius;
            padding: 3px $p8;
            margin-right: $m8;
            display: inline-block;
        }
    }
 
    .pop-over {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        width: 250px;
        padding: $p12;
        z-index: 10;
        background-color: #191818;
        border-radius: $border-radius;
        color: $light;
        opacity: 0;
        visibility: hidden;

        p {
            color: $light;
        }
      
        Ul {
            list-style-type: none;
            margin: 0;
            float: none;

            li {
                float: none;
                width: auto;
                height: auto;
                border: 0;
                margin: 0;
                border-radius: inherit;
                color: #e7e7e8;
                font-size: 12px;
            }
        }

        &:before {
            position: absolute;
            top: 50%;
            left: -10px;
            z-index: 10;
            border-right: 12px solid #191818;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            content: '.';
            text-indent: -9999px;
            overflow: hidden;
            display: block;
            width: 4px;
            height: 1px;
            transform: translateY(-50%);
        }

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
}

.int-list {
    clear: both;
}

.text-transform-none {
    text-transform: none !important;
}
.shedule-tab-content {
    border-radius: $border-radius;
    min-height: 98%;
    nav {
        background-color: #ffffff;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        border-bottom: 1px solid #ececec;
        ul {
            list-style-type: none;
            padding: 0 $p12;
            li {
                display: inline-block;
                a {
                    line-height: 56px;
                    display: block;
                    padding: 0 $p12;
                    color: #222428;
                    transition: $transition;
                    position: relative;
                    icon {
                         ::ng-deep i {
                            color: #222428;
                            vertical-align: middle;
                        }
                    }
                    &:hover {
                        color: $color-assets-primary;
                        icon {
                             ::ng-deep i {
                                color: $color-assets-primary;
                            }
                        }
                    }
                    &.active {
                        color: $color-assets-primary;
                        icon {
                             ::ng-deep i {
                                color: $color-assets-primary;
                            }
                        }
                        &:before {
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: $color-assets-primary;
                            height: 3px;
                            content: '.';
                            text-indent: -9999px;
                            overflow: hidden;
                            display: block;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

.content-details{
    .prapose-new-date{
        .available-date-box {
            .values {
              p {
                &:first-child {
                  color: #001A43;
                }
              }
            }
          
            .item-actions {
              icon {
                ::ng-deep i {
                  font-size: 16px;
                  color: $color-assets-primary;
                }
          
                &:nth-child(2) {
                  ::ng-deep i {
                    color: #FF0000;
                  }
                }
              }
            }
        }
        .add-time-slot {
            border: 1px dashed $color-assets-primary;
            border-radius: $border-radius;
            height: 40px;
            text-align: center;
            width: 100%;
            outline: none;
            cursor: pointer;
            background-color: $light;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            font-weight: $font-weight-medium;
            color: $color-assets-primary;
        }
          
        .add-time-slot-disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }
    .schedule-blocked{
        p {
            text-decoration: line-through;
        }
    }
}