<div class="d-flex no-data justify-content-center align-items-center">
  <div class="text-center">
    <img src="../../../../assets/images/wallet-rafiki.svg" alt="" />
    <p class="mt-8 font-weight-medium">{{ 'no_expense_added_yet' | i18nextEager }}</p>
    <button *ngIf="isDataLoaded" class="btn btn-primary small" (click)="addExpense($event)" [disabled]="accessRemoved">
      <icon class="icon--on-left" name="add" type="material" size="20px"></icon> {{ 'add' | i18nextEager }}
      {{ (expenseType?.value === ExpenseType.MiscExpense ? 'Misc. Expense' : 'General Expense') | i18nextEager }}
    </button>
  </div>
</div>
