@import '../../../../assets/sass/abstracts/variables';

.no-data {
    min-height: calc(100vh - 394px);

    div {
        button {
            margin: auto;

            icon {
                ::ng-deep i {
                    color: $light;
                }
            }
        }
    }
}