@import '../../../assets/sass/abstracts/variables';
:host ::ng-deep .svms-modal{
  .svms-modal-body{
    padding: 0 !important;
    margin-top: 79px;
    max-height: calc(100vh - 170px) !important;
  }
} 

.mtp-container {
  figure {
    width: 55px;
    height: 55px;
    border-radius: $border-radius;
    overflow: hidden;
    background-color:  #E3E5E8;

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      object-fit: cover;
    }
  }
  .mtp-section {
    &.mtp-section-header{
      top: 0;
      left: 0;
      figure{
        width: 62px;
        height: 62px;
      }
    }
    .mtp-details {
      .master-profile-tag {
        top: -13px;
        left: -17px;
        z-index: 1;
      }
      .mtp-name-section {
        .mtp-name {
          icon {
            color: #0044c5;
          }
        }
      }
    }
  }
  .nav-wrapper {
    position: fixed;
    width: 100%;
    top: 95px;
    z-index: 1;
    nav {
      border-bottom: 1px solid $color-border-secondary;
      ul {
        list-style-type: none;
        li {
          a {
            line-height: 40px;
            display: block;
            color: $color-dark;
            transition: $transition;
            &:hover {
              color: $color-assets-primary;
            }
            &.active {
              color: $color-assets-primary;
              border-bottom: 3px solid;
            }
          }
        }
      }
    }
  }
  .mtp-users-list {
    margin-top: 60px;
    .mtp-section {
      width: 312px;
      border-right: 1px solid  $color-border-secondary;
      position: fixed;
      height: calc(100vh - 230px);
      overflow: auto;
  
      .mtp-details {
        border-bottom: 1px solid $color-border-secondary;
        border-left: 4px solid $light;
        cursor: pointer;

        .mtp-picture {
          width: 55px;
          height: 55px;
          position: relative;
        }
        .mtp-name-section {
          .mtp-listing-name {
            p{
              color: #0F2E4E;
            }
          }
          .mtp-profile-details {
            p {
              color: #5b6874;
              span {
                color: #0f2e4e;
              }
            }
          }
        }

        &.is-active {
          border-left-color: $color-assets-primary;
          background-color: #edf2fe;

          .is-active-name {
            p{
              color: $color-assets-primary;
            }
          }
        }
      }
    }
    .profile-detail-section {
      width: calc(100% - 312px);
      margin-left: 312px;
      height: calc(100vh - 230px);
      overflow: auto;

      ::ng-deep {
        .profile-info {
          border-bottom: 1px solid $color-border-secondary;
          figure {
            width: 77px;
            height: 77px;
            border-radius: $border-radius !important;
          }

          .inner, .mtp-address{
            margin-left: 89px !important;
          }
        }

        .linked-profile {
          figure {
            width: 37px;
            height: 37px;
          }
        }
      }
    }
  }
}

.close-detail-box {
  top: 20px;
  right: 20px;
}


.mtp-container-no-linked {
  height: 80vh;
  .mtp-container-no-linked-cross-icon {
    justify-content: flex-end;
    margin: $m8 $m12;
    i {
      width: 40px;
      justify-content: flex-end;
    }
  }
  .mtp-container-no-linked-section {
    height: 100%;

    img {
      width: 98px;
      height: 135px;
    }

    button {
      color: #c50000;
    }
  }
}
