<svms-sidebar title="'Add New User' |i18next" [dataVisibility]="createUser" (onClose)="sidebarClose()">
    <svms-sidebar-body>
        <div class="p-24">
            <div class="form-group">
                <label> {{ 'select_user_to_add_to_program' | i18next }} </label>
                <ng-select placeholder="Select">
                    <ng-option>{{ 'custom_1' | i18next }}</ng-option>
                    <ng-option>{{ 'custom_1' | i18next }}</ng-option>
                </ng-select>
            </div>

            <div class="panel panel-light">

                <div class="panel-content pt-24">
                    <div class="d-flex align-items-center justify-content-between mb-24">
                        <div class="d-flex align-items-center">
                            <div class="user-logo"><img src="assets/images/5.jpg" class="img-fluid rounded-sm"></div>

                            <div class="d-flex flex-column justify-content-center ml-8 company-details">
                                <span class="text-gray mb-8">{{ 'vendor' | i18next }}</span>
                                <span class="text-gray mb-8">{{ 'recruiter' | i18next }}</span>
                                <span class="d-flex justify-content-center align-items-center">
                                    <icon size="18px" class="d-flex mr-4 text-red" name="mail" type="material" cuClass="icon-cu">
                                    </icon> <span class="d-flex">{{ 'jasonmain@gmail.com' | i18next }}</span>

                                    <icon size="18px" class="d-flex mr-4 text-success ml-16" name="phone" type="material" cuClass="icon-cu">
                                    </icon> <span class="d-flex">0123-456-789</span>
                                </span>
                            </div>
                        </div>
                        <div>
                            <div class="toggle-disable">
                                <div class="toggle-panel-inner">
                                    <span class="toggle-switch" [ngClass]="is_active ? 'toggle-on' : 'toggle-off'" (click)="is_active = !is_active"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{ 'super_visor' | i18next }}</label>
                        <p>
                            <span class="initials initials__pink"> {{ 'mh' | i18next }}</span>
                            <a href="javascript:void(0)" class="font-weight-medium"> {{ 'mehadi_hussain' | i18next }} </a>
                        </p>
                    </div>
                    <div class="form-group">
                        <label>{{ 'labor_category' | i18next }} ( {{ 'if_vendor' | i18next }} )</label>
                        <div class="d-flex align-items-center mb-16 flex-wrap">
                            <div class="badge badge-light mr-8 mb-8 rounded-sm d-flex align-i"><span>{{ 'custom' | i18next }} 1</span> <span class="ml-8">
                   <icon name="close" size="14px" type="material" cuClass="d-flex" class="d-flex"></icon>
                 </span></div>
                            <div class="badge badge-light mr-8 mb-8 rounded-sm d-flex align-i"><span>{{ 'custom' | i18next }} 1</span> <span class="ml-8">
                   <icon name="close" size="14px" type="material" cuClass="d-flex" class="d-flex"></icon>
                 </span></div>
                            <div class="badge badge-light mr-8 mb-8 rounded-sm d-flex align-i"><span>{{ 'custom' | i18next }} 1</span> <span class="ml-8">
                   <icon name="close" size="14px" type="material" cuClass="d-flex" class="d-flex"></icon>
                 </span></div>
                            <div class="badge badge-light mr-8 mb-8 rounded-sm d-flex align-i"><span>{{ 'custom' | i18next }} 1</span> <span class="ml-8">
                   <icon name="close" size="14px" type="material" cuClass="d-flex" class="d-flex"></icon>
                 </span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ 'region_handled' | i18next }} ( {{ 'location' | i18next }} )</label>
                        <div class="d-flex align-items-center mb-16 flex-wrap">
                            <div class="badge badge-light mr-8 mb-8 rounded-sm d-flex align-i"><span>{{ 'custom' | i18next }} 1</span> <span class="ml-8">
                   <icon name="close" size="14px" type="material" cuClass="d-flex" class="d-flex"></icon>
                 </span></div>
                            <div class="badge badge-light mr-8 mb-8 rounded-sm d-flex align-i"><span>{{ 'custom' | i18next }} 1</span> <span class="ml-8">
                   <icon name="close" size="14px" type="material" cuClass="d-flex" class="d-flex"></icon>
                 </span></div>
                            <div class="badge badge-light mr-8 mb-8 rounded-sm d-flex align-i"><span>{{ 'custom' | i18next }} 1</span> <span class="ml-8">
                   <icon name="close" size="14px" type="material" cuClass="d-flex" class="d-flex"></icon>
                 </span></div>
                            <div class="badge badge-light mr-8 mb-8 rounded-sm d-flex align-i"><span>{{ 'custom' | i18next }} 1</span> <span class="ml-8">
                   <icon name="close" size="14px" type="material" cuClass="d-flex" class="d-flex"></icon>
                 </span></div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    <div class="row mt-24">
                        <div class="col-md-10">
                            <ng-select placeholder="Select user role">
                                <ng-option>{{ 'custom' | i18next }} 1</ng-option>
                                <ng-option>{{ 'custom' | i18next }} 1</ng-option>
                            </ng-select>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary w-100"> {{ 'add' | i18next }} </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </svms-sidebar-body>

</svms-sidebar>
