@import '../../../../../assets/sass/abstracts/variables';
.print {
  width: 100%;
}

table {
  td{
    padding-left:0px !important;
    padding-top:12px;
    padding-bottom:12px;
  }
}

.print-table {
  margin-top:16px;
  white-space: pre-wrap;
      tbody {
        tr {
  
          td,
          th {
            text-align: left;
            white-space: nowrap;
          }
  
          th {
            font-weight: 500;
            color: $color-dark;
            padding-left:12px;
          }
        }
      }
    }