@import '../../../../assets/sass/abstracts/variables';


.program-manager {
  &-tab {
    display: flex;
  }


  &-table {
    font-weight: 500;
    width: 100%;

    thead {
      background-color: $bg-default;

      th {
        color: $text-secondary;
        border-bottom-width: 0px;
        padding: $p16;
      }
    }

    tbody {
      tr {
        &:not(:last-child) {
          border-bottom: 1px solid $border-color;
        }

        td {
          vertical-align: middle;
          padding-top: $p12;
          padding-bottom: $p12;
          border-color: $border-color;

          &:first-child {
            display: flex;
            align-items: center;
          }

          &:nth-of-type(2) {
            color: $color-assets-secondary-shade;
          }
        }
      }
    }

  }
}

.choose-role {
  width: 50%;
}

.select-tab {
  width: 100%;
}

.add-user {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left:0px;
}

.if-noUser {
  background-color: $color-gray-10;
  padding: $p16;
  margin-top: $m0;
  margin-bottom: $m16;
  display: flex;
  align-items: center;
  font-size: $font-primary;
  color: $text-secondary;

  &-icon {
    margin-right: $m12;
  }
}

.status-dropdown {
  width: 100px;
}


.invite-btn {
  position: absolute;
  top: 4px;
  right: 6px;
  z-index: 20;

}

.dropdown-user {
  width: 100%;
  max-height: 130px;
  background-color: $color-white;
  top: 42px;
  box-shadow: 0px 11px 16px #0000000F;
  border: 1px solid #E2E2E2;
  overflow-y: auto;
  z-index: 5;
}

.dropdwon-list{
  &:hover{
    background-color:$color-gray-30;
  }

}