@import '../../../../assets/sass/abstracts/variables';


.input-with-fixed-value {
  span {
      position: absolute;
      top: 1px;
      left: 1px;
      background: #FAFBFC;
      width: 52px;
      text-align: center;
      bottom: 1px;
      line-height: 40px;
      border-right: 1px solid $color-border-secondary;
  }
  .form-control {
      padding-left: $p64;
  }

  &.right-aligned {
      span {
          left: auto;
          right: 1px;
          border-left: 1px solid $color-border-secondary;
          border-right: 0;
      }
      .form-control {
          padding-left: 13px;
          padding-right: $p64;
      }
  }
}

.remove-type-icon {
  margin-top: 32px;
  cursor: pointer;
}

.add-new {
  width: 100%;
  margin-bottom: $m24;
  background-color: #F9F9FF;
  border: 1px dashed #5E71FE5F;
  border-radius: $border-radius;
  font-size: 12px;
  color: $color-assets-primary;
  font-weight: $font-weight-regular;

  icon {
      ::ng-deep i {
          color: $color-assets-primary;
      }
  }
}
