:host ::ng-deep {
    .svms-sidebar {

        width: 32% !important;
        box-shadow: none !important;

        .svms-header {
            background-color: #fff !important;
            color: #000000 !important;
            box-shadow: none !important;

            a {
                icon {
                    i {
                        color: #000 !important;
                    }
                }
            }
        }

        .svms-footer {
            padding-top: 12px !important;
            padding-bottom: 12px !important;
        }
    }

    .datepicker-main-wrapper {
        top: 56px !important;
        right: 56px !important;
    }

}

label {
    font-size: 14px;
    color: #222428;
    margin-bottom: 8px;
    display: block;
}

.highlight {
    position: relative;
    bottom: 24px;
}