*::ng-deep {
    .regular-table {
        vms-row:nth-child(2) {
            td {
                span {
                    color: #376CC7;
                    cursor: pointer;
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    
        vms-row:nth-child(3) {
            td {
                display: flex;
                justify-content: center;
                align-items: center;
    
                span {
                    position: relative;
                    right: 80px;
                    background-color: #5050A2;
                    text-align: center;
                    border-radius: 12px;
                    color: white;
                    width: 32px;
                }
            }
        }
    }

    #view-dropdown {
        display: none !important;
    }
}