@import '../../../../assets/sass/abstracts/variables';

button:disabled {
  opacity: 0.5;
  cursor: no-drop;
}

.flow-items {
    p {
        flex: 2;
        color: #001A43;

        &:first-child {
            flex: 1;
            color: #5B6874;
        }
    }
}

.hierarchy-list {
    list-style-type: none;

    li {
        display: inline-block;
        background-color: #EDF2FE;
        border-radius: $border-radius;
        line-height: 32px;
        margin-top: 10px;
        padding: 0 8px;
        font-size: 13px;
        color: #001A43;
        margin-right: $m8;
    }
}

.info-box {
    border: 1px solid #E3E9F0;
    margin-top: 10px;
    .info-header {
        background-color: #FAFCFF;
        padding: $p16;
        font-weight: $font-weight-medium;
        font-size: 13px;
        color: #0044C5;
        border-bottom: 1px solid #E3E9F0;
    }

    .condition-display {
        border: 1px solid #E3E9F0;
        border-radius: 20px;
        padding: $p8 $p12;
        font-size: 12px;
        color: #5B6874;
        display: inline-block;
        margin: 10px;
    }

    span {
        color: #0089FF;
        font-weight: $font-weight-medium;
        text-transform: uppercase;
    }

    .recipient-box {
        background-color: #EDF2FE;
        border-radius: 20px;
        padding: $p8 $p12;
        color: #00338E;
        font-size: 12px;
        display: inline-block;
    }
}

.flow-back {
    cursor: pointer;
}

.edit-link {
    color: $color-link;
    font-weight: $font-weight-medium;

    icon {
        vertical-align: middle;
        margin-right: $m4;

        ::ng-deep i {
            color: $color-link;
        }
    }
}

.initial-condition {
  border: 1px solid #E3E9F0;
  border-radius: $border-radius;
  background-color: #FAFCFF;
  padding-bottom: 8px;

  .condition-title {
    background-color: #FAFCFF;
    padding: $p16;
    border-bottom: 1px solid #E3E9F0;

    .title-text {
      color: #0044C5;
    }

    .condition-title-box {
      min-width: 0;
    }
  }

  .condition-body {
    background-color: $light;
    border-bottom: 1px solid #E3E9F0;
  }

  .initial-paragraph {
    span {
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 90%;

      &.full-text {
        white-space :initial;
        display: inline;
      }
    }

    a {
      color: #00338E;
      vertical-align: top;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.warning-info-box{
  background-color:#EDF2FE;
  border-radius: $border-radius;
  p{
    color: #0044C5;
    font-size: 14px !important;
    i{
      font-size: 18px;
    }
  }
  ul{
    padding: 0 $p24 0 50px;
    li{
      color: #0044C5;
      line-height: 16px;
    }
  }
  .ratecard-information-close-icon{
    font-size: 12px;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #0044C5;
  }
}

.width70{
  width: 70px;
}
.add-record-popup{
  h4{
    color: #001A43;
  }
  .addRecordBtn{
    i{
      font-size: 12px;
    }
  }
}
.addRecordBtn{
  i{
    font-size: 12px;
  }
}
.table-view{
  .rule-table-overflow{
    width: 100%;

    .decision-table{
      thead{
        th{
          white-space: nowrap;
          border: 1px solid #E3E9F0;
          line-height: 18px;
          min-width: 140px;
          .rule-table-key{
            margin-bottom: 8px;
          }
          &:last-child{
            // background-color: $light;
            border-right: 0 ;
          }
          &:first-child{
            border-left: 0;
          }
        }
      }
      tbody{
        td{
          border: 1px solid #E3E9F0;
          min-width: 150px;
          &:first-child{
            border-left: 0;
          }
          &:last-child{
            border-right: 0 ;
            min-width: inherit;
          }
        }
      }
      .remove-record{
        font-size: 20px;
        color: #A3B0C0;
      }
    }
  }
  .table-view-footer{
    &.rule-builder-footer{
      width: 100% !important;
      border-top: 0;
    }
  }
  .edit-bg-gray{
    background-color: #FAFCFF !important;
  }

  &::-webkit-scrollbar {
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #828282;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1260px){
  .table-view{
    .table-heading{
      max-width: 30%;
    }
  }
}

.rule-field-label{
  text-transform: capitalize;
}


