@import '../../../assets/sass/abstracts/variables';

.total-result {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 200px;
    background: $light;
    border-top: 1px solid $color-gray-50;
    padding: $p16 $p24;
    color: $color-gray-90;
    line-height: 26px;
}