@import "../../../../../assets/sass/abstracts/variables";

.billable {
    margin-top: $m24;
    width: 100%;
  
    table {
      table-layout: auto;
      min-width: 100%;
      width: auto;
      thead {
        tr {
          th {
            font-size: 12px;
            text-transform: uppercase;
            white-space: nowrap;
            background-color: #f9f7ff;
            font-weight: $font-weight-medium;

            &.bolt-text {
              font-weight: $font-weight-bold;
            }

            &:first-child {
              border-right: 1px solid transparent;
            }
          }
        }
      }
  
      tbody {
        tr {
          border-bottom: 1px solid #f8f9fa;
          td {
            font-size: 13px;
            white-space: nowrap;
            text-align: center;

            &.bolt-text {
              font-weight: $font-weight-bold;
            }

            &:first-child {
              border-right: 1px solid transparent;
              font-weight: $font-weight-medium;
            }
          }
        }
      }

      &.fixed-table {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        pointer-events: none;
        min-width: 100%;
        width: auto;

        thead {
          tr {
            th {
              visibility: hidden;
              opacity: 0;

              &:first-child {
                visibility: visible;
                opacity: 1;
                text-align: left;
                border-right-color: #e9ecef;
                background-color: #f9f7ff;
              }
            }
          }
        }

        tbody {
          tr {
            td {
              visibility: hidden;
              opacity: 0;

              &:first-child {
                visibility: visible;
                opacity: 1;
                text-align: left;
                border-right-color: #e9ecef;
                background-color: $light;
              }
            }
          }
        }
      }
    }

    ::ng-deep {
      .ps__rail-x {
        z-index: 3;
        background-color: #fafafa !important;
        border-top: 1px solid #e8e8e8;
        box-shadow: 0px -1px 6px -6px #000000;

        .ps__thumb-x {
          height: 8px;
        }

        &:hover {
          .ps__thumb-x {
            height: 8px;
          }
        }
      }
    }
  }