@import '../../../assets/sass/abstracts/variables';

.user-preference-wrap {
  max-width: 1300px;
  margin: auto;
}

.wrapper {
  height: 800px; 
}

.preference-header {
  background-color: $light;
  border-radius: $border-radius;
  box-shadow: 0px 3px 12px #0000000B;

  .change-image {
    top: 13px;
    right: 13px;
    background-color: rgba(0, 0, 0, .43);
    line-height: 29px;
    color: $light;
    display: inline-block;
    transition: $transition;

    &:hover {
      background-color: rgba(0, 0, 0, .7);
    }
  }

  .delete-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 114px;
    height: 114px;
    background-color: #ffececad;
    border-radius: 100%;
    display: none;
    align-items: center;
    justify-content: center;
  }

  .header-img {
    padding-top: 133px;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #004cd0;
    background-image: url('../../../assets/images/mask-group-7.png');


    .user-avatar {
      width: 114px;
      height: 114px;
      border-radius: $rounded-circle;
      background-color: rgba(255, 255, 255, .54);
      top: 100px;
      left: 25px;
      padding: 9px;

      >div {
        background-color: #6A6AE2;
        width: 97px;
        height: 97px;
        border-radius: $rounded-circle;
        overflow: hidden;

        &:hover {
          .delete-image {
            display: flex !important;
          }
        }

        img {
          width: 100%;
          height: 100%;
          vertical-align: top;
          object-fit: cover;
        }

        .initials {
          line-height: 97px;
          text-align: center;
          display: block;
          width: 100%;
          font-size: 25px;
          text-transform: uppercase;
        }
      }

      .avatar-control {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $light;
        border-radius: $rounded-circle;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        box-shadow: 0px 3px 6px #00000029;
        transition: ease-in-out .1s;
        z-index: 5;

        icon {

          ::ng-deep i {
            color: $color-assets-primary;
            vertical-align: middle;
          }
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    h3 {
      margin-left: 157px;
      color: $light;
      text-shadow: 0px 1px 2px #0000005C;
    }
  }

  nav {
    position: relative;

    .edit-theme {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 22px;
      transition: $transition;

      icon {
        ::ng-deep i {
          color: $color-black;
        }
      }

      &:hover {
        icon {
          ::ng-deep i {
            color: $color-assets-primary;
          }
        }
      }
    }
  }

  ::ng-deep {
    .tab-menu {
      list-style-type: none;
      margin-left: 157px;
      margin-right: $m64;
      width: auto !important;
      height: 60px !important;
      border-bottom:0px solid transparent !important;
  
      ul {
        height: 100%;
  
        li {
          display: inline-block;
          line-height: 61px;
          margin-right: 40px;
          font-weight: $font-weight-medium;
  
          a {
            &:hover{
              background-color: transparent !important;
            }
            &.active {
              background-color: transparent !important;
            }
          }
        }
      }
    }
  
    .tab-panel {
      padding: 0px !important;
    }
  }
}

.cropping-avtar {
  background-color: rgba(#000, .8);
  width: 100%;
  height: 100vh;
  min-height: 700px;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  display: flex !important;

  &-image {
    width: 600px;
    height: 500px;
    background-color: $light;
    padding: $p16;
  }

  .image {
    overflow: hidden;
    width: 100%;
    height: 410px;

    img {
      width: 100%;
    }
  }

  .close_img_croper {
    position: absolute;
    cursor: pointer;
    top: -15px;
    right: -13px;
    color: #fff;
    background: black;
    border-radius: 50%;
  }

}

.form-wrapper {
  .form-control {
    &.password-field {
      padding-right: 3rem;
    }
  }

  ::ng-deep .showhide {
    position: absolute;
    top: 50%;
    right: 15px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
    line-height: 16px;
    z-index: 10;
    cursor: pointer;
  }
}