@import "../../../../../assets/sass/abstracts/variables";

.detail-page-wrapper {
  background-color: #f8f9fa;
  min-height: calc(100vh - 50px);

  .description-panel {
    max-width: 1600px;
    margin: auto;
  }
}

.vendor-bill {
  background-color: #f9f7ff;
}

:host ::ng-deep .listing-filter {
  margin-top: -114px !important;

  li {
    &:last-child {
      margin-right: 0 !important;
    }
  }
}

:host ::ng-deep .vendor-bill--filter {
  margin-top: -143px !important;
  .dropdown-menu-download {
    margin-top: -151px !important; 
  }
}

:host .tab-active {
  ::ng-deep {
    .listing-filter {
      margin-top: -146px !important;
    }

    .vendor-bill--filter {
      margin-top: -175px !important;
      .dropdown-menu-download {
        margin-top: -151px !important; 
      }
    }
  }
}

::ng-deep {
  .vendor-user-invoice-list {
    .listing-filter{
      margin-top: -110px !important;
    }
  }
}
:host ::ng-deep .dropdown-menu-download {
  margin-top: -115px !important;
}

.initials-blue {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4c7ff021;
  color: #4c7ff0;
  z-index: 2;
}

.table-bg1 {
  background-color: $color-white;
  min-height: 100px;

  &.no-min-height {
    min-height: auto;
  }

  thead {
    tr {
      th {
        transition: $transition;
        padding-right: 50px;
        height: 50px;

        .sort-icon {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.table-bg-inner {
  padding: 0px;
  border-radius: 4px;
  background: $color-white;
}

.m-12 {
  margin: 12px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-left: 24px;
  padding: 24px 0px;
}

:host ::ng-deep .table-bg {
  padding: 0px !important;
  min-height: 100px !important;
  margin-bottom: 24px;
}

:host ::ng-deep {
  .vendor-table {
    .content-area.ui-content-wrapper.bg-light {
      margin-top: -81px !important;
    }

    .table-bg-inner {
      box-shadow: none;

      .pagination-border {
        padding-left: 24px !important;
      }
    }

    .tabs {
      border-bottom: 1px solid transparent;
    }
  }
}

:host ::ng-deep {
  .vendor-tab {
    margin-top: -17px;

    // vms-header {
    //   display: none;
    // }

    .table-bg-inner {
      box-shadow: none;

      .content-area {
        .content-area-inner {
          padding-left: 0px !important;
          padding-right: 0px !important;
        }
      }

    }
    .listing-wrap .table-outer .table-overflow table th{
      background-color: white !important;
      border-bottom: 1px solid #e9ecef !important;
    }

    .vendor-tab-left {
      border-right: 1px solid $color-border-primary;

      ul {
        list-style-type: none;

        li {

          a {
            line-height: 24px;
            font-weight: $font-weight-medium;
            color: $color-black;
            display: block;
            padding: $p16;

            span {
              display: block;
              font-weight: $font-weight-regular;
              color: $color-gray;
              font-size: 12px;
            }
          }

          &.active {
            background-color: $color-gray-1;

            a {
              color: $color-assets-primary;

              span {
                color: $color-assets-primary;
              }
            }
          }
        }
      }
    }

    .vendor-bill-header {
      > div {
        flex-grow: 1;
      }

      .border-right {
        border-right: 1px solid $color-border-primary;
      }
    }

    .pagination-border {
      padding-left: $p12 !important;
    }

    .listing-wrap {
      .table-outer {
        .table-overflow {
          .ps__rail-x {
            position: absolute !important;
            left: 0 !important;
          }
        }
      }
    }
  }
}
