@import "../../../../assets/sass/abstracts/variables";

.notifications-view-form {
  textarea {
    &.form-control {
      height: unset !important;
    }
  }

  .disable {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .5;
  }

  .messageInput {
    width: 100%;
    height: 40px;
  }
}

::ng-deep .listing-wrap[_ngcontent-mdk-c140] {
  height: initial;
  margin-bottom: 1rem;
}

.members, .user-roles {
  z-index: 2000;


  .member-list, .role-list {
    list-style-type: none;

    li {
      background: #FAFBFC 0% 0% no-repeat padding-box;
      opacity: 1;
      height: 40px;

      .checkbox-container {
        flex-basis: 100%;
        margin-bottom: 0;
        padding-left: 0;

        .checked {
          background-color: $color-green;
          border-color: $color-green;
        }
      }


      .member-name {
        width: 100%;
        padding: 10px 0;
        text-align: left;
        letter-spacing: 0;
        color: #2B2D42;
        opacity: 1;
        border-bottom: 1px solid lightgray;
        display: block;
        font-size: 14px;
        font-weight: $font-weight-medium;
        line-height: 18px;
        padding-left: 38px;


        .text {
          color: $color-secondary;
        }

        icon {
          ::ng-deep i {
            vertical-align: middle;
            margin-right: 20px;
          }
        }
      }

      .checkmark {
        left: auto;
        right: 80px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: $rounded-circle;
        background-color: $color-gray-50;
        border-color: $color-gray-50;

        &:after {
          display: block;
        }
      }
    }
  }

}

.user-roles {
  position: relative;
  z-index: 2000;
  margin-top: 25px;
}

.containerRecipients {
  display: flex;

  div {
    &.userRole {
      width: 48%;
    }

    &.userRole > div {
      line-height: 60px;
    }

    &.type {
      width: 40%;
    }

    &.type > div {
      line-height: 60px;
    }

    &.status > div {
      line-height: 60px;
    }
  }

  .checkbox-box {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;
  }

  .checkbox-container input:checked ~ .checkmark {
    background: #2DD36F;
  }

  .checkbox-container .checkmark:after {
    content: "done";
    font-family: "Material Icons";
    position: absolute;
    display: block;
    font-size: 15px;
    top: -19px;
    left: 3px;
    width: 8px;
    height: 8px;
    color: $color-gray-50;
  }

  .checkbox-container input:checked ~ .checkmark:after {
    color: $light;
  }

  .checkbox-h {
    height: 50px;
  }
}

.toggle-reminder {
  margin-left: 71%;
  width: 200px;
}

.prefixLabel {
  margin-left: 10px;
}

.inputField {
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--color-border-secondary);
}

.checkboxReminder {
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: var(--color-body-txt-default);
}

.checkbox-container {
  flex-basis: 100%;
  margin-bottom: 0;
  padding-left: 0;

  input {
    &:checked {
      ~ .checkmark {
        background-color: $color-green;
        border-color: $color-green;
      }

      ~ .task-label {
        background-color: $color-gray-5;
      }
    }
  }
}

.toggleRestore {
  width: 20%;
  margin-bottom: 20px;
  height: 35px;
  padding-left: 5px;
}

.toggleRestoreMessage {
  width: 20%;
  height: 35px;
  margin-left: 30px;
  margin-top: 0px;
}

.daysInput {
  width: 30%;
  height: 40px;
  padding-left: 5px;
  outline: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid var(--color-border-secondary);
}

#newID {
  width: 226px;
  margin-left: -135px;
}

.bordered {
  border: 1px solid rgb(233, 227, 227);
}

.icon-row {
  height: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    height: 30px;
    width: 30px;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
}

.icon-round {
  height: 57px;
  width: 57px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid black;

  p {
    font-size: 40px;
    font-weight: normal;
    color: black;
    position: absolute;
    bottom: 0;
    left: 14px;
    bottom: 26%;
    z-index: 1;
    top: 13px;
  }
}
