<svms-sidebar-ng size="small" [title]="title" [dataVisibility]="rejectAndClose" (onClose)="sidebarClose()">
  <div class="pl-24 pr-24 pt-32 pb-32" [formGroup]="closeJobForm">
    <div class="form-group">
      <label>{{ label | i18next}} <span class="require">*</span></label>
      <ng-select [clearable]="false" placeholder="{{ 'select_reason' | i18next }}" [searchable]="false" formControlName="reason"
        [items]="reasonList" bindLabel="name"> </ng-select>
    </div>
    <div class="form-group">
      <label>
        {{ 'notes' | i18next }}
      </label>
      <textarea placeholder="Enter Notes" formControlName="notes" rows="7" class="form-control"></textarea>
    </div>
    <div class="form-group" *ngIf="action == 'close' && isValidStatus()">
      <div class="d-inline-block mr-16">
        <label class="d-flex mb-0 align-items-center">
          <input type="checkbox" formControlName="hidenotes" class="mr-4">
          {{ 'hide_notes_from_vendor' | i18next }}
        </label>
      </div>
    </div>

  </div>

  <svms-sidebar-footer-ng>
    <ng-container *accessControl>
    <button type="submit" [disabled]="!closeJobForm.valid || isBtnDisabled" class="btn btn-primary float-right"
      (click)="changeJobStatus()">
      <icon size="20px" name="check_circle" type="material" class="icon--on-left" cuClass="icon-cu"></icon>
      {{ btnLabel | i18next }}
    </button>
  </ng-container>
  </svms-sidebar-footer-ng>
</svms-sidebar-ng>
