@import '../../../../assets/sass/abstracts/variables';

:host {
    *::ng-deep {
        .ng-option {
            padding: 0px !important;
            padding-left: 6px !important;
        }
    }
}

.col-datepicker {
    ::ng-deep {
        .datepicker--imgdate {
            .form-control {
                height: 32px;
                padding: 9px 12px;
                font-size: 12px;
            }

            .datepicker--imagesize {
                width: 14px;
                top: 7px;
            }
        }
    }
}

.multi-select-filter {
    min-width: 240px;

    ::ng-deep {
        .ng-placeholder {
            left: 8px;
            right: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .custom-value-selected {
            position: absolute;
            top: 3px;
            font-size: 14px;
            left: 8px;
            right: 45px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        ng-dropdown-panel{
            .ng-option{
                .item-container{
                    input{
                        margin-top: 2px;
                    }
                    span{
                        line-height: 18px;
                    }
                }
            }
        }
    }

    .selected-items-count {
        line-height: 32px;
    }
}

::ng-deep {

    .filter-form-group {
        width: 100%;
        padding-top: 8px;

        *::ng-deep {

            .datepicker--imagesize {
                top: 7px !important;
            }

            .ng-placeholder {
                color: #acb9c5 !important;
                font-weight: 400;
            }

            .datepicker--imgdate > input {
                font-size: 13px;
                height: 32px !important;
            }

            .datepicker--imgdate>input[readonly] {
                background-color: #fafbfc !important;
            }

            .datepicker--cell.-selected- {
                background: var(--color-assets-primary) !important;
            }

            .datepicker-responsive .daterangepicker-wrapper {
                max-width: none !important;
            }
        }
    }
}


.input-clear-wrapper {
  position: relative;
}

// .clear-button {
//   position: absolute;
//   right: 8px;
//   top: 14px;
//   background: none;
//   color: #3b63a7e6;
//   border: none;
//   font-size: 1.4em;
//   font-weight: 700;
//   cursor: pointer;
// }


.clear-button-time {
  position: absolute;
  right: 33px;
  top: 22px;
  background: none;
  color: #3b63a7e6;
  border: none;
  font-size: 1.4em;
  font-weight: 700;
  cursor: pointer;
}
