.mr-4 {
  margin-right: 4px;
}

.disable {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .5;
}
.country-searchable {
  ::ng-deep .ng-select {
    .ng-select-container {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      width: 112px;
    }
  }
  .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
