@import "../../../../assets/sass/abstracts/_variables.scss";

.password-strength-wrapper {
margin-bottom:$m16;
border: 1px solid $border-color;
border-top: 0;
border-bottom-left-radius: $border-radius;
border-bottom-right-radius: $border-radius;
padding-left: $p16;
padding-right: $p16;
background: #FAFBFC;

.password-strength {
  
    ul {
      list-style-type: none;
      margin:$m0;
      position: relative;
      width: 100%;
  
      li {
        float: left;
        background: $border-color;
        width: 19%;
        height: 4px;
        margin-right: 2%;
        border-radius:$border-radius;
      }
  
      &:after {
        position:absolute;
        top: -5px;
        right: 0;
        font-size: 11px;
        visibility: visible;
        display: block;
        color: #5c5656;
      }
    }
  
    &.poor {
      ul {
        li {
          &:first-child {
            background: #D7E0E7 ;
          }
        }
  
        &:after {
          content: "Poor";
          color: #EB445A;
        }
      }
    }
  
    &.fair {
      ul {
        li {
          &:first-child {
            background: #EB445A;
          }
  
          &:nth-child(2) {
            background: #D7E0E7;
          }
        }
  
        &:after {
          content: "Fair";
          color: #FFC409;
        }
      }
    }
  
    &.good {
      ul {
        li {
          &:first-child {
            background: #EB445A;
          }
  
          &:nth-child(2) {
            background: #FFC409;
          }
  
          &:nth-child(3) {
            background: #D7E0E7;
          }
        }
  
        &:after {
          content: "Good";
          color:  #776DE0;
        }
      }
    }
  
    &.strong {
      ul {
        li {
          &:first-child {
            background: #EB445A;
          }
  
          &:nth-child(2) {
            background: #FFC409;
          }
  
          &:nth-child(3) {
            background: #776DE0;
          }
          &:last-child  {
            background: #D7E0E7;
          }
        }
  
        &:after {
          content: "Strong";
          color: #2DD36F;
        }
      }
    }
  }  
  .password-tips {
    margin: $m16 $m0;
   
  
    ul {
      list-style-type: none;
      margin: $m0;
      padding: $p0;
  
      li {
        position: relative;
        font-size: 13px;
        line-height: 27px;
        color: #332e2e;
        padding-left:$p32;
  
        &:before {
          position: absolute;
          top: 9px;
          left: 0;
          width: 10px;
          height: 10px;
          border-radius:50% !important;
          display: block;
          visibility: visible;
          border-radius: $border-color;
          background: $border-color;
          content: '.';
          text-indent: -9999px;
          overflow: hidden;
        }
  
        &.active {
          font-weight: $font-weight-semibold;
          color: $color-dark;
  
          &:before {
            background:#9BC629;
            
          }
        }
      }
    }
  }
}