<div class="password-strength-wrapper">
  <div class="password-strength mb-16">
    <div class="pt-16 password-strength {{passwordstrength | i18next}}">
      <ul class="position-relative">
        <li [style.background-color]="bar0"></li>
        <li [style.background-color]="bar1"></li>
        <li [style.background-color]="bar2"></li>
        <li [style.background-color]="bar3"></li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="password-tips">
    <ul>
      <li [ngClass]="{'disabletext':!passwordstrength1,'active':passwordstrength1}"><span class="font-weight-bold"
          i18n>{{ 'is_longer_than' | i18next }} 7
          {{ 'characters' | i18next }}</span> </li>
      <li [ngClass]="{'disabletext':!passwordstrength2,'active':passwordstrength2}"><span i18n>
        {{ 'must_contain_upper-case_and_lower-case_letters' | i18next }}</span></li>
      <li [ngClass]="{'disabletext':!passwordstrength3,'active':passwordstrength3}"><span i18n>
        {{ 'must_contain_numbers_and_symbols' | i18next }}</span></li>
      <li [ngClass]="{'disabletext':!passwordstrength4,'active':passwordstrength4}"><span i18n>
        {{ 'must_not_contain_the_word_password' | i18next }} </span></li>
    </ul>
  </div>
</div>
