
<div class="edit-rules-wrap">
    <a class="back-btn d-flex align-items-center" >
        <span class="wrap-inner-container" (click)="goToSettings()">
            <icon class="d-flex" cuclass="d-flex" size="24px" name="chevron_left" type="material" cuClass="d-flex"></icon>
            <span class="ml-4 mt-4"> {{'Back To Settings'}} </span>
        </span>
    </a>
</div>
<vms-table [loading]="dataLoading" [vmsTableConfig]="tableConfig" [vmsDataSource]="vmsData?.edit_rules"
[totalItem]="totalRecords" [itemsPerPage]="limit" [currentPage]="pageNo" (onDisableClicked)="changeStatus($event)"
(changePage)="onPaginationClick($event)" (changeRecords)="onClickRecords($event)" (onCreate)="onCreateClick($event)"
(onEditClick)="onEditClick($event)" (onViewClick)="onClickView($event)">
<!-- (search)="onSearch($event)" (onListFilter)="onListFilter($event)"
(columnClicked)="columnClicked($event)" 
> -->
</vms-table>