.edit-rules-wrap {
    max-width: 100%;
    padding-top: 1.8%;
    padding-left: 20px;
    background-color: #f8f9fa !important;
    .wrap-inner-container {
        max-width: fit-content;
        display: flex;
    }
}