@import '../../../../assets/sass/abstracts/variables';

.disable {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .5;
}
.initials_width {
  width: 74px;
  height: 74px;
  font-size: 20px;
}
.text-capitalize{ 
  text-transform:capitalize !important;
}

.sidebarContent {
  .sidebarContent {
    label {
      margin-left: 30px;
      margin-bottom: 20px;
    }

    ng-select {
      width: 90%;
      margin: 0 auto;
    }
  }

  .selectedUser {
    width: 90%;
    margin: 0 auto;

    p {
      margin: 0;
    }
    .user-info {
      display: flex;
      justify-content: space-between;
      font-family: IBM Plex Sans, Medium, sans-serif;

      .avatar {
        img {
          border-radius: 4px;
        }
      }

      .user-info-bio {
        display: inline-block;
        vertical-align: top;

        i {
          vertical-align: middle;
        }

        p {
          margin: 0 0 4px 0;
        }

        span {
          margin-right: 10px;
        }
      }

      .user-info-bio:first-child {
        font-size: 14px;
        color: var(--color-body-txt-secondary);
      }

      .toggle-panel {
        width: 20%;

        .toggle-panel-inner .toggle-switch.toggle-on {
          background: $color-assets-primary 0% 0% no-repeat padding-box;
        }
      }
    }

    .super-visor {
      margin: 42px 0px 0px 0px;

      .super-visor-title {
        text-align: left;
        font: normal normal normal 14px/24px IBM Plex Sans;
        letter-spacing: 0px;
        color: var(--color-body-txt-secondary);
        opacity: 1;
      }

      .super-visor-info {
        display: flex;

        img {
          border-radius: 50%;
          opacity: 1;
          margin-right: 11px;
        }
      }
    }

    .labor-category {
      margin: 24px 0px 0px 0px;
    }

    .region-handled {
      margin: 32px 0px 0px 0px;
    }

    .add-role {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;

      ng-select {
        width: 80%;
      }

      button {
        width: 111px;
        background: $color-assets-primary 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
        letter-spacing: 0px;
        color: $color-white;
      }
    }


  }
}
