@import '../../../../assets/sass/abstracts/variables';
@import '../../../../assets/sass/abstracts/mixins';

.panel-head {
  @include display-flex(row, space-between);
}

.text-blue-color {
  color: #5261FF;
}

.edit-text {
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  color: #343A40;
  opacity: 1;
  max-width: calc(100% - 70px);
  &-marged {
    margin: 20px 0 0 20px;
  }
}

.red-text {
  color: #EA3D3D;
}

.blue-text {
  color: #147AD6;
}

.full-size {
  width: 100%;
  height: 100%;
}

.undo {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  top: calc(50% - 15px);
  right: calc(50% - 32px);
  color: #776DE0;
  width: 65px;
  height: 30px;
  font-size: 25px;
  border-radius: 50px;
  transform-origin: calc(-50% - 15px) calc(-50% - 32px);
  transition: 1s ease-in-out;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #776DE0;
  &-item {
    position: absolute;
    top: 3px;
    left: 5px;
  }
  &-text {
    font-size: 11px;
    position: absolute;
    top: 8px;
    right: 5px;
  }
}

.widget-wrapper {
  position: relative;
  background: $color-white;
  box-shadow: 0px 3px 13px #0000000B;
}

.edit-widget {
  border: 1px dashed #B2A6F8 !important;
  &-opacity {
    opacity: 0.1;
  }
}

.edit-widget:hover {
  background: #F5FFF4 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 13px #0000000B;
  border: 1px dashed #74CC60 !important;
  transition: 1s;
}

.edit-tools {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  span {
    margin-right: 10px;
  }
  cursor: pointer;
}

.move-icon {
  display: block;
  position: absolute;
  top: calc(50% - 20px);
  right: calc(50% - 20px);
  background: #646369;
  color: white;
  width: 40px;
  height: 40px;
  font-size: 40px;
  border-radius: 50px;
  // transform-origin: calc(-50% - 10px) calc(-50% - 20px);
  transform: rotate(45deg);
  transition: 1s ease-in-out;
  cursor: pointer;
}

.grade-triangle {
  display: block;
  width: 0px;
  height:0px;
  border-bottom: 35px solid #26CC39;
  border-left: 35px solid transparent;
  bottom: 0;
  right: 0;
  position: absolute;
  color: green;
  cursor: pointer;
  span {
    position: absolute;
    right: 0px;
    top: 15px;
    color: white;
    transform: rotateY(180deg) rotate(45deg);
  }
}

.widget-hover {
  display: none;
  transition: 1s ease-in-out;
}

.widget-hover:hover {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
}

.widget-hover-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
    
.widget-body:hover {
  &+ .widget-hover {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
  }
}

.display-deleted {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.chart-type-settings {
  position: absolute;
  top: 50px;
  right: 20px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000D;
  border: 1px solid #EBEEF3;
  border-radius: 5px;
  z-index: 2;
  cursor: pointer;
  padding: 10px 5px;

  .chart-icon {
    margin: 0 10px;
    color: #ADB5BD;
    &-selected {
      color: white;
      background: $color-light-blue;
      border-radius: 5px;
    }
  }
}

.chart-header {
  width: calc(100% - 30px);
}

.pointer {
  cursor: pointer;
}
