@import '../../../../../assets/sass/abstracts/variables';

.font-14 {
    font-size: 14px;
}

.config-form-wrapper {
    margin: auto 50px;
}

.expense-toggles {
    width: 72%;
}

.expense-form-label {
    color: $color-body-txt-secondary;
}

.assignment-end-fields {
    background-color: $color-gray-5;
    border-top: 1px solid #F0F2F6;
    &:last-of-type {
        border-bottom: 1px solid #F0F2F6;
    }
}

.disable {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .8;
}

::ng-deep .ng-select.ng-select-disabled > .ng-select-container, .form-control[readonly] {
    background: #F6FAFD;

    &::placeholder {
        color: $navigation-submenu-text;
    }
}

.hierarchy {
    top: 38px ;
    position: absolute;
    color: $placeholder-color;
    right:8px;
}

.datepicker--imagesize {
    top: 10px;
    left: 8px;
}

.custom-toggle {
    width: 280px;
    height: 60px;
}