<!--no msp type organization-->
<div class="content-area ui-content-wrapper no-content bg-light" [hidden]="orgType !== 'TYPE_MSP'">
  <div class="page-title px-24 pt-24">{{ 'msp' | i18next }}</div>
  <div class="first-Organizationtype">
    <img src="./assets/images/no-programs.png" alt="organization-board" width="250" class="img-fluid">
    <h2>{{ 'you_don_t_have_any_msp_yet' | i18next }}.</h2>
    <h6 class="pb-16"> {{ 'your_mps_s_will_show_up_here' | i18next }} {{ 'create_a_msp_to_get_started' | i18next }}. </h6>
    <a class="btn btn-secondary mt-4 btn-icon-on-left" id="addOrg" (click)="createOrg()">
      <icon size="20px" name="add" type="material" class="icon--onLeft d-flex pr-8" cuClass="cu-icon"></icon> {{ 'add_your_first_msp' | i18next }}
    </a>
  </div>
</div>

<!--no vendor type organization-->
<div class="content-area ui-content-wrapper no-content bg-light" [hidden]="orgType !== 'TYPE_VENDOR'">
  <div class="page-title px-24 pt-24">{{ 'vendors' | i18next }}</div>
  <div class="first-Organizationtype">
    <img src="./assets/images/no-vendors.png" alt="organization-board" width="250" class="img-fluid">
    <h2>{{ 'no_vendors_added_yet' | i18next }}</h2>
    <h6 class="pb-16">{{ 'your_vendors_will_show_up_here_create_a_vendor_to_get_started' | i18next }}.</h6>
    <a class="btn btn-secondary mt-4 btn-icon-on-left" id="addOrg" (click)="createOrg()">
      <icon size="20px" name="add" type="material" class="icon--onLeft d-flex pr-8" cuClass="cu-icon"></icon> {{ 'add_your_first_vendor' | i18next }}
    </a>
  </div>
</div>

<!--no client type organization-->
<div class="content-area ui-content-wrapper no-content bg-light" [hidden]="orgType !== 'TYPE_CLIENT'">
  <div class="page-title px-24 pt-24">{{ 'clients' | i18next }}</div>
  <div class="first-Organizationtype">
    <img src="./assets/images/no-clients.png" alt="organization-board" width="250" class="img-fluid">
    <h2>{{ 'you_don_t_have_any_clients_yet' | i18next }}.</h2>
    <h6 class="pb-16">{{ 'your_clients_will_show_up_here_create_a_client_to_get_started' | i18next }}.</h6>
    <a class="btn btn-secondary mt-4 btn-icon-on-left" id="addOrg" (click)="createOrg()">
      <icon size="20px" name="add" type="material" class="icon--onLeft d-flex pr-8" cuClass="cu-icon"></icon> {{ 'add_your_first_client' | i18next }}
    </a>
  </div>
</div>
<app-organization-create [title]="orgTitle" [icon]="orgIcon" [type]="orgType"></app-organization-create>
