*::ng-deep {
    .disableDiv {
        pointer-events: none;
        opacity: 0.8;
    }
}

.hiring-process {
    ::ng-deep {
        .info-icon {
            font-size: 20px;
            color: #A3B0C0;
            cursor: default;
        }
    }
}