@import "src/assets/sass/abstracts/variables";

.timesheet-breadcrumb {
  list-style-type: none;

  li {
    line-height: 24px;
    font-size: 19px;
    color: $color-gray-80;
    font-weight: $font-weight-regular;
    line-height: 24px;

    a {
      color: $color-gray-80;
    }

    &.active {
      color: $text-black;
    }
  }
}

.breadcrumb-left {
  p {
    icon {
      ::ng-deep i {
        vertical-align: middle;
      }
    }
  }
}

.btn {
  &.green {
    background-color: #2bba25;
    border-color: #2bba25;
  }

  &.red {
    background-color: #ff3463;
    border-color: #ff3463;
  }
}
