table {

    th, td {

        text-align: left;
        border: 1px solid #ECF3FA;
        padding: 8px 16px !important;

        &:nth-child(1),
        &:nth-child(2) {
            min-width: 124px;
        }
    }

    thead {
        th {
            background-color: #FCFAFF;
            height: fit-content !important;
        }
    }
}

.w-80 {
    width: 80%;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-outline {
    outline: none;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-outline {
    outline: none;
    border: 0px solid transparent;
}

.search-relative {
    position: relative;
    right: 6px;
    margin-right: 4px;
}

.btn-sm-input {
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    height: 28px;
    position: relative;
    left: 6px;
}

.checkbox-box {
    border-top: none;
    border-bottom: none;
    padding: 10px 40px;
    margin: -15px -7px -6px;
    border-right: none;
}

.checkbox-container .checkmark {
    background: transparent;
    border-radius: 32px;
    border: solid #d2d2d2 1px;
    color: red;
    display: block;
    width: 20px;
    height: 20px;
}

.checkbox-container .checkmark:after,
.checkmark-active {
    content: "done";
    font-family: "Material Icons";
    position: absolute;
    font-size: 15px;
    top: 0px;
    left: 0px;
    width: 8px;
    height: 8px;
    font-weight: bold;
    color: #00CC5E;
}

.checkbox-container input:checked~.checkmark {
    border: solid #00CC5E 2px;
}

.checkbox-row {
    &.last {
        border-top: none;
    }
}

.disable {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .5;
}

.checkbox-wrapper {
    position: relative;
    right: 24px;
}

.text-value {
    resize: none;
    background-color: transparent;
}

icon[name='close'] {
    cursor: pointer;
}

.bolder {
    font-weight: bolder;
}

::ng-deep {
    .disableDiv {
        pointer-events: none;
        opacity: 0.75;
    }
}

.label-description {
    ::ng-deep {
        textarea[disabled] {
            background-color: transparent !important;
        }
    }
}
