@import '../../../../../../../assets/sass/self-config/base/variables.scss';

.dollar {
    top: 12px;
    left: 16px;
}

.expand {
    width: 140px;
}

.chip-holder {
    min-height: 24px;
}

.custom-chip {
    min-height: 16px;
    min-width: 35px;
}

    .create-content {
        .with-icon {
            icon {
                top: 34px;
                right: 10px;

                ::ng-deep i {
                    color: colors(gray, 6);
                }
            }
        }


        .toggle-panel {
            width: 125px;
        }

        .disable {
            cursor: not-allowed;
            pointer-events: none;
            opacity: 0.5;
        }

        .rates {

            .bill-rate {
                .adjustment, .factor, .rate-select {
                    width: 110px;
                }

                .factor {
                    border-radius: 4px 0 0 4px;
                }

                .rate-select {
                    ::ng-deep .ng-select-container {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }

                .add-factor {
                    .add-alt {
                        background: transparent;
                        line-height: 10px;
                    }
                }
            }
        }
    }

