.account-form-wrapper {
  &.basic-details {

    .top-left-corner {
      top: -11px;
      left: -19px;
      width: 178px;
      height: 99px;
    }

    .bottom-left-corner {
      bottom: -39px;
      left: -61px;
      width: 97px;
      height: 160px;
      transform: rotate(-81deg);
    }

    .bottom-right-corner {
      bottom: 34%;
      width: 92px;
      height: 259px;
    }

    .form-wrapper {
      max-width: 640px;
    }

    .custom-width {
      max-width: 200px;
    }
  }
}

.green-check {
  color: #52db52 !important;
}
 
  .error-text {
    color: #ce0b25 !important;
  }
 


.error {
  border: 2px solid #ce0b25 !important;
}

.align {
  position: absolute;
  right: 10px;
  // cursor: pointer;
  top: 15px;

}

.loader {
  border: none;
  border-top: 2px solid #b0a8a8;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@media screen and (max-width: 767px) {
  .account-form-wrapper {
    &.basic-details {
      .form-wrapper  {
        max-width: 90%;

        .row {
          .col {
            flex-basis: 100%;
          }
        }
      }
    }
  }
}