@import '../../../../../assets/sass/abstracts/variables';

header {
  &.profile-header {
    background-color: #FAF8FF;
  }

  .profile-information {
    a {
      icon {
        vertical-align: middle;

        ::ng-deep i {
          color: $light;
        }
      }
    }

    p {
      color: #3A4550;

      &.contact-info {
        color: #6C757D;
        font-size: 12px;

        a {
          color: #6C757D;
        }

        icon {
          vertical-align: middle;

          ::ng-deep i {
            color: $text-black;
            vertical-align: middle;
          }
        }
      }
    }
  }

  figure {
    width: 59px;
    height: 59px;
    line-height: 59px;
    background: #5E55C3;
    border-radius: 14px;
    text-align: center;
    color: #A9A1F7;
    font-size: 18px;
  }

  h2 {
    color: $light;
  }
}

.profile-body {
  .profile-title {
    .icon-bg {
      background-color: #00B4D8;
      padding: 0 $p4;
      line-height: 24px;
      display: inline-block;

      ::ng-deep i {
        color: $light;
        vertical-align: middle;
        line-height: 24px;
      }

      &.color-yellow {
        background-color: #FFBA08;
      }

      &.color-light-red {
        background-color: #F8AD9D;
      }

      &.color-gray {
        background-color: #6A6B83;
      }

      &.color-pink {
        background-color: #EC698F;
      }
    }

    .toggle {
      top: 0;
      right: 0;
      background: $color-gray-10;
      width: 26px;
      text-align: center;
      display: block;
      cursor: pointer;

      icon {
        display: inline-block;

        ::ng-deep i {
          color: $color-gray-90;
          vertical-align: middle;
          line-height: 26px;
        }
      }
    }
  }

  .section-info {
    transition: $transition;
    max-height: 3000px;
    &.active {
      max-height: 3000px;
    }

    &.hidden {
      max-height: 0;
    }
  }

  .item-list {
    list-style-type: none;

    li {

      .click-trigger {
        cursor: pointer;
      }

      figure {

        &.bullet {
          background-color: $color-gray-20;
          width: 36px;
          height: 36px;
          justify-content: center;

          img {
            width: 100%;
            height: auto;
          }
        }

        &.item-img {
          border: 1px solid $border-color;
          border-radius: $border-radius;
          overflow: hidden;
          width: 104px;
          height: 63px;
          padding: $p4;
          position: relative;
          text-align: center;

          img {
            max-width: 100%;
            max-height: 100%;
            height: auto;
            width: auto;
            display: inline-block;
          }

          figcaption {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 2;
            background-color: rgba(43, 45, 66, .61);
            color: $light;
            font-size: 11px;
            padding: 0 10px;
            line-height: 22px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }

      .item-description {
        padding-right: 0;
        width: 86%;

        .title {
          color: $text-black;
        }

        &.full-width {
          padding-right: 0;
        }

        p {
          line-height: 21px;
        }

        a {

          &.read-more {
            color: $color-link;
          }
        }
      }

      &:first-child {
        .item-description {
          border-top: none;
        }
      }

      &:hover {
        .edit-item {
          opacity: 1;
        }
      }
    }
  }
}

.no-data-outer {
  min-height: calc(100vh - 195px);
}

.value-group {
  a {
    color: $color-link;
    text-decoration: underline;
  }
}

.qualif-block-set {
  max-height: 300px !important;
  overflow-y: auto;
}