@import "../../../../assets/sass/abstracts/variables";
@import "../../../../assets/sass/abstracts/mixins";
.job-reports {
    &__content {
        width: calc(100% - 380px);
        position: relative;
        box-shadow: 3px 5px 18px $color-black-20;
        z-index: 2;
    }
    &__right-sidebar {
        width: 380px;
        position: fixed;
        right: 0;
        bottom: 0;
        top: 50px;
    }
}

.reports {
    position: fixed;
    right: 380px;
    left: 64px;
    z-index: 1;
    &__arrow-icon {
        position: absolute;
        bottom: -5px;
        right: 30%;
    }
    background: $color-white;
    padding: 0 32px;
    box-shadow: 0px 9px 12px -15px $color-gray-86;
    border-bottom: 1px solid $color-gray-14;
    .search-reports {
        h3 {
            color: $color-black;
            font-size: 19px;
            line-height: 22px;
            font-weight: 500;
        }
        .search .form-control {
            width: 286px;
            height: 34px;
            text-align: left;
            font-size: 13px;
            font-weight: normal;
            line-height: 24px;
            color: $color-black;
            border: 1px solid $color-gray-30;
            border-radius: 4px;
            padding: 9px 13px;
            &::placeholder {
                color: $color-gray-80;
            }
        }
    }
    .view-all-schedules {
        width: 148px;
    }
}

.header-reports {
    overflow: auto;
    .title {
        padding: 20px;
        font-size: 14px;
        line-height: 24px;
        color: $color-black;
        cursor: pointer;
        z-index: 1;
        white-space: nowrap;
        &.active {
            color: $text-primary;
            border-bottom: 5px solid $text-primary;
            padding-bottom: 15px;
        }
    }
}

.no-content-reports {
    height: calc(100vh - 239px);
    margin: 0px !important;
    text-align: center;
    position: relative;
}

.no-reports {
    @include display-flex(column, flex-start);
    width: 220px;
    position: absolute;
    left: calc(50vw - 330px);
    top: calc(50vh - 100px);
    align-items: center;
    &__text {
        margin-top: 15px;
        font-weight: 800;
    }
}

.content-reports {
    padding: 32px;
    margin-top: 125px;
    overflow: auto;
    height: calc(100vh - 175px);
    &__report_title {
        color: $color-assets-primary;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 4px;
    }
    &__icon {
        border-radius: 5px;
        width: 23px;
        height: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

ul {
    list-style: none;
    li {
        margin-right: 0;
        font-size: 13px;
        color: $color-gray-60;
        cursor: pointer;
        height: 41px;
        padding: 0 10px;
        margin-left: -9px;
        width: 90%;
        .action {
            display: none;
            icon {
                padding: 5px;
                &:hover {
                    background: $color-white;
                    color: $color-assets-primary;
                    border-radius: 3px;
                }
            }
            .favorite-icon {
                color: $color-gray-35;
                &:hover {
                    background: $color-gray-2 0% 0% no-repeat padding-box;
                    border-radius: 4px;
                    .action {
                        display: flex;
                    }
                }
            }
            .favorite-active-icon {
                color: $color-red-70;
                &:hover {
                    color: $color-gray-35;
                }
            }
        }
        &:hover {
            background: $color-gray-2 0% 0% no-repeat padding-box;
            border-radius: 4px;
            .action {
                display: flex;
            }
        }
        &:focus {
            outline-color: transparent;
        }
    }
}

.search-icon {
    top: 10px;
    right: 14px;
    color: $color-gray-35;
}

.filter-list {
    color: $color-gray-56;
    margin-right: 6px;
    font-size: 18px;
}

figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    break-inside: avoid;
}

figure > .row-reports {
    grid-row: 1 / -1;
    grid-column: 1;
}

.container-reports {
    column-width: 380px;
    column-gap: 10px;
}
