@import '../../../../assets/sass/abstracts/variables';

.notification-page-wrapper {
  background-color: #F7FAFC;
  min-height: calc(100vh - 50px);
  padding: 2em;

  .create-key {
    max-width: 1200px;
    margin: auto;
  }

  .card {
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px #0000001a;
    border-radius: 4px;
    font-family: Inter !important;

    .form-footer {
        background-color: $color-gray-5;
        border-top: 1px solid $color-border-secondary;
    }
  }
}
