
<gridster [options]="gridOptions">
  <gridster-item [item]="item" *ngFor="let item of widgetGridItems" [tooltip]="showToolTip(item)" placement="bottom">
      <app-parent-dynamic [ngClass]="{'disable-gridster': ((_isTimesheetEnable === false) && (item?.name === grideName?.QUICK_CREATE_TIMESHEET || item?.name === grideName?.QUICK_VIEW_ALL_TIMESHEETS))}"
        [widget]="item"
        [assignmentID]="assignmentID"
        [workerID]="workerID"
        [orgID]="orgID"
        [isTimesheetEnable] = "_isTimesheetEnable"
      ></app-parent-dynamic>
  </gridster-item>
</gridster>
