@import '../../../../assets/sass/abstracts/_variables.scss';

:host {
  position: absolute;
  height: calc(100vh - 170px);
  width: 100%;

  ::ng-deep gridster {
    background-color: transparent;

    .gridster-preview {
      background-image: repeating-linear-gradient(120deg, #ECF2F7, #ECF2F7 10px, #E5EBF7 11px, #E5EBF7 12px);
    }
  }

  ::ng-deep gridster-item {
    border-radius: 4px;
    box-shadow: $shadow;

    .edit-widget {
      border: 1px dashed $color-primary;

      .edit-mode-label {
        position: absolute;
        top: 0;
        left: 0;
        margin: 16px;
        line-height: 2;
      }
    }

    .tools-widget {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      margin: 16px;

      .tool-icons {
        .icon-delete {
          margin-left: 10px;
          color: $color-red-80;
          cursor: pointer;
        }

        .icon-build {
          margin-left: 10px;
          color: $color-light-blue;
          cursor: pointer;
        }
      }
    }

    .icon-move {
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: calc(50% - 20px);
      right: calc(50% - 20px);
      width: 40px;
      height: 40px;
      color: $color-white;
      background: $color-gray-90;
      transition: 1s ease-in-out;
      cursor: pointer;
      border-radius: 50px;

      &::before {
        content: 'center_focus_strong';
        font-family: 'Material Icons';
        font-size: 24px;
        transform: rotate(45deg);
      }
    }

    .delete-widget {
      height: 100%;
      background-image: repeating-linear-gradient(120deg, #ECF2F7, #ECF2F7 10px, #E5EBF7 11px, #E5EBF7 12px);

      .badge-undo {
        position: absolute;
        padding: 15px;
        top: calc(50% - 15px);
        right: calc(50% - 32px);
        color: $color-light-blue;
        width: 70px;
        transform-origin: calc(-50% - 15px) calc(-50% - 32px);
        transition: 1s ease-in-out;
        cursor: pointer;
        border-radius: 20px;
        border: 1px solid $color-light-blue;

        .icon-undo {
          position: absolute;
          top: 3px;
          left: 5px;
        }

        .text-undo {
          font-size: 12px;
          position: absolute;
          top: 8px;
          right: 5px;
        }
      }
    }

    &:hover {
      .edit-widget {
        border: 1px dashed $color-green;
        background: #F5FFF4 0% 0% no-repeat padding-box;
        transition: 1s;
      }

      .edit-widget .tools-widget {
        display: block;
      }

      .edit-widget .icon-move {
        display: flex;
      }

      .gridster-item-resizable-handler.handle-se {
        border-bottom: 40px solid $color-green;
        border-left: 40px solid transparent;
        position: absolute;

        &::before {
          content: 'chevron_right';
          font-family: 'Material Icons';
          position: absolute;
          right: 0px;
          top: 15px;
          color: $color-white;
          transform: rotate(45deg);
          font-size: 21px;
        }
      }
    }
  }
  .disable-gridster {
    pointer-events: none;
    opacity: 0.5;
  }
}
