@import "../../../assets/sass/abstracts/variables";


.search-candidate, .search-qualification {
  .search-icon {
    top: 10px;
    left: 10px;
    color: $placeholder-color;
    z-index: 4;
  }

}
::ng-deep {
  .search-candidate, .search-qualification {
    .ng-select {
      .ng-arrow-wrapper {
        display: none;
      }

      .ng-select-container {
        padding-left: 24px;
      }
    }

    .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
      left: 24px;
    }

    .ng-select.ng-select-opened .ng-select-container {
      z-index: 3;
    }
  }

  .cross-height{
    height: 40px;
    .cross-circle{
      color: #FF0000 !important;
      vertical-align: middle;
    }
  }

  .border-grey-left{
    border-radius: 4px 0 0 4px;
    border: 1px solid #CFD8E1;
  }

  .border-grey-right{
    border-radius: 0 4px  4px 0;
    border: 1px solid #CFD8E1;
    color: #001A43;
  }

  .label-grey{
    color: #5B6874 !important;
  }

  .ng-dropdown-panel {
    box-shadow: 0px 0px 0px 0px #00000000;
    .ng-option-disabled {
      cursor: default !important;
    }
  }
}
.search-loader {
  float: right;
  position: relative;
  bottom: 34px;
  right: 9px;
}

input:focus {
  box-shadow: 0px 3px 6px #00000010;
  border: 1px solid #776de085 !important;
}
.skeleton {
  background: #f6fafd;
  min-width: 30%;
  height: 26px;
}

.user_logo {
  background: rgba(119, 109, 224, 0.54);
  color: $light;
  border-radius: $rounded-circle;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  overflow: hidden;
  text-transform: uppercase;
  margin-right: 5px;
  float: left;
}
.left-option {
  position: absolute;
  margin-left: 29px;
  margin-top: 6px;
}
.s_height {
  height: 48px;
}
.create-job {
  background-color: $bg-default;
  position: relative;
  max-width: calc(100% - 366px);

  &-inner {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}


::ng-deep {
  .search-job {
    .ng-select {
      .ng-arrow-wrapper,
      .ng-clear-wrapper {
        display: none;
      }
    }
  }
}

.success-modal {
  position: fixed;
  top: 50%;
  left: 50.01%;
  background: $light;
  max-width: 478px;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 111;
  text-align: center;
  padding: 102px 115px;
  border-radius: $border-radius;
  transition: $transition;
  opacity: 0;
  visibility: hidden;

  icon {
    color: $color-green;
  }

  h3 {
    line-height: 32px;
  }

  button {
    width: 100%;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &.autofill-modal {
    padding: 0;

    .autofill-wrap {
      padding: 102px 108px 68px 108px;
    }

    button {
      width: auto;
    }

    footer {
      background-color: $color-gray-10;
      border-top: 1px solid $color-gray-50;
      color: $color-gray-90;
      font-size: 12px;
      line-height: 27px;

      icon {
        color: $color-warning;
        vertical-align: middle;
        height: 20px;
      }
    }
  }
}

.modal-overlay {
  background: #1f2031;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  opacity: 0;
  visibility: hidden;
  transition: $transition;

  &.active {
    opacity: 0.85;
    visibility: visible;
  }
}

.dropdown-templates {
  max-height: 40vh;
  background-color: $color-white;
  top: 46px;
  box-shadow: 0px 11px 16px #0000000f;
  border: 1px solid #e2e2e2;
  overflow-y: auto;
  z-index: 5;

  &::-webkit-scrollbar {
    display: auto;
  }
  .job-template {
    border-bottom: 1px solid $color-gray-34;
    position: relative;
  }
  .job-template:hover {
    background: $color-gray-10;
  }
  .template-badge {
    position: absolute;
    right: 22px;
    top: 13px;
    font-size: 11px;
    line-height: 10px;
    font-weight: 600;
    padding: 6px;
    border-radius: 4px;
    background: #776de01f;
    color: $color-blue
  }
}

.create-wrapper {
  background-color: #f8f9fa;
  min-height: calc(100vh - 57px);

  .create-form {
    max-width: 1200px;
    .card {
      box-shadow: 0 6px 14px rgba(0, 0, 0, 0.06);

      .breadcrumb {
        > div {
          line-height: 64px;
          icon {
            display: none;
          }

          span {
            width: 27px;
            height: 27px;
            line-height: 27px;
            background-color: #f6fafd;
           overflow: hidden;
            color: #343a40;
            vertical-align: middle;
            margin-bottom: 3px;
            display: inline-block;
          }

          &:first-child {
            border-left: 0;
          }

          &.active {
            span {
              background-color: $color-assets-primary;
              color: $light;
            }
          }

          &.finished {
            span {

              &.num {
                display: none;
              }
            }

            icon {
              display: inline-block;
              vertical-align: middle;

              ::ng-deep i {
                vertical-align: middle;
                color: $color-assets-primary;
                margin-top: -5px;
              }
            }
          }
        }

        &.mobile-comp {
          > div {
              span {
                  width: auto;
                  height: auto;
                  background-color: transparent;

                  &.num {
                    width: 27px;
                    height: 27px;
                    line-height: 27px;
                    background-color: #F6FAFD;
                  }
              }

            &.active {
                span {
                    color: #343A40;
                    &.num {
                        background-color: $color-assets-primary;
                        color: $light; 
                    }
                }
            }
          }  
        }
      }

      .date-picker {
        ::ng-deep .datepicker--imagesize {
          left: auto;
          right: 8px;
        }

        ::ng-deep input:not(.total-days) {
          padding-left: 13px !important;
          padding-right: 32px !important;
        }

        ::ng-deep .datepicker {
          width: 267px;
        }
      }

      .radio-group {
        border: 1px solid transparent;
        overflow: hidden;
        height: 40px;

        .disable {
          opacity: 0.6;
        }
        .radio-container {
          width: 50%;
          text-align: center;
          height: 40px;
          margin-bottom: 0;

          input {
            left: 0;
            width: 100%;
            height: 100%;
          }

          .checkmark {
            width: auto;
            right: 0;
            line-height: 40px;
            height: 38px;
            background-color: $light;
            border-radius: $border-radius;
            pointer-events: none;
          }

          &:first-child {
            border-right: 1px solid transparent;
          }

          input {
            &:checked {
              ~ .checkmark {
                background-color: $light;
                color: #5B6874;

                &:after {
                  display: none;
                }
              }
            }
          }
        }
      }

      .budget-section {
        > div {
          flex: 1;
        }

        .budget-item {
          background-color: $color-gray-10;
          icon {
            width: 36px;
            height: 36px;
            border-radius: $rounded-circle;
            text-align: center;
            margin: 4px auto 10px;
            display: table;
            float: none;

            ::ng-deep i {
              color: $light;
              line-height: 36px;
            }

            &.green {
              background-color: $color-green;
            }

            &.blue {
              background-color: $color-blue;
            }

            &.yellow {
              background-color: $color-orange;
            }
          }

          p {
              span {
              display: block;
              color: #343a40;
            }
          }
        }

        .detail-button {
          button {
            border: 1px solid $color-border-secondary;
            border-radius: $border-radius;
            font-size: 13px;
            color: $color-blue;
            outline: none;
            cursor: pointer;
            background: $light;
            width: 100%;
            line-height: 144px;
            text-align: center;
          }
        }
      }
      .tabs {
        width: 100%;

        .tabs-panel {
          min-width: 150px;
          background-color: $color-gray-10;
          border-radius: 4px;
          font-size: 14px;
          color: $color-gray-70;

          .toggle-with-icon {
            .toggle-panel-inner {
              height: auto;
              justify-content: flex-start;
              align-items: stretch;
              background-color: #f8f9fa;
              border: 0;
              

              icon {
                width: 30px;
                height: 30px;
                border-radius: $rounded-circle;
                text-align: center;
                background-color: $color-green;

                ::ng-deep i {
                  color: $light;
                  line-height: 30px;
                }
              }

              p {
                color: #3a4550;
                line-height: 30px;
                flex: 2;
              }

              .toggle-switch {
                margin-top: 8px;
                background: #536476;

                &.toggle-on {
                  background: $color-assets-primary;
                }
              }
            }
          }

          .strength-bar {
            display: flex;
            flex-wrap: nowrap;

            ul {
              list-style-type: none;
              margin: $m0;
              position: relative;
              width: 100%;

              li {
                float: left;
                background: $border-color;
                width: 32%;
                height: 10px;
                margin-right: 1%;

                &:first-child {
                  border-radius: 4px 0px 0px 4px;
                }

                &:last-child {
                  border-radius: 0px 4px 4px 0px;
                }

                &.active {
                  background-color: $color-blue;
                }
              }

              &:after {
                position: absolute;
                top: -5px;
                right: 0;
                font-size: 11px;
                visibility: visible;
                display: block;
                color: #5c5656;
              }
            }
          }
          .x-small {
            font-size: 11px;
          }
        }
        .tabs-panel-strength {
          width: 175px;
        }
      }

      .approvers {
        background-color: #f8f9fa;
        .align-self-center {
          align-self: center;
        }
        figure {
          width: 17px;
          height: 17px;
          background: #8e168d;
          color: $light;
          text-align: center;
          line-height: 17px;
          overflow: hidden;
          font-size: 12px;
          border-radius: $rounded-circle;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }

        p {
          color: #002626;
          line-height: 18px;

          span {
            display: block;
            font-size: 11px;
            color: $color-body-txt-secondary;
          }
        }
      }
    }
  }

  .form-footer {
    background-color: #fafbfc;
    border-top: 1px solid #ebeef3;
    text-align: right;
    justify-content: flex-end;

    .footer-left {
      flex: 2;
      text-align: left;
      position: relative;

      h4 {
        color: $color-blue;
      }

      p {
        color: #495057;
      }

      &:after {
        border-top: 14px solid #fafbfc;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        width: 1px;
        height: 10px;
        content: ".";
        text-indent: -9999px;
        overflow: hidden;
        display: block;
        position: absolute;
        bottom: -44px;
        left: 30px;
        z-index: 4;
      }
    }

    .cancel-btn {
      flex: 2;
      
      h4 {
        color: $color-blue;
      }

      p {
        color: #495057;
      }
    }
  }

  .with-icon {
    .icon-on-inout {
      position: absolute;
      top: 50%;
      left: 13px;
      transform: translateY(-50%);
      z-index: 1;
      height: 24px;
      overflow: hidden;

      &.no-pointer {
        pointer-events: none;
      }

      &.clear-search {
        right: 14px;
        left: auto;
        cursor: pointer;

        ::ng-deep i {
          line-height: 24px;
        }
      }
    }
    input {
      padding-left: 45px;
    }
  }

  .hierarchy-select {
    padding-right: 40px;

    ::ng-deep {
      .ng-select {
        .ng-select-container {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }
      }
    }

    .hierarchy-sel {
    position: absolute;
     top: 0px;
     right: 0px;
     height: 40px;
     width: 40px;
     color: #7f92a3;
     display: flex;
     background-color: #EDF2FE;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    }
  }

  ::ng-deep .ql-container {
    &.ql-snow {
      border-color: $color-border-secondary;
    }
  }

  ::ng-deep .ql-toolbar {
    &.ql-snow {
      border-color: $color-border-secondary;
    }
  }

  ::ng-deep .ql-editor {
    P {
      color: $color-dark;
    }

    &:before {
      display: none;
      font-style: normal;
      font-weight: $font-weight-medium;
      color: $color-dark;
    }
  }

  .title-small {
    text-transform: uppercase;
    color: $color-dark;
  }

  .template-list {
    list-style-type: none;
    margin-bottom: $m16;

    li {
      display: inline-block;
      margin: 0 $m8 $m8 0;

      a {
        display: block;
        line-height: 33px;
        border-radius: 6px;
        border: 1px solid $color-gray-10;
        background-color: $color-gray-10;
        transition: $transition;
        font-size: 13px;
        padding: 0 $p12;
        color: $color-gray-90;

        &.active {
          background-color: $light;
          border-color: $color-gray-20;
          color: $color-gray-90;
        }

        &:hover {
          background-color: $color-assets-primary;
          border-color: $color-assets-primary;
          color: $light;
        }
      }
    }
  }

  .title-height {
    line-height: 32px;
    color: $text-black;
  }

  .add-opton {
    position: relative;
    button {
      border: 1px solid $color-assets-primary;
      background-color: $light;
      border-radius: $border-radius;
      line-height: 32px;
      color: $color-assets-primary;
      font-weight: $font-weight-medium;
      padding: 0 $p12;
      outline: 0;
      cursor: pointer;

      icon {
        ::ng-deep i {
          vertical-align: middle;
        }
      }
    }

    .qualification-dropdown {
      position: absolute;
      top: 40px;
      left: 0;
      width: 187px;
      list-style-type: none;
      border: 1px solid $color-gray-20;
      background: $light;
      box-shadow: 0px 6px 6px #00000019;
      z-index: 10;
      border-radius: $border-radius;
      overflow: hidden;
      transition: $transition;
      opacity: 0;
      visibility: hidden;
      max-height: 0;

      li {
        a {
          padding: 0 $p12;
          line-height: 40px;
          font-size: 13px;
          color: $text-black;
          display: block;
          transition: $transition;

          &:hover {
            background-color: $color-gray-0;
          }

          &.active {
            color: $color-gray-50;
          }
        }
      }

      &.active {
        visibility: visible;
        opacity: 1;
        max-height: 170px;
        overflow: auto;
      }
    }
    ::-webkit-scrollbar {
      width: 5px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track { 
      border-radius: 5px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #A3B0C0; 
      border-radius: 5px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #84919F;
    }
  }

  .toggled-list {
    background-color: #f8f9fa;

    .add-wrap {
      list-style-type: none;

      li {
        float: left;
        margin-right: 1%;
        border: 1px solid $color-border-secondary;
        position: relative;
        width: 32.6%;
        margin-bottom: $m8;

        &.item {
          min-height: 132px;
          .Quali-logo {
            background: rgba(119, 109, 224, 0.54);
            color: $light;
            border-radius: $rounded-circle;
            width: 39px;
            height: 39px;
            line-height: 39px;
            overflow: hidden;
            text-transform: uppercase;
            text-align: center;
          }

          .candidate-select {
            width: 75%;
          }

          .candidate-name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: $text-black;
            margin-right: 30px;
          }
          a {
            color: $color-blue;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
          }

          .dropdown {
            position: absolute;
            top: 8px;
            right: 8px;
            z-index: 2;

            .btn {
              height: 24px;

              ::ng-deep i {
                vertical-align: middle;
              }
            }
          }

          .contacts, .vendors {
            margin-left: 48px;
            icon {
              color: rgb(143 163 171);
            }
          }

          .vendors {
            position: absolute;
            bottom: 16px;
          }

          .dropdown-items {
            background-color: $light;
            min-width: 115px;
            position: absolute;
            top: 38px;
            right: 0;
            list-style-type: none;
            margin: 0;
            padding: 0;
            border: 1px solid $color-gray-20;
            border-radius: $border-radius;
            overflow: hidden;
            box-shadow: 0px 3px 6px #0000002c;
            opacity: 0;
            visibility: hidden;
            max-height: 0;

            li {
              float: none;
              border: 0;
              margin-right: 0;
              margin-bottom: 0;
              width: auto;

              a {
                line-height: 35px;
                padding: 0 $p16;
                display: block;
                color: $text-black;
                transition: $transition;
                cursor: pointer;

                &:hover {
                  background: $color-gray-5;
                }
              }
            }

            &.active {
              max-height: 500px;
              opacity: 1;
              visibility: visible;
            }
          }
        }

        &.add-cadidate {
          border: 1px solid $color-border-secondary;
          color: $color-assets-primary;
          font-weight: $font-weight-medium;
          text-align: center;
          line-height: 72px;
          height:132px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }
}

.aligntextLeft
{
  padding-left: 12px !important;
}

.with-icon {
  position: relative;

  // .form-control {
  //   padding-right: 40px;
  // }

  icon {
    position: absolute;
    top: 37px;
    right: 10px;

    ::ng-deep i {
      color: $color-gray-70;
    }
  }
}
.summary {
  .left-panel {
    margin-right: 15%;
    width: 40%;

    .child-card {
      background-color: $color-blue;
      border-radius: $border-radius;
      overflow: hidden;
      color: $light;

      p {
        color: $light;

        icon {
          vertical-align: middle;
          color: $light;

          ::ng-deep i {
            color: $light;
          }
        }
      }

      .card-bottom {
        background-color: #6b61d5;

        p {
          flex: 1;
          line-height: 24px;

          &.large {
            text-align: right;
            font-size: 24px;
          }
        }
      }
    }

    .other-info {
      list-style-type: none;

      li {
        float: left;
        width: 48%;
        border: 1px solid rgba(119, 109, 224, 0.25);
        background: #f6fafd;
        padding: $p12;
        margin-bottom: $m16;
        border-radius: $border-radius;
        font-size: 16px;
        color: $color-blue;

        span {
          display: block;
          font-size: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &.color-gray {
            color: #7f92a3;
          }
        }

        &:nth-child(2n) {
          float: right;
        }
      }
    }
  }
}

.managers {
  ::ng-deep .ng-select {
    .ng-value-container {
      .ng-value-label {
        figure {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}

.delete-icon {
  icon {
    ::ng-deep i {
      vertical-align: middle;
    }
  }
}
.checkbox-wrapper {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;

  .checkbox-container {
    font-size: 13px;
    white-space: pre;
    color: #343A40 !important;

    .checkmark {
      border: none;
      border-radius: $rounded-circle;
      background-color: $color-gray-50;

      &:after {
        display: block;
      }
    }

    input {
      &:checked {

        &~.checkmark {
          background-color: $color-green;
        }
      }
    }

  }
}
.overtime-control {
  list-style-type: none;
  overflow: hidden;

  li {
    float: left;

    .radio-wrapper {
      position: relative;

      label {
        border: 1px solid #EBEEF3;
        border-radius: $border-radius;
        line-height: 40px;
        display: block;
        padding: 0 40px;
        pointer-events: none;
        margin-bottom: 0;
      }

      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;

        &:checked {
          ~ label {
            background-color: $color-assets-primary;
            border-color: $color-assets-primary;
            color: $light;
          }
        }
      }
    }

    &:first-child {
      .radio-wrapper {
        label {
          border-right: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
    &:nth-child(2) {
      .radio-wrapper {
        label {
          border-left: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .create-wrapper {
    .create-form {
      max-width: 1200px;
    }
  }
}


.checkmark {
  border: none;
  border-radius: $rounded-circle;
  background-color: $color-gray-50;

  &:after {
    display: block;
  }
}

.search {
  position: absolute;
  top: 10px;
  right: 8px;
  color: $placeholder-color;
  z-index: 999;
}
.remove_style {
  padding: 0 !important;
  border: none !important;
  height: 25px !important;
}

.m-height {
  min-height: 50vh;
}

.toggle-panel-inner {
  background-color: transparent !important;
}

input {
  &:checked {

    &~.checkmark {
      background-color: $color-green;
    }
  }
}

.warning {
  color: orange;
  white-space: nowrap;
}

.danger {
  color: red;
  white-space: wrap;
}
.jd-pos-required {
  left: 158px;
}

svms-hierarchy {
  &.sidebar-margin {
    ::ng-deep {
      .level-listing {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
      }
    }
  }
}

.rate-label {
  text-transform: capitalize !important;
}