@import '../../../../assets/sass/abstracts/variables';
.profile-bar {
    float: left;
    width: 260px;
    bottom: 0;
    background: #4267b2;
    padding: $p32 $p16;
    overflow: auto;
    z-index: 1;
    height: 100vh;
    position: absolute;
    &::-webkit-scrollbar {
        display: none;
    }
}