    @import '../../../../../assets/sass/abstracts/variables';
    thead {
        background-color: $color-gray-5;
        border: 1px solid $color-gray-30;
        th {
            text-transform: uppercase;
        }
    }
    
    .initials-primary {
        background-color: #776DE0;
        color: white;
    }
    
    .text-secondary {
        color: #5F6D89;
    }
    
    tbody {
        tr {
            &:not(:first-child) {
                border: 1px solid $color-gray-30;
            }
            &:first-child {
                td {
                    height: 0px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                }
            }
        }
    }
    
    .btn-green {
        background-color: $color-green;
        border-color: $color-green;
        color: $color-white;
        &:hover {
            background-color: $color-green;
            border-color: $color-green;
        }
        &.active,
        &:active,
        &.focus,
        &:focus {
            background-color: $color-green;
            border-color: $color-green;
            outline-width: 0px;
        }
    }