<div class="config-page-wrapper">
  <section class="p-24">
    <a href="javascript:void(0)" class="back-button position-absolute" (click)="navigateToList()">
      <icon size="24px" name="keyboard_backspace" type="material" cuClass="d-flex"></icon>
    </a>
    <h4 class="text-center font-weight-bold mb-32">{{ 'expense_configuration' | i18next }}</h4>
    <app-expense-configuration-form [configId]="configId" [viewStatus]="viewStatus"></app-expense-configuration-form>
    <app-expense-configuration-list-expense-type [configId]="configId" ></app-expense-configuration-list-expense-type>
  </section>
</div>
