.candidate-progress{
    p{
        color: #0F2E4E;
    }
    span {
        font-size: 12px;
        color: #5B6874;
    }
    .cand-profile-header{
        background-color: #FAF8FF;
        border-bottom: 1px solid #E3E9F0;
        .cand-profile-details{
            figure{
                width: 38px;
                height: 38px;
                border-radius: 50%;
                overflow: hidden;
                background-color: rgba(99, 117, 254, 0.13);
            }
            .cand-profile-text{
                span {
                    .meta-label{
                        ::ng-deep
                        i{
                            color: #ffc409;
                            vertical-align: middle;
                        }
                    }
                } 
            }
        }
        .circular-progress-bar {
            width: 76px;
            height: 76px;
        }
    }
    .cand-body-content{
        overflow: auto;
        height: calc(100vh - 167px);
        h4{
            color: #0F2E4E;
        }
        .breakdown-accordion {
            border: 1px solid #E3E9F0;
            border-radius: 4px;
           
            .breakdown-accordion-content{
                border-top: 1px solid #E3E9F0;
                ul{
                    list-style-type: none;
                    li{
                        display: inline-block;
                        background-color: #EDF2FE;
                        padding: 8px;
                        color: #0F2E4E;
                        margin-right: 8px;
                        border-radius: 4px;
                        margin-bottom: 8px;
                    }
                }
                &.inactive{
                    display: none;
                }
                ~.breakdown-accordion-header{
                    border-bottom: 0;
                }
                &.active{
                    display: block;
                }
            }
        }
        &::-webkit-scrollbar {
            width: 8px;
          }
        
          &::-webkit-scrollbar-track {
            background: #f1f1f1;
          }
        
          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: #828282;
          }
        
          /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
            background: #555;
          }
    }
}

.empty-space {
    margin-right: 46px !important;
}