@import '../../../../../assets/sass/abstracts/variables';
    .dot-show {
        width: 83.91px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 4px;
    }

.border-none {
    border: none;
}

