@import '../../../assets/sass/abstracts/variables';


.full-calendar {
  position: absolute;
  display: grid;
  grid-template-rows: 60px 40px auto;
  overflow: auto hidden;

  &-list {
    grid-template-rows: 60px 0px auto;
  }

  &-day,
  &-week {
    grid-template-rows: 60px minmax(100px, auto) auto;
  }

  .calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-white;
    cursor: default;

    .title h2 {
      margin: 0px;
      font-size: 1.2rem;
      color: $color-dark-blue;
    }

    .calendar-button {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 50px;
      height: 30px;
      padding: 4px 10px;
      background-color: $color-white;
      font-size: 0.8rem;
      color: $color-light-blue;
      border: 1px solid $color-light-blue;
      border-radius: 4px;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &.chevron-left {
        font-family: 'Material Icons';
        font-size: 1.5rem;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right: none;
      }

      &.chevron-right {
        font-family: 'Material Icons';
        font-size: 1.5rem;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }

      &.button-month {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      &.button-week {
        border-radius: 0px;
        border-left: none;
      }

      &.button-day {
        border-radius: 0px;
        border-left: none;
        border-right: none;
      }

      &.button-list {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }

      &.active-type {
        background-color: $color-yellow;
        border-color: $color-yellow;
        color: $color-white;
      }
    }
  }

  .calendar-type {
    .grid-container-month {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-auto-rows: 40px;

      .grid-item {
        background-color: $color-light-blue;
        color: $color-white;
        text-align: center;
        padding: 12px;
        font-weight: normal;
        font-size: 0.75rem;
        text-transform: uppercase;
      }
    }

    .grid-container-week {
      .header-info {
        display: grid;
        grid-template-columns: 80px repeat(7, 1fr);
        grid-auto-rows: minmax(40px, auto);

        .grid-item {
          background-color: $color-light-blue;
          color: $color-white;
          text-align: center;
          padding: 12px;
          font-weight: normal;
          font-size: 0.75rem;
          text-transform: uppercase;
        }
      }

      .all-day-info {
        display: grid;
        grid-template-columns: 80px repeat(7, 1fr);
        grid-auto-rows: minmax(50px, auto);
        border-bottom: 1px solid #cfcfcf75;
        padding: 5px;

        .grid-item {
          background-color: $color-white;
          color: #777;
          font-weight: normal;
          font-size: 0.75rem;
        }
      }
    }

    .grid-container-day {
      .header-info {
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-auto-rows: minmax(40px, auto);

        .grid-item {
          background-color: $color-light-blue;
          color: $color-white;
          text-align: center;
          padding: 12px;
          font-weight: normal;
          font-size: 0.75rem;
          text-transform: uppercase;
        }
      }

      .all-day-info {
        display: grid;
        grid-template-columns: 80px 1fr;
        grid-auto-rows: minmax(50px, auto);
        border-bottom: 1px solid #cfcfcf75;
        padding: 5px;

        .grid-item {
          background-color: $color-white;
          color: #777;
          font-weight: normal;
          font-size: 0.75rem;
        }
      }
    }
  }

  .calendar-body {
    min-width: 600px;
    overflow: auto;

    .grid-container-month {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-auto-rows: 100px;
      border-left: 1px solid #cfcfcf75;
      overflow: auto;

      .grid-item {
        display: block;
        background-color: $color-white;
        color: #777;
        border-bottom: 1px solid #cfcfcf75;
        border-right: 1px solid #cfcfcf75;
        text-align: right;
        font-weight: normal;
        font-size: 0.85rem;

        .info-container {
          overflow: hidden;

          .date-container {
            padding: 2px 8px;
            margin-bottom: 3px;

            &.current-day {
              background-color: $color-light-blue;
              color: white;
            }
          }
        }

        &:hover {
          background: $color-gray-10;
        }
      }
    }

    .grid-container-week {
      display: grid;
      grid-template-rows: repeat(8, 1fr);

      .grid-container-child {
        display: grid;
        grid-template-columns: 80px repeat(7, 1fr);
        grid-auto-rows: 50px;

        .grid-item {
          display: block;
          background-color: $color-white;
          padding: 5px;
          color: #777;
          font-size: 0.75rem;
          font-weight: normal;
          border-bottom: 1px solid #cfcfcf75;
          border-right: 1px solid #cfcfcf75;
          text-align: right;
        }
      }
    }

    .grid-container-day {
      display: grid;
      grid-template-rows: repeat(8, 1fr);

      .grid-container-child {
        display: grid;
        grid-template-columns: 80px 1fr;
        grid-auto-rows: 50px;

        .grid-item {
          display: block;
          background-color: $color-white;
          padding: 5px;
          color: #777;
          font-size: 0.75rem;
          font-weight: normal;
          border-bottom: 1px solid #cfcfcf75;
          border-right: 1px solid #cfcfcf75;
          text-align: right;
        }
      }
    }

    .grid-container-list {
      .grid-container-child {
        .header-info {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          height: 40px;
          padding: 10px;
          width: 100%;
          background-color: $color-gray-50;
          color: #777;
          font-weight: normal;
          font-size: 0.75rem;
          text-transform: uppercase;

          &.current-date {
            background-color: $color-light-blue;

            span {
              color: $color-white;
            }
          }
        }

        .grid-item {
          display: grid;
          grid-template-columns: 1fr;
          grid-auto-rows: minmax(30px, auto);
          width: 100%;
          padding: 5px;
          background-color: $color-white;
          color: #777;
          font-weight: normal;
          font-size: 0.75rem;
        }
      }
    }
  }
}

.full-size {
  width: 100%;
  height: 100%;
}

.disabled {
  opacity: .5;
  pointer-events: none;
  background-color: $color-gray-50;
}

.all-day-round {
  &::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: $color-green;
    vertical-align: middle;
  }
}

.opacity-8 {
  opacity: 0.8;
}

.no-events {
  display: block;
  width: 100%;
  font-size: 0.75rem;
  text-align: center;
}
