@import '../../../assets/sass/abstracts/variables';

.section {
    background-color: white;
    top: 65px;
    box-shadow: 0 1px 4px lightgray;
    width: calc(100%);
    border-radius: 4px;
    opacity: 1;
}

.show-more {
    color: #5E71FE;
    cursor: pointer;
}

.label {
    width: 100%;
}

.abs-2t {
    position: relative;
    top: 2px;
}

.w-120px {
    width: 120px;
}

.cancel-btn {
    border: 0px solid;
    background-color: transparent;
    color: #5E71FE;
    font-weight: bolder;
}

.view-tax-details {
    div {
        p {
            font-size: 13px;
        }
        label {
            font-size: 14px;
        }
    }
}

.section-child {
    background-color: white;
    box-shadow: 0 4px 4px lightgrey;
    width: calc(100% - 72px);
    border-radius: 4px;
    opacity: 1
}