<vms-table 
    (search)="onSearch($event)" 
    [vmsTableConfig]="tableConfig" 
    [vmsDataSource]="vmsData?.work_locations"
    [totalItem]="totalRecords" 
    [itemsPerPage]="itemPerPage" 
    (onEditClick)="onEditClick($event)"
    (onCreate)="onCreateClick($event)" 
    (onViewClick)="onViewClick($event)" 
    (onListFilter)="onListFilter($event)"
    (onDisableClicked)="onDisableClicked($event)" 
    (changePage)="onPaginationClick($event)"
    (onSort)="onSortClick($event)"
>
</vms-table>

<app-create-work-location 
    [(visible)]="sidepanelVisibility" 
    (onSaveWorkLocation)="refreshListing()">
</app-create-work-location>