.preference-body {
  .add-btn {
    width: 28px;
    height: 28px;
  }

  .no-delegates {
    max-width: 312px;
    margin: auto;

    .custom-size {
      font-size: 15px;
      width: 196px;
    }
  }
}

.delegate-list {
  ::ng-deep .table-bg {
    background-color: transparent;
    padding: 0;

    .table-bg-inner {
      box-shadow: inherit;

      .vms-header-panel {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      vms-header {
        >div {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
    }

    .content-area-inner {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .table-outer {
      &:before {
        display: none;
      }

      perfect-scrollbar {
        min-height: calc(100vh - 455px) !important;

        > .ps {
          min-height: 210px !important;
          // min-height: calc(100vh - 455px) !important;
        }
      }
    }
  }
}
.mt-64 {
margin-top: 64x;
}
.pt-24 {
padding-top: 24px;
}