@import '../../../../../assets/sass/abstracts/variables';

:host .timesheet-page {
    .sheet-wrapper {
        .total-col {
            &.non-editable {
                .col-item {
                    min-height: 42px;

                    &.billable-item {
                        min-height: 42px;
                    }
                    &.first-item {
                        min-height: 49px;
                        padding: 7px 14px;
                    }
                }
            }
        }

        .headings {
            .col-item {
                &:first-child {
                    min-height: 49px;
                }

                &.code-number-space {
                    width: auto;
                    line-height: 20px;
                }
            }
        }

        .day-col {
            .col-item {
                min-height: 42px;

                &.first {
                    min-height: 49px;
                }

                .fixed-width {
                    max-width: 85px;
                    margin: auto;
                }
            } 
        }
        .col-item-wrapper {
            .col-item {
                min-height: 42px;
            }
        }

        &.automation {
            .headings {
                .col-item {
                    &.read-only {
                        min-height: 42px;
                    }
                }
            }
        }
        
    }
    .mt-34 {
        margin-top: 70px;
    }
    .day-table{
        background: #F9F7FF 0% 0% no-repeat padding-box;
        text-align: left;
    }
    
    .code-number-space {
        padding: 22px 20px !important;
    }
    .select-row {
        padding: 12px 20px;
        border-bottom: 1px solid #F5F4FA;
        min-height: 40px;
        .in-decimal {
            background: #ADB6FE;
            text-align: center;
            color: white;
            border-radius: 0px 0px 4px 4px;
            position: absolute;
            left: 20px;
            right: 20px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0 $p4;
        }
    }

    ::ng-deep .select-row {
        .ng-select-container {
            .ng-value-label {
                .hours-type {
                    display: none;
                }
            }
        }
        
        .ng-dropdown-panel {
        width: 200px !important;

        .ng-option-label {
            display: inline;
        }
        .ng-dropdown-panel .scroll-host {
            text-align: right !important;
        }
        .ng-dropdown-panel-items {
            text-align: right !important;
        }
    }
}
.holiday {
    .mobile-timesheet-view-item {
        pointer-events: none;
    }
}
   
}


@media screen and (min-width: 768px) {
    :host .timesheet-page {
        .code-space {
            padding: 24px 20px !important;
        }
    }
}

@media screen and (max-width: 767px) {
    .timesheet-page {
        .select-row {
            ::ng-deep {
                .ng-dropdown-panel {
                    width: 100% !important;

                    .ng-dropdown-panel-items {
                        text-align: left !important;
                    }
                }
            }
        }
    }
}