@import '../../../../assets/sass/abstracts/variables';

.account-form-wrapper {

  &.color-theme {

    .form-wrapper {
        max-width: 434px;
    }
  }

  .color-theme-option {

    ul {
      list-style-type: none;
      text-align: center;
      margin-bottom: $m32;

      li {
        display: inline-block;
        margin: 0 $m4;

        .radio-container {
          width: 30px;
          height: 30px;
          border: 0;
          border-radius: 5px;
          padding-left: 0;
          transition: $transition;

          input {
            width: 30px;
            height: 30px;
            left: 0;
            top: 0;
          }

          .checkmark {
            background: transparent;
            width: 29px;
            height: 29px;
            border-radius: 5px;
            box-shadow: 0px 3px 5px #0003;
            pointer-events: none;

            &:after {
              content: "done";
              font-family: 'Material Icons';
              text-transform: none;
              font-size: 15px;
              top: auto;
              left: auto;
              bottom: -5px;
              right: -5px;
              font-weight: normal;
              background-color: #fdb153;
              border-radius: $rounded-circle;
              width: 16px;
              height: 16px;
              color: $light;
            }

            .secondary-color {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 12px;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }

          &.active {
              transform: scale(1.15);
              box-shadow: 0px 6px 11px #0000003E;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .account-form-wrapper {
    &.color-theme {
      .form-wrapper {
        width: 90%;
        max-width: 90%;

        .theme-preview {
          width: 100%;
          overflow: hidden;
          svg {
            width: 109%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .account-form-wrapper {
    &.color-theme {
      .form-wrapper {
        .btn-row {
          >div {
            text-align: center;
            display: block !important;
          }
  
          button {
            float: none !important;
            margin-left: auto;
            margin-right: auto !important;
          }
        }
      }
    }
  } 
}

.blue-text {
  color: #5E71FE;
}

.underline {
  text-decoration: underline;
}