@import "../../../../assets/sass/abstracts/variables";

.alert_message {
  border-radius: $border-radius;
  text-align: left;
  padding: $p16 $p32 $p16 $p24;
  margin: 0 0 $m12;

  icon {
    margin-top: 0px;
  }

  p {
    color: #3A4550;
  }

  button {
    font-size: 13px;
    border: 0;
    color: $light;
  }

  .close-btn {
    position: absolute;
    top: 5px;
    right: 8px;
    z-index: 2;
    cursor: pointer;
  }
}

.alert_error {
  border: 1px solid #FE585822;
  background: #FE585822;

  icon {
    ::ng-deep i {
      color: #FE5858;
    }
  }

  h4 {
    color: #FE5858;
  }

  button {
    background-color: #FE5858;
  }
}

.alert_info {
  border: 1px solid #6F73DE4A;
  background: #6F73DE1A;

  icon {
    ::ng-deep i {
      color: #6F73DE;
    }
  }

  h4 {
    color: #6F73DE;
  }

  button {
    background-color: #6F73DE;
  }
}

.alert_pending {
  border: 1px solid #F6AB2B4A;
  background: #F6AB2B22;

  icon {
    ::ng-deep i {
      color: #F6AB2B;
    }
  }

  h4 {
    color: $text-black;
  }

  button {
    background-color: #F6AB2B;
  }
}

.alert_success {
  border: 1px solid #6ABA3F4A;
  background: #6ABA3F1A;

  icon {
    ::ng-deep i {
      color: #6ABA3F;
    }
  }

  h4 {
    color: #6ABA3F;
  }

  button {
    background-color: #6ABA3F;
  }
}