@import '../../../../assets/sass/abstracts/variables';

.no-width {
  width: 0px;
}

.dollar {
  position: relative;
  top: 12px;
  left: 8px;
}

.percentage {
  position: relative;
  top: 12px;
  right: 20px;
}

.center-text {
  text-align: center;
}

.expand {
  width: 160px;
}

.input-shrink {
  max-width: 80px;
}

.chip-holder {
  width: 100%;
  min-height: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 8px;
  margin-top: 4px;
}


.custom-chip {
  min-height: 16px;
  min-width: 32px;
  background-color: #E8ECFF;
  border-radius: 4px;
  margin-left: 4px;
  margin-bottom: 4px;

  div {
    padding: 4px;
  }

  .close {
    cursor: pointer;
  }
}

.create-rate-factor {
  background-color: #f8f9fa;
  position: relative;
  min-height: calc(100vh - 50px);

  .page-header {
    .cancel-page-button {
      position: absolute;
      z-index: 1;
      top: 21px;
      left: 32px;

      button {
        background: $color-assets-secondary-shade;
        border-radius: 20px;
        width: 36px;
        height: 36px;
        cursor: pointer;
        outline: none;
        border: none;
        color: white;
        border-radius: 50%;
      }
    }

    .page-title {
      line-height: 36px;
    }
  }

  .create-content {
    position: relative;
    margin: auto;
    max-width: 932px;

    .small-width {
      flex-basis: 50%;
    }

    .with-icon {
      position: relative;

      .form-control {
        padding-right: 40px;
      }

      icon {
        position: absolute;
        top: 37px;
        right: 10px;

        ::ng-deep i {
          color: $color-gray-70;
        }
      }
    }

    .btn-group {
      button {
        cursor: pointer;
        background: white;
        font-size: 13px;
        width: 50%;
        height: 40px;
        border-radius: $border-radius;
        border: solid $color-border-secondary 1px;
        outline: none;

        &.no {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &.yes {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        &.active {
          background-color: $color-assets-primary;
          border-color: $color-assets-primary;
          color: $light;
        }
      }
    }

    .toggle-panel {
      width: 125px;
    }

    .toggle-parent {
      top: -59px;
      right: 0;

      .toggle-switch {
        background: $color-gray-50;
        width: 27px;
        height: 16px;
        border-radius: 30px;
        position: relative;
        transition: ease-in-out .2s;
        cursor: pointer;

        &:before {
          position: absolute;
          top: 2px;
          left: 2px;
          width: 12px;
          height: 12px;
          border-radius: $rounded-circle;
          background: $light;
          content: '.';
          text-indent: -9999px;
          overflow: hidden;
          display: block;
          visibility: visible;
          transition: ease-in-out .2s;
        }

        &.toggle_off {
          &:before {
            transform: translateX(0);
          }
        }

        &.toggle_on {
          background: $color-assets-primary;

          &:before {
            transform: translateX(11px);
          }
        }
      }
    }

    .enforce-rate-card-toggle {
      width: 100% !important;

      .toggle-panel-inner {
        height: 50px !important;
      }
    }

    .disable {
      cursor: not-allowed;
      pointer-events: none;
      opacity: 0.5;
    }

    .rates {
      #lock {
        ::ng-deep i {
          vertical-align: middle;
        }
      }

      #lock-open {
        ::ng-deep i {
          vertical-align: middle;
        }
      }

      .bill-rate {
        .factor {
          width: 60px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-right: 0;
        }

        .rate-select {
          width: 125px;

          ::ng-deep .ng-select-container {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }

        .add-new-rate,
        .remove-new-rate {
          color: $color-link;
          width: auto;
          height: max-content;
          cursor: pointer;

          icon {
            ::ng-deep i {
              vertical-align: top;
              color: $color-link;
            }
          }
        }

        .add-factor {
          .add {
            border: none;
            color: $light;
            border-radius: $border-radius;
            background: $color-assets-primary;
            width: 40px;
          }

          .minus {
            border: none;
            border-radius: $border-radius;
          }
        }
      }
    }

  }

  .cancel-save-buttons {
    max-width: 932px;
    position: relative;
    margin: auto;
  }
}

.white {
  background-color: white !important;
}

.w-50 {
  width: 50%;
}