@import '../../../../../assets/sass/abstracts/variables';

.extended-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 304px;
    bottom: 0;
    background-color: $color-gray-10;
    padding: $p24 $p32;
}