@import '../../../assets/sass/abstracts/variables';

.activity-pricing-wrapper {
    background-color: $color-gray-0;
    position: relative;
    min-height: calc(100vh - 50px);

    .back-button {
        position: absolute;
        background-color: $color-assets-secondary-shade;
        color: $light;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        left: 32px;
        top: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $light;
    }

    .activity-form-wrapper {
        padding: $p24 100px;
    }
    .toggle{
        width: 40%;
    }
    .toggle-panel {
        width: auto;
    }

    .activities-panel {
        ::ng-deep .table-bg {
           padding: 0;
           
           .table-bg-inner {
               box-shadow: inherit;
           }
        }
    }
    .invalid-feedback{
        color: red;
    }
}
.input-with-fixed-value span{
    position: absolute;
    top: 1px;
    left: 1px;
    background: #FAFBFC;
    width: 52px;
    text-align: center;
    bottom: 1px;
    line-height: 40px;
    border-right: 1px solid var(--color-border-secondary);
}
.input-with-fixed-value input{
  padding-left: 64px;
}
.add-btn{
    width: 60%;
    align-self: center;
}