@import '../../../../assets/sass/abstracts/variables';

.Quali-logo {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: $color-blue;
  color: $color-white;
}
.content-width {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  width:100px !important;

//   overflow: hidden;
// display: -webkit-box;
// width: 100px;
// -webkit-line-clamp: 1;
// -webkit-box-orient: vertical;
  }
.remove_candidate{ 
   position: absolute;
    right: 20px;
    top: 12px;
    font-size: 17px;
    cursor: pointer;
}
.candidate-select {
  p {
    color: $text-black;

    &.x-small {
      color: $color-gray-70;
    }
  }
}

.toggle-panel {
  width: auto;
}

.toggle-panel-inner {
  background-color: transparent;
  border-color: transparent;
}

.contacts {
  font-size: 14px;
  color: $color-blue;

  span {
    color: $text-black;
  }
}

.add-cadidate {
  color: $color-blue;
}

.h-150 {
  height: 150px;
}

.search {
  position: absolute;
  top: 10px;
  right: 8px;
  color: $placeholder-color;
  z-index: 999;
}

.tabs {
  width: 100%;

  .tabs-panel {
    width: 150px;
    background-color: $color-gray-10;
    border-radius: 4px;
    font-size: 14px;
    color:$color-gray-70;
    p{
        color:$text-black;
    }
  }
  .tabs-panel-strength{
width:175px;
  }
}

.strength-bar {
  display: flex;
  flex-wrap: nowrap;
    ul {
      list-style-type: none;
      margin:$m0;
      position: relative;
      width: 100%;
  
      li {
        float: left;
        background: $border-color;
        width: 19%;
        height: 10px;
        margin-right: 1%;
       &:first-child{
           border-radius: 4px 0px 0px 4px;
       }
       &:last-child{
        border-radius: 0px 4px 4px 0px;
    }
    &.active{
        background-color:$color-blue;
    }
      }
  
      &:after {
        position:absolute;
        top: -5px;
        right: 0;
        font-size: 11px;
        visibility: visible;
        display: block;
        color: #5c5656;
      }
    }
  
  } 

  ::ng-deep {
    .search-job {
      .ng-select {
  
        .ng-arrow-wrapper,
        .ng-clear-wrapper {
          display: none;
        }
      }
    }
  }