@import "../../../assets/sass/abstracts/variables";

.basic-info-scroll {
  max-height: calc(100vh - 220px);
  overflow: auto;
}
.radio-container {
  padding-left: 24px;
  margin-top: 3px;

  .checkmark {
    height: 18px;
    border: 1px solid $color-assets-primary;
    width: 18px;
    background-color: white;

    &:after {
      top: 2px;
      left: 2px;
      font-size: 12px;
      color: $color-assets-primary;
    }
  }
}

.permissons-form {
  .checkbox-wrapper {
    .checkbox-container {
      margin-bottom: 0;

      p {
        font-size: 13px;
        line-height: 18px;
      }

      .checkmark {
        width: 13.5px;
        height: 13.5px;
        border-radius: 2px;
        border-color: #7F92A3;
        top:3px;

        &:after {
          top: 1px;
          left: 0;
          font-size: 12px;
        }
      }
    }
  }
  .content-scrollbar {
    overflow: auto;
    max-height: calc(100vh - 290px);
}
}

.tab-panel {
  padding: 0px;
}

.gray {
  color: $color-gray-80;
}

.dispToggle { display: none; }

// .active-module { 
//   .dispToggle { display: flex}
// }

.group-wrapper {
  background-color: $color-gray-2;
}

.iframe-component div {
  margin: 0px !important;
  left: -3px;
  top: -1px;
}
