.section {
  position: absolute;
  top: 65px;
  width: 100%;
  min-height: 375px;
  border-radius: 4px;
  opacity: 1;
}

.social-icons{
  width:20px;
  height:20px;
}

.email {
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.address {
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.dob-value {
  color: #000 !important;
}

.account_reg{
  background-color: #4bb543;   
  color: white;
  text-align: center;
  border-radius: 5px;
}
 .account_unreg{
  background-color: #FF7676; 
  color: white;
  text-align: center;
  border-radius: 5px;
}
.send_email_btn{
  border: 0;
  color: white;
  background:  #F43E3E ;
  font-size: 13px;
 }
