<div class="collapsible-outer">
    <div class="collapsible-panel" [ngStyle]="{
        'height': expanded ? 'auto' : height + 'px',
        'overflow': 'hidden',
        'text-overflow': 'ellipsis'
    }">
        <p #text class="collapsible-content">
            <ng-content>
            </ng-content>
        </p>
    </div>
    <small (click)="expanded = !expanded" *ngIf="showCollapsible" class="collapsible-label cursor-pointer blue-text">
        {{ expanded ? "Show Less..." : "Show More..." }}
    </small>
</div>
