@import "../../../../../../../../assets/sass/abstracts/variables";

.checkbox-wrapper {
    width: 22px;
    height: 22px;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 3px;

    .checkbox-container {

        .checkmark {
            border: none;
            border-radius: $rounded-circle;
            background-color: $color-gray-50;

            &:after {
                display: block;
            }
        }

        input {
            &:checked {

                & ~ .checkmark {
                    background-color: $color-green;
                }
            }
        }
    }
}

.icon-preidentify {
  .icon-bg {
    background-color: #FAF8FF;
    border: 1px solid $color-border-secondary;
    padding: 11px;
    border-right: 0;
    border-radius: $border-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.date-thumb {
    background-color: $color-blue;
    border-radius: $border-radius;
    width: 30px;
    line-height: 30px;
    color: $light;
    text-align: center;
    margin-right: $m16;
  }

  .grid{
    border: 1px solid #E6EAF4;
    display: flex;
    align-items: center;
    border-radius: 4px;
  }

  .country-searchable {
      .select-bg{
          width:100px;
      }
    ::ng-deep .ng-select {
      .ng-select-container {
        background: $color-gray-5;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .ng-value-container {
        padding-left: $p8;
      }

      .ng-value-label {

        img {
          vertical-align: middle;
          margin-right: $m4;
        }
      }
    }

    .form-control {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .form-control {

    &.no-radius {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding-right: 45px;
      border-left:0px;
    }
  }
  .accept_interview_body{
    max-height: 78vh;
    overflow-y: auto;
  }
