@import '../../../../assets/sass/abstracts/variables';

.taskForm {
  margin: 37px 23px 0 23px;
}

label {
  color: $color-gray-70
}

::ng-deep .ng-clear-wrapper {
  display: none
}

.start_date {
  display: flex;
  align-items: center;

  &_days {
    width: 65px;
    margin-right: 8px;
  }

  &_days_text {
    margin-right: 18px;
    font-size: 14px;
    color: $color-gray-70
  }

  &_before {
    width: 208px;
    margin-right: 16px;
  }

  &_assignment {
    width: 247px;
    margin-right: 20px;
  }

  &_show_date {
    width: 128px;
    font-size: 14px;
    color: $color-gray-70;
    text-decoration: underline;
  }
}

.actor {
  display: flex;
  flex-direction: column;
}

.radio-container {
  padding-left: 24px;
  margin: 25px 50px 0 0;
  .checkmark {
      height: 18px;
      border: 1px solid $color-gray-70;
      width: 18px;
      background-color: white;
      &:after {
          top: 2px;
          left: 2px;
          font-size: 12px;
          color: $color-red-90;
      }
  }

  &_description {
    color: $color-gray-70;
    font-size: 14px;
    width: 106px;
  }
}

.checklist {
  margin-top: 42px;
}

.active-user {
  .checkbox-container {
    .checkmark {
      border: 1px solid $color-gray-50;

      &:after {
        color: $color-gray-50;
        display: block;
        font-size: 18px;
        top: 1px;
        left: 1px;
      }
    }

    input {
      &:checked {
        ~.checkmark {
          background-color: $light;
          border-color: $color-green;

          &:after {
            color: $color-green;
          }
        }
      }
    }
  }
}

li {
  border-bottom: 1px solid $color-border-secondary;
  background-color: $light;
  margin-left: -$m24;
  margin-right: -$m24;
  overflow: hidden;
  position: relative;

  .checkbox-container {
    flex-basis: 100%;
    margin-bottom: 0;
    padding-left: 0;

    input {
      &:checked {
        ~.checkmark {
          background-color: $color-green;
          border-color: $color-green;
        }

        ~.task-label {
          background-color: $color-gray-5;
        }
      }
    }
  }

  &:first-child {
    border-top: 1px solid $color-border-secondary;
  }

  .task-label {
    width: 100%;
    padding: 22px 0;
    display: block;
    font-size: 14px;
    font-weight: $font-weight-medium;
    line-height: 18px;
    padding-left: 38px;


    .text {
      text-decoration: underline;
      color: $color-secondary;
    }

    icon {
      ::ng-deep i {
        vertical-align: middle;
        margin-right: 20px;
      }
    }
  }

  .checkmark {
    left: auto;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: $rounded-circle;
    background-color: $color-gray-50;
    border-color: $color-gray-50;

    &:after {
      display: block;
    }
  }
}
.selected-checklists {
  list-style-type: none;

  li {
    margin-left: 0;
    margin-right: 0;
    border-top: 0;
    border-bottom: 0;
    div {
      line-height: 16px;
      padding: $p16;
      border-bottom: 1px solid $color-border-secondary;
      color: $color-secondary;
      overflow: hidden;
    }
  }
}

.resume-wrapper {
  text-align: center;

  .drop-zone {
    width: 47px;
    height: 47px;
    margin: auto;
    border: 1px dashed $border-color;
    border-radius: $border-radius;

    icon {
      display: inline-block;
      line-height: 47px;
      color: $color-gray-50;

      ::ng-deep i {
        line-height: 47px;
      }
    }
  }

  h4 {

    a {
      color: $color-link;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.attachment {
  margin-bottom: 32px;
}

.uploaded_file {
  height: 70px;
  border: 1px solid $color-border-secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;

  &_description {
    display: flex;
    align-items: center;
    padding: 17px 24px;
  }

  &_logo {
    width: 31px;
    height: 37px;
    margin-right: 13px;
  }
  &_info{

    ::ng-deep .success {
      color: $color-green;
    }

    &_icon {
      position: relative;
      top: 2px;
    }

    &_name {
      font-size: 12px;
      color: $text-black;
    }

    &_other {
      font-size: 11px;
      color: $color-gray-90
    }
  }

  &_deletion {
    margin: 24px 24px 24px 0;
    cursor: pointer;

    &_icon {
      color: $color-red-90;
      width: 14px;
      height: 18px
    }
  }

}
