@import '../../../../../assets/sass/abstracts/_variables.scss';
@import '../../../../../assets/css/custom-fields.scss';

.add-linked-module {
  background-color: $color-gray-10;
  border: 1px solid $color-gray-30;
  height: 83px;
  width: 100%;

  .btn {
    box-shadow: 0px 3px 6px $color-black-shadows;
    width: 57px;
    height: 57px;
  }
}

.toggle-panel {
  width: 125px;
}

.toggle-parent {
  top: -59px;
  right: 0;

  .toggle-switch {
    background: $color-gray-50;
    width: 27px;
    height: 16px;
    border-radius: 30px;
    position: relative;
    transition: ease-in-out .2s;
    cursor: pointer;

    &:before {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 12px;
      height: 12px;
      border-radius: $rounded-circle;
      background: $light;
      content: '.';
      text-indent: -9999px;
      overflow: hidden;
      display: block;
      visibility: visible;
      transition: ease-in-out .2s;
    }

    &.toggle_off {
      &:before {
        transform: translateX(0);
      }
    }

    &.toggle_on {
      background: $color-assets-primary;

      &:before {
        transform: translateX(11px);
      }
    }
  }
}

.enforce-rate-card-toggle {
  width: 100% !important;

  .toggle-panel-inner {
    height: 50px !important;
  }
}

.remove-item {
  display: none;
  background-color: #f9f9f9;

  .remove-btn {
    width: 28px;
    height: 28px;
    margin: 0 12px;
  }
}

.linked-item {
  .tab-body {
    width: 100%;
  }

  &:hover:not(:first-of-type) {
    .remove-item {
      display: flex;
    }
  }
}
.disable {
  pointer-events: none;
}
