.assignment-header {
  background-color: #F8FAFF;

  h4 {
    color: #5E71FE;
  }

  .sub-head {
    color: #3C458B;
  }
}
.no-approved-panel {
  border: 1px solid #b9c3b940;
  background-color: #ffffff05;
  width: -webkit-fill-available;
}
