@import "src/assets/sass/abstracts/variables";

.tooltip-div {
    position: absolute;
    background: #5e71fe;
    color: #fff !important;
    width: 230px;
    right: 100%;
    top: 7px;
    border-radius: 5px;
    padding: 5px 12px;
    z-index: 1;

    .tooltip {  
        div {
            font-size: 12px;
            line-height: 20px;
        }

        p {
            font-size: 16px;
            color: #fff;  
            margin-bottom: 3px;
        }
    }
}

.tooltip-div:before {
    content: "";
    top: 35px;
    right: -12px;
    position: absolute;
    border-left: 12px solid #5e71fe;
    border-bottom: 8px solid #4bae2b00;
    border-top: 8px solid #ff000000;
}

.card {
    box-shadow: 0px 6px 14px #00000005;
    border: 1px solid $color-border-secondary;
}

.alert_message {
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
    text-align: left;

    icon {
        margin-top: 0px;
    }

    .medium-font {
        font-size: 13px;
    }
}

.alert_error {
    border-left: 5px solid #f72951;
    color: #fd556b;
    margin-top: -14px;
    margin-bottom: 7px;
    background: #ffc8cf;
}

.alert_success {
    border-left: 5px solid #43a047;
    color: #43a047;
    margin-top: -14px;
    margin-bottom: 7px;
    background: #f1f8e9;
}

.alert_pending {
    border-left: 5px solid #ed8936;
    color: #ed8936;
    margin-top: -14px;
    margin-bottom: 7px;
    background: #feebc8;
}

.calendar-controls {
    h3 {
        line-height: 31px;
    }

    .view-mode {
        list-style-type: none;

        li {
            transition: $transition;
            line-height: 31px;
            width: 32px;
            text-align: center;
            cursor: pointer;
            border-radius: $rounded-circle;
            overflow: hidden;

            icon {
                ::ng-deep i {
                    line-height: 31px;
                    vertical-align: middle;
                    transition: $transition;
                    color: $color-gray-50;
                }
            }

            &:hover,
            &.active {
                background-color: $color-assets-primary;

                icon {
                    ::ng-deep i {
                        color: $light;
                    }
                }
            }
        }
    }

    .leave-summary {
        list-style-type: none;
        margin-left: 4%;

        li {
            display: inline-block;
            line-height: 40px;
            position: relative;
            padding-left: 29px;
            color: $color-gray-70;

            span {
                color: $text-black;
            }

            &:before {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                width: 9px;
                height: 9px;
                border-radius: $rounded-circle;
                background-color: #3d3dff;
                content: ".";
                text-indent: -9999px;
                overflow: hidden;
                display: block;
                visibility: visible;
            }

            &:nth-child(2) {
                &:before {
                    background-color: #d01010;
                }
            }

            &:nth-child(3) {
                &:before {
                    background-color: #ff8600;
                }
            }
        }
    }

    p {
        line-height: 33px;
        color: $text-black;

        span {
            color: $color-blue;
        }
    }
}

.controls-bottom {
    border-top: 1px solid #F4F4F4;

    .leave-summary {
        list-style-type: none;

        li {
            display: inline-block;
            line-height: 40px;
            position: relative;
            padding-left: 24px;
            color: $color-gray-70;

            span {
                color: $text-black;
            }

            &:before {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 9px;
                height: 9px;
                border-radius: $rounded-circle;
                background-color: #7d7d9b;
                content: '.';
                text-indent: -9999px;
                overflow: hidden;
                display: block;
                visibility: visible;
            }

            &:nth-child(1) {
                &:before {
                    background-color: #3d3dff;
                }
            }

            &:nth-child(2) {
                &:before {
                    background-color: #3d3dff;
                }
            }

            &:nth-child(3) {
                &:before {
                    background-color: #d01010;
                    ;
                }
            }
        }
    }

    p {
        line-height: 40px;
        color: $text-black;

        span {
            color: $color-blue;
        }
    }
}

.calendar-days {
    border-top: 1px solid $color-border-secondary;

    .week-day {
        border-left: 1px solid $color-border-secondary;
        width: 13.28%;
        text-align: center;
        padding: $p16;
        line-height: 17px;
        color: $color-dark;
        z-index: 1;

        &:firt-child {
            border-left: 0;
        }

        &:nth-child(8) {
            width: 7%;
        }

        &.weekend {
            background-color: $color-gray-5;
            color: $color-gray-50;
        }

        .more-options {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            transform: translateY(-50%);
            cursor: pointer;
            text-align: right;

            .dots {
                margin-right: $m12;
                transition: $transition;
                opacity: 0;
                visibility: hidden;
            }

            .more-option-dropdown {
                position: absolute;
                top: 32px;
                right: 0;
                left: 0;
                background-color: $light;
                transition: $transition;
                line-height: 46px;
                color: $color-gray-70;
                z-index: 1;
                box-shadow: 0px 17px 17px -15px #00000054;
                opacity: 0;
                visibility: hidden;
                transition: $transition;
                border-bottom: 1px solid #d1dce6;

                .close-more-option {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }

                p {
                    text-align: left;
                }

                .btn-mark {
                    background-color: #ff5f74;
                    text-align: center;
                    color: #FFFFFF;
                    font-size: 12px;
                    line-height: 16px;
                    margin: 11px 0;
                    padding: 10px !important;
                    border-radius: 5px;
                    border: 0;
                    outline: 0;
                    cursor: pointer;
                    width: 100%;
                }

                ul {
                    list-style-type: none;
                    text-align: left;
                    padding-left: $p12;
                    padding-right: $p12;

                    li {
                        display: inline-block;
                        margin: 0 6% $m12 0;
                        border: 1px solid $color-assets-primary;
                        border-radius: $border-radius;
                        width: 29%;

                        &:nth-child(3n) {
                            margin-right: 0;
                        }

                        .checkbox-container {
                            padding-left: 0;
                            width: 100%;
                            margin-bottom: 0;

                            .checkmark {
                                top: auto;
                                bottom: -5px;
                                right: -5px;
                                left: auto;
                                width: 15px;
                                height: 15px;
                                border: 0;
                                background-color: transparent;
                            }

                            .label {
                                text-align: center;
                                width: 100%;
                                font-size: 14px;
                                display: block;
                                color: $color-assets-primary;
                            }

                            input {
                                &:checked {
                                    ~.checkmark {
                                        background-color: $color-green;
                                        border-radius: $rounded-circle;

                                        &:after {
                                            top: -16px;
                                            left: 2px;
                                            font-size: 11px;
                                        }
                                    }
                                }
                            }
                        }

                        &.disabled {
                            opacity: .4;
                        }
                    }
                }

                &.active {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .btn-wrapper {
                margin-left: 11px;
                margin-right: 11px;
            }
        }

        &:hover,
        &.active {
            .more-options {
                .dots {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &:first-child {
            border-left: 0;
        }
    }
}

.days {
    border-top: 1px solid $color-border-secondary;

    .date {
        border-left: 1px solid $color-border-secondary;
        width: 13.28%;
        text-align: right;
        padding: $p16;
        color: $color-dark;
        min-height: 142px;

        &:hover {
            background-color: #ffffff;
            box-shadow: inset 0px 0px 23px #00000014;
            text-align: center;
            padding: 16px;
            transition: 0.4s ease-in-out;
            cursor: pointer !important;
        }

        &:nth-child(8) {
            width: 7%;
            text-align: center;
            padding-top: 38px;
            padding-bottom: 38px;
        }

        &.b_date {
            width: 7%;
            text-align: center;
            padding-top: 16px;
            padding-bottom: 8px;
        }

        &.weekend {
            background-color: $color-gray-5;
            color: $color-gray-50;
        }

        &.not-filled {
            background: rgb(255 0 0 / 20%);
        }

        .week-count {
            font-size: 12px;
            color: $color-gray-50;
            margin-bottom: $m8;
            display: block;
        }

        .od {
            color: $color-dark;
            margin-bottom: $m8;
            display: block;
        }

        .total-hr {
            color: $color-dark;
            display: block;
        }

        .hover-menu {
            background-color: $light;
            box-shadow: inset 0px 0px 23px #00000014;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 0;
            text-align: center;
            padding: $p16;
            transition: $transition;
            opacity: 0;
            visibility: hidden;

            p {
                text-align: right;
                line-height: 17px;
            }

            span {
                position: absolute;
                bottom: 16px;
                left: 16px;
                right: 16px;
                background-color: $color-gray-0;
                border-radius: 5px;
                line-height: 33px;
                display: block;
                color: $color-gray-80;
            }
        }

        &:hover {
            .hover-menu {
                opacity: 1;
                visibility: visible;
            }
        }

        .hide-menu {
            visibility: hidden !important;
            opacity: 0 !important;
        }

        .icon-wrapper {
            icon {
                flex: 0.5;
            }
        }

        .selcted-time {
            color: $color-gray-90;
            margin-top: $m32;
            padding-top: $p4;
            text-align: left;
        }

        .duration {
            border-radius: 5px;
            line-height: 33px;
            overflow: hidden;
            text-align: left;
            margin-top: 2px;
            white-space: nowrap;
            text-overflow: ellipsis;

            &.full {
                background-color: #90049026;
                color: purple;
                padding: 0 $p8;
                font-weight: $font-weight-regular;
            }

            &.fullday {
                background-color: #90049026;
                color: purple;
                padding: 0 $p8;
                font-weight: $font-weight-medium;
            }

            &.halfday {
                background-color: #ffe7c0;
                color: #d88c00;
                padding: 0 $p8;
                font-weight: $font-weight-medium;
            }

            &.leave {
                background-color: #ffc6c6;
                color: #d01010;
                padding: 0 $p8;
                font-weight: $font-weight-medium;
            }

            &.weeklyleave {
                background-color: #80808040;
                color: grey;
                padding: 0 $p8;
                font-weight: $font-weight-medium;
            }

            &.earnleave {
                background-color: #0000ff14 !important;
                color: #7d7d9b !important;
                padding: 0 $p8;
                font-weight: $font-weight-medium;
            }

            &.clientholiday {
                background-color: #2dc12d5c;
                color: #1e981e;
                padding: 0 $p8;
                font-weight: $font-weight-medium;
            }

            &.half-leave {
                font-weight: $font-weight-regular;

                small {
                    font-size: 12px;
                }

                .half {
                    background-color: #ffe7c0;
                    color: #d88c00;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                .leave {
                    background-color: #ffc6c6 !important;
                    color: #d01010 !important;
                    padding: 0 $p8;
                    font-weight: $font-weight-medium;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    width: 100%;
                }

                .earnleave {
                    background-color: #0000ff14 !important;
                    color: #7d7d9b !important;
                    padding: 0 $p8;
                    font-weight: $font-weight-medium;
                    width: 100% !important;
                }

                .half-wrap {
                    background-color: transparent;
                    padding: 0;
                }

                span {
                    float: right;
                    width: 54%;
                    background-color: #ffc6c6;
                    color: $light;
                    text-align: center;
                    padding: 0 $p8;

                    icon {
                        ::ng-deep i {
                            vertical-align: middle;
                        }
                    }
                }
            }
        }

        &:first-child {
            border-left: 0;
        }
    }
}

.calendar-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 348px;
    background-color: $light;
    box-shadow: 0px 8px 39px #0000001a;
    z-index: 1;
    transition: $transition;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;

    .mark {
        font-size: 12px;
        color: $color-dark;

        input {
            vertical-align: middle;
            margin-right: $m8;
        }
    }

    h4 {
        color: $color-assets-primary;
        margin-bottom: $m24;
    }

    .with-icon {
        position: relative;

        icon {
            position: absolute;
            top: 14px;
            left: 12px;
        }

        input,
        textarea {
            padding-left: 37px;
        }
    }

    .upload-btn {
        background-color: $light;
        border: 1px solid $color-border-secondary;
        width: 100%;
        outline: none;
        cursor: pointer;
        padding: 0 $p16;
        color: $color-gray-80;
        text-align: left;
        line-height: 39px;

        icon {
            float: right;

            ::ng-deep i {
                vertical-align: middle;
            }
        }
    }

    .radio-group {
        vertical-align: middle;
    }

    .select-with-icon {
        .ng-select {
            ::ng-deep .ng-value-container {
                padding-left: 41px;

                &:before {
                    position: absolute;
                    top: 12px;
                    left: 17px;
                    content: "work_off";
                    font-family: "Material Icons Outlined";
                    font-weight: normal;
                    font-style: normal;
                    font-size: 14px;
                    display: block;
                    visibility: visible;
                }
            }
        }
    }

    .calendar-popup-footer {
        background-color: $color-assets-primary;
        overflow: hidden;

        button {
            color: $light;
            border: 0;
            outline: none;
            line-height: 40px;
            cursor: pointer;

            &.cancel {
                background: transparent;
            }

            &.save-btn {
                background-color: $color-dark-blue;
                border-radius: $border-radius;
                padding: 0 $p24;
            }
        }

        .total-label {
            color: $light;
        }

        .total-value {
            color: $light;
        }
    }

    &.active {
        max-height: 500px;
        opacity: 1;
        visibility: visible;
        overflow: visible;
    }

    .timesheet-tool {
        icon {
            cursor: pointer;
        }
    }

    .timesheet-detail {
        h4 {
            color: $text-black;
        }

        p {
            color: $text-black;
        }

        icon {
            vertical-align: middle;
        }

        .leave-description {
            overflow: hidden;

            span {
                width: 270px;
            }
        }
    }
}

.holiday {
    width: 100%;
    text-align: left;

    span {
        display: flex;
        align-items: center;
        justify-content: left;
        height: 100%;
        color: #f00e0e;

        icon {
            ::ng-deep i {
                vertical-align: middle;
            }
        }
    }
}

.view-container {
    table {
        thead {
            background-color: #F9F7FF;
            text-align: left;

            icon {
                ::ng-deep i {
                    vertical-align: middle;
                }
            }

            th {
                &:first-child {
                    padding-left: $p8;
                }
            }
        }

        tbody {
            tr {
                td {
                    border-bottom: 1px solid #F4F4F4;
                    border-left: 1px solid #F4F4F4;
                    height: 60px;
                    padding: $p24;

                    &:first-child {
                        border-left: 0;
                        padding-left: $p8;
                    }

                    input {
                        border: 1px solid #EFECEC;
                        width: 84px;
                        padding: $p4;
                        outline: none;
                    }

                    icon {
                        ::ng-deep i {
                            vertical-align: middle;
                        }
                    }

                    .hover-action {
                        transition: $transition;
                        opacity: 0;
                        visibility: hidden;

                        button {
                            border: 1px solid #FF7171;
                            background-color: $light;
                            color: #B90707;
                            font-size: 13px;
                            border-radius: $border-radius;
                            padding: $p8 $p16;
                            outline: none;
                            cursor: pointer;

                            &:first-child {
                                border-right: 0;
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                            }

                            &:nth-child(2) {
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                            }
                        }
                    }
                }

                &:hover {
                    td {
                        .hover-action {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }

        .notes-col {
            vertical-align: top;
        }

        .notes-dropdown {
            width: 100%;
            padding: 30px $p24;

            textarea {
                display: none;
            }

            &.active {
                position: absolute;
                top: 0px;
                left: 0;
                right: 0;
                background-color: $light;
                border: 1px solid $color-gray-10;
                box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
                z-index: 1;

                textarea {
                    display: block;
                    background-color: $light;
                    border: 0;
                    margin-top: $m16;
                    outline: 0;
                    font-size: 12px;
                    width: 100%;
                }
            }
        }
    }
}

.timesheet-footer {
    left: 96px;
    right: 32px;
    bottom: 0;
    box-shadow: 0 -13px 12px -10px rgba(0, 0, 0, 0.09);
    z-index: 1;
    max-width: 1536px;
    margin: auto;
    border-left: 1px solid var(--color-border-secondary);
    border-right: 1px solid var(--color-border-secondary);

    h3 {
        line-height: 40px;

        span {
            margin-left: $m24;
        }
    }
}

.working-days-switcher.disabled {
    opacity: .5;
    cursor: no-drop;
    pointer-events: none;
}

.working-days-switcher.disabled a,
.working-days-switcher.disabled label {
    cursor: no-drop;
}

.working-days-switcher.disabled a:hover {
    background: none !important;
}

.working-days-switcher.disabled a.active:hover {
    background: #5e71fe !important;
}

.working-days-switcher label {
    /* margin-top: 8px; */
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-line;
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 4px;
    color: #6f6d6d;
}

.working-days-switch {
    display: table;
    margin: auto;
    margin-bottom: 13px;
    border: 1px solid #5e71fe5c;
    border-radius: 4px;
}

.working-days-switch a {
    padding: 2px 8px;
    float: left;
    color: #5e71fe;
    font-weight: 400;
    margin: 2px;
    border-radius: 4px;
}

.working-days-switch a:hover {
    color: #5e71fe;
    background: #ebe7fd;
}

.working-days-switch a.active:hover {
    color: #fff;
    background: #5e71fe;
}

.working-days-switch a.active {
    background: #5e71fe;
    color: #fff;
}

.week-total-hours label {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 4px;
    color: #6f6d6d;
}

.week-total-hours span {
    font-size: 15px;
    font-weight: 400;
}

.week-total-hours {
    padding-top: 10px;
}

.date.b_date {
    box-shadow: none !Important;
}


/*
.working-days-switch a {
    background: #ffffff;
    padding: 4px 10px;
    float: left;
    color: #5e71fe;
    font-weight: 500;
    border: 1px solid #5e71fe;
}

.working-days-switch a:hover {
    background: #fbfaff;
}

.working-days-switch a.active:hover {
    background: #5e71fe;
}

.working-days-switch a:nth-child(1) {
    border-radius: 4px 0px 0px 4px;
}

.working-days-switch a:nth-child(2) {
    border-radius: 0px 4px 4px 0px;
    margin-left: -1px;
}

.working-days-switch a.active {
    background: #5e71fe;
    color: #fff;
}*/