<div class="p-24">
    <div class="d-flex align-items-center">
        <h4 class="font-weight-medium mr-8 fs-15 mb-0 text-black">{{ 'onboarding_review' | i18next }}</h4>
        <i class="info-icon material-icons mr-16"
            [tooltip]="'When enabled, the MSP will be able to review onboarding tasks to ensure they have been completed successfully.' | i18next"
            placement="right">help</i>
        <toggle-button [checked]="isOnboardingReview" (changed)="onboardingReview($event)"></toggle-button>
    </div>
</div>
