@import "../../../../assets/sass/abstracts/variables";
.border-none {
    border: none;
}

.workflow-h{
    height: auto;
}

.offer-workflow {
  padding-right: 100px !important;

  .more-offers {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .deleate-icon, .delegate-to {
    display: none;
  }

  ::ng-deep {
    .approver-list-modal {
      .deleate-icon, .delegate-to {
        display: block;
      }
    }
  }
}
  
.approver-list-modal {
  min-height: 200px;

  .workflow-user-detail {
    width: auto;
  }
}
