.secret-question {
  .top-left-corner {
    width: 237px;
    height: 97px;
    transform: rotate(11deg);
    left: -80px;
    top: -37px;
  }

  .top-right-corner {
    width: 125px;
    height: 23px;
  }

  .bottom-left-corner {
    bottom: 19px;
    left: -58px;
    width: 147px;
    height: 123px;
    transform: rotate(103deg);
  }

  .bottom-right-corner {
    bottom: 34%;
    width: 92px;
    height: 259px;
  }

  .form-wrapper {
    max-width: 556px;

    .custom-width {
      max-width: 330px;
    }
  }
}

@media screen and (max-width: 767px) {
  .secret-question {
    .form-wrapper {
      max-width: 90%;
    }
  }
}

@media screen and (max-width: 500px) {
  .secret-question {
    .form-wrapper {
      .btn-row {
        >div {
          text-align: center;
        }

        button {
          float: none !important;
          margin-left: auto;
          margin-right: auto !important;
        }
      }
    }
  }
}
