<!-- <i *ngIf="type==='fa'" [class]="'fa fa-'+name" [style.color]="color" [style.fontSize]="size" aria-hidden="true"></i> -->
<!-- <i *ngIf="type==='linear'" [class]="'lnr lnr-'+name" [style.color]="color"></i> -->
<i (click)="onClickIcon()" *ngIf="type==='material'"
    [class]="cuClass ? cuClass+' '+(theme? 'material-icons-'+theme : 'material-icons') : (theme? 'material-icons-'+theme: 'material-icons')+' icon-default'"
    [style.color]="color" [style.fontSize]="size">{{name}}</i>
<i (click)="onClickIcon()" *ngIf="type==='custom'"
    [class]="cuClass ? 'custom-icon '+cuClass+' cu-'+name : 'custom-icon icon-default cu-'+name" [style.color]="color"
    [style.fontSize]="size"></i>
    <i (click)="onClickIcon()" *ngIf="type==='symbols'"
    [class]="cuClass ? cuClass+' material-symbols-outlined' : 'material-symbols-outlined'"
    [style.color]="color" [style.fontSize]="size" [style.fontVariationSettings]="variationSettings">{{name}}</i>