@import './../../../../assets/sass/abstracts/variables';

.hierarchy-tree {

  ::ng-deep .dropdown {
    position: relative;

    &.show {
      .dropdown-toggle::after {
        content: 'expand_less';
      }
    }

    .dropdown-toggle {

      &:active::after,
      &:focus::after,
      &:hover::after {
        color: #707070;
      }

      &::after {
        content: 'expand_more';
        font-family: Material Icons;
        font-weight: 400;
        font-style: normal;
        font-size: 21px;
        color: $color-gray-100;
        margin-top: 0;
        right: 5px;
      }
    }

    .dropdown-menu {
      border: 1px solid $color-border-secondary;
      border-radius: 4px;
      margin-top: 8px;
      padding-top: 8px;
      display: none;

      &.show {
        display: block;
      }

      .row-item {
        display: flex;

        i {
          position: relative;
          display: flex;
          align-items: center;
          bottom: 4px;
        }
      }

      .form-check {
        display: flex;
        align-items: center;
        padding-left: 18px;
        margin-bottom: 8px;

        .form-check-label {
          margin-bottom: 0;
          margin-left: 4px;
        }
      }

      .dropdown-divider {
        height: 0;
        margin: 0.5rem 0;
        overflow: hidden;
        border-top: 1px solid $color-border-secondary;
      }
    }

    .treeview-header {
      .form-check {
        padding: 0;
        margin-bottom: 0;
      }

      .col-12 {
        display: flex;
        justify-content: space-between;

        .form-check-label {
          margin-bottom: 0;
        }
      }
    }
  }
}

ngx-dropdown-treeview ::ng-deep {
  div {
    button ::ng-deep {
      font-size: 14px;
      background-color: white;
      border: 1px solid #EBEEF3;
      text-align: left;
      color: #707070;

      &:after {
        font-size: 14px;
        background-color: white;
        border: 1px solid #EBEEF3;
        text-align: left;
        color: #707070;
      }

      &:hover,
      &:focus {
        color: #f4f4f4;
        background-color: #f4f4f4;
      }

    }
  }
}

icon {
  cursor: pointer;
}

.close {
  cursor: pointer;
}

*::ng-deep {

  .dropdown {
    button {
      display: flex;
      align-content: center;
      justify-content: flex-start;
      text-align: left;
    }
  }

  .badge {
    padding: 2px 8px;
  }

}