<vms-table *ngIf="tableLoaded" [vmsTableConfig]="tableConfig" [vmsDataSource]="vmsData?.tasks"  [totalItem]="totalRecords"
           [itemsPerPage]="itemsPerPage" (onViewClick)="onClickView($event)"  (onEditClick)="onEditClick($event)"
           (changePage)="onPaginationClick($event)" (onDisableClicked)="disableClicked($event)" (onCreate)="onCreateClick($event)" (search)="onSearch($event)" (onDeleteClick)="onDeleteClick($event)"
            (onListFilter)="onListFilter($event)" (onSort)="onSortClick($event)">
</vms-table>
<app-create-tasklist (onSaveTask)="taskList()"></app-create-tasklist>
