@import '../../../../assets/sass/abstracts/variables';


.uploaded-list-sidebar {
  list-style-type: none;
  width: fit-content;

  li {
    border: 1px solid $color-gray-30;
    background: $color-gray-5;
    overflow: hidden;
    padding: $p16 $p24;
    width: fit-content;
    position: relative;

    figure {
      float: left;
      margin-right: 0;
    }

    .icon{
      height: 50px;
      width: 50px;
    }

    .delete-resume {
      float: right;
      margin-top: $m8;
      cursor: pointer;
      position: absolute;
      top: 0;

      icon {
        color: $color-red-90;
      }
    }
  }

}
