@import '../../../../../../../assets/sass/abstracts/variables';

.profile-info {
    background-color: #FCFAFF;

    figure {
      width: 48px;
      height: 48px;
      border-radius: $rounded-circle;
      overflow: hidden;
      background-color: rgba(99, 117, 254, 0.13);

      img {
        width: 100%;
        height: 100%;
        overflow: auto;
        object-fit: cover;
      }
    }

    .profile-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 2;
      .link-master-profile{
        .search-box{
          margin: 23px 16px 0px 19px;
          position: relative;
          img{
            width: 20px;
            height: 20px;
            position: absolute;
            bottom: 8px;
            left: 13px;
          }
          input{
            padding-left: 35px;
          }
        }
        .linked-profile{
          margin: 24px 19px 25px 19px;
          display: flex;
          h4{
            margin-bottom: 0;
            cursor: pointer;
          }
          span{
            font-size: 12px;
            cursor: pointer;
          }
        }
        .no-search-data-found{
          h3{
            text-align: center;
            margin-top: 75px;
          }  
        }
      }
      h4{
        text-transform: capitalize; 
      }
      .current-work{
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }

    .social-profile {
      img {
        vertical-align: middle;
      }
    }

    button {
      &.color-green {
        background-color: #26CC39;
        border-color: #26CC39;
        font-weight: 400;

        icon {
          ::ng-deep i {
            color: $light;
          }
        }
      }

      &.download {
        font-weight: 400;
      }

      &.more-btn {
        icon {
          ::ng-deep i {
            vertical-align: middle;
          }
        }
      }

      &.bookmark-button {
        border: 0;
        background-color: transparent;
        margin-left: $m16;
        cursor: pointer;
      }
    }

    .address,
    .phone,
    .email {
      p {
        font-size: 12px;
      }

      icon {
        line-height: 24px;
        ::ng-deep i {
          vertical-align: middle;
        }
      }
    }
  }

  .basic-infos {

    icon {
      ::ng-deep i {
        vertical-align: middle;
      }
    }

    p {
      &.labels {
        font-size: 13px;
        color: $color-body-txt-secondary;
      }

      &.masked {
        position: relative;
        color: $color-gray-30;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '.';
          text-indent: -9999px;
          overflow: hidden;
          display: block;
          visibility: visible;
          background: url(../../../../../../../assets/images/pattern.png) repeat;
        }
      }
    }
  }

  .item-list {
    list-style-type: none;

    li {

      .click-trigger {
        cursor: pointer;
      }

      figure {

        &.bullet {
          background-color: $color-gray-20;
          width: 36px;
          height: 36px;
          justify-content: center;

          img {
            width: 100%;
            height: auto;
          }
        }

        &.item-img {
          border: 1px solid $border-color;
          border-radius: $border-radius;
          overflow: hidden;
          width: 104px;
          height: 63px;
          padding: $p4;
          position: relative;
          text-align: center;

          img {
            max-width: 100%;
            max-height: 100%;
            height: auto;
            width: auto;
            display: inline-block;
          }

          figcaption {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 2;
            background-color: rgba(43, 45, 66, .61);
            color: $light;
            font-size: 11px;
            padding: 0 10px;
            line-height: 22px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }

      .item-description {
        padding-right: 0;
        width: 90%;

        .title {
          color: $text-black;
        }

        &.full-width {
          padding-right: 0;
        }

        p {
          line-height: 21px;
        }

        a {

          &.read-more {
            color: $color-link;
          }
        }
      }

      &:first-child {
        .item-description {
          border-top: none;
        }
      }

      &:hover {
        .edit-item {
          opacity: 1;
        }
      }
    }
  }
  .dob-vision {
    display: flex;
    align-items: center;
  
    .dob-hide {
      width: 100px;
      height: 20px;
      background-image: linear-gradient(145deg, #a8eba8 21.43%, #ebf0ff 21.43%, #ebf0ff 50%, #a8eba8 50%, #a8eba8 71.43%, #ebf0ff 71.43%, #ebf0ff 100%);
      background-size: 10px 10px;
      margin-right:4px;
    }
    .dot-show{
      width: 100px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-right:4px;
    }

  }
  .download-file{
    a{
      color: #776de0;
    }
  }
  .value-group {
    a {
      color: $color-link;
      text-decoration: underline;
    }
  }

  .qualif-block-set {
    max-height: 300px;
    overflow-y: auto;
  }
  .worker-details{
    margin-top: 32px;
    .no-work{
      width: 100%;
      height: 45px;
      background-color: #EDF2FE;
      display: flex;
      align-items: center;
      padding-left: 10px;
      img{
        width: 24px;
        height: 24px;
        margin-right: 14px;
      }
      span{
        color: #00338E;
        font-size: 13px;
        font-family: 'Inter';
        font-weight: 400;
      }
    }
  }

::ng-deep .dropdown-menu {
  min-width: 300px;
  top: 40px;
  left: -125px;
  height: 400px;
  // overflow: scroll;
}

.linked-profiles-content {
  height: 80%;
  overflow: scroll;
}

.mtp-id{
  font-size: 12px;
  span{
    margin-left: 4px;
  }
}
.inner{
  display: flex;
  margin-left: 63px;
  margin-top: 4px;
}
.mtp-address{
  margin-left: 62px;
  margin-top: 0px !important;
}
.mtp-phone{
  margin: 0px 16px;
}