@import "../../../../../../assets/sass/abstracts/variables";

.notification-panel-hiring {
  .panel {
    background-color: $light;
    position: relative;

    .green {
      color: #4eb734;

      ::ng-deep i {
        vertical-align: middle;
      }
    }

    .view-link {
      color: $color-link;
    }

    .dark-text {
      display: block;
      color: $color-gray-80;
    }

    .panels-footer {
      background-color: #fcfaff;

      a {
        font-size: 12px;
      }

      button {
        font-size: 12px;

        &.outline-btn {
          padding-left: $p4;
          padding-right: $p4;

          icon {
            display: inline-block;

            ::ng-deep i {
              vertical-align: middle;
              color: $color-assets-primary;
            }
          }
        }
      }

      &.yellow-footer {
        background-color: #fdfaef;
      }
    }

    .match-svg {
      position: absolute;
      top: 24px;
      right: 24px;

      svg {
        transform: scale(1.9) rotate(180deg);

        .circle {
          fill: none;
          stroke: $color-assets-primary;
          stroke-width: 3;
        }

        .circle-bg {
          fill: none;
          stroke: #e0edff;
          stroke-width: 3;
        }
      }
    }

    .match-value {
      position: absolute;
      top: 31px;
      right: 19px;
      width: 46px;
      text-align: center;
      color: $color-assets-primary;
      font-size: 18px;
    }
  }

  .panel-yellow {
    background-color: #fff7d6;
    border: 1px solid #ffdb89;

    figure {
      width: 38px;
      height: 38px;
      background-color: #ffba00;
      text-align: center;

      icon {
        line-height: 38px;

        ::ng-deep i {
          vertical-align: middle;
          color: $light;
        }
      }
    }
  }

  .panel-pink {
    background-color: #ffe0e6;
    border: 1px solid #ffc7c4;

    figure {
      width: 38px;
      height: 38px;
      background-color: #ff1717;
      text-align: center;

      icon {
        line-height: 38px;

        ::ng-deep i {
          vertical-align: middle;
          color: $light;
        }
      }
    }
  }
}

.title-pink {
  color: #ff0033;
}

.action-list {
  list-style-type: none;
  width: 200px;
  top: 34px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: $transition;
  max-height: 0;
  z-index: 1;
  box-shadow: 0px 12px 13px #00000014;

  li {

    a {
      line-height: 24px;
      font-weight: $font-weight-medium;
      display: block;
      transition: $transition;
      cursor: pointer;

      icon {
        ::ng-deep i {
          vertical-align: middle;
        }
      }

      &:hover {
        text-decoration: none;
        background: #fafbfc;
        color: var(--color-assets-primary);
      }
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    max-height: 400px;
  }
}

.title-yellow {
  color: #d09905;
}

.counter-text{
  font-size: 13px;
}

.brown-text {
  color: #bf5767;
  text-transform: uppercase;
}

.text-black {
  color: $color-black;
}

.waiting-msg {
  position: relative;
  max-width: 50%;
  color: #ff7600;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -16px;
    width: 2px;
    background-color: #ffa700;
    content: ".";
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    visibility: visible;
  }
}

.timer {
  background-color: #65d85b;
  border-radius: 17px;
  color: $light;
  padding: $p8 $p12;
}

.left-width {
  width: 60%;
}

.full-width-btn {
  width: 100%;
  font-size: 14px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-weight: $font-weight-regular;
}
.action-text {
  border-left: 4px solid #ff6565;
  color: #ff6565;
}

ul {
  list-style-type: none;
  border: 1px solid $color-gray-30;
  border-radius: $border-radius;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background: $light;
  transition: $transition;

  li {
    border-top: 1px solid $color-gray-30;

    a {
      line-height: 46px;
      padding-left: $p16;
      padding-right: $p16;
      color: $color-gray-70;
      transition: $transition;
      white-space: nowrap;
      display: block;

      table-icon {
        float: left;
        margin: $m12 $m12 0 0;
      }

      &:hover {
        text-decoration: none;
        background: $color-gray-5;
      }
    }

    &:first-child {
      border-top: 0;
    }

    &.red-color {
      a {
        color: $color-red-90;
      }
    }
  }
}

.dropdown-box-wrapper {
  background-color: $light;
  width: 250px;
  border-radius: 4px;
  box-shadow: 0px 11px 16px #0000000f;
  z-index: 20000;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;

  &:before {
    background: $light;
    border: 1px solid $color-gray-30;
    width: 10px;
    height: 10px;
    content: ".";
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    visibility: visible;
    position: absolute;
    top: -7px;
    left: 30px;
    z-index: 1;
    transform: rotate(45deg);
  }

  &:after {
    background: $light;
    width: 13px;
    height: 1px;
    content: ".";
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    visibility: visible;
    position: absolute;
    top: 0px;
    right: 30px;
    z-index: 2;
  }

  ul {
    list-style-type: none;
    border: 1px solid $color-gray-30;
    border-radius: $border-radius;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background: $light;
    transition: $transition;

    li {
      border-top: 1px solid $color-gray-30;

      a {
        line-height: 46px;
        padding-left: $p16;
        padding-right: $p16;
        color: $color-gray-70;
        transition: $transition;
        white-space: nowrap;
        display: block;

        table-icon {
          float: left;
          margin: $m12 $m12 0 0;
        }

        &:hover {
          text-decoration: none;
          background: $color-gray-5;
        }
      }

      &:first-child {
        border-top: 0;
      }

      &.red-color {
        a {
          color: $color-red-90;
        }
      }
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;

    &.flip {
      transform: translateY(-118%);

      &:before {
        background: $light;
        border: 1px solid $color-gray-30;
        width: 10px;
        height: 10px;
        content: ".";
        text-indent: -9999px;
        overflow: hidden;
        display: block;
        visibility: visible;
        position: absolute;
        bottom: -6px;
        top: auto;
        right: 30px;
        z-index: 1;
        transform: rotate(45deg);
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .waiting-msg {
    max-width: 46%;
  }

  .btn {
    &.small {
      line-height: 13px;
      height: 32px;
      padding: $p4 $p12;
    }
  }
}

.panel {
  background-color: #FFFFFF;
  box-shadow: 0px 3px 18px #00000007;

  .custom-title {
      color: #0F2E4E;
  }

  .btn-try {
      background-color: #FE5858;
      border-color: #FE5858;
      color: $light;

      &:hover {
          background-color: #e63939;
          border-color: #e63939;
      }
  }
}

:host ::ng-deep .alert_error h4{
  font-size: 15px;
  line-height: 22px;
}
:host ::ng-deep .alert_error button{
  height: auto;
    font-size: 13px;
}
