@import '../../../../../assets/sass/abstracts/variables';
@import '../../../../../assets/css/custom-fields.scss';

.add-linked-module {
  background-color: $color-gray-10;
  border: 1px solid $color-gray-30;
  height: 83px;
  width: 100%;

  .btn {
    box-shadow: 0px 3px 6px $color-black-shadows;
    width: 57px;
    height: 57px;
  }
}

.remove-item {
  display: none;
  background-color: #f9f9f9;

  .remove-btn {
    width: 28px;
    height: 28px;
    margin: 0 12px;
  }
}

.selection-item {
  .tab-body {
    width: 100%;
  }
  
  &:hover:not(:first-of-type) {
    .remove-item {
      display: flex;
    }
  }
}
