
.rateCardContent {
  .rateCardContentTitle{
    h4 {
      color: #000000;
      font-weight: bold;
    }
    p {
      color: #000000;
    }
  }
  .rateCardContentToggles {
    margin-top: 20px;
    .toggle-panel {
      margin-bottom: 10px;
      border-top: 1px solid #EBEEF3;
      width: 100%;

      .toggle-panel-inner {
        border: 0;
        background-color: transparent;
        padding: 0;
      }
    }
    .toggleContent {
      .minBill {
        .form-group {
          label {
            color: #8791A6;
          }
        }
      }
      .maxBill {
        .form-group {
          label {
            color: #8791A6;
          }
        }
      }
    }
  }
}

input[type=text] {
  text-align: center;
}

.input-text {
  width: 0px;
  position: relative;
  left: 12px;
  top: 12px;
}

input[type=number] {
  text-align: center;
}
