<aside>
    <figure class="c-panel-logo">
        <a href="javascript:void(0)">
            <img src="/assets/images/black_blue_logo.png" alt="" height="30">
        </a>
    </figure>
    <nav>
        <perfect-scrollbar>
            <ul class="short-view">
                <ng-container *ngFor="let navparent of navigationList">
                    <li>
                        <i class="material-icons">{{navparent?.icon}}</i>
                    </li>
                </ng-container>

            </ul>
            <ul class="full-view">
                <ng-container *ngFor="let navitem of navigationList">
                    <li [ngClass]="{'parent-active': navitem?.active}">
                        <a href="javascript:void(0)" (click)="toggleSubmenu(navitem)">
                            <i class="material-icons parent-icon">{{navitem?.active ? 'keyboard_arrow_down' :
                                'keyboard_arrow_right'}}</i>
                            {{navitem?.name | i18nextEager}}
                        </a>
                        <ul [ngClass]="{'active': navitem?.active}">
                            <ng-container *ngFor="let item of navitem?.submenuItem">
                                <li *ngIf="conditionalAuthorize(item?.permission)">
                                    <a [routerLink]="'/control-panel' + item?.path" [routerLinkActive]="['active']">
                                        <i class="material-icons-outlined">{{item?.icon}}</i>
                                        {{item?.name | i18nextEager}}
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                    </li>
                </ng-container>
            </ul>
        </perfect-scrollbar>
    </nav>
</aside>
