@import 'src/assets/sass/abstracts/variables';

.taxk-details {
  h4 {
    font-weight: $font-weight-medium;
    color: $color-black;
  }

  .task-datepicker {
    ::ng-deep .datepicker-inline {
      top: 71px;
    }
  }
.disableDiv {
  opacity: 0.2 !important;
}
  .top-section {
    >div {
      flex: 1;

      p {
        font-size: 13px;
        color: $text-black;
        line-height: 16px;

        span {
          font-size: 12px;
          color: $color-gray-70;
          display: block;
        }
      }

      icon {
        width: 34px;
        line-height: 34px;
        height: 34px;
        text-align: center;
        background-color: #E8ECFF;
        border-radius: $rounded-circle;
        color: $color-black;

        ::ng-deep i {
          vertical-align: middle;
        }
      }

      &:nth-child(2) {
        icon {
          background: #CAFFB2;

          ::ng-deep i {
            color: #59BC2E;
          }
        }
      }

      &:nth-child(3) {
        icon {
          background: #FFDBE2;

          ::ng-deep i {
            color: #F44949;
          }
        }
      }

      &:nth-child(4) {
        icon {
          background: #9DF7FF;

          ::ng-deep i {
            color: #887FF2;
          }
        }
      }
    }
  }

  .paragraph-wrapper {
    background-color: #F9F7FF;
    border-radius: $border-radius;

    a {
      color: $color-blue;
      text-decoration: underline;
    }
  }

  .email-box {
    border: 1px solid #EBEEF3;
    border-radius: $border-radius;

    input {
      flex-basis: 78%;
      border: 0;
      border-right: 1px solid #EBEEF3;
      border-radius: 0;
      padding-right: 40px;
    }

    button {
      border: 0;
      border-radius: 0;
      width: 22%;
      height: 42px;
      line-height: 42px;
      font-weight: $font-weight-regular;
      color: #776DE0;

      icon {
        ::ng-deep i {
          color: #776DE0;
        }
      }

      &.save {
        color: #38C36F;

        icon {
          ::ng-deep i {
            color: #38C36F;
          }
        }
      }
    }

    .edit-emailid {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 73%;
      z-index: 2;
      cursor: pointer;
    }
  }

  .email-msg-box {
    background-color: #F1F0FC;
    padding: $p12;
    font-size: 12px;
    color: #776DE0;

    icon {
      ::ng-deep i {
        vertical-align: middle;
      }
    }
  }

  ::ng-deep .svms-body {

    &::-webkit-scrollbar {
      width: 8px;
    }
  
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
  
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #828282;
    }
  
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  
    &::-webkit-scrollbar {
      display: block !important;
    }
  }
}

.task-footer {
  .checkbox-wrapper {
    border: 1px solid $color-assets-primary;
    border-radius: $border-radius;
    padding: 10px 20px;

    .checkbox-container {
      margin-bottom: 0;

      p {
        font-size: 16px;
        line-height: 18px;
        color: $color-assets-primary;
      }

      .checkmark {
          width: 18px;
          height: 18px;

          &:after {
              top: 1px;
              left: 0;
          }
      }
    }
  }
}
.upload-zone {
  border: 1px dashed $color-gray-50;

  .drop-zone {
    width: 47px;
    height: 47px;
    margin: auto;
    border: 1px dashed $border-color;
    border-radius: $border-radius;

    icon {
      display: inline-block;
      line-height: 47px;
      color: $color-gray-50;

      ::ng-deep i {
        line-height: 47px;
      }
    }
  }
  
  h4 {

    a {
      color: $color-link;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  p {
      font-size: 12px;
  }
}

.uploaded-list {
  list-style-type: none;

  li {
    border-top: 1px solid $color-gray-30;
    background: $color-gray-5;
    overflow: hidden;
    padding: $p16 $p24;

    figure {
      float: left;
      margin-right: $p12;
    }

    .item-description {
      float: left;
      font-size: 12px;
      font-weight: $font-weight-medium;

      icon {
        vertical-align: middle;
        color: $color-green;
      }

      p {
        font-size: 11px;
        color: $color-gray-90;
        font-weight: $font-weight-regular;

        span {
          padding: 0 $p8;
        }
      }
    }

    .delete-file{
      float: right;
      cursor: pointer;
  
      icon {
        color: $color-red-90;
      }
    }
  }

  &.error {
    li {
      background: #CE0B252F;

      .item-description {
        icon {
          color: $color-red-90;
        }

        p {
          color: $color-red-90;
          font-weight: $font-weight-medium;
        }
      }

      .delete-file {
        icon {
          color: $color-secondary;
        }
      }
    }
  }
}
