@import '../../../job-details/components/job-budget-estimate-view/job-budget-estimate-view.component.scss';

.add-amount-toggle {
  overflow: hidden;
  input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
  }
  label {
    background-color: $color-gray-30;
    color: $color-gray-60;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    margin: 0;
    padding: $p8 $p16;
    border: 1px solid #5E71FE15;
    transition: all 0.1s ease-in-out;
    &:hover {
      cursor: pointer;
    }
  }
  input:checked + label {
    background-color: #5E71FE50;
    box-shadow: none;
  }

  label:first-of-type {
    border-radius: 4px 0 0 4px;
  }

  label:last-of-type {
    border-radius: 0 4px 4px 0;
  }
}

.full-width {
  width: 100%;
}