@import '../../../../assets/sass/abstracts/variables';

.preferred-availability {
  .item-row {

    .left-col {
      width: 22%;

      .toggle-panel {
        width: 100%;

        .toggle-panel-inner {
          background: $light;
          border: 0;
          padding-left: 0;
        }
      }
    }

    .right-col {
      width: 52.3%;

      .select-box-wrap {
        width: 90%
      }

      .add-remove-box {
        width: 8%
      }

      ::ng-deep .select-box {
        width: 100%;
      }
    }
  }

  .custom-width-big {
    width: auto;
    flex: 1.9;
  }
}

.add-link {
  border: 1px solid $color-assets-primary;
  width: 25px;
  height: 25px;
  border-radius: $rounded-circle;
  display: block;

  icon {
    ::ng-deep i {
      color: $color-assets-primary;
      line-height: 25px;
    }
  }
}

.remove-link {
    border: 1px solid #F72949;
    width: 25px;
    height: 25px;
    border-radius: $rounded-circle;
    display: block;
  
    icon {
      ::ng-deep i {
        color: #F72949;
        line-height: 25px;
      }
    }
}

.availability-heading {
    margin-bottom: $m16;
    p {
        font-size: 12px;
        text-transform: uppercase;
        color: #919191;

        &.first {
            width: 47%;
            margin-left: 2%;
        }

        &.second {
            width: 24%;
        }
    }
}