:host ::ng-deep {
    svms-dialog-header {
        div {
            border-bottom: none !important;
        }
    }

    svms-dialog-footer {
        .btn-light {
            outline: none;
            border: none;
            color: #4c7ff0;
        }

        .space-between {
            justify-content: space-between;
        }
    }

    .smaller {
        font-size: smaller;
    }

    .blue-text {
        color: #0044C5 !important;
    }
}