@import '../../../../../assets/sass/abstracts/variables';

.radio-group {
  .disable {
    opacity: 0.6;
  }
  .radio-container {
    &:first-child {
      border-right: 0px solid transparent;
    }
  }
}
.text-capitalize {
  text-transform: capitalize;
}
.w-50{
    width:50%;
}

.overtime-control {
  list-style-type: none;
  overflow: hidden;

  li {
    float: left;

    .radio-wrapper {
      position: relative;

      label {
        border: 1px solid #EBEEF3;
        border-radius: $border-radius;
        line-height: 40px;
        display: block;
        padding: 0 40px;
        pointer-events: none;
        margin-bottom: 0;
      }

      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;

        &:checked {
          ~ label {
            background-color: $color-assets-primary;
            border-color: $color-assets-primary;
            color: $light;
          }
        }
      }
    }

    &:first-child {
      .radio-wrapper {
        label {
          border-right: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
    &:nth-child(2) {
      .radio-wrapper {
        label {
          border-left: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}

.toggle-panel-inner {
  background-color: transparent !important;
}

.remove_style {
  padding: 0 !important;
  border: none !important;
  height: 25px !important;
}

.checkmark {
  border: none;
  border-radius: $rounded-circle;
  background-color: $color-gray-50;

  &:after {
    display: block;
  }
}
input {
  &:checked {

    &~.checkmark {
      background-color: $color-green;
    }
  }
}

::ng-deep {
  .removesearch {
    .ng-select {

      .ng-arrow-wrapper,
      .ng-clear-wrapper {
        display: none;
      }
    }
  }
}
