@import '../../../assets/sass/abstracts/variables';

.tax-config-list {
  max-width: 1339px;
  margin: 32px auto;

  .create-icon {
    background-color: #575454;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    bottom: 4px;
  }

  .tabs {
    height: 51px;
    position: relative;
    z-index: 2;

    ul {
      li {
        display: inline-block;
        line-height: 52px;
        margin-right: $m4;

        a {
          display: block;
          padding: 0 $p24;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          font-size: 13px;
          color: #0F2E4E;
          font-weight: $font-weight-medium;

          &.active {
            background-color: $light;
          }
        }
      }
    }
  }

  .tab-content {
    position: relative;
    z-index: 1;

    .item {
      .option-trigger {
        border: 1px solid transparent;
        border-radius: $border-radius;
        transition: $transition;
        height: 24px;
        display: block;

        ::ng-deep i {
          vertical-align: middle;
        }

        &:hover {
          border-color: $color-assets-primary;

          ::ng-deep i {
            color: $color-assets-primary;
          }
        }
      }

      .option-dropdown {
        position: absolute;
        top: 35px;
        right: 0;
        background-color: $light;
        box-shadow: 0px 3px 6px #00000033;
        z-index: 100;
        min-width: 157px;
        transition: $transition;
        opacity: 0;
        visibility: hidden;
        max-height: 0;
        overflow: hidden;

        ul {
          li {
            display: block;

            a {
              line-height: 32px;
              color: #3A4550;
              transition: $transition;
              display: block;
              padding: 0 $p16;

              &:hover {
                background-color: $color-gray-2;
              }
            }
          }
        }

        &.active {
          opacity: 1;
          visibility: visible;
          max-height: inherit;
          overflow: inherit;
        }
      }
    }

    .tax-panel-toggle {
      .toggle-panel {
        width: auto;

        .toggle-panel-inner {
          background-color: transparent;
          border: 0;
          padding: 0;
          height: 16px;
        }
      }
    }

    .tax-detail {
      >div {
        // flex: 1;

        .item-label {
          color: #577088;
        }

        .item-value {
          color: #0F2E4E;
        }
      }
    }

    .tax-by-country {
      background-color: #FAFCFF;
      position: relative;
      z-index: -1;

      .country-item {
        border-bottom: 1px solid #E8F0F7;
      }
    }
  }
}

p.no-tax-config-text-title {
  margin-left: 8px;
}


// Tax history scss

.tax-history-list {
  ::ng-deep .row {
    margin-left: 0;
    margin-right: 0;
  }

  .main-text-color {
    color: $color-gray-60;
    margin-top: $m24;
  }

  .sub-text-color {
    color: #707070;
  }

  .history-detail {
    background-color: #fbfaff;
    border-radius: 4px;
    padding: 8px 16px;
    margin-bottom: 16px;
  }

  ::ng-deep .col,
  ::ng-deep .col-1 {
    padding: 0;
  }

  .divider,
  .divider-w-border {
    position: relative;
    margin: $m24 $m16 0;
  }

  .divider-w-border {
    border: 1px solid #fbfaff;
  }

  .circle,
  .circle-w-divider-border {
    position: absolute;
    height: 10px;
    width: 10px;
    border: 2px solid $color-light-blue;
    border-radius: 50%;
    background-color: $color-white;
    left: -4px;
  }

  .circle-w-divider-border {
    left: -5px !important;
  }

  .primary-outline {
    border-color: $text-primary;
    background: #fbfaff;
  }
}
