@import "../../../../../../../../assets/sass/abstracts/variables";

.panel-light {
  background-color: #FCFCFF;
  border: 1px solid #F0EFFF;
  box-shadow: none;
  border-radius: 5px;
}

::ng-deep {
  .toggle-button-text {
    box-shadow: none !important;
  }
}

.background-check-type{
     border: 1px solid #F0EFFF;
    border-top:0px solid transparent;
}

.add-btn {
    width: 24px;
    height: 24px;
}

.no-active-bg{
    margin-top:64px;
    margin-bottom: 64px;
    p{
        color:#6C757D;
        width: 39%;
        text-align: center;
    }
}

.toggle-panels{
background: #FFFFFF ;
border: 1px solid #DEE2E6;color: #D14747;
border-radius: 4px;
display: flex;
align-items: center;
}

.check-grid{
    border: 2px solid hsl(245, 57%, 95%);
    border-radius: 5px;
    p{
        color:#3A4550;
        &.small{
            color:#6C757D;
        }
    }
    .normal{
        color: #A3ABE3;
    }
    .green{
        color: #1DCC1D !important;
    }
    .checkbox-container {
        .checkmark {
          border-color: #A3ABE3;
          width: 18px;
          height: 18px;
          margin-top: 2px;


          &:after {
            display: block;
            color: #fff;
            font-size: 12px;
            top: 2px;
            left: 1px;
          }
        }

        input {
          &:checked {
            ~ .checkmark {
              border-color: #1DCC1D;
              background-color: #1DCC1D;

              &:after {
                color: $light;
              }
            }
          }
        }
      }
    
    .action{
        background-color: #FCFCFF;
        border-top: 1px solid #F0EFFF;
        .redsmall{
            color: #D14747;
        }
        .radio-container {
            padding-left: 24px;
            margin-top: 3px;
          
            .checkmark {
              background-color: #ffffff;
              border: 1px solid #B3A1C3;
              height: 18px;
              width: 18px;
          
              &:after {
                top: 2px;
                left: 2px;
                color: #B3A1C3;
                font-size: 12px;
              }
            }
          }
       
    }

    &.completed{
        background-color: #EFFFF1;
        border:2px solid #CCFFDE;
        p{
            color:#4C8941;
            .small{
                color:#6C757D;
            }
        }
    }
}
.disabled {
  opacity: .5;
  cursor: not-allowed;
  pointer-events: none;
}
.uploaded-list {
  list-style-type: none;

  li {
    border-top: 1px solid $color-gray-30;
    background: $color-gray-5;
    overflow: hidden;
    padding: $p16 $p24;

    figure {
      float: left;
      margin-right: $p12;
    }

    .item-description {
      float: left;
      font-size: 12px;
      font-weight: $font-weight-medium;

      icon {
        vertical-align: middle;
        color: $color-green;
      }

      p {
        font-size: 11px;
        color: $color-gray-90;
        font-weight: $font-weight-regular;

        span {
          padding: 0 $p8;
        }
      }
    }

    .delete-file{
      float: right;
      cursor: pointer;
  
      icon {
        color: $color-red-90;
      }
    }
    .download-file {
      float: right;
      cursor: pointer;
      icon {
        color: $color-assets-primary;
      }
    }
  }

  &.error {
    li {
      background: #CE0B252F;

      .item-description {
        icon {
          color: $color-red-90;
        }

        p {
          color: $color-red-90;
          font-weight: $font-weight-medium;
        }
      }
    }
  }
}
