<div class="p-24">
  <div *authorize="'show_bg_check_types'"
    class="panel panel-light d-flex align-items-center justify-content-between p-12">
    <div class="d-flex align-items-center">
      <img src="../../../../../../../../assets/images/background-check.svg" class="mr-8" />
      <div class="d-flex flex-column">
        <h4 class="font-weight-medium text-black mb-0">{{ 'background_check' | i18next }}</h4>
        <p class="text-dark small">{{ 'enable_or_disable_the_background_verifications' | i18next }}</p>
      </div>
    </div>
    <toggle-button [checked]="isShowBackgroungCheck" (changed)="changeValue($event)">
    </toggle-button>
  </div>
  <ng-template [ngIf]="isShowBackgroungCheck">
    <div *authorize="'show_bg_check_types'" class="background-check-type p-12">
      <div class="d-flex align-items-center">
        <icon name="keyboard_arrow_down" class="d-flex cursor-pointer" cuclass="d-flex" size="24px" color="#3A4550">
        </icon>
        <p class="text-black mr-8 font-weight-medium">{{ 'background_check_types' | i18next }}</p>
        <!-- <button (click)="openCreateCandidate()" type="button" class="btn small btn-primary ml-8 rounded-circle add-btn">
        <icon size="20px" name="add" type="material" cuClass="d-flex" class="d-flex">
        </icon>
      </button> -->
      </div>
      <div class="row no-gutters mt-24">
        <div *ngFor="let backCheck of requiredCriteria; let i = index" class="col-md-4 pl-4 mb-16">
          <div class="d-flex align-items-center">
            <input type="checkbox" (change)="getValue(backCheck.isChecked, backCheck)" checked="backCheck.isChecked"
              [(ngModel)]="backCheck.isChecked">
            <p class="mb-0 ml-4">{{backCheck?.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <div *ngIf="!checkList || checkList?.length === 0" class="no-active-bg d-flex flex-column align-items-center">
    <img src="../../../../../../../../assets/images/Accept tasks-rafiki.svg" class="mb-16" width="100" />
    <h4 class="text-black font-weight-medium">{{ 'no_active_background_check_types' | i18next }}</h4>
    <p class="small" *authorize="'show_bg_check_types'">{{ 'you_have_not_selected_any_bg_checks_yet' | i18next }},
      {{ 'please_select_any_of_the_options' | i18next }}</p>
  </div>
  <div *ngIf="checkList && checkList?.length > 0" class="d-flex align-items-center justify-content-between mt-16">
    <h4 class="font-weight-medium text-black mb-0"><span *authorize="'show_bg_check_types'"> {{ 'active' | i18next }}
      </span>{{ 'background_check' | i18next }}</h4>
    <ng-template [ngIf]="isShowBackgroungCheck">
      <div class="d-flex align-items-center" *authorize="'show_bg_check_types'">
        <div class="toggle-panels p-8">
          <p class="mr-12 mb-0">{{ 'mark_as_complete' | i18next }}</p>
          <toggle-button [checked]="is_completed" (changed)="completedValue($event)"></toggle-button>
        </div>
        <div [ngClass]="{'disabled':is_override_background_check}" class="toggle-panels p-8 ml-12">
          <p class="mr-12 mb-0">{{ 'over_ride_background_check' | i18next }}</p>
          <toggle-button [checked]="is_override_background_check" (changed)="overRideCheckValue($event)">
          </toggle-button>
        </div>
      </div>
    </ng-template>
  </div>
  <div *ngIf="checkList && checkList?.length > 0 && isShowBackgroungCheck" class="row no-gutters mt-16">
    <div *ngFor="let checklist of checkList; let i = index" class="col-12 mb-12 check-grid pt-12">
      <div class="d-flex align-items-center justify-content-between px-12 pb-12">
        <div class="d-flex align-items-center">
          <img src="../../../../../../../../assets/images/active-background-checks/credit-card.svg" class="mr-12" />
          <div class="d-flex flex-column">
            <p class="font-weight-medium mb-0">{{checklist?.criteria}}</p>
            <p class="small">{{checklist?.description ? checklist?.description : '' }}</p>
          </div>
        </div>
        <div *ngIf="checklist.check_status == 'COMPLETED'" class="d-flex align-items-center">
          <img *ngIf="checklist.result_status == 'FAILED'"
            src="../../../../../../../../assets/images/active-background-checks/failed.svg" class="mr-12" />
          <img *ngIf="checklist.result_status == 'PASSED'"
            src="../../../../../../../../assets/images/active-background-checks/passed.svg" class="mr-12" />
          <div class="status-ui completed">{{ 'completed' | i18next }}</div>
        </div>
        <ng-template [ngIf]="checklist.check_status == 'PENDING' && !user?.is_superuser">
          <div *authorize="'show_bg_check_types'" class="status-ui pending-approval">
            {{ 'pending' | i18next }}</div>
        </ng-template>
        <ng-template [ngIf]="checklist.check_status == 'PENDING'">
          <div *authorize="'mark_bg_check_completed'" class="d-flex align-items-center">
            <div class="checkbox-wrapper d-flex">
              <label class="checkbox-container">
                <input type="checkbox" (change)="checkCompleted(checklist.value, i)" checked="checklist.value"
                  [(ngModel)]="checklist.value" name="">
                <span class="checkmark"></span>
              </label>
              <p class="mb-0 ml-4 normal" [ngClass]="{'green': checklist.value}">{{ 'mark_as_completed' | i18next }}</p>
            </div>
          </div>
        </ng-template>
      </div>
      <div *ngIf="isShowActions && i === index"
        class="d-flex align-items-center justify-content-between px-12 py-8 action">
        <div class="d-flex align-items-center ml-32">
          <p *ngIf="!result_status" class="redsmall small d-flex align-items-center ml-8">
            <icon class="mr-8" name="error" size="14px" type="material" cuClass="validation-icon"></icon> {{ 'result_for_background_check' | i18next }}
          </p>
        </div>
        <div class="d-flex align-items-center">
          <div class="d-flex align-items-center mr-12">
            <div class="radio-wrapper">
              <label class="radio-container ">
                <input type="radio" (change)="passedValue($event.target.value, checklist,i)" value="PASSED"
                  checked="checklist.result_status" [(ngModel)]="checklist.resultStatusValue" name="action"
                  class="cursor-pointer">
                <span class="checkmark"></span>
              </label>
              <p class="mb-0 ml-8 font-weight-bold">{{ 'passed' | i18next }}</p>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <div class="radio-wrapper">
              <label class="radio-container ">
                <input type="radio" (change)="passedValue($event.target.value, checklist,i)" value="FAILED"
                  checked="checklist.result_status" [(ngModel)]="checklist.resultStatusValue" name="action"
                  class="cursor-pointer">
                <span class="checkmark"></span>
              </label>
              <p class="mb-0 ml-8 font-weight-bold">{{ 'failed' | i18next }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-12 mb-12 check-grid d-flex align-items-center justify-content-between p-12">
      <div class="d-flex align-items-center">
        <img src="../../../../../../../../assets/images/active-background-checks/handcuffs.svg" class="mr-12" />
        <div class="d-flex flex-column">
          <p class="font-weight-medium mb-0">Criminal Background Check</p>
          <p class="small">Check the candidate have any Criminal Background or any other ongoing Cases</p>
        </div>
      </div>
      <div class="status-ui pending-approval">pending</div>
    </div>
    <div class="col-12 mb-12 check-grid completed d-flex align-items-center justify-content-between p-12">
      <div class="d-flex align-items-center">
        <img src="../../../../../../../../assets/images/active-background-checks/drug.svg" class="mr-12" />
        <div class="d-flex flex-column">
          <p class="font-weight-medium mb-0">Drug/Alcohol Testing</p>
          <p class="small">Check the candidate have any Criminal Background or any other ongoing Cases</p>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <img src="../../../../../../../../assets/images/active-background-checks/failed.svg" class="mr-12" />
        <img src="../../../../../../../../assets/images/active-background-checks/passed.svg.svg" class="mr-12" />
        <div class="status-ui completed">completed</div>
      </div>

    </div>
    <div class="col-12 mb-12 check-grid d-flex align-items-center justify-content-between p-12">
      <div class="d-flex align-items-center">
        <img src="../../../../../../../../assets/images/active-background-checks/credit-card.svg" class="mr-12" />
        <div class="d-flex flex-column">
          <p class="font-weight-medium mb-0">Financial (Credit Report)</p>
          <p class="small">Check the candidate have any Criminal Background or any other ongoing Cases</p>
        </div>
      </div>
      <div class="status-ui pending-approval">pending</div>
    </div>
    <div class="col-12 mb-12 check-grid d-flex align-items-center justify-content-between p-12">
      <div class="d-flex align-items-center">
        <img src="../../../../../../../../assets/images/active-background-checks/refer.svg" class="mr-12" />
        <div class="d-flex flex-column">
          <p class="font-weight-medium mb-0">Reference Check</p>
          <p class="small">Check the candidate have any Criminal Background or any other ongoing Cases</p>
        </div>
      </div>
      <div class="status-ui pending-approval">pending</div>
    </div>
    <div class="col-12 mb-12 check-grid d-flex align-items-center justify-content-between p-12">
      <div class="d-flex align-items-center">
        <img src="../../../../../../../../assets/images/active-background-checks/employment.svg" class="mr-12" />
        <div class="d-flex flex-column">
          <p class="font-weight-medium  mb-0">Prior Employment Verification</p>
          <p class="small">Check the candidate have any Criminal Background or any other ongoing Cases</p>
        </div>
      </div>
      <div class="status-ui pending-approval">pending</div>

    </div>
    <div class="col-12 mb-12 check-grid d-flex align-items-center justify-content-between p-12">
      <div class="d-flex align-items-center">
        <img src="../../../../../../../../assets/images/active-background-checks/XMLID_534_.svg" class="mr-12" />
        <div class="d-flex flex-column">
          <p class="font-weight-medium mb-0">Driving History</p>
          <p class="small">Check the candidate have any Criminal Background or any other ongoing Cases</p>
        </div>
      </div>
      <div class="status-ui pending-approval">pending</div>
    </div> -->
  <div *ngIf="checkList && checkList?.length > 0" class="mt-8">
    <div *ngIf="isVendorAndSuperOrg">
      <app-upload-documents [allowedMessage]="allowedMessage" [supportedFileTypes]="supportedFileTypes" [errorMessage]="uploadErrorMessage" [isVendorAndSuperOrg]="isVendorAndSuperOrg" [multiple]="false" [showDeleteOption]="false"
        *authorize="'mark_bg_check_completed'" [fileUrl]="fileUrl" uploadLabel="Upload Background Check Documents"
        (oldUploadDataFiles)="updateoldFiles($event)" (uploadDataFiles)="uploadFiles($event)" [closePanel]="closePanel"
        [newUploadfileArr]="newUploadfileArr" [oldUploadfileArr]="oldUploadfileArr"></app-upload-documents>
    </div>
    <div *ngIf="!isVendorAndSuperOrg">
      <ul class="uploaded-list" *ngFor="let file of newUploadfileArr, let i = index">
        <li>
          <div class="item-description text-capitalize">
            {{file.name || file.file_name}}
            <icon class="d-inline-block ml-8" size="18px" name="check_circle" type="material" cuClass="d-flex"></icon>
          </div>
          <span *ngIf="file?.url" class="material-icons ml-8 download-file" (click)="downloadAttachment(file?.url)">
            <icon class="d-flex" size="24px" name="file_download" type="material" cuClass="d-flex">
            </icon>
          </span>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-end" *authorize="'mark_bg_check_completed'">
      <button *ngIf="(filedata | json) != '{}'" class="btn medium btn-primary mt-8 float-right" (click)="uploadFile()">
        {{ 'upload' | i18next }}
        <span *ngIf="isLoader" class="loader ml-12"> </span>
      </button>
    </div>
  </div>
</div>

<app-create-background-check (createdCandidate)="candidate($event)" [isCreateCandidate]="isCreateCandidate"
  (onCreateClose)="onCreateClose()"></app-create-background-check>
