@import "../../../../../assets/css/custom-fields.scss";

.spread {
    justify-content: space-between;
}

input {
    height: 40px;
}

textarea {
    height: 160px;
}
.contact-us p{
    color: #222428;
}
