@import '../../../assets/sass/abstracts/variables';

.dob-calendar {

    .dob-datepicker {
        width: 100%;

        .dob-input-wrapper {
            width: 100%;

            .dob-input {
                padding: 10px;
                border: 1px solid #ebeef3;
                border-radius: 4px;
                width: 100%;

                &.error {
                    border-width: 2px;
                    border-color: $error-color;
                }
            }

            .calendar-icon {
                position: absolute;
                right: 10px;
                top: 12px;
                cursor: pointer;

                i {
                    &::before {
                        color: #ebeef3;
                    }
                }
            }
        }
    }


    .dob-picker {
        padding: 15px;
        border: 1px solid #CFD8E1;
        position: absolute;
        z-index: 2;
        left: 0;
        background-color: #fff;
        width: 350px;
        border-radius: 4px;
        height: auto;




        .days-table {
            margin-top: 10px;

            .day-cell {
                padding: 0;
                height: 45px;

                .day {
                    margin: 0px 3px;
                    padding: 10px 10px 6px !important;
                    cursor: pointer;
                    display: inline-block;
                    text-align: center;
                    width: 38px;
                    height: 38px;
                    background-color: transparent;
                    border: 1px solid transparent;
                    border-radius: 100%;
                    color: #0F2E4E;
                    font-weight: 500;

                    &:hover {
                        background-color: #EDF2FE;
                        border: 1px solid #AAC8FF;
                    }

                    &.active {
                        background-color: #EDF2FE;
                        border: 1px solid #AAC8FF;
                    }
                }
            }
        }
    }
}


::ng-deep {
    .dob-wrapper {
        .ng-select {

            .ng-clear-wrapper {
                display: none;
            }
        }

        .ng-value {
            color: #0F2E4E;
            font-weight: 600;
        }
    }

}