@import '../../../../../assets/sass/abstracts/variables';
.toolbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 536px;
}

.toolbox-wrapper {
  width: 70%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
