<div class="confirmation-dialog position-fixed bg-light rounded-sm pt-32 overflow-hidden active" [ngClass]="setModalStyle && 'custom-modal'">
  <div class="success-modal-body text-center pb-32">

    <h4 class="mt-8 pl-16 pr-16">
      {{message|i18next}}
    </h4>
  </div>
  <div class="modal-footer text-center d-flex justify-content-center">
    <button class="btn btn-light large" (click)="decline()" [disabled]="disableCancelButton">{{btnCancelText|i18next}}</button>
    <button class="btn  btn-primary large" (click)="accept()" [disabled]="disableOkButton">{{btnOkText|i18next}}</button>
    <div class="clearfix"></div>
  </div>
</div>
<div class="dialog-backdrop position-fixed active"></div>
