<div class="c-panel c-panel-active">
    <div class="self-config-wrapper" [ngClass]="{'sidebar-menu-active' : showSidebarMenu}">
        <a href="javascript:void(0)" class="sidebar-menu-toggle" (click)="toggleSidebarMenu()">
            <i class="material-icons" *ngIf="showSidebarMenu">menu_open</i>
            <i class="material-icons" *ngIf="!showSidebarMenu">menu</i>
        </a>
        <div class="nav-bar">
            <app-control-panel-sidebar></app-control-panel-sidebar>
        </div>
            <div class="c-content mr-24">
                <app-control-panel-header></app-control-panel-header>
                <div class="c-page-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
    </div>
</div>