@import 'src/assets/sass/abstracts/variables';
.level {
  color: $text-secondary;
}


    li {
        .listing-item {
            border-bottom: 1px solid $color-gray-20;
            background-color: $color-gray-5;
            padding-left: $p32;
            overflow: hidden;
            transition: $transition;
            cursor: pointer;

            .listing-info {
                padding-top: $p16; 
                padding-bottom: $p16;
                float: left;

                .initials {
                    margin-top: 2px;
                    margin-right: $m8;
                }

                .level-title {
                    line-height: 24px;
                    text-decoration: underline;
                }
            }

            .level-status {
                float: right;
                border-left: 1px solid $color-gray-20;
                padding-top: $p16; 
                padding-bottom: $p16;
                width: 195px;
                text-align: center;

                .checkbox-wrapper {
                    width: 22px;
                    height: 22px;
                    margin: auto;
                    margin-top: 2px;
                    margin-bottom: 3px;

                    .checkbox-container {

                        .checkmark {
                            border: none;
                            border-radius: $rounded-circle;
                            background-color: $color-gray-50;

                            &:after {
                                display: block;
                            }
                        }

                        input {
                            &:checked {

                                & ~ .checkmark {
                                    background-color: $color-green;
                                }
                            }
                        }
                    }
                }
            }

            &:hover {
                background-color: $light;
            }

            &.active {

                .sub-level-title {
                    color: $color-green;
                }
            }
        }
    }

    ul {
        list-style-type: none;

        li {
            .sub-level-title {
                line-height: 24px;
                display: block;
                position: relative;
                margin-left: $p32;
                text-decoration: underline;
    
                &:before {
                    position: absolute;
                    top: 6px;
                    left: -32px;
                    background: url(../../../../../assets/images/arrow-sub-item.svg) no-repeat left top;
                    content: '.';
                    text-indent: -9999px;
                    overflow: hidden;
                    display: block;
                    visibility: visible;
                    width: 15px;
                    height: 13px;
                }
            }

            ul {

                li {

                    .listing-item {
                        padding-left: $p64;
                    }
                }
            }
        }
    }

    .hierarchy-child-renderer-wrapper{
        li{
            position: relative;
        }

        .hierarchy-child-down-arrow{
            position: absolute;
            top: 11px;
            left: -10px;
            transform: rotate(-90deg);
        }

        .child-rotated{
            transform: rotate(0deg);
        }

        .herarchy-name{
            color: $color-gray-100 ;
        }

        .active{
            display: block;
        }
        .inactive{
            display: none;
        }
        .disabled {
            opacity: .5;
            pointer-events: none;
            cursor: not-allowed;
          }
    }

