@import '../../../assets/sass/abstracts/variables';



.create-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #CAFFB2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: #7767CB;
}

.tax-detail {
    >div {
      flex: 1;

      .create-icons{
          margin-left: $m64;
      }
      .item-label {
        color: #577088;
      }

      .item-value {
        color: #0F2E4E;
      }
    }
}

.history-header {
  figure {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #CAFFB2;
    line-height: 36px;
    text-align: center;
    color: $light;

    icon {
      width: 36px;
      height: 36px;
      display: inline-block;
      text-align: center;

      ::ng-deep i {
        vertical-align: middle;
        line-height: 36px;
      }
    }

    &.avatar {
      background-color: #7E57C2;
    }
  }
}

.strike {
  text-decoration: line-through;
}

.summary-label {
  flex: 2;
}

.summary-value {
  flex: 1;
  text-align: center;
}