<svms-sidebar [title]="'Tax Configuration History' |i18next" [dataVisibility]="viewHistory"
  (onClose)="sidebarClose()">
  <svms-sidebar-body>
    <div class="p-24 history-header pb-0">
      <h4 class="font-weight-medium mb-32">{{ 'tax_configuration_history' | i18next }}</h4>
      <div class="d-flex mb-32">
        <div class="d-flex mr-64">
          <figure class="mr-16">
            <icon size="14px" name="today" color="#59BC2E" type="material" cuClass="d-block"></icon>
          </figure>
          <div>
            <p>{{ 'updated_on' | i18next }}</p>
            <p>12/04/2020</p>
          </div>
        </div>
        <div class="d-flex">
          <figure class="avatar mr-16">
            {{ 'sg' | i18next }}
          </figure>
          <div>
            <p>{{ 'updated_by' | i18next }}</p>
            <p>{{ 'suresh_gupta' | i18next }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="p-24 pt-12">
        <div class="d-flex mb-16">
            <icon size="24px" name="notes" color="black" type="material" cuClass="d-flex"></icon>
            <h4 class="font-weight-medium ml-16">{{ 'summary' | i18next }}</h4>
        </div>
      <div class="d-flex justify-content-between align-items-center border-bottom py-8">
        <p class="summary-label">{{ 'tax_allocation_based_on' | i18next }}</p>
        <div class="summary-value">
          <p class="item-label small strike">{{ 'region/country' | i18next }}</p>
          <p class="item-value">{{ 'work_location' | i18next }}</p>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center border-bottom py-8">
        <p class="summary-label">{{ 'modules' | i18next }}</p>
        <div class="summary-value">
          <p class="item-label small strike">{{ 'assignment' | i18next }}</p>
          <p class="item-value">{{ 'job' | i18next }}</p>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center border-bottom py-8">
        <p class="summary-label">{{ 'tax_type' | i18next }}</p>
        <div class="summary-value">
          <p class="item-label small strike">{{ 'fixed' | i18next }}</p>
          <p class="item-value">{{ 'percentage' | i18next }} (%)</p>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center border-bottom py-8">
        <p class="summary-label">{{ 'applicable_range_(min&max)' | i18next }}</p>
        <div class="summary-value">
          <p class="item-label small strike">2480 - 4850</p>
          <p class="item-value">1200 - 2800</p>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center border-bottom py-8">
        <p class="summary-label">{{ 'tax_applicable' | i18next }}</p>
        <div class="summary-value">
          <p class="item-label small strike">{{ 'vendor' | i18next }}</p>
          <p class="item-value">{{ 'client' | i18next }}</p>
        </div>
      </div>
    </div>
  </svms-sidebar-body>
</svms-sidebar>
