table {
  thead {
    background-color: #F9F7FF;

    th {
      text-align: left;
      font-size: 13px;
      white-space: pre;
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  tbody {
    tr {

      border-bottom: 1px solid #F3F3F3;
    }

    td {
      padding-left: 12px;
      padding-right: 12px;
      word-break: break-all;
      color: #2D3748;
    }

  }
}

.full-height {
  height: 60%;
  width: 100%;
}

.expense-sidebar ::ng-deep .svms-sidebar {
  max-width: 70%;
}

.btn-filter {
  width: 100px;
  height: 40px;
}

.type-select {
  width: 190px;
}