
@import '../../../../../assets/sass/abstracts/variables';

.create-button {
  background: #C20000;
  color: white;
  border-radius: 4px;
  width: 102px;
  height: 32px;
  padding: 5px;
  display: flex;
  border: none;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: #960000;
  }
}

.listing-filter {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;

  li:not(:last-child) {
    margin-right: 12px;
  }

  a {
    text-decoration: none;
  }

  .pagination {
    border-radius: 45px;
  }

  .active-filter {
    border-radius: 23px;

    .filter-trigger,
    .clear-filter {
      color: $light;
    }

    .active-count {
      font-size: 13px;
    }
  }
}

.filter-search {
  position: absolute;
  height: 30px;
  width: 350px;
  right: 0px;
  top: 0px;

  .search-input {
    width: 100%;
    height: 32px;
    border-radius: 160px;

    &.no-radius {
      border-radius: 0;
    }
  }

  app-header-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    color: $text-secondary;
  }

  ::-webkit-input-placeholder {
    color: inherit;
    font-size: inherit;
  }

  :-ms-input-placeholder {
    color: inherit;
    font-size: inherit;
  }

  ::placeholder {
    color: inherit;
    font-size: inherit;
  }
}

.header-dropdown {
  width: 270px;
  z-index: 2;
  right: -12px;
  top: 50px;
  box-shadow: 0px 11px 13px 0px #00000033;

  &:after {
    content: '';
    width: 15px;
    height: 15px;
    background-color: $light;
    border: 1px solid $border-color;
    position: absolute;
    top: -10px;
    right: 14px;
    transform: rotate(45deg);
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-left-radius: 4px;
  }

  h6 {
    color: $text-secondary;
  }
}

.density-tab {
  list-style: none;

  li {
    width: 100%;
    background-color: $light;
    color: $text-secondary;
    border: 1px solid $border-color;
    cursor: pointer;

    &:first-child {
      border-radius: $border-radius 0 0 $border-radius;
    }

    &:last-child {
      border-radius: 0 $border-radius $border-radius 0;
    }

    &.active {
      background-color: $color-assets-primary;
      color: $light;
      border-color: $color-assets-primary;
    }
  }
}

.toggle-inner {
  cursor: grab;

  .drag {
    color: $color-assets-secondary-tint;
  }

  .toggle-name {
    color: $text-default;
  }

  .toggle {
    &.if-active {
      color: $color-assets-primary;
    }

    &.if-inactive {
      color: $color-gray-50;
    }
  }
}

.filter {
  width: 656px;
}

.dnone {
  display: none !important;
}

.assignment-tab {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  width: 100%;
  border-bottom: 1px solid $color-border-primary !important;

  li:not(:last-child) {
    margin-right: 12px;
  }

  li {
    font-size: 14px;
    color: $color-gray-70;
    cursor: pointer;
  }

  .active-tab {
    color: $color-dark !important;
  }
}

.sub-menu-arrow {
  vertical-align: middle;
  height: 24px;
  overflow: hidden;
  color: $color-gray-70;
}

.view-type {
  a {
    color: $color-gray-50;

    &.active {
      background-color: $color-gray-10 !important;
      color: $color-assets-secondary;
    }
  }

  &.no-radius-right {
    a {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.no-radius {
    a {
      border-radius: 0;
    }
  }

  &.no-radius-left {
    a {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.theme-filter {
  list-style-type: none;
  margin-bottom: 20px;

  li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 6px;
    background: $color-gray-10;
    border-radius: 16px;
    line-height: 28px;
    padding: 0 10px;
    color: $text-secondary;
    font-size: 12px;

    span {
      color: $color-secondary;
    }

    app-header-icon {
      display: inline-block;
      margin-left: 12px;
      cursor: pointer;

      ::ng-deep {
        vertical-align: middle;
        color: $color-gray-50;
      }
    }

    &:first-child {
      background: #776de01d;
      color: $color-blue;

      app-header-icon {
        ::ng-deep i {
          color: $color-blue;
        }
      }
    }
  }
}

.filter-active {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: $rounded-circle;
  background-color: $color-red-80;
  right: 11px;
  bottom: 9px;
}

.dndPlaceholder {
  min-height: 30px;
  margin-bottom: 10px;
  border: 1px dashed $color-gray-80;
  background-color: $color-gray-1;
}

.close_btn {
  width: 30px;
  height: 30px;
  background-color: $color-gray-1;
  box-shadow: 0px 6px 14px #00000010;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.rt-6 {
  position: relative;
  top: 6px;
}