  <div class="d-flex align-items-center py-32 px-24 justify-content-between vms-header-panel">
    <div class="d-flex">
      <a class="mr-12" *ngIf="showBackButton" href="javascript:void(0)">
        <icon name="arrow_back" class="rt-6" size="24px" type="material" (click)="redirectToRateCardListing()"></icon>
      </a>
      <ul class="breadcrumb-list">
        <li class="breadcrumb-listItem">
          <a href="javascript:void(0)" class="page-title font-weight-medium" (click)='redirectToRateCardListing()' > {{mainmenuName}} </a>
          <app-header-icon *ngIf="submenuName" class="sub-menu-arrow d-inline-block" size="20px" name="navigate_next"
                      type="material" cuClass="d-flex" style="vertical-align: sub;"></app-header-icon>
          <a href="javascript:void(0)" *ngIf="submenuName" class="page-title font-weight-medium"> {{submenuName | i18next}} </a>
        </li>
        <li class="breadcrumb-listItem" [hidden]="!isCreate">
          <button type="button" class="ml-16 create-button" (click)="onCreateClick()">
            <app-header-icon size="20px" name="add" type="material" cuClass="d-flex" class="icon--on-left d-flex" style="display: inline">
            </app-header-icon>
            {{ (isCreateButtonName ? isCreateButtonName : 'Create') | i18next }}
          </button>
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <ul class="listing-filter">
        <li class="position-relative" [hidden]="!isSearch">
          <a href="javascript:void(0)" class="btn small btn-light" [ngClass]="isTheme ? 'bg-light' : 'rounded'" #search>
            <app-header-icon size="17px" name="search" type="material" cuClass="d-flex"></app-header-icon>
          </a>
          <div class="filter-search" [hidden]="!isSearchOpen" #searchInput>
            <input type="text" placeholder="{{ 'enter_search_term' | i18next }}" [(ngModel)]="searchValue"
                   class="form-control search-input " (keyup)="onSearchClick($event)"  [ngClass]="{'no-radius': isTheme}">
            <app-header-icon size="17px" name="search" type="material" cuClass="d-flex" (click)="onSearchClick()">
            </app-header-icon>
          </div>
        </li>
        <li class="position-relative" [hidden]="!isFilter">
          <!--ui for no active filter-->
          <a href="javascript:void(0)" *ngIf="totalFilterApplied === 0" class="small btn btn-light" #filter [ngClass]="isTheme? 'bg-light' : 'rounded'" (click)="onshowFilterFlyout('visible')">
            <app-header-icon size="17px" name="filter_alt" type="material" cuClass="d-flex"></app-header-icon>
          </a>

          <!--ui for active filter-->
          <div *ngIf="totalFilterApplied > 0" class="active-filter btn small btn-secondary">
            <a href="javascript:void(0)" class="filter-trigger" #filter (click)="onshowFilterFlyout('visible')">
              <app-header-icon size="17px" name="filter_alt" type="material" cuClass="d-flex"></app-header-icon>
            </a>
            <span class="active-count font-weight-normal pl-4 pr-4" #filterCount>{{totalFilterApplied}}
              {{ 'active_filters' | i18next }}</span>
            <a href="javascript:void(0)" class="clear-filter" (click)="clearFilters()">
              <app-header-icon size="14px" name="close" type="material" cuClass="d-flex"></app-header-icon>
            </a>
          </div>
          <app-rate-card-uom-filter
            *ngIf="ratecardFilter === 'visible'"
            [ratecardFilter]="ratecardFilter"
            (onshowFilterFlyout)="onshowFilterFlyout($event)"
            (clearFilters)="clearFilters()"
            (filtersApplied)="filtersApplied($event)"
          ></app-rate-card-uom-filter>
        </li>
      </ul>

    </div>
  </div>
