<svms-sidebar-ng [title]="'Payment Authorization Details' | i18nextEager" [dataVisibility]="paymentAuthorisation" (onClose) = 'clearForm()'>
  <app-logs [log]="logs"></app-logs>
  <div class="sidebar-wrapper">
  <form *ngIf ='form && consolidatedInvoice' [formGroup]='form'>
  <div class="px-24 pb-16">
    <div class="row  mt-12">
      <div class="col-md-4 mb-12">
        <div class="d-flex align-items-center">
          <div class="mr-8">
            <icon name="tag" size="18px" color="#536476" class="d-flex" cuclass="d-flex"></icon>
          </div>
          <div class="d-flex flex-column">
            <p class="small">{{ 'consolidated_invoice_number' | i18nextEager }}</p>
            <p>{{ consolidatedInvoice?.invoice_number || '--'}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-12">
        <div class="d-flex align-items-center">
          <div class="mr-8">
            <icon name="receipt" theme="outlined" size="18px" color="#536476" class="d-flex" cuclass="d-flex"></icon>
          </div>
          <div class="d-flex flex-column">
            <p class="small">{{ 'batch_invoice_number' | i18nextEager }}</p>
            <p>{{ consolidatedInvoice?.batch_number || '--'}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-12">
        <div class="d-flex align-items-center">
          <div class="mr-8">
            <icon name="event_available" size="18px" color="#536476" class="d-flex" cuclass="d-flex"></icon>
          </div>
          <div class="d-flex flex-column">
            <p class="small">{{ 'invoice_duration' | i18nextEager }}</p>
            <p class="white-space-pre">{{ getDate(consolidatedInvoice?.invoice_start_date, true)}} - {{ getDate(consolidatedInvoice?.invoice_end_date, true)}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-12">
        <div class="d-flex align-items-center">
          <div class="mr-8">
            <icon name="payment" size="18px" color="#536476" class="d-flex" cuclass="d-flex"></icon>
          </div>
          <div class="d-flex flex-column">
            <p class="small">{{ 'invoice_amount' | i18nextEager }}</p>

            <!-- As per Story ::source - "Total Amount Due" from the Consolidated Invoice
            Need to figure out
            ASK API : about this property.
            /invoice/programs/<PROGRAM_ID>/consolidate-invoice/<INVOICE_ID>/tab/client -- "data" -- "client" -- "total_remaining_amount"
            -->
            <p>
              <span tooltip="{{showTooltip(consolidatedInvoice?.calculation?.amount_with_tax)}}" placement="bottom" delay="100">
                {{ consolidatedInvoice?.calculation?.amount_with_tax || '--' | accuracy :accuracyEnum.AMOUNT : { currencyCode: consolidatedInvoice?.currency } }}
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-12">
        <div class="d-flex align-items-center">
          <div class="mr-8">
            <icon name="account_balance" size="18px" color="#536476" class="d-flex" cuclass="d-flex"></icon>
          </div>
          <div class="d-flex flex-column">
            <p class="small">{{ 'currency' | i18nextEager }}</p>
            <p>{{ consolidatedInvoice?.currency ? consolidatedInvoice?.currency : programDetails.defaultCurrency || '--' | uppercase  }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-12">
        <div class="d-flex align-items-center">
          <div class="mr-8">
            <icon name="paid" size="18px" theme="outlined" color="#536476" class="d-flex" cuclass="d-flex"></icon>
          </div>
          <div class="d-flex flex-column">
            <p class="small">{{ 'balance_amount' | i18nextEager }}</p>
            <!-- Story has a prop called Remaining Amount, is this the same? and calucate it -- Invoice Amount - PA Amount ?? -->
            <p>
              <span tooltip="{{showTooltip(balanceAmount || '0')}}" placement="bottom" delay="100">
                {{ (balanceAmount || '0') | accuracy :accuracyEnum.AMOUNT : { currencyCode: consolidatedInvoice?.currency } }}
            </span>
          </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-24">
      <div class="col-md-6">
        <div class="form-group">
          <label>{{ 'payment_authorization_number' | i18nextEager }}<span class="require">*</span></label>
          <input formControlName='payment' type="text" class="form-control" placeholder="{{ 'payment_authorization_number' | i18nextEager }}"/>

        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>{{ 'payment_details' | i18nextEager }}<span class="require">*</span></label>
          <div class="d-flex align-items-center">
            <ng-select class="w-120" formControlName = 'check_type' placeholder="{{ 'please_select' | i18nextEager }}">
              <ng-option value = 'ACH'>{{ 'ach' | i18nextEager }}</ng-option>
              <ng-option value = 'Check'>{{ 'check' | i18nextEager }}</ng-option>
              <ng-option value = 'Wire'>{{ 'wire' | i18nextEager }}</ng-option>
              <ng-option value = 'Others'>{{ 'others' | i18nextEager }}</ng-option>

            </ng-select>
            <input formControlName='check_number' type="text" class="form-control" placeholder="{{ 'payment_details' | i18nextEager }}"/>
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group calendar-field position-relative">
          <label>{{ 'received_date' | i18nextEager }}<span class="require">*</span></label>
          <svms-datepicker
                  [inputdateFormat]="dateFormat"
                  ngDefaultControl
                  formControlName='received_date'
                  [options]="options"
          >
          </svms-datepicker>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group calendar-field position-relative">
          <label>{{ 'entered_date' | i18nextEager }}<span class="require">*</span></label>
          <svms-datepicker
          [inputdateFormat]="dateFormat"
          ngDefaultControl
          formControlName='entered_date'
          class="disableDiv"
          >
          </svms-datepicker>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label>{{ 'pa_amount' | i18nextEager }}<span class="require">*</span></label>
          <div class="d-flex align-items-center column-direction">
            <input type="number" inputAccuracy="{{accuracyEnum?.AMOUNT}}" class="form-control w-50 full-page-width" formControlName='pa_amount' placeholder="{{ 'pa_amount' | i18nextEager }}" (blur)="onBlurAmount()"/>
            <div class="checkbox-wrapper d-inline-block mt-m-8">
              <label class="checkbox-container">
                <input type="checkbox" formControlName='full'>
                <span class="checkmark"></span>
                <span class="label pt-4">{{ 'full_payment' | i18nextEager }}</span>
              </label>
            </div>
            <div class="checkbox-wrapper d-inline-block">
              <label class="checkbox-container">
                <input type="checkbox" formControlName='partial'>
                <span class="checkmark"></span>
                <span class="label pt-4">{{ 'partial_payment' | i18nextEager }}</span>
              </label>
          </div>
          </div>
          <p *ngIf="isPaAmount" class="validation-msg">
            <icon name="error" size="14px" type="material" cuClass="validation-icon"></icon>
            <ng-container>
              {{ 'pa_amount_should_not_be_greater_than_invoice_amount.' | i18nextEager }}
            </ng-container>
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label>{{ 'notes' | i18nextEager }}</label>
          <textarea class="form-control" formControlName='notes' placeholder="{{ 'notes' | i18nextEager }}"></textarea>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
  <svms-sidebar-footer-ng *ngIf = 'form'>
    <button type="button" class="btn btn-outine float-left ml-4"
    (click) = 'cancel()'>
      {{ 'cancel' | i18nextEager }}
    </button>
    <button type="button" class="btn btn-primary float-right" [disabled] = '!form.valid || saveInProgress || !hasAccess'
    (click) = 'saveAuthorization()'>
      {{ 'save' | i18nextEager }}
      <span *ngIf="saveInProgress" class="loader ml-12"> </span>
    </button>

  </svms-sidebar-footer-ng>
</svms-sidebar-ng>
