@import '../../../../../assets/sass/abstracts/variables';

.checkbox-wrapper {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;

  .checkbox-container {
    font-size: 13px;
    white-space: pre;
    color: #343A40 !important;

    .checkmark {
      border: none;
      border-radius: $rounded-circle;
      background-color: $color-gray-50;

      &:after {
        display: block;
      }
    }

    input {
      &:checked {

        &~.checkmark {
          background-color: $color-green;
        }
      }
    }

  }
}

.w-120{
  width:120px ;
}

:host .sidebar-wrapper {
  height: calc(100vh - 130px);
  overflow: auto;
}

:host .calendar-field {
  ::ng-deep {
    .datepicker-single {
      &.flip {
        .datepicker--content {
          max-height: 199px;
        }
      }
    }
  }
}