<div class="insights px-24 py-16">
  <div class="insights-header d-flex align-items-center justify-content-between">
    <span class="subtitle-2 font-weight-medium">{{ 'insights' | i18next }}</span>
    <icon size="19px" name="close" theme="outlined" type="material" class="d-flex mr-4 cursor-pointer" cuClass="d-flex"
      (click)="onInsightClick()">
    </icon>
  </div>
  <div class="insights-content mt-24">
    <div class="bg-light p-24 shadow">
      <div class="d-flex align-items-center">
        <img src="../../../../assets/images/diagram.svg" class="img-fluid" width="30">
        <span class="subtitle-2 ml-12 font-weight-medium text-dark" (click)="createHierarchy()">{{ 'create_hierarchy' | i18next }}</span>
      </div>
      <div class="text-secondary my-24">
        {{ 'make_setup_for_intelcw_program' | i18next }}
      </div>
      <a class="d-flex align-items-center justify-content-between" style="cursor: pointer" (click)="createHierarchy()">
        <span>{{ 'create_new_hierarchy' | i18next }}</span>
        <icon size="19px" name="keyboard_arrow_right" theme="outlined" type="material" class="d-flex mr-4"
          cuClass="d-flex"></icon>
      </a>
    </div>
    <div class="bg-light mt-16 p-24 shadow">
      <div class="d-flex align-items-center">
        <img src="../../../../assets/images/Group_2.svg" class="img-fluid" width="30">
        <span class="subtitle-2 ml-12 font-weight-medium text-dark">{{ 'setup_users' | i18next }} & {{ 'roles' | i18next }}</span>
      </div>
      <div class="text-secondary my-24">
        {{ 'make_setup_for_intelcw_program' | i18next }}
      </div>
      <a class="d-flex align-items-center justify-content-between " style="cursor: pointer;">
        <span (click)="createUser()">{{ 'add_users_to_program' | i18next }}</span>
        <icon size="19px" name="keyboard_arrow_right" theme="outlined" type="material" class="d-flex mr-4"
          cuClass="d-flex"></icon>
      </a>
    </div>
    <div class="bg-light mt-16 p-24 shadow">
      <div class="d-flex align-items-center">
        <img src="../../../../assets/images/time-management.svg" class="img-fluid" width="30">
        <span class="subtitle-2 ml-12 font-weight-medium text-dark">{{ 'work_flows' | i18next }}</span>
      </div>

      <div class="text-secondary my-24">
        {{ 'make_sure_you_setup_hierarchy_for_intelcw_program' | i18next }}
      </div>
      <a class="d-flex align-items-center justify-content-between" (click)="createUser()" style="cursor: pointer">
        <span>{{ 'add_users_to_program' | i18next }}</span>
        <icon size="19px" name="keyboard_arrow_right" theme="outlined" type="material" class="d-flex mr-4"
          cuClass="d-flex"></icon>
      </a>
    </div>
  </div>
</div>
