
@import '../../../../../../../assets/sass/abstracts/variables';


.wrap{
  white-space: nowrap;
}
.text-capitalize{
  text-transform: capitalize;
}
.top-part {
    background-color: #FCFAFF;

    button {
        &.color-green {
          background-color: #26CC39;
          border-color: #26CC39;
          font-weight: 400;

          icon {
            ::ng-deep i {
              color: $light;
            }
          }
        }

        &.more-btn {
          icon {
            ::ng-deep i {
              vertical-align: middle;
            }
          }
        }

        &.bookmark-button {
          border: 0;
          background-color: transparent;
          margin-left: $m16;
          cursor: pointer;
        }
      }
}

.interview-info {
    .int-item {
        flex: 1;
    }
    p {
        &.labels {
          font-size: 13px;
          color: $color-body-txt-secondary;
        }

        &.masked {
          position: relative;
          color: $color-gray-30;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;

          &:before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '.';
            text-indent: -9999px;
            overflow: hidden;
            display: block;
            visibility: visible;
            background: url(../../../../../../../assets/images/pattern.png) repeat;
          }
        }
      }

    figure {
        width: 24px;
        height: 24px;
        border-radius: $rounded-circle;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

.int-title {
    p {
        color: $color-assets-primary;
    }


    icon {
        ::ng-deep i {
            color: $color-assets-primary;
        }
    }
}

.int-notes {
    .more-btn {
        color: $color-link;
    }
}

.approval-nofification {
  background-color: $color-red-80;
  border-radius: $border-radius;
  padding: 0 $p8;
  cursor: pointer;
  p {
      color: $light;
  }
  span {
      background-color: rgba(0, 0, 0, .09);
      width: 27px;
      height: 27px;
      border-radius: $rounded-circle;
      overflow: hidden;
      icon {
           ::ng-deep i {
              color: $light;
              line-height: 27px;
          }
      }
  }
  button {
      background-color: #C32E42;
      border: 0;
      outline: 0;
      color: $light;
      height: 27px;
      border-radius: 5px;
      font-size: 13px;
      cursor: pointer;
      padding: 0 $p16;
  }
}

.masked-width{
width:100px;
}

label {
  &.capitalized {
    text-transform: capitalize;
  }
}

.budget-exceeded {
  color: #ff2b2b;
  font-size: 12px;

  icon {
    ::ng-deeep i {
      vertical-align: middle;
    }
  }
}

.uploaded-doc {
  border: 1px solid $color-gray-30;
  background: $color-gray-5;
  overflow: hidden;
  padding: $p16 $p24;

  a {
    cursor: pointer;

    icon {
      ::ng-deep i {
        color: $color-assets-primary;
      }
    }
  }
}
.download-file{
  a{
    color: #776de0;
  }
}