<app-logs [log]="logs"></app-logs>
<div class="job-view-content-header">
    <div class="d-flex" style='align-content: space-between;'>
        <div style='flex-grow: 1;'>
            <h4>{{ 'submission_details' | i18next }}</h4>
            <span class="status-ui" *ngIf="submissionDetails?.status!='REHIRE_REJECTED' && submissionDetails?.status!='SHORTLIST_REVIEW_REJECTED'" [ngClass]="{'open': submissionDetails?.status!='REHIRE_CHECK_PENDING' && submissionDetails?.status!='PENDING_SHORTLIST_REVIEW',
            're-hire-check-pending':submissionDetails?.status=='REHIRE_CHECK_PENDING',
            'pending-review':submissionDetails?.status=='PENDING_SHORTLIST_REVIEW',
            'withdrawn':submissionDetails?.status?.toLowerCase()=='offer_cancelled'}">{{checkStatus(submissionDetails?.status) | i18next}}</span>
            <span class="status-ui" *ngIf="submissionDetails?.status=='REHIRE_REJECTED' || submissionDetails?.status=='SHORTLIST_REVIEW_REJECTED'" [ngClass]="{'rejected':submissionDetails?.status=='REHIRE_REJECTED' || submissionDetails?.status=='SHORTLIST_REVIEW_REJECTED' }">{{snakeCaseToTitle(submissionDetails?.status) | i18next}}</span>
        </div>
        <div class='d-flex'>
          <ng-container *ngIf="rehireStatus && rehireCheckStatus">
            <div class="approval-nofification d-flex align-items-center cursor-css"
              *ngIf="(rehireCheckStatus | lowercase) == 'pending' || ((submissionDetails?.status | lowercase) == 'rehire_check_pending') "
              (click)="goToApproval()">
              <div class="d-flex align-items-center">
                <span class="mr-8">
                  <icon name="notifications_active" class="d-flex justify-content-center align-items-center" size="16px"
                    theme="outlined" type="material"></icon>
                </span>
                <p>
                  <!-- <span *ngIf="approvalCount > 0">{{approvalCount}}</span> -->
                  {{ 'pending_approval_request' | i18next }}
                </p>
              </div>
            </div>
          </ng-container>

            <div class="d-flex align-item-center float-right"
                *ngIf="submissionDetails?.status.toLowerCase()=='pending_shortlist' && this.submissionDetails?.offer_visibility">
                <ng-container
                *ngIf="(currentProgram?.config?.submission?.is_shortlisting_enabled && shortlistActor) || user_type === 'SUPER_ORG' ">
                  <button class="btn btn-success small mr-8"  *accessControl [disabled]="shortlistBtn"
                  (click)='shortlist(submissionDetails)'>{{'shortlist'|i18next}}</button>
                  <button class="btn btn-withdrawn small" [disabled]="shortlistBtn"
                  (click)='rejectCandidate(submissionDetails)'>{{'reject'|i18next}}</button>
                </ng-container>
            </div>
            <div class="d-flex align-item-center float-right"
                *ngIf="submissionDetails?.status.toLowerCase()=='pending_shortlist_review'">
                <ng-container
                *ngIf="(currentProgram?.config?.submission?.is_shortlisting_enabled &&
                currentProgram?.config?.submission?.hm_shortlist_review && jobManager == userId) || user_type === 'SUPER_ORG' ">
                  <button class="btn btn-success small mr-8" *accessControl [disabled]="shortlistBtn"
                  (click)='shortlist(submissionDetails)'>{{'review'|i18next}}</button>
                  <button class="btn btn-withdrawn small" [disabled]="shortlistBtn"
                  (click)='shortlistReviewReject(submissionDetails)'>{{'reject'|i18next}}</button>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="sub-head-info">
        <label>
            <icon name="label" color="#FFC409" size="18px" type="material" *ngIf="submissionDetails?.unique_id"></icon>
            <span>{{submissionDetails?.unique_id}}</span>
        </label>
        <label *ngIf="status?.date">
            <icon name="update" color="#536476" size="18px" type="material"></icon>
            <span>{{ status.lable|i18next}} : {{ status.date | localDateFormat }} {{ status.date | localDateFormat: 'hh:mm:ss a z' }}</span>
        </label>
    </div>
</div>

<ng-container *ngIf="!pendingApprovalRequest">
  <div class="detailed-page-section px-24 pt-8 p-32 p-m-0">
    <h4 class="font-weight-medium mt-24 hide-on-desktop section-title mt-m-0 mb-m-0" [ngClass]="{'active' : (detailedValue === 'basicinfo')}" (click)="detailCollapse('basicinfo')">
      <icon class="mr-8 hide-on-desktop" theme="outlined" size="15px" [name]="(detailedValue === 'basicinfo') ? 'remove' : 'add'" type="material"
      cuClass="icon-cu"></icon>{{'Basic Information'|i18nextEager}}</h4>
    <div class="interview-info pb-24" [ngClass]="(detailedValue === 'basicinfo') ? 'active' : 'inactive'">

        <div class="d-flex  justify-content-between interview-info mb-8">
            <div class="d-flex align-items-center grid-data-wrap">
                <icon size="18px" name="today" theme="outlined" color="#495057" type="material" class="mr-m-12" cuClass="d-flex"></icon>
                <div class="grid-data row-direction-m d-flex-m">
                    <span class="small  mb-m-0 font-m">{{ 'available_start_date' | i18next }}</span>
                    <label class="font-m">{{submissionDetails?.available_start_date ? (submissionDetails?.available_start_date | localDateFormat :'':'':'':true) : '--'}}</label>
                </div>
            </div>
            <div class="d-flex align-items-center grid-data-wrap">
                <icon size="18px" name="event" theme="outlined" color="#495057" type="material" class="mr-m-12" cuClass="d-flex"></icon>
                <div class="grid-data row-direction-m d-flex-m">
                    <span class="small mb-m-0 font-m">{{ 'available_end_date' | i18next }}</span>
                    <label>{{submissionDetails?.available_start_date ? (submissionDetails?.available_end_date | localDateFormat :'':'':'':true) : '--'}}</label>
                </div>
            </div>
            <div *authorize="'view_submission_birthday'" class="d-flex align-items-center grid-data-wrap">
                <icon class="mr-8" size="18px" name="cake" theme="outlined" color="#495057" type="material"
class="mr-m-12" cuClass="d-flex"></icon>
                <div class="grid-data row-direction-m d-flex-m">
                    <span class="small mb-m-0 font-m">{{ 'date_of_birth' | i18next }}</span>
                    <div class="d-flex sensitive-data d-flex-1-m">
                        <label *ngIf="!showDOB" class="hidden-value font-m">{{ 'sensitive_data' | i18next }}</label>
                        <label class="dot-show" *ngIf="showDOB">{{(candidateData?.dob | localDateFormat : "MM/dd" : '':'':true) ||
                            '--'}}</label>
                        <ng-container *ngIf="hideEyeIcon">
                          <icon size="16px" *ngIf="!showDOB" name="visibility" (click)="showDOB = !showDOB"
                              color="#495057" type="material" cuClass="d-flex" class="cursor-pointer"> </icon>
                          <icon size="16px" *ngIf="showDOB" name="visibility_off" (click)="showDOB = !showDOB"
                              color="#495057" type="material" cuClass="d-flex" class="cursor-pointer ml-16"></icon>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between interview-info mb-8">
            <div *authorize="'view_submission_stateId'" class="d-flex align-items-center grid-data-wrap">
                <icon size="18px" name="public" theme="outlined" color="#495057" type="material" class="mr-m-12" cuClass="d-flex">
                </icon>
                <div class="grid-data row-direction-m d-flex-m">
                    <span class="small mb-m-0 font-m">{{ 'state/national_id' | i18next }}</span>
                    <div class="d-flex sensitive-data d-flex-1-m">
                        <label *ngIf="!showStateID" class="hidden-value">{{ 'sensitive_data' | i18next }}</label>
                        <label class="dot-show" *ngIf="showStateID">{{address?.state_id || '-'}}</label>
                        <ng-container *ngIf="hideEyeIcon">
                          <icon size="16px" *ngIf="!showStateID" name="visibility" (click)="showStateID = !showStateID"
                              color="#495057" type="material"  cuClass="d-flex" class="cursor-pointer"> </icon>
                          <icon size="16px" *ngIf="showStateID" name="visibility_off" (click)="showStateID = !showStateID"
                              color="#495057" type="material" cuClass="d-flex" class="cursor-pointer ml-16"></icon>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center grid-data-wrap" *ngIf="programRateModel !== 'BILL_RATE'">
                <icon size="18px" name="badge" theme="outlined" color="#495057" type="material" class="mr-m-12" cuClass="d-flex"></icon>
                <div class="grid-data row-direction-m d-flex-m">
                    <span class="small mb-m-0 font-m">{{ 'candidate_sourcing_type' | i18next }}</span>
                    <label>{{submissionDetails?.candidate_sourcing_type||'--'}}</label>
                </div>
            </div>
            <!-- <div class="d-flex align-items-center grid-data-wrap">
                <icon class="mr-8" size="18px" name="credit_score" theme="outlined" color="#495057" type="material"
                    cuClass="d-flex"></icon>
                <div class="grid-data">
                    <span class="small">{{ 'rate_type' | i18next }}</span>
                    <label class="capitalized">{{(submissionDetails?.rate_type | lowercase) || '--'}}</label>
                </div>
            </div> -->
        </div>

        <!-- <div class="d-flex  justify-content-between interview-info mb-8">
          <ng-container *ngIf="programRateModel === 'PAY_RATE' || programRateModel === 'MARKUP'">
            <div class="d-flex align-items-center grid-data-wrap" *ngIf="user_type.toLowerCase() !== 'client'">
              <icon class="mr-8" size="18px" name="payments" theme="outlined" color="#495057" type="material"
                  cuClass="d-flex"></icon>
              <div class="grid-data">
                  <span class="small">{{ 'mark-up' | i18next }}</span>
                  <span class="capitalized">{{(submissionDetails?.rate_markup) || '--'}} <ng-container *ngIf="submissionDetails?.rate_markup">%</ng-container>
                  </span>
              </div>
            </div>
          </ng-container>
        </div> -->

        <div class="d-flex  justify-content-between interview-info" *ngIf='submissionDetails?.is_eligible_for_us_work'>
            <div class="d-flex align-items-center grid-data-wrap">
                <icon size="18px" name="check_circle" theme="outlined" color="#495057" type="material" cuClass="d-flex">
                </icon>
                <div class="grid-data">
                    <span class="small">{{ 'candidate_eligible_to_work_in_the_us' | i18next }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="notes-wrap mini mt-24 " *ngIf="submissionDetails?.comments">
        <div class="d-flex trigger align-items-center notes-header">
            <icon class="mr-8" size="18px" name="sticky_note_2" theme="outlined" color="#776DE0" type="material"
                cuClass="d-flex "></icon>
            <label>{{ 'submission_notes' | i18next }}</label>
        </div>
        <div class="detail-instruction pt-0">
            <span
                [ngClass]="{'short-view' : !toggleDescription && (submissionDetails?.comments?.length > maxContentLength)}"
                innerHTML=" {{toggleDescription ? submissionDetails?.comments : submissionDetails?.comments?.substr(0, maxContentLength)}}"></span>
            <a class="more-link" (click)="toggleDescription = !toggleDescription"
                *ngIf="submissionDetails?.comments?.length > maxContentLength">{{ toggleDescription ? 'View Less' :
                'Read more'}}</a>
        </div>

    </div>

    <div class="notes-wrap mini mt-24 p-12" *ngIf="submissionDetails?.is_rehire">
        <div class="d-flex align-items-center mb-8">
            <icon class="mr-8" size="18px" name="check_circle"  color="#3AA512" type="material" cuClass="d-flex"></icon>
            <p class="font-weight-medium">{{ 'has_the_candidate_worked_for_same_organization' | i18next }} {{ 'or_affiliated_in_the_past' | i18next }}?</p>
        </div>
        <div class="d-flex align-items-center mb-8" *ngIf="submissionDetails?.candidate_worked_as">
            <icon class="mr-8" size="18px" name="badge" theme="outlined" color="#495057" type="material" cuClass="d-flex"></icon>
            <p class="small"> {{ 'worker_employment_status' | i18next }}: <span class="text-dark">{{submissionDetails?.candidate_worked_as}}</span></p>
        </div>
        <div class="d-flex align-items-center">
            <icon class="mr-8" size="18px" name="sticky_note_2" theme="outlined" color="#495057" type="material"cuClass="d-flex"></icon>
            <p class="small">{{submissionDetails?.candidate_rehire_details}}</p>
        </div>
    </div>
    <div class="notes-wrap mini mt-24 p-12" *ngIf="(submissionDetails?.is_rehire && submissionDetails?.rehire_notes) ">
        <div class="d-flex align-items-center mb-8">
            <p class="font-weight-medium">{{ 'approve_rehire_notes' | i18next }}</p>
        </div>
        <div class="d-flex align-items-center mb-8" *ngIf="submissionDetails?.rehire_notes">
            <p class="small"> <span class="text-dark">{{submissionDetails?.rehire_notes}}</span></p>
        </div>
    </div>

    <div *ngIf="loading" class="d-flex justify-content-center loader-height align-items-center p-24 img_height">
      <div class="dotloader"></div>
    </div>
    <div class="d-flex justify-content-between interview-info mb-8">
      <div class="d-flex align-items-center grid-data-wrap hide-on-mobile" *ngIf="showRemoteWorker">
        <img src="../../../../../../../assets/images/remote-worker.svg" alt="" width="18" height="18" class="mr-24">
        <div class="grid-data">
          <span class="small">{{'remote_worker'|i18next}}</span>
          <label class="d-flex align-items-center" [ngClass]="submissionDetails?.remote_worker ? 'enabled' : 'disabled' ">{{submissionDetails?.remote_worker ? 'Yes' : 'No'}}</label>
        </div>
      </div>
      <div class="d-flex align-items-center grid-data-wrap hide-on-mobile">
        <icon class="mr-8" size="18px" name="hourglass_top" theme="outlined" color="#776DE0" type="material"
                cuClass="d-flex "></icon>
        <div class="grid-data">
          <span class="small">{{'ot_exempt'|i18next}}</span>
          <label class="d-flex align-items-center" [ngClass]="submissionDetails?.ot_exempt ? 'enabled' : 'disabled' ">{{submissionDetails?.ot_exempt ? 'Yes' : 'No'}}</label>
        </div>
      </div>
    </div>
    <div class="hide-on-mobile">
      <app-remote-worker-details-view [remoteWorkerDetails]="submissionDetails?.remote_worker_details" *ngIf="showRemoteWorker && submissionDetails?.remote_worker"></app-remote-worker-details-view>
    </div>
    <div class="detailed-page-section hide-on-desktop">
      <h4 class="font-weight-medium mt-24 hide-on-desktop section-title mt-m-0 mb-m-0" [ngClass]="{'active' : (detailedValue === 'remoteWorkerDetails')}" (click)="detailCollapse('remoteWorkerDetails')">
      <icon class="mr-8 hide-on-desktop" theme="outlined" size="15px" [name]="(detailedValue === 'remoteWorkerDetails') ? 'remove' : 'add'" type="material"
      cuClass="icon-cu"></icon>{{'Remote Workers Details'|i18nextEager}}</h4>

      <div class="px-0 py-8" [ngClass]="(detailedValue === 'remoteWorkerDetails') ? 'active' : 'inactive'">
        <div class="d-flex align-items-center grid-data-wrap mb-24" *ngIf="showRemoteWorker">
          <img src="../../../../../../../assets/images/remote-worker.svg" alt="" width="18" height="18" class="mr-24">
          <div class="grid-data">
            <span class="small">{{'remote_worker'|i18next}}</span>
            <label class="d-flex align-items-center" [ngClass]="submissionDetails?.remote_worker ? 'enabled' : 'disabled' ">{{submissionDetails?.remote_worker ? 'Yes' : 'No'}}</label>
          </div>
        </div>
        <div class="d-flex align-items-center grid-data-wrap">
          <icon class="mr-8" size="18px" name="hourglass_top" theme="outlined" color="#776DE0" type="material"
                  cuClass="d-flex "></icon>
          <div class="grid-data">
            <span class="small">{{'ot_exempt'|i18next}}</span>
            <label class="d-flex align-items-center" [ngClass]="submissionDetails?.ot_exempt ? 'enabled' : 'disabled' ">{{submissionDetails?.ot_exempt ? 'Yes' : 'No'}}</label>
          </div>
        </div>
        <app-remote-worker-details-view [remoteWorkerDetails]="submissionDetails?.remote_worker_details" *ngIf="showRemoteWorker && submissionDetails?.remote_worker"></app-remote-worker-details-view>
      </div>
    </div>
<div class="detailed-page-section">
    <div class="row rate-info-table mt-24 mt-m-0 mr-m-0 ml-m-0" *ngIf="programRateModel">
        <div class="w-100 d-flex justify-content-between align-items-start">
            <h4 class="font-weight-medium mt-24 section-title mt-m-0 mb-m-0" [ngClass]="{'active' : (detailedValue === 'rateInformation')}" (click)="detailCollapse('rateInformation')">
              <icon class="mr-8 hide-on-desktop" theme="outlined" size="15px" [name]="(detailedValue === 'rateInformation') ? 'remove' : 'add'" type="material"
              cuClass="icon-cu"></icon>{{ 'rate_information' | i18next }}</h4>
              <ng-container *ngIf="markupByRateTypeEnabled || costComponentEnabled">
                <a class="text-link small mx-16 my-auto" (click)="showRateDetails()">
                    {{ 'view_rate_details' | i18next}}
                </a>
              </ng-container>
        </div>
        <div class="py-m-0" [ngClass]="(detailedValue === 'rateInformation') ? 'active' : 'inactive'">
        <div class="row no-gutters panel panel-light full-page-width mx-m-0">
            <div class="col-12">
              <div class="p-16">
                <div class="row no-gutters info">
                  <div class="col-md-3">
                    <div class="d-flex align-items-center">
                        <div class="initials initials-green">
                            <icon class="d-flex" size="14px" name="mail" type="material" theme="outlined" cuClass="d-flex">
                            </icon>
                        </div>
                        <div class="d-flex justify-items-center flex-column ml-4">
                            <p class="text-dark">{{(submissionDetails?.rate_type | uppercase) || '--'}}</p>
                            <p class="small text-muted">{{'unit_of_measure'|i18next}}</p>
                        </div>
                    </div>
                  </div>

                  <div class="col-md-3" *ngIf="!hideRateAuthority">
                    <div class="d-flex align-items-center">
                      <div class="initials initials-blue">
                        <icon class="d-flex" size="14px" name="mail" type="material" theme="outlined" cuClass="d-flex">
                        </icon>
                      </div>
                      <div class="d-flex justify-items-center flex-column ml-4">
                        <p class="text-dark"> {{ (minRate | accuracy : 'rate' : {currencyCode: jobCurrency})  || '--' }}</p>
                        <p class="small text-muted">{{'min'|i18next}}. {{ (programRateModel === 'PAY_RATE' ? 'Pay Rate' : (user_type.toLowerCase() === 'vendor' && !clientBillRateEnabled) ? 'Vendor Bill Rate' : 'Bill Rate') |
                          i18nextEager}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3" *ngIf="!hideRateAuthority">
                    <div class="d-flex align-items-center">
                      <div class="initials initials-orange">
                        <icon class="d-flex" size="14px" name="mail" type="material" theme="outlined" cuClass="d-flex">
                        </icon>
                      </div>
                      <div class="d-flex justify-items-center flex-column ml-4">
                        <p class="text-dark"> {{ (maxRate | accuracy : 'rate' : {currencyCode: jobCurrency})  || '--'}}</p>
                        <p class="small text-muted">{{'max'|i18next}}. {{ (programRateModel === 'PAY_RATE' ? 'Pay Rate' : (user_type.toLowerCase() === 'vendor' && !clientBillRateEnabled) ? 'Vendor Bill Rate' : 'Bill Rate') |
                          i18nextEager}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3" [hidden]="markupByRateTypeEnabled" *ngIf="programRateModel === 'PAY_RATE' || programRateModel === 'MARKUP'">
                    <div class="d-flex align-items-center" *ngIf="user_type.toLowerCase() !== 'client'">
                        <div class="initials initials-pink">
                        <icon class="d-flex" size="14px" name="mail" type="material" theme="outlined" cuClass="d-flex">
                        </icon>
                        </div>
                        <div class="d-flex justify-items-center flex-column ml-4">
                        <p class="text-dark">{{submissionDetails?.rate_markup | accuracy : 'markup_percentage' || '--'}} </p>
                        <p class="small text-muted">{{ 'mark-up' | i18next }}</p>
                        </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-12">
                <div class="scroll-wrapper rate-table-wrapper">
                    <table class="table-rate">
                        <thead class="border-top">
                            <th class="text-left">{{'rate_type'|i18next}}</th>
                            <th class="text-left" [hidden]="programRateModel === 'BILL_RATE'" *ngIf="userRole != 'client' || programRateModel === 'PAY_RATE'">{{'pay_rate'|i18next}}</th>
                            <th class="text-left" *ngIf="checkConfig()">{{'client_bill_rate'|i18next}}</th>
                            <th class="text-left" *ngIf="userRole != 'client'">{{'vendor_bill_rate'|i18next}}</th>
                            <th class="text-left" *ngIf="markupByRateTypeEnabled && (programRateModel == 'PAY_RATE' || programRateModel == 'MARKUP')">{{'mark-up'|i18next}}</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rate of submissionDetails?.rates">
                               <!--*ngIf="rate?.billable"-->
                                <ng-container *ngIf="rate?.billable">
                                    <td data-value="Rate Type">
                                        {{rate?.name || rate?.rate_factor | i18next}}
                                    </td>
                                    <td [hidden]="programRateModel === 'BILL_RATE'" data-value="Pay Rate" class="text-left has-border" *ngIf="userRole != 'client' || programRateModel === 'PAY_RATE'">
                                      {{rate?.pay_rate | accuracy : 'rate' : {currencyCode: jobCurrency} }}
                                    </td>
                                    <td data-value="Bill Rate" class="text-left has-border" *ngIf="checkConfig()">
                                        {{ rate?.bill_rate | accuracy : 'rate' : {currencyCode: jobCurrency} }}
                                    </td>
                                    <td data-value="Vendor Bill Rate" class="text-left has-border" *ngIf="userRole != 'client'">
                                        {{rate?.vendor_bill_rate | accuracy : 'rate' : {currencyCode: jobCurrency} }}
                                    </td>
                                    <td data-value="Markup" class="text-left has-border" *ngIf="markupByRateTypeEnabled && (programRateModel == 'PAY_RATE' || programRateModel == 'MARKUP')">
                                      {{rate?.markup | accuracy : 'markup_percentage'}}
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
            </div>
            </div>
    </div>
    </div>
   </div>
</div>

<div class="detailed-page-section">
    <div class="row mt-32 mt-m-0 mr-m-0 ml-m-0" *ngIf="submissionDetails?.custom_fields && submissionDetails?.custom_fields?.length > 0">
        <div class="col-md-12 px-m-0">
            <h4 class="font-weight-medium section-title position-relative mb-24 mb-m-0" [ngClass]="{'active' : (detailedValue === 'customFields')}" (click)="detailCollapse('customFields')">
              <icon class="mr-8 icon-info-bg hide-on-mobile" size="15px" name="extension" type="material" cuClass="icon-cu"></icon>
              <icon class="mr-8 hide-on-desktop" theme="outlined" size="15px" [name]="(detailedValue === 'customFields') ? 'remove' : 'add'" type="material"
      cuClass="icon-cu"></icon>
                {{ 'custom_fields' | i18next }}
            </h4>
        </div>

        <div class="col-md-12 row" [ngClass]="(detailedValue === 'customFields') ? 'active' : 'inactive'">
        <div class="col-md-4" *ngFor="let custom of submissionDetails?.custom_fields" [hidden]="!custom?.value">
          <div class="value-group row-direction-m">
                <label class="value-head">{{custom?.label || getWorkedRehire(custom?.slug)}}</label>
                <div class="value-content d-flex-1-m mb-2">
                  <ng-container *ngIf="custom?.type !== 'HYPERLINK' && custom?.type !== 'FILE' && custom?.type !== 'IMAGE' && custom?.type !== 'PASSWORD' && custom?.type !== 'DATETIME' && custom?.type !== 'DATE'">
                    <span *ngIf="typeOf(custom?.value) === 'string'">
                      {{custom?.value}}
                    </span>
                    <span *ngIf="typeOf(custom?.value) === 'number'">
                      <span *ngIf="custom?.currency">{{'' | accuracy : '' : { currencyCode: custom?.currency, display: 'symbol' } }}</span>
                      <span> {{custom?.value}} </span>
                    </span>
                    <span *ngIf="typeOf(custom?.value) !== 'number' && typeOf(custom?.value) !== 'string'">
                      <ng-container *ngIf="checkIfArray(custom?.value)">
                        <span class="value-content">{{custom?.value?.join(', ')}}</span>
                      </ng-container>
                    </span>
                  </ng-container>
                  <ng-container *ngIf="custom?.type === 'HYPERLINK'">
                    <span class="value-content">
                      <a class="text-primary" [href]="custom?.value" target="_blank">
                        {{ custom?.value }}
                      </a>
                    </span>
                  </ng-container>
                  <ng-container *ngIf="custom?.type === 'PASSWORD'">
                    <span class="value-content">
                        {{ '*'.repeat(custom?.value?.length) }}
                    </span>
                  </ng-container>
                  <ng-container *ngIf="custom?.type === 'FILE' || custom?.type === 'IMAGE'">
                    <span class="download-file">
                      <a *ngIf="custom?.value?.raw" class="d-flex" [href]="custom?.value?.raw" target="_blank">
                        <icon size="20px" name="file_download" type="material" cuClass="d-flex"></icon>
                        <span>{{ custom?.value?.name || '-' }}</span>
                      </a>
                      <a class="d-flex" *ngIf="custom?.value?.key" (click)="downloadS3Attachment(custom?.value)">
                        <icon size="20px" name="file_download" type="material" cuClass="d-flex"></icon>
                        <span>{{ custom?.value?.name }}</span>
                      </a>
                    </span>
                  </ng-container>
                  <ng-container *ngIf="custom?.type === 'DATETIME' || custom?.type == 'DATE'">
                    <span *ngIf="custom?.type == 'DATE'">{{ custom?.value | localDateFormat : '': '':'' : true }}</span>
                    <span *ngIf="custom?.type == 'DATETIME'">{{ custom?.value?.split(' ')?.[0] | localDateFormat : '': '':'' : true }} {{ custom?.value?.split(' ')?.[1] }}</span>
                  </ng-container>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
    <div class="form-group-row mt-24" *ngIf="submissionDetails?.uploads?.length > 0">
      <div class="form-group" *ngFor="let upload of submissionDetails?.uploads">
          <label>{{getWorkedRehire(upload.upload_type)}}</label>
          <div class="uploaded-doc">
              <div class="d-flex justify-content-between align-items-center">
                  <p class="font-weight-medium">{{upload.file_name}}</p>
                  <a [attr.href]="upload?.url" *ngIf="upload?.url" target="_blank">
                      <icon size="24px" name="save_alt" type="material" cuClass="d-flex"></icon>
                  </a>
              </div>
          </div>
      </div>
     </div>

     <!--Tax and Adjustment Detail-->

     <app-adjustment-tax-detail-page [taxData]="taxData" [adjustmentData]="adjustmentData" [currency]="jobCurrency"></app-adjustment-tax-detail-page>

     <h4 class="font-weight-medium section-title hide-on-desktop mb-m-0" *ngIf="!submissionDetails?.comments" [ngClass]="{'active' : (detailedValue === 'notes')}"  (click)="detailCollapse('notes')">
      <icon class="mr-8 hide-on-desktop" theme="outlined" size="15px" [name]="(detailedValue === 'notes') ? 'remove' : 'add'" type="material"
      cuClass="icon-cu"></icon>
    {{'Notes'|i18nextEager}}</h4>

    <div class="mt-24 notes-wrap mini empty mt-m-0" *ngIf="!submissionDetails?.comments" [ngClass]="(detailedValue === 'notes') ? 'active' : 'inactive'">
      <div class="d-flex trigger align-items-center notes-header">
          <icon class="mr-8" size="18px" name="subtitles_off" theme="outlined" color="#776DE0" type="material"
              cuClass="d-flex "></icon>
          <label>{{ 'no_submission_notes_added' | i18next }}</label>
      </div>
    </div>


</div>
</ng-container>

<app-schedule-interview></app-schedule-interview>


<!-- for rehire approval start ...... -->
<div *ngIf="pendingApprovalRequest">
  <app-candidate-job-submission-rehire-approval [submissionId]="this.submissionid" [submissionData]="this.submissionDetails"
  (hideApprovalRequest)="getHideEvent($event)" (loadCandidateData)="loadCandidateData($event)">
  </app-candidate-job-submission-rehire-approval>
</div>

<app-rate-details
    [rateDetailsVisible]="rateDetailsVisible" (onUpdateClose)="hideRateDetails($event)"
    (updateRateDetailsVisibility)="updateRateDetailsVisibility($event)"
    [standardRates]="standardRateDetails" [ratesArray]="rateDetailsRateArray || []"
    [factors]="payloadRateFactors" [selectedCurrency]="jobCurrency" [rateModelPayload]="rateModelPayload"
    [editableFactors]="false" [editableMarkup]="false"  [isSourcing]="true"
    [markupByRateTypeEnabled]="markupByRateTypeEnabled" [costComponentEnabled]="costComponentEnabled"
    [payrateVisible]="showPayRate" [billrateVisible]="checkConfig()"
>
</app-rate-details>

