@import "../../../../assets/sass/abstracts/variables";

::ng-deep .ng-select.ng-invalid.error .ng-select-container{
    border: 2px solid #EB445A;
  }
  
  ::ng-deep .ng-untouched.ng-pristine.ng-invalid.error .datepicker--imgdate.position-relative{
    border: 2px solid #EB445A;
    border-radius: 4px;
  }
  
.bg-white{
  background-color: $color-white;
  h3{
      color: $color-primary;
  }
  label{
      font-weight: 500;
      font-size: 14px;
  }
  .input{
      border-radius: 0px;
  }
}
.material-icons {
    color: $color-primary;
    font-size: 15px;
}
.btn-primary{
   background-color: $color-primary; 
}

:host quill-editor ::ng-deep p {
  color: #222428;
  font-family: 'Inter';
  font-weight: 500;
}