@import "../../../../../assets/sass/abstracts/variables";

.content-section {
  background-color: #fff;
  box-shadow: 0px 3px 6px #0000000A;
  line-height: 33px;


  .distribute-job {
    .w-25 {
      width: 25%;
    }
  }

  .delete-icon {
    border-radius: 4px;
    border: 1px solid red;
    width: 30px;
    height: 30px;
    color: red;
  }

  .selected-vendor {
    background-color: #fff;
    color: #9799ae;
    padding: 0 $p8;
    font-size: 12px;
    border: 1px solid #9799ae;

    span {
      padding: 0 0 0 8px;
      font-size: 15px;
    }

    &.selected {
      background-color: #8181d6 !important;
      color: #ffffff !important;
      padding: 0px 6px 0px;
      border: transparent;
    }
  }
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #ebeef3;
  border-top: none;
  z-index: 6;
  top: 42px;
  left: 0;
  right: 0;
  max-height: 205px;
  overflow-y: auto;
  box-shadow: 0px 8px 10px #cbcbcb;

  &::-webkit-scrollbar {
    display: none;
  }

  .no-items-found {
    color: $color-gray-16;
  }

}

.initial {
  width: 21px;
  height: 22px;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 3px #00000029;
  border-radius: 100%;
  color: white;

  &.red {
    background-color: red;
  }

  &.blue {
    background-color: blue;
  }

  &.more {
    background-color: white;
    color: black;
  }

  &:not(:first-child) {
    margin-left: -8px;
  }
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.advanced-btn {
  font-size: 12px;
  border-radius: 0px 4px 4px 0px;
}

.search-icon {
  position: absolute;
  left: 8px;
  z-index: 4;
  top: 6px;
}
:host ::ng-deep {
.distribution-listing-items {

    .table-bg {
      padding: 0px !important;

      .table-bg-inner {
        box-shadow: 0px 0px 0px #00000000 !important;

        .title {
          padding-left: 24px !important;
        }

        .p-24 {
          padding-left: 0px !important;
          padding-right: 0px !important;
        }

        .listing-filter {
          padding-right: 16px;
        }
      }
    }

    .pagination-border {
      &> div {
        padding-left: 24px;
        padding-bottom: 16px;
      }
    }
  }
}

.set-submission { // Added as part of AMFMI-2126
  width: max-content;
  right: 120px;
  top: 20px;
  border-right: 2px solid #d7e0e7;
}

.submission-input {
  width: 100px;
}

.submission-toggle {
  .toggle-panel-inner {
    border-color: transparent;
    background-color: transparent;
  }
}

.w-150 {
  width: 200px;
}

.w-10 {
  width: 100px !important;
}

::ng-deep {
  .distribute-job {
    .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
      top: auto;
    }
  }
}

.add-circle {
  color: $color-green;
}

.delete-circle {
  color: $color-red-80;
}

.search-input {
  border-radius: 4px 0px 0px 4px;
  border-right: 0px;
}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 17px;
  margin: 11px;
  border: 2px solid #42424233;
  border-radius: 50%;
  border-top: 2px solid #424242;
  -webkit-animation: spin 0.8s linear infinite; /* Safari */
  animation: spin 0.8s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

a {
  text-decoration: underline;
}

a:hover {
  color: $color-primary;
}

.btn-disabled {
  opacity: 0.5;
  pointer-events: none;
}