@import "../../../../../assets/sass/abstracts/variables";
@import "../../../../../assets/sass/abstracts/mixins";

.hierarchy-required {
  span {
    position: relative;
    padding-left: 22px;

    &:before {
      position: absolute;
      top: 4px;
      left: 0;
      width: 10px;
      height: 10px;
      content: ".";
      text-indent: -9999px;
      overflow: hidden;
      display: block;
      visibility: visible;
      border-radius: $rounded-circle;
    }

    &.red {
      position: relative;
      color: $color-red-90;

      &:before {
        background: $color-red-90;
      }
    }

    &.orange {
      position: relative;
      color:  #FFA843;

      &:before {
        background:  #FFA843;
      }
    }

    &.violet {
      position: relative;
      color: $color-blue;

      &:before {
        background: $color-blue;
      }
    }
    &.green {
      position: relative;
      color: $color-green;

      &:before {
        background: $color-green;
      }
    }

    &.grey {
      position: relative;
      color: $color-gray-70;

      &:before {
        background: $color-gray-70;
      }
    }
  }
}

.module-icon-display {
  display: inline-block;
  vertical-align: middle;

  table-icon {
    height: 20px;
    display: block;

    ::ng-deep i {
      color: $color-gray-70;
    }
  }
}
