@import '../../../../../assets/sass/abstracts/variables';

.element-properties {
    position: fixed;
    top: 50px;
    right: 0;
    max-width: 525px;
    width: 100%;
    background-color: $light;
    z-index: 2;
    transition: $transition;
    height: calc(100vh - 50px);
    transform: translateX(525px);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    box-shadow: -4px 1px 11px #00000007;
    border-left: 1px solid #E8F0F7;

    .property-header {
        border-bottom: 1px solid $color-border-primary;
    
    }

    .top-item-border {
        h4 {
            border-top: 1px solid $color-border-primary;
        }
    }

    .property-content {
        padding: $p24;
        padding-right: 0;
        height: calc(100vh - 102px);

        .image-upload-box {
            border: 1px dashed #6375fe6f;
            background-color: #faf8ff;
            border-radius: $border-radius;
            cursor: pointer;

            .drop-zone {
                background-color: $color-assets-primary;
                border-radius: $border-radius;
                height: 40px;
                width: 40px;
                text-align: center;
            }
        }

        .alignment {
            a {
                border: 1px solid $color-border-primary;
                padding: $p4;
                background-color: $light;
                border-radius: $border-radius;
                margin-right: $m4;
                transition: $transition;

                icon {
                    ::ng-deep i {
                        color: $color-gray-57;
                    }
                }

                &:hover {
                    background-color: #FAFCFF;
                }

                &.active {
                    background-color: #FAFCFF;
                }
            }
        }
    }

    .text-input {
        height: 300px !important;
        resize: none;
    }

    &.active {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .html-editor {
        border-radius: $border-radius;
        color: $color-dark;
        -webkit-transition: $transition;
        transition: $transition;
        padding-right: $p24;
        padding-bottom: $p4;
        font-weight: $font-weight-medium;
        display: block;
        width: 100%;
        background-color: $light;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid $color-border-secondary;
        min-height: 100px;
        padding: 11px 13px;
        font-size: $font-primary;
        font-weight: $font-weight-medium;
        resize: vertical;
        outline: none;

        &:hover {
            border-color: #c6e0f5;
        }
    
        &:focus {
            border-color: #d0eaff;
            outline: 0px solid transparent;
            box-shadow: 0px 2px 6px #0000000D;
        }
    }
}