@import '../../../../../assets/sass/abstracts/variables';

.content-tool {
  padding: 0 0 $p12;
  flex-flow: row wrap;

  .tool-item {
    text-align: center;
    border: 1px solid $color-border-primary;
    width: 107px;
    padding: $p8;
    cursor: pointer;
    margin-bottom: $m12;
    background-color: $light;
    border-radius: $border-radius;

    icon {
      ::ng-deep i {
        color: $color-gray-65;
      }
    }

    span {
      display: block;
      font-weight: $font-weight-medium;
      text-transform: uppercase;
    }

    &:hover {
      background-color: #FAFCFF;
    }
  }
}
