@import '../../../../assets/sass/abstracts/variables';

.job-estimate {
.spc {
  margin: 0;
  }
  .small-input{
    width: 150px;
    float: right;
  }
 .w-35 {
  width: 35%;
  }
  .w-65 {
    width: 65%;
    }
    .w-50 {
      width: 50%;
    }
  .mb-12 {
    margin-bottom: 15px;
  }
  .select12{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }
  .select1{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  .rate-range{
    background-color: $color-white;
    border: 1px solid #F2F3FF;
    border-radius: $border-radius;
    padding: 10px $p15;
    box-shadow: 0px 6px 7px #00000007;
    .range-icon {
      width: 30px;
      height: 30px;
      border-radius: $rounded-circle;
      &.blue{
        background-color: $color-light-blue;
      }
      &.yellow{
        background-color: #FFC60A;
        i{
          transform: rotate(180deg);
        }
      }
      &.orange{
        background-color: #FF8D8D;
      }
      i{
        color: $color-white;
        font-size: 16px;
      }
    }
    .rate-text{
      h4{
        color: #020303;
      }
      p{
        font-size: 12px;
        color: $color-gray-60;
      }
    }
  }
  .label {
   color: #6c757d !important;
  }
  .work-duration-box {
    border: 1px solid #F2F3FF;
    border-radius: $border-radius;
    .number-dropdown{
      width:75%;
      background-color: #F2F3FF40;
      padding: $p15;
      border-right: 1px solid #F2F3FF;
    }
    .work-duration{
      width: 25%;
      padding: 10px 25px;
      p{
        font-size: 12px;
        color: $color-gray-60;
      }
    }
    label{
      font-size: 12px;
      color: $color-gray-60;
    }
  }
  .detailed-estimation{
    .row{
      border-bottom: 1px solid $color-gray-15;
      h5{
        font-size: 14px;
        color: $color-gray-60;
        i{
          font-size: 18px;
          color: $initials-purple;
        }
      }
      label{
        color: $color-gray-80;
        b{
          color: $color-black;
        }
      }
      span{
          color: $color-gray-60;
          b{
            color: $color-black;
          }
      }
      .colorBold{
        color: $color-black;
      }
      .amount-range{
        min-width: 50%;
        border-left: 1px solid $color-gray-15;
        label{
          font-size: 12px;
          color: $color-gray-35;
          margin: 0;
          display: inline;
        }
      }
      .add-amount-toggle {
        overflow: hidden;
        input {
          position: absolute !important;
          clip: rect(0, 0, 0, 0);
          height: 1px;
          width: 1px;
          border: 0;
          overflow: hidden;
        }
        label {
          background-color: $color-gray-30;
          color: $color-gray-60;
          font-size: 12px;
          line-height: 1;
          text-align: center;
          margin: 0;
          padding: $p8 $p16;
          border: 1px solid #5E71FE15;
          transition: all 0.1s ease-in-out;
          &:hover {
            cursor: pointer;
          }
        }
        input:checked + label {
          background-color: #5E71FE50;
          box-shadow: none;
        }

        label:first-of-type {
          border-radius: 4px 0 0 4px;
        }

        label:last-of-type {
          border-radius: 0 4px 4px 0;
        }
      }
      .add-range {
        min-width: 100px;
        label{
          border-radius: 4px 0px 0px 4px;
          width: 30px;
          height: 25px;
          font-size: 14px;
          padding: $p4 10px;
          border-right: 1px solid $color-gray-35;
          background-color: #FCFCFF;
          margin: 0 10px 0 0;
        }
        span{
          display: block;
        }
        .additional-amount{
          .form-group{
            width: 60%;
          }
        }
      }
    }
  }
}

.percentage-section {
  position: absolute;
  top: 1px;
  left: 1px;
  background: $color-gray-5;
  width: 52px;
  text-align: center;
  line-height: 40;
  bottom: 1px;
  border-radius: 4px 0 0 4px;
  border-right: 1px solid $color-border-secondary;
}

.additional-calculation {
  .optionbox {
    width: 45%;
    margin-right: 2%;
  }

  .estimated {
    line-height: 40px;
    width: 28%;
  }

  .percent-input {
    width: 25%;
  }


}

.rate-type-selector {
  text-transform: capitalize;

  ::ng-deep .ng-arrow {
    &:after {
      text-transform: none;
    }
  }
}
