@import '../../../../../assets/sass/abstracts/variables';
.revision-history {
     ::ng-deep .table-bg {
        padding: 0;
        min-height: inherit;
        .table-bg-inner {
            box-shadow: inherit;
            .content-area-inner {
                padding: 0 !important;
            }
        }
    }
    .vms-header-panel {
        display: none;
    }
     ::ng-deep .listing-wrap {
        .table-outer {
            .table-overflow {
                .ps__rail-x {
                    position: absolute !important;
                    left: 0 !important;
                }
            }
        }
    }
    h4 {
        icon {
            vertical-align: middle;
        }
    }
    table {
        border: 1px solid #F5F4FA;
        thead {
            background-color: #F9F7FF;
        }
        th {
            font-size: 12px;
            font-weight: $font-weight-medium;
        }
        tr {
            td {
                color: #7F92A3;
                border-left: 1px solid #F5F4FA;
                border-top: 1px solid #F5F4FA;
                a {
                    color: #2680EB;
                    text-decoration: underline;
                }
                &:first-child {
                    border-left: 0;
                }
            }
            &:first-child {
                td {
                    border-top: 0;
                }
            }
        }
    }
}