@import '../../../assets/sass/abstracts/variables';

.formatCountry {
  width: 140px;
}

.search-address-width {
  width: 100% !important;
}

.disableDiv {

  pointer-events: none;

  opacity: 0.7;

}

.tabSocialMedia {
  .add-remove {
    width: auto;
    flex: .2;

    .add-link {
      line-height: 33px;
      display: block;
      cursor: pointer;

      icon {
        display: inline-block;
        vertical-align: middle;
        color: $color-assets-primary;
      }
    }
  }
  .social-application {
    width: 50%;
  }

  .add-new {

    button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

::ng-deep.svms-body {
  padding: 24px;
  text-align: left;
}
.tab-buttons {
  .btn {
    font-size: 14px !important;
  }
  .btn-light {
    background-color: $color-white;
    color: $color-gray-60;
    border-radius: 0;
  }
  .btn-light:hover,
  .btn-selected {
    background-color: #5e71fe15;
    color: $initials-purple;
  }
  .btn-r-border-radius {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .btn-l-border-radius {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

.tab-section {
  .tabset {
    border-bottom: 2px solid #f5f6ff;
    .tab {
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      padding: 8px 16px;
    }
    .active-tab {
      border-bottom: $initials-purple solid 2px;
    }
  }
  .tab-contents {
    .tab-content {
      padding: 16px 0;
      ::ng-deep.ng-select {
        min-width: 10%;
      }
      .select-bg {
        ::ng-deep.ng-select-container {
          background-color: #faf8ff;
          border-right: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      .icon-bg {
        background-color: #faf8ff;
        border: 1px solid $color-border-secondary;
        padding: 11px;
        border-right: 0;
        border-radius: $border-radius;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .remove-radius {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-right: 24px;
        .form-control {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          padding-right: 24px;
        }
      }
      .add-remove-icon {
        margin-top: 32px;
        color: $color-light-blue;
        border: $color-light-blue 1px solid;
        background: $color-white;
        height: 26px;
        border-radius: 50%;
        cursor: pointer;
      }
      .add-remove-icon:disabled {
        opacity: 0.5;
        cursor: no-drop;
      }
    }
    .deactive-content {
      display: none;
    }
  }
}

.Upload_box_wrapper {
  padding: 10px 24px;
  background: #f2f3ffbf;
  border: 1px solid #f2f3ff;
  border-radius: 4px;
  opacity: 1;

  svms-upload-profile-avatar {
    width: -webkit-fill-available;
    display: flex;
    flex-grow:1;
  }
}

.on-success {
  color: $color-white;
  ::ng-deep.svms-footer {
    background-color: #5ad15e;
    padding: 24px;
  }
  .program-btn {
    background: $color-white;
    color: #5ad15e;
  }
  .later-btn {
    background: #5ad15e;
    border-color: $color-white;
    color: $color-white;
  }
  .program-btn,
  .later-btn {
    font-size: 14px;
    font-weight: $font-weight-medium;
  }
}
