@import '../../../../../assets/sass/abstracts/variables';
.rate {
  position: relative;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 10px;
  color: #ccc;
}

.rate:not(:checked) > label:before {
  content: '★ ';
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.boxes {
  width: 32%;
  margin-bottom: 15px;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 3px 6px #00000019;
  &.slected-border {
    border: 2px solid #8181d6;
  }
  .small {
    font-size: 12px;
  }
}

.extend-bar {
  h4 {
    color: $text-black;
    font-weight: bold;
    font-size: 15px;
  }
  .search_div {
    .search-icon {
      position: absolute;
      right: 5px;
      font-size: 20px;
      color: #9eadb9;
      top: 12px;
    }
  }
  .selected-vendor {
    background-color: #fff;
    color: #9799ae;
    padding: 0 $p8;
    border-radius: 4px;
    font-size: 12px;
    span {
      font-size: 15px;
    }
    &.selected {
      background-color: #8181d6 !important;
      color: #ffffff !important;
      padding: 4px 6px 1px;
    }
  }
  .btn-save {
    background-color: $color-blue;
    border-color: $color-blue;
    color: $light;
    font-size: 14px;
    height: 30px;
  }
}

::ng-deep {
  .extended-bar {
    padding: 0px 0px !important;
    background-color: $color-gray-5 !important;
    z-index: 9;
    overflow: auto;
    border-right: 1px solid #dbe0ea;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .extended-sidebar {
    .ng-arrow-wrapper {
      display: none !important;
    }
  }
}

.filter-title {
  background-color: $color-gray-30;
  color: #002626;
}

.initial {
  width: 21px;
  height: 22px;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 3px #00000029;
  border-radius: 100%;
  color: white;
  &.red {
    background-color: red;
  }
  &.blue {
    background-color: blue;
  }
  &.more {
    background-color: white;
    color: black;
  }
  &:not(:first-child) {
    margin-left: -8px;
  }
}

.error-info {
  color: red;
  top: 10px;
  right: 10px;
}

.error-msg {
  box-shadow: 0px 11px 16px #0000000f;
  border: 1px solid #e2e2e2;
  padding: 16px;
  position: absolute;
  color: #093c3c;
  font-size: 10px;
  min-width: 284px;
  bottom: 122px;
  z-index: 3;
  left: 0px;
  background-color: white;
  &:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    background-color: white;
    border-width: 1px;
    border-color: transparent #e2e2e2 #e2e2e2 transparent;
    border-style: solid;
    bottom: -8px;
    display: block;
    right: 83px;
  }
}

.form-control {
  &.filter-vendors {
    padding-right: 24px;
  }
}

.group-name {
  top: 10px;
  right: 10px;
  cursor: default;
}
