.sidebar-wrapper {
    max-height: calc(100vh - 56px);
    overflow: auto;

    h4 {
      &.blue-color {
        color: #001A43;

        icon {
          ::ng-deep i {
            vertical-align: middle;
            font-size: 18px;
          }
        }
      }
    }
  }