@import "../../../../../assets/sass/abstracts/variables";

.alert_message {
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
    text-align: left;
  
    icon {
        margin-top: 0px;
    }
  
    .medium-font {
        font-size: 13px;
    }
  }
  
  .alert_error {
    border-left: 5px solid #f72951;
    color: #fd556b;
    margin-top: -14px;
    margin-bottom: 7px;
    background: #ffc8cf;
  }
  
  .alert_success {
    border-left: 5px solid #43a047;
    color: #43a047;
    margin-top: -14px;
    margin-bottom: 7px;
    background: #f1f8e9;
  }
  
  .alert_pending, .alert_warning {
    border-left: 5px solid #ed8936;
    color: #ed8936;
    margin-top: -14px;
    margin-bottom: 7px;
    background: #feebc8;
  }