@import "../../../../../../../../assets/sass/abstracts/variables";

.schedule-wrapper {
  &::-webkit-scrollbar {
    display: none;
  }

  .btn-select-box {
    background: transparent;
    border: 0;
    outline: 0;
  }

  .max-width-set {
    max-width: 498px;
  }
}

.dates-header {
  p {
    &.first {
      flex-basis: 49%;
    }

    &.second {
      flex-basis: 51%;
    }
  }
}

.icon-preidentify {
  .icon-bg {
    background-color: #FAF8FF;
    border: 1px solid $color-border-secondary;
    padding: 11px;
    border-right: 0;
    border-radius: $border-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.dates-bodywrapper {
  .dates-loop {
    background-color: $color-gray-1;
    padding: $p12;
    margin-bottom: $m8;

    .form-group-row {
      .form-group {
        &:first-child {
          flex-basis: 75%;
        }
      }
    }

    .addslot {
      display: none;
      margin-top: 7px;
    }

    .deleteslot {
      margin-top: 7px;
      display: block;
    }

    &:first-child {
      .addslot {
        display: block;
      }

      .deleteslot {
        display: none;
      }
    }

    ::ng-deep .datepicker-inline {
      top: 42px;
    }
  }
}

.interview-type {
  .no-item {
    background-color: #fafbfc;
    border: 1px solid $color-border-secondary;
    height: 40px;
    margin-top: 25px;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .btn-small-font {
    font-size: smaller;

  }

  .btn-custom-outline-secondary {
    background-color: #ffffff;
    border-color: #b8b9bf;
    color: #b8b9bf;
  }

  .type-s {
    flex-basis: 100%;
  }

  .type {
    flex-basis: 46%;

    ::ng-deep .ng-select-container {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  ::ng-deep .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

}

.scheduled-navbar {
  ::ng-deep .help-bar-wrapper {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
  }
}

::ng-deep {
  .profile-bar {
    position: absolute;
  }

  // .ng-select.ng-select-disabled>.ng-select-container {
  //   background-color: white !important;
  // }
}

.country-searchable {
  .select-bg {
    width: 100px;
  }

  ::ng-deep .ng-select {
    .ng-select-container {
      background: $color-gray-5;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .ng-value-container {
      padding-left: $p8;
    }

    .ng-value-label {
      img {
        vertical-align: middle;
        margin-right: $m4;
      }
    }
  }

  .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.selected-attendees {

  li {
    background: #8182d5;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    padding: 4px 32px 4px 12px;
    line-height: 20px;
    position: relative;
    margin: 8px 4px 0;
    display: inline-block;

    a {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      font-size: 18px;
      padding: 0;
      height: 20px;


      &:hover {
        background: transparent;
      }
    }
  }


}

.timeslot-btn {
  position: relative;

  button {
    width: 100%;
    text-align: left;
    height: 30px;
  }

  .profile-interview {
    position: absolute;
    top: 14%;
    right: 15px;
    z-index: 5;
  }
}

.add-time-slot {
  border: 1px dashed $color-assets-primary;
  border-radius: $border-radius;
  height: 40px;
  text-align: center;
  width: 100%;
  outline: none;
  cursor: pointer;
  background-color: $light;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: $font-weight-medium;
  color: $color-assets-primary;
}

.add-time-slot-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.available-date-box {
  .values {
    p {
      &:first-child {
        color: #001A43;
      }
    }
  }

  .item-actions {
    icon {
      ::ng-deep i {
        font-size: 16px;
        color: $color-assets-primary;
      }

      &:nth-child(2) {
        ::ng-deep i {
          color: #FF0000;
        }
      }
    }
  }

}


@media screen and (max-width: 1400px) {
  .schedule-wrapper {
    .max-width-set {
      max-width: 387px;
    }
  }
}

.message {
  color: #5f6d89 !important;
  font-style: italic !important;
}

a {
  color: $color-assets-primary;
}

a:hover {
  text-decoration: underline;
}