@import '../../assets/sass/abstracts/variables';

.lib-wrapper {
    background-color: $light;
    border: 1px solid #E8F0F7;
    border-radius: $border-radius;
    box-shadow: 0px 2px 3px #00000007;

    .prog-detail {
        background-color: #FAFCFF;
        flex-basis: 30%;
        width: 200px;
        border-right: 1px solid $color-border-secondary;
        position: fixed;
        top: 50px;
        bottom: 58px;
        height: calc(100vh - 50px );

        ::ng-deep ul {
            list-style-type: none;

            li {
               margin-bottom: $m24; 
               transition: $transition;

               icon {
                margin-right: $m16;
                i {
                    font-size: 20px;
                    color: $color-black;
                }
               }

               span {
                color: #001A43;
               }

               &:hover, &.active {

                i, span {
                    color: $color-assets-primary;
                }
               }
            }
        }
    }

    .program-content-area {
        flex-basis: 70%;
        margin-left: 200px;
    
        ::ng-deep.table-bg {
            padding: 0;
            min-height: inherit;

            .table-overflow {
                width: calc(100vw - 394px) !important;

           
            }

            .pagination-border {
                padding-left: $p24 !important;
                padding-bottom: $p16 !important;
            }
        }
    }
}
::ng-deep {
    .page-container{
        &.mini-sidebar {
            .generic-list-page{
                &.doc-list{
                    .ng-dropdown-panel {
                       direction: ltr;
                       text-align: left;
                    }
                    .c-search-panel {
                        left: 265px;
                        width: calc(100% - 265px);
                     } 
                    .c-listing-table-wrapper {
                        width: 100%;

                        perfect-scrollbar {
                        > .ps.ps--active-x {
                            > .ps__rail-x {
                                left: 263px !important;
                            }
                        }
                    }

                    }
                }
            }
        }
    }

    .generic-list-page{
        &.doc-list{
             min-height: calc(100vh - 145px);
            .c-listing-table-wrapper {
                perfect-scrollbar {
                > .ps.ps--active-x {
                    > .ps__rail-x {
                        left: 426px !important;
                    }
                }
            }

            }
        }
    }
}

.conditional-box {
    background-color: #FAFCFF;
}

