@import "../../../../assets/sass/abstracts/variables";

.rounded-0 {
  border-radius: 0px !important;
}
.symbol-position {
  position: absolute;
  color: #000;
  top: 11px;
  left: 5px;
}
.toggle-panel {
  background-color: #fff;
}
.checkbox {
  .check-required {
    .checkbox-box {
      display: flex;
      justify-content: flex-start;
      margin-left: 20px;
      align-items: center;
    }

    .checkbox-container .checkmark {
      border-radius: 50%;
      border-color: #ccc;
      height: 13px;
      width: 13px;
    }

    .checkbox-container input:checked ~ .checkmark {
      background: #2dd36f;
    }

    .checkbox-container .checkmark:after {
      content: "done";
      font-family: "Material Icons";
      position: absolute;
      display: block;
      font-size: 8px;
      top: 2px;
      left: 2px;
      width: 3px;
      height: 3px;
      color: $color-gray-50;
    }

    .checkbox-container input:checked ~ .checkmark:after {
      color: $light;
    }

    .checkbox-h {
      height: 50px;
    }
  }
}

.radio {
  .checkbox-box {
    border-top: none;
    border-bottom: none;
    padding: 12px 0px;
    // margin: -15px -7px -6px;
  }

  .checkbox-container .checkmark {
    border-radius: 50%;
    border-color: #d2d2d2;
    display: block;
  }
  .checkbox-container input:checked ~ .checkmark {
    background: #6fc639;
  }
}
.link {
  a {
    color: #fff !important;
    &:hover {
      text-decoration: underline !important ;
    }
  }
}
