.icon {
    width: 39px;
    min-width: 39px;
    height: 39px;
    min-height: 39px;
    //background-color: #1a6ec33b;
    //background-color: rgba(#1a6ec3, 0.23);
    border-radius: 50%;
    margin: 9px 0 0 0;
}