@import '../../../../../assets/sass/abstracts/variables';

.preview-container {
    background-color: $light;
    box-shadow: 0px 0px 22px #00000010;
    border-radius: 6px;
    max-width: 719px;
    margin: auto;
    border-radius: 6px;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 10px;
    ::ng-deep table {
        td {
            padding: 0;
        }
    }
}

.preview-container-sms {
    position: absolute;
    background-color: $light;
    box-shadow: 0px 3px 13px #00000010;
    max-width: 419px;
    padding: $p32;
    border-radius: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:after {
        position: absolute;
        bottom: -30px;
        left: 30px;
        border-top: 15px solid $light;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        content: '.';
        text-indent: -9999px;
        overflow: hidden;
        display: block;
        visibility: visible;
    }
}

.preview-container-notify {
    position: absolute;
    background-color: $light;
    box-shadow: 0px 3px 13px #00000010;
    max-width: 428px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: $p24;
    border-radius: 14px;
}