:host .timesheet-page {
    .sheet-wrapper {
        .total-col {
            &.non-editable {
                .col-item {
                    min-height: 42px;

                    &.billable-item {
                        min-height: 42px;
                    }
                    &.first-item {
                        min-height: 49px;
                        padding: 7px 14px;
                    }
                }
            }
        }

        .headings {
            .col-item {
                &:first-child {
                    min-height: 49px;
                }
            }
        }

        .day-col {
            .col-item {
                min-height: 42px;

                &.first {
                    min-height: 49px;
                }
            } 
        }

        .col-item-wrapper {
            .col-item {
                min-height: 42px;
            }
        }

        &.automation {
            .headings {
                .col-item {
                    &.read-only {
                        min-height: 42px;
                    }
                }
            }
        }
    }
    .mt-34 {
        margin-top: 29px;
    }
    .holiday{
        .mobile-timesheet-view-item{
            pointer-events: none;
        }
    }
}