@import '../../../../assets/sass/abstracts/variables';

.checkbox-label {
  padding-left: 8px;
  position: relative;
  bottom: 3px;
}

.filter-panel {
  top: 0;
  right: 0;
  width: 398px;
  box-shadow: 0px 15px 21px #0000001D;
  height: 100vh;
  transition: $transition;
  z-index: 101;


  h4 {
    line-height: 21px;
    color: $color-assets-secondary;

    icon {
      vertical-align: top;
    }
  }

  .filter-content {
    height: calc(100vh - 122px);

    .form-group {


      .total-count {
        top: 13px;
        right: 36px;
        background: $color-assets-primary;
        border-radius: 11px;
        color: $light;
        font-size: 12px;
        line-height: 18px;
        z-index: 1049;
        padding: 0 $p4;
        min-width: 22px;
        text-align: center;
        display: inline-block;
      }

      ::ng-deep .datepicker-inline {
        top: 52px;
        bottom: 116px;

        .datepicker {
          width: 100%;
          box-sizing: border-box;
          font-size: 12px !important;

        }
      }
    }
  }

  .filter-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: $color-gray-5;
    border: 1px solid $border-color;
  }

  .filter-close {
    position: absolute;
    top: 10px;
    left: -40px;
    z-index: 10;

    icon {
      ::ng-deep i {
        color: $light;
      }
    }
  }
}

.filter-backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 32, 49, 0.85);
  z-index: 100;
  transition: $transition;
  bottom: 0;
  right: 0;
  position: fixed;
}

::ng-deep program-filter {
  .filter-panel {
    opacity: 0;
    transform: translateX(398px);
  }

  .filter-backdrop {
    opacity: 0;
    visibility: hidden;
  }

  &.active {
    .filter-panel {
      transform: translateX(0);
      opacity: 1;
    }

    .filter-backdrop {
      opacity: 1;
      visibility: visible;
    }
  }

  .daterangepicker-footer {
    padding: 8px !important;
    background-color: #FFFFFF;
    min-width: 589px !important;
    margin-left: -239px !important;
    z-index: 999;
    position: absolute;

    .date-selected {
      font-size: 12px;
    }
  }

  .rangepicker {
    width: 455px;
    min-height: 270px !important;


  }

  .range-lists li {
    line-height: 37px !important;
  }

  .datepicker--cell {
    line-height: 27px !important;
    margin-bottom: 4px !important;
  }

  .daterangepicker-wrapper {
    margin-left: -239px;
    min-height: 282px;

    .range-lists {
      width: 134px !important;
      margin-top: 12px !important;
      line-height: 37px !important;

      .filter-panel .filter-content.form-group.datepicker-inline .datepicker .datepicker--cell {
        height: 20px !important;
        line-height: 26px !important;



      }
    }
  }
}
