@import '../../../../assets/sass/abstracts/variables';

.password {
    ::ng-deep.showhide {
        position: absolute;
        top: 46px;
        right: 20px;
        transform: translateY(-50%);
        font-size: 16px;
        line-height: 16px;
        z-index: 10;
        cursor: pointer;
    }
}
.custom-readonly {
    :read-only{
        .ng-select {
            border: none;
            background: transparent;
        }
        input {
            border: none;
            background: transparent;
        }
    }
}
.toggle-label{
  margin-bottom: 0px !important;
  margin-left: 8px !important;
}
.label-corrector {
    margin-left: 18px;
    position: relative;
    bottom: 18px;
    height: 4px;
}

.anchor-text {
    line-height: 20px;
}

.form-check-inline {
    display: inline-block;
    margin-right: 1rem;
}

.currency-field {
    overflow: hidden;

    input {
        padding-left: 60px;
    }

    span {
        position: absolute;
        top: 1px;
        left: 1px;
        width: 50px;
        display: block;
        text-align: center;
        line-height: 38px;
        border-right: 1px solid $color-border-secondary;
        font-size: 14px;
        z-index: 4;
        background-color: #fafcff;
        color: #001A43;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }
}
