@import "../../../../../assets/sass/abstracts/variables";

.approval-ui {
    .approval {
        background-color: $color-gray-5;
        border: 1px solid $color-gray-30;
        align-items: center;
        .required {
            color: red !important;
        }
        .approval-list {
            width: 100%;
            &.align-self-center{
                align-self: center;
            }
            .avatar {
                background: #ff00fc;
                color: $light;
                font-size: 12px;
                width: 18px;
                text-align: center;
                line-height: 18px;
                height: 18px;
                overflow: hidden;
                align-self: center;
            }

            .user {
                font-weight: $font-weight-medium;
                color: $color-body-txt-default;
                flex: 2;

                span {
                    display: block;
                    font-size: 11px;
                    color: $color-body-txt-secondary;
                    line-height: 16px;
                }
            }

            .date {
                font-size: 12px;
                color: $color-gray-90;

                icon {
                    color: $color-green;

                    ::ng-deep i {
                        vertical-align: middle;
                    }
                }
            }

            .status {
                &.align-self-center {
                    align-self: center;
                }
                &:before {
                    position: absolute;
                    top: 7px;
                    left: -6px;
                    width: 9px;
                    height: 9px;
                    overflow: hidden;
                    border-radius: $rounded-circle;
                    content: ".";
                    text-indent: -9999px;
                    display: block;
                    visibility: visible;
                }

                &.green {
                    color: $color-green;

                    &:before {
                        background-color: $color-green;
                    }
                }

                &.red {
                    color: $color-red-80;

                    &:before {
                        background-color: $color-red-80;
                    }
                }

                &.yellow {
                    color: #e6af00;

                    &:before {
                        background-color: #e6af00;
                    }
                }
            }

            button {
                &.green {
                    background-color: $color-green;
                    border-color: $color-green;
                }

                &.red {
                    background-color: $color-red-80;
                    border-color: $color-red-80;
                }
            }
        }
        .approval-reason {
            background-color: $color-gray-5;
            align-items: flex-start;
            .red-border {
                border: 1px solid red !important;
            }
            .invalid-feedback {
                color: red !important;
                font-size: 12px;
            }
        }
    }

    .upper-case {
        font-weight: $font-weight-medium;
        text-transform: uppercase;
    }

    .title {
        span {
            // background-color: $color-red-80;
            line-height: 24px;
            // color: $light;
            font-size: 12px;

            &:before {
                background-color: $light;
                width: 7px;
                height: 7px;
                border-radius: $rounded-circle;
                content: ".";
                text-indent: -9999px;
                overflow: hidden;
                display: block;
                visibility: visible;
                position: absolute;
                top: 50%;
                left: 9px;
                transform: translateY(-50%);
            }
        }
    }

    .job-meta {
        font-size: 12px;

        icon {
            ::ng-deep i {
                vertical-align: middle;
            }
        }

        .tag {
            color: $color-orange;

            ::ng-deep i {
                vertical-align: middle;
            }
        }

        .updated {
            color: $color-gray-90;
        }
    }

    .other-information {
        p {
            flex: 1;
            font-weight: $font-weight-medium;
            color: $text-default;

            span {
                &.info-label {
                    display: block;
                    color: $color-gray-70;
                    font-size: 12px;
                    font-weight: $font-weight-regular;
                }

                &.red {
                    color: $color-red-80;
                    text-decoration: line-through;
                }

                &.green {
                    color: $color-green;
                }
            }
        }
    }
}
.redbg {
    background-color: $color-red-80;
    color: $light;
}
.yellowbg {
    background-color: #e6af00;
    color: $light;
}
.greenbg {
    background-color: $color-green;
    color: $light;
}
.text-capitalize {
    text-transform: capitalize;
}
