.radio-container .checkmark:after{
    top:3px;
  }
  .red{
    border: 1px solid red !important;
  }
  .text-capitalize{
    text-transform: capitalize !important;
  }

  .question-checkbox{
    &.checkbox-wrapper {
       padding: 10px 20px;
   
       .checkbox-container {
         margin-bottom: 0;
   
         p {
           font-size: 16px;
           line-height: 18px;
         }
   
         .checkmark {
             width: 18px;
             height: 18px;
   
             &:after {
                 top: 1px;
                 left: 0;
             }
         }
       }
     }
  }
