@import '../../../../assets/sass/abstracts/variables';

.contact-avatar-list {
    span {
        position: relative;
        margin-left: -8px;
        margin-right: 0;
        border: 1px solid #FFFFFFEA;

        &:first-child {
            margin-left: 0;
            z-index: 10;
        }

        &:nth-child(2) {
            z-index: 9;
        }
    }
}

.manager-avatar-list {
    list-style-type: none;

    li {
        position: relative;
        margin-left: -8px;
        border: 1px solid #FFFFFFEA;
        display: inline-block;
        text-align: center;
        line-height: 20px;
        border-radius: $rounded-circle;
        background: $color-green;
        width: 22px;
        color: $light;
        font-size: 10px;

        &:first-child {
            margin-left: 0;
        }

        &.more-link {
            background: $light;
            box-shadow: 0px 3px 6px #00000029;
            color: $color-link;
        }
    }
}

*::ng-deep {

    .c-listing-header,
    .c-search-panel,
    .c-listing-footer {
        z-index: 20;
    }
}