@import '../../../../../assets/sass/abstracts/variables';

.detail-sidebar {
  padding-bottom: 100px !important;

  .tooltip-enabled {
    .item-tooltip {
      position: absolute;
      bottom: 50px;
      left: 0;
      background-color: rgba(0, 0, 0, .86);
      padding: $p8;
      border-radius: $border-radius;
      width: 191px;
      opacity: 0;
      visibility: hidden;
      transition: $transition;
      transform: translateY(20px);

      p {
        color: $light;
        font-weight: $font-weight-regular;
      }
    }

    &:hover {
      .item-tooltip {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }
}

.jobdetails-section {
  width: calc(100% - 430px);
  float: left;
  // margin-top: 8px;
}

.content-section {
  overflow: auto;
}

.detail-button {
  button {
    border: none;
    font-size: 13px;
    color: $color-blue;
    outline: none;
    cursor: pointer;
    background: none;
    text-align: center;
  }
}

.user_initial {
  background: rgba(119, 109, 224, 0.54);
  color: $light;
  border-radius: $rounded-circle;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  overflow: hidden;
  text-transform: uppercase;
  margin-right: 5px;
  float: left;
}

.text-capitalize {
  text-transform: capitalize;
}

.checkbox-wrapper {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;

  .checkbox-container {
    font-size: 13px;
    white-space: pre;
    color: #343a40 !important;

    .checkmark {
      border: none;
      border-radius: $rounded-circle;
      background-color: $color-gray-50;

      &:after {
        display: block;
      }
    }

    input {
      &:checked {
        &~.checkmark {
          background-color: $color-green;
        }
      }
    }
  }
}

.pre-candidates-section {
  .pre-candidates {
    overflow-y: hidden;
    overflow-x: auto;

    .pre-candidate {
      min-width: 380px;
      min-height: 112px;
      box-shadow: 0px 3px 6px #00000008;
      border: 1px solid $color-gray-15;
      border-radius: 4px;

      .initials {
        height: 36px;
        width: 36px;
        font-size: 14px;
        background: #ecedff;
        color: $color-light-blue;
      }

      .name {
        color: #376cc7;
      }

      .action-items {
        margin-left: auto;
        margin-top: -8px;

        icon {
          border: 1px solid transparent;
          border-radius: 4px;
          width: 28px;
          height: 24px;
          line-height: 24px;
          text-align: center;
        }

        icon:hover {
          color: $color-light-blue;
          border: 1px solid var(--color-assets-primary);
        }

        .red-eye-pos {
          padding-top: 1px;
        }
      }

      .pre-candidate-action-dropdown {
        right: 16px;
        top: 40px;
        width: 150px;
        background: $color-white;
        border: 1px solid $color-gray-30;
        border-radius: 4px;
        box-shadow: 0 11px 16px rgb(0 0 0 / 20%);
        transition: 0.2s ease-in-out;

        a {
          line-height: 46px;
          padding-left: 16px;
          padding-right: 16px;
          color: $color-black;
          transition: 0.2s ease-in-out;
          font-weight: 400;
          white-space: nowrap;
          display: block;
        }

        a:hover {
          color: $color-assets-primary;
          background-color: $color-gray-1;
        }
      }

      .pre-candidate-action-dropdown::before {
        background: white;
        border-top: 1px solid $color-gray-30;
        border-left: 1px solid $color-gray-30;
        width: 10px;
        height: 10px;
        content: '.';
        overflow: hidden;
        display: block;
        position: absolute;
        top: -6px;
        right: 18px;
        transform: rotate(45deg);
      }

      .footer {
        height: 48px;
        background: $color-gray-5;
        border-top: 1px solid $color-gray-15;

        .btn-pos {
          margin-left: auto;

          .btn,
          .banner {
            font-size: 12px;
            padding: 4px 8px;
            height: 24px;
            margin-top: -4px;
          }

          .banner {
            background: $color-success;
            border-color: $color-success;
            color: $color-white;
            cursor: default !important;
            border-radius: 12px;
            user-select: none;
          }
        }
      }
    }
  }

  /* width */
  ::-webkit-scrollbar {
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $color-gray-56;
  }
}

.panel-wrapper {
  .panel {
    display: inline-block;
    margin-right: 2%;
    width: 49%;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &.showonlyone {
      width: 100%;
      margin-right: 0;
    }
  }
}

.value-group {
  a {
    color: $color-link;
    text-decoration: underline;
  }

  .word-wrap {
    word-wrap: break-word;
  }
}

.description-download {
  a {
    color: $color-link;

    span:hover {
      text-decoration: underline;
    }
  }

  span {
    margin-top: 2px;
  }
}

table {

  th, td {
      text-align: left;
      border: 1px solid #ECF3FA;
      padding: 8px 8px !important;
  }

  thead {
      th {
          background-color: #FCFAFF;
          height: fit-content !important;
          color: #001A43;
      }
  }

  tbody{
    tr{
      color: #001A43;
      .light-bg{
        background-color: #EDF2FE;
        border-radius: $border-radius;
        text-align: center;
        padding: $p4 $p16;
        width: max-content;
        display: inline-block;        
        text-transform: capitalize;
      }

      td{
        .input-data{
          display: flex;
          flex-wrap: wrap;

          .text-block{
            text-wrap: wrap;
            width: 100%;
            word-break: break-word;        
            line-height: 20px;
            margin: 4px 0;
          }
        }
      }
    

    }
  }
}
.attachment-icon{
  background-color: #C5CEFF;
  color: $color-primary;
}

// .req-data + .data-not-present {
//   display: none;
// }
// .req-data:not(:empty) + .req-data:empty + .data-not-present {
//   display: none;
// }
// .req-data:empty + .data-not-present {
//   display: block;
// }