li  {
   .disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: none !important;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed !important;
}

.top-pos {
   bottom: 85%;
}
