@import '../../assets/sass/abstracts/variables';

.prog-detail {
  width: 354px;
  float: left;

  .pending-action-sidebar-wrapper {
    height: calc(100vh - 170px);
    overflow: auto;
  }

  ::ng-deep ul {
    list-style-type: none;

    li {
      margin-bottom: $m4;
      transition: $transition;
      border-radius: $border-radius;

      .sidebar-text {
        padding-left: $p12;
        border-left: 2px solid transparent;
        line-height: 20px;

        p {
          &.item-name {
            color: #0F2E4E;
          }
        }
      }

        .count-circle {
          border-radius: 20px;
          background: #EDF2FE;
          line-height: 20px;
          padding: 0 $p8;
          color: $color-assets-primary;
          font-size: 12px;
          font-weight: $font-weight-regular;
        }

      &:hover,
      &.pending-action-item {
        background-color: #EDF2FE;

        .sidebar-text {
          font-weight: $font-weight-medium;
          border-left-color: $color-assets-primary;
        }

        div.count-circle {
          background: $color-assets-primary;
          color: $color-white;
        }

        p.item-name {
          color: $color-assets-primary;
        }
      }
    }
  }
}

.program-content-area {
  margin-left: 370px;
}
