@import '../../../../assets/sass/abstracts/_variables.scss';
@import '../../../../assets/css/custom-fields.scss';

.display-none {
  display: none;
}

.additional-configuration {
  width: 428px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1001;
  background: #fff;
  height: 100%;

  .configuration-header {
    height: 48px;
  }
}

.with-sidepanel {
  ::ng-deep .svms-sidebar {
    right: 428px;
    max-width: 533px;
  }
}

.linked-tab {
  ::ng-deep .tab-panel {
    height: calc(100vh - 96px);
    overflow: auto;
  }
}

.dependent-linked-tabs {
  ::ng-deep .tab-menu {
    ul > li > a {
      &.active, &:hover {
        background-color: transparent !important;
      }
    } 
  }
}