@import '../../../../../assets/sass/abstracts/variables';

.tab-menu {
  background-color: #fff;
  width: 100%;
  padding-left: 0px;
  border-bottom: 2px solid #eee;
  height: 48px;

  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;

    li {
      display: inline-flex;

      &:not(:last-child) {
        margin-right: 0px;
      }

      a {
        color: #7F92A3;
        padding: 16px;
        font-size: 14px;
        text-decoration: none;
        display: block;
        line-height: 14px;
        font-weight: $font-weight-medium;
        border-bottom: 3px solid transparent;

        icon {
          color: inherit;
        }

        &:hover,
        &.active {
          border-bottom-color: $color-assets-primary;
          background-color: $color-assets-light;
          color: $color-assets-primary;
        }
      }

    }

  }
}

.tab-disable {
  pointer-events: none;
  opacity: 0.75;
}