@import "../../../../../assets/sass/abstracts/variables";
.w-100 {
    width: 100%;
}

.w-75 {
    width: 75px !important;
}

.text-gray {
    color: #7F92A3;
}

.radio-container {
    padding-left: 24px;
    margin-top: 3px;
    .checkmark {
        background-color: #ffffff;
        border: 2px solid $color-primary;
        height: 18px;
        width: 18px;
        &:after {
            top: 1px;
            left: 1px;
            color: $color-primary;
            font-size: 12px;
        }
    }
}