@import '../../../../../assets/sass/abstracts/variables';
  .search-cand {
    left: -5px;
    color: $placeholder-color;
    z-index: 4;
  }
  .search-invoice{
    right: 20px;
    color: $placeholder-color;
    z-index: 4;
  }


  .search-dropdown-top{
    top: 9px;
  }

  ::ng-deep{
    .consolidated-invoice-filter{
      .ng-select-container{
        opacity:0;
      }
      margin-left: 30px;
      margin-top: -40px;
    }
    .search-invoice{
      .ng-value{
       margin-left: 30px;
      }
    }
    .search-invoice-wrapper{
      .ng-arrow-wrapper{
        display: none;
      }
    }
    

}

.checkbox-wrapper {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;

  .checkbox-container {
    font-size: 13px;
    white-space: pre;
    color: #343A40 !important;

    .checkmark {
      border: none;
      border-radius: $rounded-circle;
      background-color: $color-gray-50;

      &:after {
        display: block;
      }
    }

    input {
      &:checked {

        &~.checkmark {
          background-color: $color-green;
        }
      }
    }

  }
}

.w-120{
  width:120px ;
}

.sidebar-wrapper {
  max-height: calc(100vh - 122px);
  overflow: auto;
}