@import '../../../assets/sass/abstracts/variables';

.content-area {
  height: calc(100vh - 50px);
}

.no-content {
  width: calc(100% - 292px)
}

.first-program {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  h6 {
    color: $text-secondary;
  }
}

.icon-reflect {
  transform: rotate(180deg);
  ;
}

// classes for info alert

.alert {
  padding: 16px;
  position: fixed;
  bottom: 0px;
  left: 64px;
  right: 0;
  z-index: 9;

  p {
    line-height: 24px;
    margin: 0;
    font-weight: normal;
  }
}

//alert-info
.alert-info {
  background: #483FAC;

  ::ng-deep i {
    color: #fff;
  }

  a {
    color: #fff;
    border-bottom: 1px solid;
    cursor: pointer;
  }

  p {
    color: #fff !important;
  }

}
