@import 'src/assets/sass/abstracts/variables';

.timesheet-header {
  background-color: #FBFAFF;

  h4 {
    color: $text-black;
  }

  .header-item-info {
      float: left;
      width: 74%;
      margin-left: 4%;

      p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .text-capitalize {
    text-transform: capitalize;
  }

  .user-avatar {
    width: 36px;
    height: 36px;

    .initials {
      width: 100%;
      height: 100%;
      font-size: 11px;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    &.small {
      width: 27px;
      height: 27px;
    }
  }

  p {
    color: $color-gray-40;
    line-height: 20px;

    &.paragraph-label {
      color: $color-gray-80;
    }

    icon {
      ::ng-deep i {
        vertical-align: middle;
      }
    }

    a {
      color: $color-blue;
    }
  }

  >div {
    margin-right: 2%;
    width: 21%;

    &.large {
      width: 27%;
    }
  }

  .custom-btn {
    background-color: $color-gray-0;
    border: 0;
    outline: 0;
    line-height: 43px;
    padding: 0 $p8;
    cursor: pointer;

    icon {
      ::ng-deep i {
        vertical-align: middle;
      }
    }
  }

  .location-select {
    .ng-select {
      &.ng-select-single {
        ::ng-deep .ng-select-container {
          height: 30px;
          min-height: 30px;
        }
      }
    }
  }

  icon {
    &.bg-color {
      background-color: #E8ECFF;
      line-height: 36px;
      width: 36px;
      text-align: center;

      ::ng-deep i {
        vertical-align: middle;
      }
    }
  }
}

.w-100 {
  width: 100%;
}

.word-break {
  word-break: break-word;
}
