@import '../../../../assets/sass/abstracts/variables';

.width-increase {
  width: 400px;
  margin-right: 10px;
}

.width-increase-active {
  width: 250px;
}

.toggle-parent {
  top: -59px;
  right: 0;

  .toggle-switch {
    background: $color-gray-50;
    width: 27px;
    height: 16px;
    border-radius: 30px;
    position: relative;
    transition: ease-in-out .2s;
    cursor: pointer;

    &:before {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 12px;
      height: 12px;
      border-radius: $rounded-circle;
      background: $light;
      content: '.';
      text-indent: -9999px;
      overflow: hidden;
      display: block;
      visibility: visible;
      transition: ease-in-out .2s;
    }

    &.toggle_off {
      &:before {
        transform: translateX(0);
      }
    }

    &.toggle_on {
      background: $color-assets-primary;

      &:before {
        transform: translateX(11px);
      }
    }
  }
}

.disable {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .5;
}
.no-margin-bottom{
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.enforce-rate-card-toggle {
  width: 100% !important;

  .toggle-panel-inner {
    height: 60px !important;
  }
}

.ng-select {
  &.avatar-template {
    ::ng-deep .ng-select-container {
      .ng-value-container {
        .ng-value {
          margin-right: $m8;
          background-color: $light;

          .ng-value-label {
            float: left;
            line-height: 27px;
            font-weight: $font-weight-medium;

            .avatar-box {
              background: #FF00FC;
              border-radius: $rounded-circle;
              width: 17px;
              line-height: 17px;
              text-align: center;
              color: $light;
              display: inline-block;
              margin-right: $m4;
            }
          }

          .ng-value-icon {
            float: right;
            font-size: 20px;
            line-height: 20px;
            padding-top: 4px;
            color: $color-gray-70;
            transition: $transition;

            &:hover {
              color: $color-gray-90;
              background-color: transparent;
            }
          }
        }
      }
    }

    ::ng-deep .ng-dropdown-panel {

      .ng-dropdown-panel-items {
        .avatar-box {
          background: #FF00FC;
          border-radius: $rounded-circle;
          width: 17px;
          line-height: 17px;
          text-align: center;
          color: $light;
          margin-right: $m8;
        }
      }
    }
  }
}

#enforceRate {
  height: 30px;
  padding-top: 10px;
  padding-bottom: 35px;
  background: #F8F9FA 0% 0% no-repeat padding-box;
}

#toggleEnforce {
  margin-left: 550px;
}

.rate-model {
  padding: 0px 24px 24px;

  p {
    color: #2B2D42;
    font-weight: bold;
  }

  .no-gutters {
    margin-left: 40px;
    margin-top: 7px;

    .radio-button {
      input {
        cursor: pointer;
      }

      input:nth-child(2n-3) {
        margin-left: 15px;
      }

      label {
        cursor: pointer;
        margin-left: 5px;
        font-size: 12px;
        color: #2B2D42;
        font-weight: 600;
      }
    }
  }
}

.disable {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.disable_radio {
  pointer-events: none;
}

.radio-group {
  border: 1px solid $color-border-secondary;
  border-radius: $border-radius;
  overflow: hidden;
  height: 40px;
  width: 80%;
  display: flex;

  .radio-container {
    flex-grow: 1;
    text-align: center;
    height: 40px;
    margin-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;

    input {
      left: 0;
      width: 100%;
      height: 100%;
    }

    .checkmark {
      width: auto;
      right: 0;
      line-height: 40px;
      height: 38px;
      background-color: $light;
      border-radius: $border-radius;
      font-size: 14px;
      pointer-events: none;
      color: #2B2D42;
    }

    &:not(:last-child) {
      border-right: 1px solid $color-border-secondary;
    }

    // input {
    //   &:checked {
    //     ~.checkmark {
    //       background-color: #5E71FE15;
    //       color: $color-assets-primary;

    //       &:after {
    //         display: none;
    //       }
    //     }
    //   }
    // }
  }
  .radio-container.active .checkmark{
    background-color: #5E71FE15;
    color: $color-assets-primary;
  }
}

.chip-list {

  display: flex;
  flex-wrap: wrap;

  .chip {
    background-color: #F2F3FF;
    border-radius: 4px;
    icon ::ng-deep {
      max-width: 24px;
    }
  }

  .icon-adjust {
    position: relative;
    cursor: pointer;
    top: 4px;
  }
}
