@import '../../../../../../../assets/sass/abstracts/variables';
.dndPlaceholder {
  min-height: 30px;
  margin-bottom: 10px;
  border: 1px dashed $color-gray-80;
  background-color: $color-gray-1;
}
.reordering-item{
  border:1px solid $color-gray-1;
}
.fixed-height{
  max-height: 300px;
  overflow-y: scroll;
}
.reordering-item:hover {
  background-color: $color-gray-1;
}

.standard-reordering-item {
  background-color: $color-gray-1;
}

.rate-type-section {
  background: #FAFCFF;
}

.standard-text-color {
  color: #001A43;
  opacity: .5
}

.sequence-box {
  max-width: 50px;
  margin-right: 10px;
}
