<svms-sidebar-ng [title]="panelHeading |i18next" [dataVisibility]="addCredential" (onClose)="sidebarClose()" size="mediam">
  <div class="sidebar-wrapper">
    <app-logs [log]="logs"></app-logs>
    <form [formGroup]="addCredentialForm">
      <div class="p-24">
        <div class="form-group">
          <label>{{ 'select_credential' | i18nextEager }} <span class="require">*</span></label>
          <ng-select [loading] = 'credentialsLoading' loadingText = 'Loading....' [clearable]="false" placeholder="{{ 'select' | i18nextEager }}" [typeahead]="input$" formControlName="credentialType">
            <ng-option [value]="type.id" *ngFor="let type of credentialList">{{type.name}}</ng-option>
          </ng-select>
          <p class="validation-msg"
            *ngIf="(addCredentialForm.controls.credentialType.touched && addCredentialForm.controls['credentialType'].errors)">
            <icon name="error" size="14px" type="material" cuClass="validation-icon"></icon>
            {{ 'credential_type_is_required' | i18nextEager }}
          </p>
        </div>
        <div class="form-group">
          <label>{{ 'issuing_authority' | i18nextEager }} <span class="require">*</span></label>
          <input type="text" placeholder="{{ 'enter_details' | i18nextEager }}" class="form-control" formControlName="issuingAuthority">
          <p class="validation-msg"
            *ngIf="(addCredentialForm.controls.issuingAuthority.touched && addCredentialForm.controls['issuingAuthority'].errors)">
            <icon name="error" size="14px" type="material" cuClass="validation-icon"></icon> {{ 'issuing_authority_is_required' | i18nextEager }}
          </p>
        </div>
        <div class="form-group-row">
          <div class="form-group position-relative date-field">
            <label>{{'initial_issuing_date' | i18nextEager }} <span class="require">*</span></label>
            <svms-datepicker [inputdateFormat]="defaultDateFormat" [placeholder]="'select_date'|i18next" ngDefaultControl
              formControlName="initialIssuingDate" id="date1" I18n #initialDate>
            </svms-datepicker>
          </div>
          <div class="form-group position-relative date-field">
            <label>{{'re' | i18nextEager }}-{{ 'issuing_date' | i18nextEager}}</label>
            <svms-datepicker [inputdateFormat]="defaultDateFormat" [placeholder]="'select_date'|i18next" ngDefaultControl
              formControlName="reIssuingDate" [options]="re_issuing_options"  I18n #reIssueDate>
            </svms-datepicker>
          </div>  
          <div class="form-group position-relative rev-date date-field">
            <label>{{'credential_expiration_date' | i18nextEager}}</label>
            <svms-datepicker [inputdateFormat]="defaultDateFormat" [options]="expiration_options" [placeholder]="'select_Ddate'|i18next" ngDefaultControl
              formControlName="credentialExpirationDate" I18n #expiryDate>
            </svms-datepicker>
          </div>
        </div>
        <div class="form-group">
          <label>{{ 'credential_id' | i18nextEager }}</label>
          <input type="text" placeholder="{{ 'enter_details' | i18nextEager }}" class="form-control" formControlName="credentialId">
        </div>
        <div class="form-group">
          <label>{{ 'notes' | i18nextEager }}</label>
          <textarea class="form-control notes" rows="4" formControlName="notes" placeholder="{{ 'enter_notes' | i18nextEager }}"></textarea>
        </div>
        <app-upload-documents uploadLabel="Upload Credential Documents" [newUploadfileArr]="newUploadfileArr" (oldUploadDataFiles)= "updateoldFiles($event)"  [oldUploadfileArr]="oldUploadfileArr" (uploadDataFiles)="uploadFiles($event)"
          [closePanel]="closePanel"></app-upload-documents>
      </div>
    </form>
  </div>

  <svms-sidebar-footer-ng>
    <button type="submit" class="btn btn-primary float-right" (click)="saveCredential('save')">
      {{btnText| i18nextEager}}
    </button>
    <button type="submit" class="btn btn-outine float-right mr-16" (click)="saveCredential('saveThenAdd')">
      {{ 'add_new' | i18nextEager }}
    </button>
  </svms-sidebar-footer-ng>
</svms-sidebar-ng>
