@import '../../../assets/sass/abstracts/variables';

.create-assignment {
  background-color: $bg-default;
  position: relative;

  &-inner {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
}


.back-button {
  top: 0px !important;
}

.program-manager {
  &-tab {
    display: flex;
  }

  &-table {
    font-weight: 500;
    width: 100%;

    thead {
      background-color: $bg-default;

      th {
        color: $text-secondary;
        border-bottom-width: 0px;
        padding: $p16;
      }
    }

    tbody {
      tr {
        &:not(:last-child) {
          border-bottom: 1px solid $border-color;
        }

        td {
          vertical-align: middle;
          padding-top: $p12;
          padding-bottom: $p12;
          border-color: $border-color;

          &:last-child {
            text-align: right;
            font-weight: $font-weight-bold;

          }

          &:first-child {
            display: flex;
            align-items: center;
          }

          &:nth-of-type(2) {
            color: $color-assets-secondary-shade;
          }
        }
      }
    }

  }
}

.org-summary {
  display: flex;
  align-items: center;
  background-color: $alert-info;
  font-size: $font-primary;
  justify-content: space-between;
  padding: $p16 $p24;
  margin-bottom: $m32;
  position: relative;
  color: $color-assets-secondary-shade;
  border-radius: $border-radius;

  &:after {
    content: "";
    background-color: $alert-info;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    transform: rotate(45deg);
  }

  .client,
  .industry {
    display: flex;
    flex-direction: column;

    span {
      &:first-child {
        color: $color-assets-secondary-shade;

      }
    }
  }

  .icons {
    a {
      &:not(:last-child) {
        margin-right: $m8;
      }
    }
  }
}



@media screen and (max-width: 768px) {
  .back-button {
    position: relative;
    margin-top: 50px;
    margin-bottom: 22px;
  }
}

.create-client {
  width: 67%;
}

.option-icon {
  color: $color-secondary-shade;
  font-size: 19px;
}

.select-option-icon {
  color: $color-secondary-shade;
  font-size: 32px;
  ;
}

.mt-26 {
  margin-top: 26px;

}

.toggle-disable {
  .toggle-panel-inner {
    font-size: 14px;
    font-weight: 400;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 16px;
    border: 0px solid var(--color-border-primary);
    height: 40px;
    background-color: transparent;
    float: right;
  }

}

.trans-bg {
  background: $light;
  margin-bottom: 16px;
  border: 0px solid var(--color-border-primary);
}

.spc {
  padding: 12px 0px 20px 0px;
}

.highlight-form {
  background-color: #F6FAFD;
}

.w-30 {
  width: 30%
}

.panel-info {
  border: 1px solid #EBEEF3;
  background-color: #FAFBFC;
  border-radius: 4px;
}

.card-info {
  border: 1px solid #F0F2F4;
  background-color: #F6FAFD;
  border-radius: 4px;
}

.x-small {
  font-size: 11px;
}

.img-holder {
  width: 94px;
  height: 60px !important;
  border: 1px solid $border-color;
}

.toggle-panel-inner span {
  font-weight: $font-weight-regular;

}

span {
  font-weight: $font-weight-medium;
}

.h-270 {
  min-height: 270px;
}

table {
  border: 1px solid $border-color;
}

table td {
  height: 45px;
}

table th {
  height: 45px !important;
  width: 25%;
  border-right: 1px solid $border-color;
}


tr {
  border: 1px solid $border-color;
}

td {
  width: 25%;
  border-right: 1px solid $border-color;
}

table th,
table td {
  padding: 0px 8px;
  vertical-align: middle;
}

.client-pic {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  overflow: hidden;
}

.blue {
  color: #776DE0
}
//modal popup classes 
.success-modal {
  position: fixed;
  top: 50%;
  left: 50.01%;
  background: $light;
  max-width: 478px;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 111;
  text-align: center;
  padding: 102px 115px;
  border-radius: $border-radius;
  transition: $transition;
  opacity: 0;
  visibility: hidden;
 
  icon {
    color: $color-green;
  }
 
  h3 {
    line-height: 32px;
  }
 
  button {
    width: 100%;
  }
 
  &.active {
    opacity: 1;
    visibility: visible;
  }
 
  &.autofill-modal {
    padding: 0;
 
    .autofill-wrap {
      padding: 102px 108px 68px 108px;
    }
 
    button {
      width: auto;
    }
 
    footer {
      background-color: $color-gray-10;
      border-top: 1px solid $color-gray-50;
      color: $color-gray-90;
      font-size: 12px;
      line-height: 27px;
 
      icon {
        color: $color-warning;
        vertical-align: middle;
        height: 20px;
      }
    }
  }
.toggle-disable{
    position: relative;
    left: -101px;
    text-align: center;
  .toggle-panel-inner {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-border-primary);
    border-radius: 4px;
    height: 40px;
    background-color: #F6FAFD;
    text-align: center;
    width: 62px;
    }
}
}
 
.modal-overlay {
  background: #1F2031;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  opacity: 0;
  visibility: hidden;
  transition: $transition;
 
  &.active {
    opacity: .85;
    visibility: visible;
  }
}
.form-group{
  &.small-input{
    flex: .5;
  }
}
//modal popup classes 

