@import '../../../../assets/sass/abstracts/variables';

.confirmation-dialog {
    width: 500px;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    z-index: 1003;
    transition: $transition;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 11px 16px #0000000F;

    .success-modal-body {
        .success-icon {
            display: inline-block;

            ::ng-deep i {
                color: $color-warning;
            }
        }

        h3 {
            line-height: 32px;
            max-width: 80%;
            margin: auto;
            color: $color-dark;
            word-break: break-word;
        }
    }

    .modal-footer {
        .btn {
            width: 50%;
            border-radius: 0;
        }

        .user-avatar {
            background: $initials-purple;
            color: $light;
            line-height: 40px;
            width: 40px;
            font-size: 16px;
        }

        .user-info {
            color: $color-body-txt-default;

            p {
                line-height: 16px;
            }

            .user-status {
                line-height: 21px;
                font-size: 12px;

                span {
                    width: 7px;
                    height: 7px;
                }

                &.inactive {
                    background: $color-gray-30;
                    color: $color-gray-70;

                    span {
                        background: $color-gray-70;
                    }
                }
            }
        }
    }

    &.active {
        visibility: visible;
        opacity: 1;
    }

    .width-webkit {
        width: -webkit-fill-available;
    }

    .members-list {
        max-height: 150px;
        overflow-y: auto;
    }

    .member-initials {
        background-color: #AADAFF !important;
        color: #0044C5;
        width: 35px;
        height: 35px;
        min-width: 35px;
        min-height: 35px;
        float: left;
        font-size: 11px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: default;
    }

    .border-bottom {
        border-bottom: 1px solid #E3E9F0;
    }

    a {
        color: #3773da;
        cursor: pointer;
    }

    a:hover {
        text-decoration: underline;
    }
}

.dialog-backdrop {
    background: #1F2031;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1002;
    opacity: 0;
    visibility: hidden;
    transition: $transition;

    &.active {
        opacity: .85;
        visibility: visible;
    }
}
.share-member-dropdown{
    ::ng-deep .ng-select{
        &.ng-select-multiple{
            .ng-select-container{
                .ng-value-container{
                    .ng-value{
                        display: flex;
                        white-space: unset;
                        .ng-value-label{
                            div{
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
    }   
}