@import '../../.././../assets/sass/abstracts/variables';

.default-view{
margin-top:1px
}

.cross-icon{
    font-size: 16px;
}

.new-view-info{
    line-height: 19px;
}

.try-new-view-btn{
    background-color: $initials-purple;
    border-color: $initials-purple;

    &:hover{
        background-color: $color-blue-shade;
        border-color: $color-light-blue;
    }

    &.active,
    &:active,
    &.focus,
    &:focus {
        background-color: $color-blue-tint;
        border-color: $color-blue-tint;
    }
}