@import "../../../../assets/sass/abstracts/variables";

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}
line {
  opacity: 0.05;
}
.domain,
.bottom-legend line {
  display: none;
}
#columnId {
  overflow: scroll;
}
