::ng-deep {
    @media screen and (min-width: 1000px) and (max-width: 1400px) {
        .tab-inner-parent {
            .tab-inner {
                .tab-right-content {
                    width: 65%;
                }
            }
        }
    }
    @media screen and (min-width: 1100px) and (max-width: 1500px) {
        .content {
            &.config-active {
                .nav-bar {
                    width: 280px;
                }

                .self-config-wrapper {
                    .program-config-page {
                        .tab-menu {
                            top: 145px;
                        }
                    }

                    &.sidebar-menu-active {
                        .c-content {
                            margin-left: 286px;

                            .c-header-panel {
                                left: 280px !important;
                                width: calc(100% - 304px);
                            }

                            .section-header {
                                left: 286px !important;
                            }

                            .program-config-page {
                                .tab-menu {
                                    top: 145px;
                                    left: 286px !important;
                                }
                            }

                            .c-listing-header, .c-listing-footer, .c-search-panel {
                                width: calc(100% - 310px);
                                left: 286px;
                            }

                            .c-listing-table-wrapper {
                                perfect-scrollbar {
                                  .ps__rail-x {
                                    left: 286px !important;
                                  }
                                }
                            }
                        }
                    }

                    .section-header {
                        padding-top: $p16 !important;
                        padding-bottom: $p16 !important;
                        height: 89px;
                    }

                    .section-body-content {
                        margin-top: 89px;
                        min-height: calc(100vh - 236px);
                    }
                }
            }
        }

        .c-panel {
            &.c-panel-active {
                .nav-bar {
                    width: 280px;
                }

                .self-config-wrapper {
                    &.sidebar-menu-active {
                        .c-content {
                            margin-left: 286px !important;
    
                            .c-header-panel {
                                left: 280px !important;
                                width: calc(100% - 304px);
                            }
    
                            .section-header {
                                left: 286px !important;
                            }
    
                            .c-listing-header, .c-listing-footer, .c-search-panel {
                                width: calc(100% - 310px);
                                left: 286px;
                            }
    
                            .c-listing-table-wrapper {
                                perfect-scrollbar {
                                  .ps__rail-x {
                                    left: 286px !important;
                                  }
                                }
                            }
                        }
                    }
                }
            }
        }

        .sticky-header {
            top: 144px;
        }
    }
}
