$font-size-address: 11.5px;
$font-size-address-large: 13px;
$text-white: #ffffff;

.address-wrapper {
  color: $text-white;

  .address {
    span:first-of-type {
      opacity: 0.8;
      font-size: $font-size-address;
    }

    span:last-of-type {
      font-size: $font-size-address-large;
    }
  }
}

.createoffer-wrapper {
  position: absolute;
  top: 40px;
  left: 305px;
  z-index: 10;
  width: 635px;
  height: calc(100vh - 133px);
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
