.program-user-list{
    .reassign_user_icon{
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
        i{
            color: #D8834B;
            font-size: 20px;
            &.failed{
                color: #FF0000;
            }
            &.do_not_rehire{
                color: rgb(255, 0, 0);
                font-size: 24px;
            }
        }
    }
    ::ng-deep .c-listing-table{
        tbody {
            tr{
                td{
                    &:first-child{
                        padding-right: 100px;
                    }
                }
            }
        }
    } 
}
