.fee-settings {
    ::ng-deep {
        .ng-dropdown-panel {
            direction: ltr;
            text-align: left;
        }

        .ng-select {
            .ng-select-container {
                .ng-value-container {
                    padding-left: 13px;
                    padding-right: 0px;
                }
            }
            &.ng-select-multiple {
                .ng-select-container {
                    .ng-value-container {
                        padding-left: 13px;
                    }
                }
            }
        }

        .ng-value {
            min-width: 28px;
        }
        .section-header{
            top: 50px;
            right: 0;
        }
    }
}
