@import '../../../assets/sass/abstracts/variables';
.interview-list {
    .description-card {
        box-shadow: 0 6px 14px rgba(0, 0, 0, .02);
        background-color: #f8f9fa;

    }
     ::ng-deep {
        .table-bg {
            padding: 0px !important;
            min-height: inherit;
            .table-bg-inner {
              box-shadow: 0px 3px 6px #0000001a !important;

                .title {
                    padding-left: 0px !important;
                }

                .regular-table {
                  tbody {
                    tr {
                      vms-row {
                        &:first-child {
                          td {
                            overflow: visible;
                          }
                        }
                      }
                    }
                  }
                }
                // .p-24 {
                //     padding-left: 0px !important;
                //     padding-right: 0px !important;
                //     padding-top: 8px !important;
                // }
                // .px-24 {
                //     padding-left: 0px !important;
                //     padding-right: 0px !important;
                // }
            }
        }
    }
    .interview-card {
        width: 380px;
        .profile {
          min-width: 36px;
          height: 36px;
          border-radius: 50%;
          background-color: #7f92a3 !important;
          font-size: 15px;
          text-align: center;
          padding-top: 8px;
        }
        .profile-content {
            flex-grow: 1;
        }
        .meet-status {
            height: 22px;
            border-radius: 11px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 12px;
            padding-right: 12px;
            font-size: 12px;
            &.in-person {
                background-color: #E1ECF6;
                color: #1B6BBC;
            }
            &.over-phone {
                background-color: #F0DEFF;
                color: #AC54F7;
            }
        }
        .text-dark {
            color: #000000;
        }
        .time {
            span {
                color: #3A4550;
            }
        }
        .panel-footer {
            .meeting-status {
                height: 25px;
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 12px;
                padding-right: 12px;
                font-size: 12px;
                &.in-progress {
                    background-color: #F0B700;
                    color: #ffff;
                }
                &.wait {
                    background-color: #eb445a;
                    color: #ffff;
                }
                &.scheduled-time {
                    background-color: #EB445A;
                    color: #ffff;
                }
                &.completed {
                    background-color: #2DD36F;
                    color: #ffff;
                }
            }
        }
    }
    .no-interview-alert {
        border: 1px solid #F5BE215C;
        color: #C39C1A;
        background-color: #FFBA0017;
        height: 48px;
        border-radius: 4px;
        p {
            font-size: 14px;
            color: inherit;
        }
    }

     ::ng-deep {
        .if-submitted-candidate {
            .create-candidate {
                margin-left: 16px;
                border: 1px solid transparent;
                border-radius: 4px;
                transition: .1s;
                &:hover {
                    border-color: $color-assets-primary;
                    table-icon {
                        i {
                            color: $color-assets-primary;
                        }
                    }
                }
            }
        }
    }

  ::ng-deep {
    .table-listing {
      tbody {
        tr {
          vms-row {
            &:first-child {
              td {
                max-width: 400px;
              }
            }
          }
        }
      }
    }
  }

}

// :host ::ng-deep td:first-child{
//   overflow: visible !important;
// }
:host ::ng-deep td:first-child p{
  position: relative;
  overflow: visible !important;
}
::ng-deep td{
  position: relative;
}
::ng-deep .custom-tooltip {
  position: relative;
  right: -30px;

  img{
    opacity: 0.8;
    width: 25px;
    margin-right: 3px;
  }
  i{
    margin-right: 3px;
    color:red;
  }
}

::ng-deep .custom-tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  max-width: 190px;
  white-space: normal;
  padding: 0 10px;
  background-color: #536476;
  color: #fff;
  text-align: left;
  border-radius: 4px;
  position: absolute;
  z-index: 99;
  bottom: 100%;
  left: 50%;
  margin-bottom: 20px;
  transform: translateX(-50%);
}

::ng-deep .custom-tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #536476 transparent transparent transparent;
}
::ng-deep .custom-tooltip:hover .tooltiptext {
  visibility: visible;
}
