.mark {
    .checkbox-container {
        padding-left: 26px;
        .checkmark {
            width: 18px;
            height: 18px;
            top: -4px;
        }
    }
}

.initials {
    width: 36px;
    height: 36px;
    color: #000;
    &-light {
        background-color: #E8ECFF;
        color: #7F6FC1;
    }
    &-green {
        background-color: #CAFFB2;
        color: #59BC2E;
    }
    &-pink {
        background-color: #FFDBE2;
        color: #F44949;
    }
    &-blue {
        background-color: #9DF7FF;
        color: #887FF2;
    }
}