<h3 class="font-weight-medium">{{'Current Workflows'|i18next }}</h3>
<section class="workflow-page">
  <nav class="d-flex">
    <div class="nav-item cursor-pointer position-relative done">
      <span>{{'Review'|i18next }}</span>
    </div>
    <div class="nav-item cursor-pointer position-relative rejected active">
      <span>{{'Approvals'|i18next }}</span>
    </div>
    <div class="nav-item cursor-pointer position-relative">
      <span>{{'Acceptance'|i18next }}</span>
    </div>
  </nav>
  <div class="workflow-accordion-title cursor-pointer d-flex justify-content-between align-items-center" [ngClass]="{'active' : accordionItem == 1}" (click)="showAccordion(1)">
    <div class="item-label d-flex align-items-center">
        <icon class="mr-16" name="keyboard_arrow_right"></icon>
        <p class="small"><span>Level 1</span> -  Approval Completion Rule - All Approvers</p>
    </div>
    <div class="status completed position-relative">
        Completed
    </div>
  </div>
  <div class="workflow-accordion-content" *ngIf="accordionItem == 1">
    <div class="content-item d-flex">
        <div class="users d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <figure class="mr-12">
                    <img src="../../../../assets/images/5.jpg" alt="" width="20" height="20">
                </figure>
                <div>
                    <p class="font-weight-medium">Muhammad Shanu</p>
                    <p class="small">HM 1</p>
                </div>
            </div>
            <div>
               <img src="../../../../assets/images/group-icon.svg" alt="">
            </div>
            <div class="d-flex align-items-center">
                <figure class="mr-12">
                    <img src="../../../../assets/images/5.jpg" alt="" width="20" height="20">
                </figure>
                <div>
                    <p class="font-weight-medium">Enza</p>
                    <p class="small">HM 3</p>
                </div>
            </div>
        </div>
        <div class="approval-ui d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <p class="approval pending small">Pending</p> 
            </div>
        </div>
    </div>
    <div class="content-item d-flex">
        <div class="users d-flex">
            <figure class="mr-12">
                <img src="../../../../assets/images/5.jpg" alt="" width="20" height="20">
            </figure>
            <div>
                <p class="font-weight-medium">Pavan Kumar</p>
                <p class="small">HM 2</p>
            </div>
        </div>
        <div class="approval-ui d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <p class="approval cancelled small">Cancelled</p> 
            </div>
        </div>
    </div>
  </div>
  <div class="workflow-accordion-title cursor-pointer d-flex justify-content-between align-items-center" [ngClass]="{'active' : accordionItem == 2}" (click)="showAccordion(2)">
    <div class="item-label d-flex align-items-center">
        <icon class="mr-16" name="keyboard_arrow_right"></icon>
        <p class="small"><span>Level 2</span> -  Approval Completion Rule - All Approvers</p>
    </div>
    <div class="status completed position-relative">
        Completed
    </div>
  </div>
  <div class="workflow-accordion-content" *ngIf="accordionItem ==2">
    <div class="content-item d-flex">
        <div class="users d-flex">
            <figure class="mr-12">
                <img src="../../../../assets/images/5.jpg" alt="" width="20" height="20">
            </figure>
            <div>
                <p class="font-weight-medium">Muhammad Shanu</p>
                <p class="small">HM1</p>
            </div>
        </div>
        <div class="approval-ui d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <p class="approval approved">Approved </p> <p class="small mr-4">on</p><p>05/23/2023 11:52:06 PM AWST</p>
            </div>
        </div>
    </div>
    <div class="content-item d-flex">
        <div class="users d-flex">
            <figure class="mr-12">
                <img src="../../../../assets/images/5.jpg" alt="" width="20" height="20">
            </figure>
            <div>
                <p class="font-weight-medium">Pavan Kumar </p>
                <p class="small">HM2</p>
            </div>
        </div>
        <div class="approval-ui d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <p class="approval approved">Approved</p> 
                <p class="small mr-4">by</p> 
                <figure class="mr-4">
                    <img src="../../../../assets/images/5.jpg" alt="" width="20" height="20">
                </figure>
                <p>Raj Kumar Sahu (Impersonated User)  on 05/23/2023 11:52:06 PM AWST</p>
            </div>
            <icon name="theater_comedy" color="#D8834B"></icon>
        </div>
    </div>
    <div class="content-item d-flex">
        <div class="users d-flex">
            <figure class="mr-12">
                <img src="../../../../assets/images/5.jpg" alt="" width="20" height="20">
            </figure>
            <div>
                <p class="font-weight-medium">Chinmay Charde </p>
                <p class="small">HM3</p>
            </div>
        </div>
        <div class="approval-ui">
            <div class="d-flex align-items-center">
                <p class="approval rejected">Rejected</p> 
                <p class="small mr-4">by</p> 
                <figure class="mr-4">
                    <img src="../../../../assets/images/5.jpg" alt="" width="20" height="20">
                </figure>
                <p>Raj Kumar Sahu (Impersonated User)  on 05/23/2023 11:52:06 PM AWST</p>
            </div>
            <div class="reason">
                <p class="small font-weight-medium">{{ 'Rejected Reason:'  | i18next }} Show reason here</p>
                <p class="small font-weight-medium">{{ 'Notes:'  | i18next }} Show notes here</p>
            </div>
        </div>
    </div>
    <div class="content-item d-flex">
        <div class="users d-flex">
            <figure class="mr-12">
                <img src="../../../../assets/images/5.jpg" alt="" width="20" height="20">
            </figure>
            <div>
                <p class="font-weight-medium">Divya Israni</p>
                <p class="small">Business Analyst</p>
            </div>
        </div>
        <div class="approval-ui d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <p class="approval not-started small">Not Started</p> 
            </div>
        </div>
    </div>
  </div>
  <div class="workflow-accordion-title cursor-pointer d-flex justify-content-between align-items-center" [ngClass]="{'active' : accordionItem == 3}" (click)="showAccordion(3)">
    <div class="item-label d-flex align-items-center">
        <icon class="mr-16" name="keyboard_arrow_right"></icon>
        <p class="small"><span>Level 3</span> -  Approval Completion Rule - All Approvers</p>
    </div>
    <div class="status cancel position-relative">
        Cancelled
    </div>
  </div>
  <div class="workflow-accordion-content" *ngIf="accordionItem ==3">
    <div class="content-item d-flex">
        <div class="users d-flex">
            <figure class="mr-12">
                <img src="../../../../assets/images/5.jpg" alt="" width="20" height="20">
            </figure>
            <div>
                <p class="font-weight-medium">Muhammad Shanu</p>
                <p class="small">HM 1</p>
            </div>
        </div>
        <div class="approval-ui d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <p class="approval cancelled small">Cancelled</p> 
            </div>
        </div>
    </div>
    <div class="content-item d-flex">
        <div class="users d-flex">
            <figure class="mr-12">
                <img src="../../../../assets/images/5.jpg" alt="" width="20" height="20">
            </figure>
            <div>
                <p class="font-weight-medium">Pavan Kumar</p>
                <p class="small">HM 2</p>
            </div>
        </div>
        <div class="approval-ui d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <p class="approval cancelled small">Cancelled</p> 
            </div>
        </div>
    </div>
  </div>
  <div class="workflow-accordion-title cursor-pointer d-flex justify-content-between align-items-center" [ngClass]="{'active' : accordionItem == 4}" (click)="showAccordion(4)">
    <div class="item-label d-flex align-items-center">
        <icon class="mr-16" name="keyboard_arrow_right"></icon>
        <p class="small"><span>Level 4</span> -  Approval Completion Rule - All Approvers</p>
    </div>
    <div class="status pending position-relative">
        Pending
    </div>
  </div>
  <div class="workflow-accordion-content" *ngIf="accordionItem ==4">
    <div class="content-item d-flex">
        <div class="users d-flex">
            <figure class="mr-12">
                <img src="../../../../assets/images/5.jpg" alt="" width="20" height="20">
            </figure>
            <div>
                <p class="font-weight-medium">Muhammad Shanu</p>
                <p class="small">HM 1</p>
            </div>
        </div>
        <div class="approval-ui d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <p class="approval cancelled small">Cancelled</p> 
            </div>
        </div>
    </div>
    <div class="content-item d-flex">
        <div class="users d-flex">
            <figure class="mr-12">
                <img src="../../../../assets/images/5.jpg" alt="" width="20" height="20">
            </figure>
            <div>
                <p class="font-weight-medium">Pavan Kumar</p>
                <p class="small">HM 2</p>
            </div>
        </div>
        <div class="approval-ui d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <p class="approval cancelled small">Cancelled</p> 
            </div>
        </div>
    </div>
  </div>
</section>
