@import '../../../../../assets/sass/abstracts/variables';

.comparison-box{
    .comparison-items{
        .item{
            max-width: 300px;
            background-color: $light;
            .item-header{
                width: 280px;
                height: 160px;
                background-color: #4C7FF01A;
                figure{
                    width: 38px;
                    height: 38px;
                    border-radius: 50%;


                    img{
                        max-width: 38px;
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        border-radius: 50%;
                        border: 2px solid #FFFFFF7E;
                    }
                }
                .candidate-name{
                    h6{
                        font-size: $font-primary;
                    }
                }
                .vert-icon{
                    max-width: 24px;
                    max-height: 24px;
                    top: 15px;
                    right: 24px;
                }
            }
            .circular-progres{
                max-height: 96px;
                height: 96px;
                p{
                    color: #000000;
                }
            }
            .title{
                background-color: #F5F8FF;
                padding: $p8 $p32 $p8 $p16;
                font-size: $font-primary;
                color: $color-gray-70;
                text-align: center;
            }
            .item-value{
                padding: $p15 $p16;
            }

        }

        .first{
            position: sticky;
            left: 0;
            z-index: 2;
            button{
                max-width: 280px;
                width: 280px;
                height: 160px;
                flex-direction: column;
                .button-icon{
                    width: 45px;
                    height: 45px;
                    background-color: #FFFFFF2F;
                    border-radius: 50%;
                    text-align: center;
                    color: #FFFFFF;
                }
            }
            .title{
                color: $color-gray-100;
                text-align: left;
            }
        }
    }

    ::ng-deep {
        perfect-scrollbar{
           & >.ps {
            &.ps--active-x {
                & >.ps__rail-x {
                    z-index: 4;
                }
            }
           }
        }
    }
}

.more-dropdown{
    width: 162px;
    z-index: 2;
    right: 11px;
    top: 55px;
    padding:  $p8 ;
    padding-left: $p12;
    background-color: #FFFFFF;
    box-shadow: 0px 11px 13px 0px $color-gray-95;
    &:after {
        content: "";
        width: 15px;
        height: 15px;
        background-color: $light;
        border: 1px solid $border-color;
        position: absolute;
        top: -8px;
        right: 14px;
        transform: rotate(45deg);
        border-bottom-width: 0px;
        border-right-width: 0px;
    }
    h6 {
        color: $text-secondary;
    }
    p{
        cursor: pointer;

        a{
          line-height: 22px;
          display: inline-block;
          margin-bottom: 5px;
        }
    }

    .no-action-message {
      a {
          pointer-events: none;
          color: $color-gray-40;
          opacity: .5;
      }
    }

}

.flex-direction-column{
    flex-direction: column;
}

.text-danger {
    color: red;
}

.big_initial{
  width: 35px;
  height: 35px;
  font-size: 15px;
  font-weight: 500;
}
