@import 'src/assets/sass/abstracts/variables';


.info-color {
    color: #0044C5;
}

.info-bg-color {
    background-color: #FAFCFF;
}

.input-with-fixed-value {
  span {
    position: absolute;
    top: 1px;
    left: 1px;
    background: #fafbfc;
    width: 52px;
    text-align: center;
    bottom: 1px;
    line-height: 40px;
    border-right: 1px solid $color-border-secondary;
  }

  input {
    padding-left: $p64;
  }
}