// @import '../../../assets/sass/abstracts/variables';
@import '../../../../assets/sass/abstracts/variables';

.error {
  border: 2px solid #eb445a;
  border-radius: 4px;
}
.require {
  position: relative;
  top: 2px;
}

.address-no-radius {
  width: 100%;
  ::ng-deep input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.icon-preidentify {
  .icon-bg {
    background-color: #FAF8FF;
    border: 1px solid $color-border-secondary;
    padding: 11px;
    border-right: 0;
    border-radius: $border-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

// .pre-id-form .form-group-row {
//   &.no-block {
//   }
// }
::ng-deep .no-block {
  flex-direction: row;
}
