@import '../../../../assets/sass/self-config/base/variables.scss';
.disableDiv {
    pointer-events: none;
}

.global-flags {
    .title {
        color: colors(primary, 9);
    }

    .description {
        color: colors(gray, 7);
    }
}