@import '../../../../../../../assets/sass/abstracts/variables';

.history-listing {
  .title {
    color: $color-gray-100;
  }
  ::ng-deep .row {
    margin-left: 0;
    margin-right: 0;
  }
  .main-text-color {
    color: $color-gray-60;
    font-weight: 500;
  }
  .sub-text-color {
    color: #707070;
  }
  .history-detail {
    background-color: #fbfaff;
    border-radius: 4px;
    padding: 8px 16px;
    margin-bottom: 16px;
  }
  ::ng-deep .col,
  ::ng-deep .col-1 {
    padding: 0;
  }
  .divider,
  .divider-w-border {
    position: relative;
    margin: 0 16px;
  }
  .divider-w-border {
    border: 1px solid #fbfaff;
  }
  .circle,
  .circle-w-divider-border {
    position: absolute;
    height: 10px;
    width: 10px;
    border: 2px solid $color-light-blue;
    border-radius: 50%;
    background-color: $color-white;
    left: -4px;
  }
  .circle-w-divider-border {
    left: -5px !important;
  }
  .primary-outline {
    border-color: $text-primary;
    background: #fbfaff;
  }
}

:host ::ng-deep app-logs .close-btn{
  display: none;
}

.initials {
  width: 36px;
  height: 36px;
  color: #000;
  &-light {
    background-color: #e8ecff;
    color: #7f6fc1;
  }

  &-green {
    background-color: #caffb2;
    color: #59bc2e;
  }
}
