@import "../../../../../../assets/sass/abstracts/variables";
.create-job-template {
    .c-form-group {
        &.one-col {
            max-width: 33%;
        }
    }

    .delete-factor {
        font-size: 18px;
    }

    .toggle-factor {
        font-size: 21px;
    }
}
.c-input-checkbox{
  .cb-ui{
    border-radius: 0;
    margin-right: 10px;
  }
}
.Qualification-type-fields{
  .tooltip-icon{
    font-size: 16px;
    color: #A3B0C0;
  }
  .delete-qulification-field {
    right: 0;
    bottom: 16px;
    color: #FF0000;
  }
}
.autocomplete-items {
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 1;
    top: 100%;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.strength-bar {
    display: flex;
    flex-wrap: nowrap;
  
    ul {
      list-style-type: none;
      margin: $m0;
      position: relative;
      width: 100%;
  
      li {
        float: left;
        background: $border-color;
        width: 31%;
        height: 10px;
        margin-right: 1%;
  
        &:first-child {
          border-radius: 4px 0px 0px 4px;
        }
  
        &:last-child {
          border-radius: 0px 4px 4px 0px;
        }
  
        &.active {
          background-color: $color-blue;
        }
      }
  
      &:after {
        position: absolute;
        top: -5px;
        right: 0;
        font-size: 11px;
        visibility: visible;
        display: block;
        color: #5c5656;
      }
    }
  
  }

