@import '../quick-link-widget.component.scss';

h1{
  line-height: 1.2;
}

.h-30 {
    height: 25%;
}

.font-size-50 {
    font-size: 50px;
}

.btn-viewall {
  color: #fff;
  background-color: #D8834B;
  cursor: pointer;
  border: none;
}

.quick-link-widget {
  cursor: default;
}