<div class="main-container">
  <label for="">{{ 'title' | i18next }}</label>
  <input type="text" class="form-control mb-24"[(ngModel)]="pushNotificationFields.title">
  <label for="">{{ 'body' | i18next }}</label>
  <textarea rows="5" class="form-control mb-24 text-area-details" [(ngModel)]="pushNotificationFields.body"></textarea>
  <label for="">{{ 'recipients_property' | i18next }}</label>
  <input type="text" class="form-control mb-24"[(ngModel)]="pushNotificationFields.recipients">
  <button *accessControl class="btn btn-success" (click)="savePushTemplate()">{{ 'save' | i18next }}</button>
</div>
