@import 'src/assets/sass/abstracts/variables';


.back-button {
  top: 0px !important;
}
.btn-primary-color {
  border-color: $color-assets-primary;

  icon {

    ::ng-deep i {
      color: $color-assets-primary;
    }
  }
}

.h-199{
  height:199px !important;
}

.create-client {
  width: 65%;
}

.toggle-disable {
  .toggle-panel-inner {
    font-size: 14px;
    font-weight: 400;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 16px;
    border: 0px solid var(--color-border-primary);
    height: 40px;
    background-color: transparent;
    float: right;
  }

}

.trans-bg {
  background: $light;
  margin-bottom: 16px;
  border: 0px solid var(--color-border-primary);
}

.w-150 {
  min-width: 150px;
}

.table thead th {
  border-bottom: 0px !important;
}

.highlight-form {
  background-color: #F6FAFD;
}

.footer-array {
  position: relative;
  margin: -24px;
  margin-top: 24px;
}

.display-table {
  table {
    border: 1px solid $border-color;
  }

  table td {
    height: 45px;
  }

  table th {
    height: 45px !important;
    border-right: 1px solid $border-color;
  }


  tr {
    border: 1px solid $border-color;
  }

  td {
    border-right: 1px solid $border-color;
  }

  table th,
  table td {
    padding: 0px 8px;
    vertical-align: middle;

  }

  .w-25 {
    width: 25%;
  }

  .w-75 {
    width: 75%;
  }

  ::ng-deep table tbody tr td .ng-select .ng-select-container {
    border: none !important;
    vertical-align: middle;
    padding-top: $p16;
  }
}

.display-hidden {
  visibility: hidden;
}

// label {
//   font-size: 12px;
// }

table th,
table td {
  padding: $p4;
}

::ng-deep .budget-icon i {
  line-height: 36px;
  color: $light !important;
}

.w-25 {
  width: 25%;
}

.w-75 {
  width: 75%;
}

.text-uppercase {
  text-transform: uppercase;
}

th {
  color: $color-gray-70;
}

::ng-deep {
  .for-error-absolute {
    p {
      position: absolute;
    }
  }
}

::ng-deep .ng-select.ng-invalid.error .ng-select-container {
  border: 2px solid #EB445A;
}

::ng-deep .ng-untouched.ng-pristine.ng-invalid.error .datepicker--imgdate.position-relative {
  border: 2px solid #EB445A;
  border-radius: 4px;
}

::ng-deep .ng-invalid.ng-touched.ng-dirty.error .datepicker--imgdate.position-relative {
  border: 2px solid #EB445A;
  border-radius: 4px;
}
.text-red{
  color:red;
}

   
thead {
  background-color: $color-gray-5;
  border: 1px solid $color-gray-30;
  th {
      text-transform: uppercase;
  }
}
.initials-primary {
  background-color: #776DE0;
  color: white;
}

.text-secondary {
  color: #5F6D89;
}
tbody {
  tr {
    td {
      ::ng-deep .form-group {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
      &:not(:first-child) {
          border: 1px solid $color-gray-30;
      }
      &:first-child {
          td {
              height: 0px;
              padding-top: 0px;
              padding-bottom: 0px;
          }
      }
  }
}

