<svms-sidebar [title]="formTitle | i18nextEager" icon="person_add" [dataVisibility]="CreateCandidate"
  (onClose)="sidebarClose()">
  <svms-sidebar-body>
    <app-logs [log]="mtpLogs" *ngIf="mtpEnabled"></app-logs>
    <app-logs [log]="logs"></app-logs>
    <div class="candidate-create-sidebar p-24">
      <h4 class="font-weight-medium mb-16">{{ 'personal_information' | i18nextEager }}</h4>
      <form [formGroup]="candidateForm">
        <div class="form-group-row">
          <div class="form-group">
            <label>{{ 'first_name' | i18nextEager }} <span class="require">*</span></label>
            <input type="text" class="form-control" placeholder="{{ 'enter_first_name' | i18nextEager }}"
              formControlName="first_name"
              [ngClass]="{'error':candidateForm?.controls['first_name']?.invalid && (candidateForm?.controls['first_name']?.dirty || candidateForm?.controls['first_name']?.touched)}">
          </div>
          <div class="form-group">
            <label>{{ 'middle_name' | i18nextEager }} </label>
            <input type="text" class="form-control" placeholder="{{ 'enter_middle_name' | i18nextEager }}"
              formControlName="middle_name">
          </div>
          <div class="form-group">
            <label>{{ 'last_name' | i18nextEager }} <span class="require">*</span></label>
            <input type="text" class="form-control" placeholder="{{ 'enter_last_name' | i18nextEager }}"
              formControlName="last_name"
              [ngClass]="{'error':candidateForm?.controls['last_name']?.invalid && (candidateForm?.controls['last_name']?.dirty || candidateForm?.controls['last_name']?.touched)}">
          </div>
        </div>

        <div class="form-group-row">
          <div class="form-group" *ngIf="!getPrefixSuffixFlag()">
            <label>{{ 'prefix' | i18nextEager }}</label>
            <ng-select [clearable]="true" placeholder="{{ 'choose' | i18nextEager }}" formControlName="name_prefix"
              [ngClass]="{'error':candidateForm?.controls['name_prefix']?.invalid && (candidateForm?.controls['name_prefix']?.dirty || candidateForm?.controls['name_prefix']?.touched)}">
              <ng-option [value]="'Mr'">{{ 'mr' | i18nextEager }}</ng-option>
              <ng-option [value]="'Mrs'">{{ 'mrs' | i18nextEager }}</ng-option>
              <ng-option [value]="'Miss'">{{ 'miss' | i18nextEager }}</ng-option>
              <ng-option [value]="'Dr'">{{ 'dr' | i18nextEager }}</ng-option>
              <ng-option [value]="'Prof'">{{ 'prof' | i18nextEager }}</ng-option>
              <ng-option [value]="'MX.'">{{ 'mx' | i18nextEager }}.</ng-option>
              <ng-option [value]="'IND'">{{ 'ind' | i18nextEager }}.</ng-option>
              <ng-option [value]="'Misc'">{{ 'misc' | i18nextEager }}</ng-option>
            </ng-select>
          </div>
          <div class="form-group" *ngIf="!getPrefixSuffixFlag()">
            <label>{{ 'suffix' | i18nextEager }}</label>
            <ng-select [clearable]="true" placeholder="{{ 'choose' | i18nextEager }}" formControlName="name_suffix">
              <ng-option [value]="'Jr'">{{ 'jr' | i18nextEager }}</ng-option>
              <ng-option [value]="'Sr'">{{ 'sr' | i18nextEager }}</ng-option>
              <ng-option [value]="'III'">{{ 'iii' | i18nextEager }}</ng-option>
              <ng-option [value]="'IV'">{{ 'iv' | i18nextEager }}</ng-option>
              <ng-option [value]="'V'">{{ 'v' | i18nextEager }}</ng-option>
            </ng-select>
          </div>
          <div class="form-group position-relative dob">
            <label>{{ 'date_of_birth' | i18nextEager }} <span class="require"
                *ngIf="isRequiredField('dob')">*</span></label>
            <svms-datepicker [inputdateFormat]="'MM/DD'" [placeholder]="'MM/DD'|i18next" [readonly]="true" id="date1"
              formControlName="dob" flip="false"
              [ngClass]="{'error':candidateForm?.controls['dob']?.invalid && (candidateForm?.controls['dob']?.dirty || candidateForm?.controls['dob']?.touched )}"
              [options]="options" I18n>
            </svms-datepicker>
          </div>
        </div>
        <div class="form-group-row">
          <div class="form-group" [formGroup]="addressForm">
            <label> {{ 'country' | i18nextEager }} </label>
            <ng-select bindLabel="name" [clearable]="false" placeholder="{{ 'select_country' | i18nextEager }}"
              formControlName="country" (change)="setCountry()">
              <ng-option *ngFor="let country of allCountryList"
                [value]="country?.name">{{country?.name|i18next}}</ng-option>
            </ng-select>
          </div>
          <div *ngIf="candidate_unique_id_format" class="form-group">
            <div class="d-flex">
              <label>{{'state/national_id' | i18nextEager }} ({{ 'last' | i18nextEager }} 3 {{ 'digits' |
                i18nextEager}})<span class="require" *ngIf="isRequiredField('stateid',false)">*</span></label>
            </div>
            <input type="text" class="form-control"
              [ngClass]="{'error':candidateForm?.controls['stateid']?.invalid && (candidateForm?.controls['stateid']?.dirty || candidateForm?.controls['stateid']?.touched )}"
              placeholder="{{ 'enter_state/national_id' | i18nextEager }}" formControlName="stateid">
            <p class="validation-msg"
              *ngIf="((candidateForm?.controls?.stateid?.touched || candidateForm?.controls['stateid']?.dirty) && candidateForm?.controls['stateid']?.errors?.minlength)">
              <icon name="error" size="14px" type="material" cuClass="validation-icon"></icon> {{ 'enter_minimum' |
              i18nextEager }} 3 {{ 'digits' | i18nextEager }}
            </p>

            <p class="validation-msg"
              *ngIf="((candidateForm?.controls?.stateid?.touched || candidateForm?.controls['stateid']?.dirty) && candidateForm?.controls['stateid']?.errors?.pattern)">
              <icon name="error" size="14px" type="material" cuClass="validation-icon"></icon>{{ 'enter_numeric_value' |
              i18nextEager }}
            </p>
            <p class="validation-msg"
              *ngIf="((candidateForm?.controls?.stateid?.touched || candidateForm?.controls['stateid']?.dirty) && candidateForm?.controls['stateid']?.errors?.maxlength)">
              <icon name="error" size="14px" type="material" cuClass="validation-icon"></icon> {{ 'enter_maximum' |
              i18nextEager }} 3 {{ 'digits' | i18nextEager }}
            </p>
          </div>
          <div class="form-group">
            <label>{{ 'title' | i18nextEager }}</label>
            <input type="text" class="form-control" formControlName="title" placeholder="{{ 'title' | i18nextEager }}">
          </div>
        </div>
        <div class="form-group-row">
          <div class="form-group vendor-input" *ngIf="this.user_type !== 'vendor'">
            <label I18n>{{ 'vendor' | i18nextEager }}&nbsp;<span class="require">*</span></label>
            <ng-select
              [ngClass]="{'error':candidateForm?.controls['vendor_id']?.invalid && (candidateForm?.controls['vendor_id']?.dirty || candidateForm?.controls['vendor_id']?.touched )}"
              [typeahead]="input$" formControlName="vendor_id" placeholder="{{ 'select_vendor' | i18nextEager }}"
              [readonly]="this.selectedVendorSOWAssignment">
              <ng-option [value]="v.id" *ngFor="let v of vendorList.vendors">{{v?.name}}</ng-option>
            </ng-select>
          </div>
        </div>
      </form>
      <h4 class="font-weight-medium mb-16">{{ 'contact_information' | i18nextEager }}</h4>
      <form [formGroup]="addressForm">
        <div class="form-group">
          <label>{{ 'email_address' | i18nextEager }} ({{ 'primary' | i18nextEager }}) <span class="require">*</span>
          </label>
          <div class="d-flex">
            <icon class="icon-bg d-flex" size="16px" name="mail_outline" type="material"></icon>
            <input type="email" class="form-control pr-32 remove-left-radius"
              placeholder="{{ 'enter_email_address' | i18nextEager }}" formControlName="email"
              [ngClass]="{'error':(addressForm?.controls['email']?.invalid && (addressForm?.controls['email']?.dirty || addressForm?.controls['email']?.touched)) || isDuplicate}">
          </div>
        </div>
        <div class="form-group">
          <label>{{ 'phone_number' | i18nextEager }} ({{ 'primary' | i18nextEager }})<span class="require"
              *ngIf="isRequiredField('phone_number',true)">*</span></label>
          <div class="d-flex align-items-center country-searchable">
            <ng-select [searchable]="true" [clearable]="false" formControlName="phone_isdcode" class="user-country-code"
              (change)="phoneLengthValidation()">
              <ng-option *ngFor="let country of allCountryList" [value]="country?.iso_code_2">
                <div class="d-flex" [attr.title]="country?.name">
                  <img src="../../../assets/images/flag/{{country?.iso_code_2?.toLowerCase()}}.png" width="20px"
                    class="mr-4" />
                  <span>+{{country?.isd_code}}</span>
                </div>
              </ng-option>
            </ng-select>

            <input type="number" onwheel="return false" (keypress)="keyPressNumbers($event)"
              class="form-control remove-left-radius" placeholder="{{ 'enter_phone_number' | i18nextEager }}"
              formControlName="phone_number" [pattern]="mobNumberPattern"
              [ngClass]="{'error':addressForm?.controls['phone_number']?.invalid && (addressForm?.controls['phone_number']?.dirty || addressForm?.controls['phone_number']?.touched)}">
          </div>
          <p *ngIf="(addressForm?.get('phone_number')?.touched && (addressForm?.get('phone_number')?.errors?.pattern || addressForm?.get('phone_number')?.errors?.required || addressForm?.get('phone_number')?.invalid))"
            class="validation-msg">
            <icon name="error" size="14px" type="material" cuClass="validation-icon"></icon>
            {{ 'phone_number_not_valid' | i18nextEager }}
          </p>
        </div>
        <div class="form-group">
          <label>{{ 'address' | i18nextEager }} ({{ 'primary' | i18nextEager }})<span class="require"
              *ngIf="isRequiredField('addresses',true)">*</span></label>
          <!-- <search-address [adressType]="'geocode'" [respType]="'fullAddress'" #address2 [country]="countryShortName" formControlName="addresses"
            (setAddress)="getSecondaryAddress($event)">
          </search-address> -->
          <div class="d-flex">
            <icon class="icon-bg d-flex" size="16px" theme="outlined" name="home" type="material"></icon>
            <search-address class="search-input w-100" [adressType]="'geocode'" [respType]="'fullAddress'"
              (setAddress)="getAddress($event)" [country]="countryShortName" id="addressField"
              formControlName="addresses">
            </search-address>
          </div>
        </div>
        <div class="form-group-row">
          <div class="form-group">
            <label>{{ 'city' | i18next }}<span class="require"
              *ngIf="isRequiredField('city_name_primary',true)">*</span></label>
            <input formControlName="city_name_primary" type="text" class="form-control"
              placeholder="{{ 'city' | i18next }}">
          </div>
          <div class="form-group">
            <label>{{ 'county' | i18next }}</label>
            <input formControlName="county_name_primary" type="text" class="form-control"
              placeholder="{{ 'county' | i18next }}">
          </div>
          <div class="form-group">
            <label>{{ 'state' | i18next }}<span class="require"
              *ngIf="isRequiredField('state_name_primary',true)">*</span></label>
            <input formControlName="state_name_primary" type="text" class="form-control"
              placeholder="{{ 'state' | i18next }}">
          </div>
        </div>
        <div class="form-group-row">
          <div class="form-group">
            <label>{{ 'country' | i18next }}</label>
            <input formControlName="country_name_primary" type="text" class="form-control"
              placeholder="{{ 'country' | i18next }}">
          </div>
          <div class="form-group">
            <label>{{ 'zip_code' | i18next }}<span class="require"
              *ngIf="isRequiredField('pinCode_primary',true)">*</span></label>
            <input formControlName="pinCode_primary" type="text" class="form-control"
              placeholder="{{ 'zip_code' | i18next }}">
          </div>
        </div>
        <div class="w-100">
          <app-duplicate-candidates [duplicateCandidates]="duplicateCandidates" [currentProgram]="currentProgram"
            [showDuplicateCandidateLoader]="showDuplicateCandidateLoader"
            (useThisProfileAction)="userThisProfile($event)"></app-duplicate-candidates>
        </div>
        <div class="w-100">
          <app-custom-fields (customFieldUpdated)="customFieldUpdated($event);" [custom_fields]="{}"
            [moduleName]="'CANDIDATES'" (isCustomFieldsFormValid)="getFormValidation($event)"
            [uploadS3RefName]="'assignments'">
          </app-custom-fields>
        </div>
      </form>
      <h4 class="font-weight-medium mb-16">{{ 'resume' | i18nextEager }}</h4>
      <label>{{ 'please_upload_candidate_resume' | i18nextEager }}</label>
      <app-resume-upload (resumeData)="uploadFiles($event)" (isValidFile)="updateToggle($event)"></app-resume-upload>
    </div>

  </svms-sidebar-body>
  <svms-sidebar-footer>
    <button type="button" class="btn btn-primary float-right"
      [disabled]="addressForm?.invalid || candidateForm?.invalid || isDuplicate || !isValidResume || !isCustomFormValid"
      (click)="onSubmit()" *accessControl>
      <icon size="20px" name="how_to_reg" type="material" class="icon--on-left" cuClass="icon-cu"></icon>
      {{ 'create_candidate' | i18nextEager }}
    </button>
  </svms-sidebar-footer>
</svms-sidebar>