@import "../../../../assets/sass/abstracts/variables";

.group-input{
    span{
      border-radius: 4px 0px 0px 4px;
      width:200px;
    }
    input{
        border-left:0px solid transparent;
        border-radius: 0px 4px 4px 0px;
        width:100px;
    }
}

.score-config {
  &.sidebar-wrapper {
    max-height: calc(100vh - 122px);
    overflow: auto;
  }
} 
