@import '../../../../../assets/sass/abstracts/variables';
.email-designer-panel {
    .header-footer-editor {
        background-image: radial-gradient(#DDEAFF 8%, transparent 8%), radial-gradient(#DDEAFF 8%, transparent 8%);
        background-color: #F8FAFF;
        background-position: 0 0, 40px 0;
        background-size: 40px 30px;
        height: calc(100vh - 48px);
        display: flex;
        justify-content: space-between;
        gap: 0;
    
        > div {
            flex: 1;
        }
    
        .editor-preview {
            background-color: $light;
            box-shadow: 0px 0px 22px #00000010;
            border-radius: 6px;
            max-width: 650px;
            margin: 50px auto;
            border-radius: 6px;
            overflow: hidden;
            margin-bottom: 10px;
            width: 100%;

            table {
                width: auto;
                td {
                    padding: 0;
                    height: auto;
                }
            }
        }
    
        .toolbar-area {
            max-width: 525px;
            background-color: $light;
        }
    }
}
