<svms-sidebar class="email-designer-panel" [title]="formTitle" size="full-screen" [dataVisibility]="headerFooterEditor" (onClose)="sidebarClose()">
    <div class="header-footer-editor">
        <div class="editor-area">
            <div class="editor-preview">
                <table width='100%' cellpadding='0' cellspacing='0' style='width:100%;' align='center'>
                    <tr>
                        <td align='center'>
                            <table style='max-width: 650px; width: 100%;' cellpadding='0' cellspacing='0' align='center'>
                                <tr>
                                    <td align='center' style='background-color: #ffffff;'>
                                        <table style='width: 90%;' cellpadding='0' cellspacing='0' align='center'>
                                            <!-- header section start here-->
                                            <tr *ngIf="formTitle === 'Configure Header'">
                                                <td height='117' style='height: 117px;'> <img
                                                        src='https://preprod-app.simplifyvms.com/assets/images/treva.png' alt=''
                                                        width='118' height='33'> </td>
                                            </tr>
                                            <tr *ngIf="formTitle === 'Header'">
                                                <td height='21' style='height: 21px;'></td>
                                            </tr>
                                            <!-- header section end here-->
                                        </table>
                                    </td>
                                </tr>
                                <!-- footer section start here-->
                                <tr  *ngIf="formTitle === 'Configure Footer'">
                                    <td align='center' style='background-color: #484A69;'>
                                        <table align='center' style='width: 90%;' cellpadding='0' cellspacing='0'>
                                            <tr>
                                                <td height='34' style='height: 34px;'></td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style='color: #B8BED6; font-size: 12px; line-height: 21px; font-family: Arial, Helvetica, sans-serif; height: auto; text-align: center;'>
                                                    {{'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum accumsan at
                                                    ipsum sodales consectetur. Nam euismod diam ex, quis mollis purus fringilla id.
                                                    Suspendisse arcu justo, posuere eu efficitur at, pellentesque a tortor. Duis nec
                                                    turpis at lacus aliquet sollicitudin quis eget ipsum.'|i18next}}</td>
                                            <tr>
                                                <td height='34' style='height: 34px;'></td>
                                            </tr>
                                            <tr>
                                                <td align='center'>
                                                    <table align='center' width='150' cellpadding='0' cellspacing='0' style="width: 150px;">
                                                        <tr>
                                                            <td align='center'><a href='https://facebook.com' target='_blank'><img
                                                                        src='https://preprod-app.simplifyvms.com/assets/images/facebook-white.svg'
                                                                        alt='' style='border: 0;'></a></td>
                                                            <td align='center'><a href='https://linkedin.com' target='_blank'><img
                                                                        src='https://preprod-app.simplifyvms.com/assets/images/linkedin-white.svg'
                                                                        alt='' style='border: 0;'></a></td>
                                                            <td align='center'><a href='https://instagram.com' target='_blank'><img
                                                                        src='https://preprod-app.simplifyvms.com/assets/images/instagram-white.svg'
                                                                        alt='' style='border: 0;'></a></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height='15' style='height: 15px;'></td>
                                            </tr>
                                            <tr>
                                                <td style='text-align: center; color: #B8BED6; font-size: 12px;'><a
                                                        style='color: #B8BED6; font-size: 12px; line-height: 21px; font-family: Arial, Helvetica, sans-serif;'
                                                        href='#' title='Privacy Policy'>{{ 'privacy_policy' | i18next }}</a> &nbsp;|&nbsp; <a
                                                        style='color: #B8BED6; font-size: 12px; line-height: 21px; font-family: Arial, Helvetica, sans-serif;'
                                                        href='#' title='FAQs'>{{ 'faqs' | i18next }}</a></td>
                                            </tr>
                                            <tr>
                                                <td height='15' style='height: 15px;'></td>
                                            </tr>
                                            <tr>
                                                <td align='center'
                                                    style='text-align: center; color: #B8BED6; font-size: 12px; font-family: Arial, Helvetica, sans-serif;'>
                                                    {{ 'you_have_received_this_email_as_a_registered_user,_you_can_unsubscribe' | i18next }} <a
                                                        href='#' style='color: #B8BED6;'>{{ 'click_here' | i18next }}</a></td>
                                            </tr>
                                            <tr>
                                                <td height='34' style='height: 34px;'></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- footer section end here-->
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="toolbar-area">
            <perfect-scrollbar [config]="{ suppressScrollX: true, suppressScrollY: false }">
                <div class="p-24">
                    <app-toolbar></app-toolbar>
                </div>
            </perfect-scrollbar>
        </div>
    </div>
</svms-sidebar>
