.potential-duplicate-table{
    thead{
        background-color: #F9F7FF;
        th{
            border-bottom: 0;
            font-size: 13px;
        }
    }
    tbody{
        td{
            border-bottom: 1px solid #E3E9F0;
            font-size: 13px;
            a{
                color: #3773da;
            }
        }
    }
}

.mask-vision {
    display: flex;
    align-items: center;
  
    .mask-hide {
      width: 100px;
      height: 20px;
      background-image: linear-gradient(145deg, #a8eba8 21.43%, #ebf0ff 21.43%, #ebf0ff 50%, #a8eba8 50%, #a8eba8 71.43%, #ebf0ff 71.43%, #ebf0ff 100%);
      background-size: 10px 10px;
    }
}
