@import "../../../../assets/sass/abstracts/variables";
// @import "../../../../";
.search-cand-icon {
  .search-cand {
    top: 10px;
    left: 12px;
    color: $placeholder-color;
    z-index: 6;
  }
}

::ng-deep {
.ng-select-style{
  .ng-select.ng-select-single .ng-select-container {
  padding-left: 24px !important;
  }
  .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    left: 24px;
  }
  .ng-select.ng-select-opened .ng-select-container {
    z-index: 3;
  }
 }
}

::ng-deep {
  .search-candidate {
    .ng-select {
      .ng-arrow-wrapper {
        display: none;
      }

      .ng-select-container {
        padding-left: 24px;
      }
    }

    .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
      left: 24px;
    }

    .ng-select.ng-select-opened .ng-select-container {
      z-index: 3;
    }
  }

  .ng-dropdown-panel {
    box-shadow: 0px 0px 0px 0px #00000000;
    z-index: 7 !important;
  }
}

.hierarchy {
  position: absolute;
  top: 10px;
  right: 8px;
  color: $placeholder-color;
}

.w-100 {
  width: 100% !important;
}

.candidate-panel {
  align-items: left;
  background-color: #f6fafd;
  border: 1px solid #f0f2f4;
  font-size: $font-primary;
  padding: $p16;
  position: relative;
  color: $color-assets-secondary-shade;
  border-radius: $border-radius;

  &:after {
    content: "";
    background-color: #f6fafd;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    transform: rotate(45deg);
  }

  .donot-rehire{
    position: absolute;
    right: 30px;
  }
}

.result-panel {
  display: flex;
  align-items: left;
  background-color: #f6fafd;
  border: 1px solid #f0f2f4;
  font-size: $font-primary;
  padding: $p8;
  position: relative;
  color: $color-assets-secondary-shade;
  border-radius: $border-radius;

  &:after {
    content: "";
    background-color: #f6fafd;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    transform: rotate(45deg);
  }

  .client,
  .industry {
    display: flex;
    flex-direction: column;

    span {
      &:first-child {
        color: $color-assets-secondary-shade;
      }
    }
  }

  .icons {
    a {
      &:not(:last-child) {
        margin-right: $m8;
      }
    }
  }
}

.responsive-logo img {
  height: 49px !important;
  border-radius: 5px;
  box-shadow: 0px 10px 12px -12px #00000057;
  border: 1px solid #00000014;
  background: #fff;
  padding: 4px;
  margin-right: 15px;
  width: auto !important;
  max-width: auto !important;
}

.table-assignment {
  thead {
    background-color: #fafbfc;
    border: 1px solid #ebeef3;
    border-bottom: 0 !important;
  }
}

::ng-deep .budget-icon i {
  line-height: 36px;
  color: $light !important;
}

.h-199 {
  height: 199px !important;
}

:host ::ng-deep .datepicker-single {
  padding-left: 11px !important;
  padding-right: 11px !important;
}


.editable-text {
  outline: none;

  &:focus {
    background-color: $light;
    border-bottom: 1px solid #999999;
  }
}

.clickable-icon {
  cursor: pointer;
}

.add-more-activity {
  max-width: 286px;
  margin: auto;
  border-bottom: 1px solid #EFEFEF;
  position: relative;
  height: 18px;
  margin-bottom: $m32;

  .activity-btn-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 190px;
    text-align: center;

    button {
      background-color: $light;

      &.btn-outline-danger {
        &:hover {
          color: #C72F43;
        }
      }
    }
  }
}


.factor-style {
  font-size: 10px;
  color: blue;
  cursor: pointer;
}