@import '../../../../../assets/sass/abstracts/variables';

.disable {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .5;
  }

  .clear-invalid {
    top: 35px;
    right: 10px;
    cursor: pointer;
    color: $error-color;
    display: inline-block;
  }

  .valid-email {
    top: 39px;
    right: 10px;
    color: $success-color;
    display: inline-block;
  }
  .country-searchable {
    ::ng-deep .ng-select {
      .ng-select-container {
        background: $color-gray-5;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 112px;
      }
    }


  }
