<div class="content-area ui-content-wrapper no-content bg-light">
  <div class="page-title px-24 pt-24">{{ 'programs' | i18next }}</div>
  <div class="first-program">
    <img src="./assets/images/no-programs.png" alt="organization-board" width="250" class="img-fluid">
    <h2>{{ 'you_don_t_have_any_programs_yet.' | i18next }}</h2>
    <h6 class="py-4">{{ 'create_a_program_to_get_started.' | i18next }}  
      {{ 'your_programs_will_show_up_here' | i18next }}
    </h6>
    <a class="btn btn-secondary mt-4" href="/programs/create">
      <icon size="20px" name="add" type="material" class="icon--on-left" cuClass="cu-icon"></icon> {{ 'create_your_first_program' | i18next }}
    </a>
  </div>
</div>
