@import '../../../../../assets/sass/abstracts/variables';

.history-listing {
  .title {
    color: $color-gray-100;
  }
  ::ng-deep .row {
    margin-left: 0;
    margin-right: 0;
  }
  .main-text-color {
    color: $color-gray-60;
  }
  .sub-text-color {
    color: #707070;
    line-height: 30px;
  }
  .history-detail {
    background-color: #fbfaff;
    border-radius: 4px;
    padding: 8px 16px;
    margin-bottom: 16px;
  }
  ::ng-deep .col,
  ::ng-deep .col-1 {
    padding: 0;
  }
  .divider,
  .divider-w-border {
    position: relative;
    margin: 0 16px;
  }
  .divider-w-border {
    border: 1px solid #c6c8ca;
  }
  .circle,
  .circle-w-divider-border {
    position: absolute;
    height: 10px;
    width: 10px;
    border: 2px solid $color-light-blue;
    border-radius: 50%;
    background-color: $color-white;
    left: -4px;
  }
  .circle-w-divider-border {
    left: -5px !important;
  }
  .primary-outline {
    border-color: $text-primary;
    background: #fbfaff;
  }
}
