<!-- <div class="tab-menu">
    <ul class="d-flex "> -->
      <!-- <li>
        <a  (click)="showTab('credentialing')" class="d-flex align-items-center active" [ngClass]="{'active':selectedTab =='credentialing'}">
            Credentialing
        </a>
      </li> -->
      <!-- <li>
        <a  (click)="showTab('background')" class="d-flex align-items-center" [ngClass]="{'active':selectedTab =='background'}" >
            Background Check
        </a>
      </li>
    </ul> -->
<!-- </div> -->

<div class="p-24 " *ngIf="selectedTab === 'credentialing'" >

    <div class="row py-16 no-gutters">
      <div class="col-md-4">
      <p class="small text-uppercase">{{ 'name' | i18next }}</p>
      </div>
      <div class="col-md-3">
        <p class="small text-uppercase">{{ 'status' | i18next }}</p>
      </div>
      <div class="col-md-3">
        <p class="small text-uppercase">{{ 'type' | i18next }}</p>
      </div>
      <div class="col-md-2">
        <p class="small text-uppercase">{{ 'expiration' | i18next }}</p>
      </div>

    </div>
    <div class="row no-gutters py-16 onboarding-grid" *ngFor="let credential of vmsData;let i = index">
      <div class="col-md-4 pl-16 pr-8">
        <div class="d-flex align-items-center">
          <span class="text-black font-weight-medium">{{credential?.name || '-'}}</span>
          <!-- <icon name="verified" class="d-flex ml-4" size="14px" color="#FF4A51" cuclass="d-flex"></icon> -->
        </div>
      </div>
      <div class="col-md-3">
        <div class="position-relative">
          <div class="status-ui pending-approval"  (click)="onclickButton(i)">{{(credential?.status | titlecase | i18next) || '-'}}
            <icon name="keyboard_arrow_down" cuclass="d-flex" class="d-flex ml-8" color="inherit" size="18px"></icon>
          </div>
          <ul (mouseleave)="statusDropdwon = false" class="action-list position-absolute bg-light rounded-sm pt-12 pb-12 active border" [ngClass]="{'active':statusDropdwon}" *ngIf = "selectedIndex === i">
            <li *ngIf="credential?.status === 'PENDING_APPROVAL'" (click)="updateQualification(credential,'COMPLETED')">
              <a class="pl-16 py-4 pr-8">
                {{ 'completed' | i18next }}
              </a>
            </li>
            <li *ngIf="credential?.status === 'COMPLETED'" (click)="updateQualification(credential,'PENDING_APPROVAL')">
              <a class="pl-16 py-4 pr-8">
                {{ 'pending_approval' | i18next }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <span class="text-black">{{credential?.qualification_type?.name || '-'}}</span>
      </div>
      <div class="col-md-2">
        <span class="text-black">{{credential.expiration_date || '-'}}</span>
      </div>
    </div>
  </div>

  <app-credentialing-background-check  *ngIf="selectedTab ==='background'">abc</app-credentialing-background-check>
