<svms-sidebar [title]="'Distribution Release'" [dataVisibility]="visiblity">
    <div>
        <svms-sidebar-body>
            <div class="p-24">
                <table>
                    <thead>
                        <tr>

                            <td>
                                {{ 'vendors' | i18next }}/ {{ 'job_boards' | i18next }}
                            </td>
                            <td>
                                {{ 'status' | i18next }}
                            </td>
                            <td>
                                {{ 'distributed_by' | i18next }}
                            </td>
                            <td>
                                {{ 'distribution_date' | i18next }}
                            </td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>

                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="initials initials-primary">
                                   JB
                                </span>
                                    <span> {{ 'james_butt' | i18next }}</span>
                                    <span class="ml-4 text-secondary">
                                    <icon size="15px" name="people_alt" type="material" class="d-flex" cuClass="d-flex">
                                   </icon>
                                </span>
                                </div>
                            </td>
                            <td>
                                <div class="status-ui disturbed">
                                    {{ 'disturbed' | i18next }}
                                </div>
                            </td>
                            <td>
                                {{ 'james_butt' | i18next }}
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span>11/12/2020 - 16:26:35</span>
                                    <span class="ml-4 text-secondary">
                                    <icon size="15px" name="today" type="material" class="d-flex" cuClass="d-flex">
                                    </icon>
                                </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end my-24">
                    <button type="submit" class="btn btn-green ">
                       <icon size="20px" name="check_circle" type="material" class="icon--on-left" cuClass="icon-cu">
                        </icon>
                        <span> {{ 'update' | i18next }} </span>
                      </button>
                </div>
            </div>
        </svms-sidebar-body>

    </div>
</svms-sidebar>