@import '../../../../assets/sass/abstracts/variables';

.change-field {
  background-color: $color-gray-10;
  p {
    color: $text-black;
    word-break: break-word;

    &.small {
      min-width: 105px;
      color: $color-body-txt-secondary;
    }
  }
}


.h-150{
    height:150px;
}