@import '../../../assets/sass/abstracts/variables';

.toggle-panel {
  width: 20.5%;

  &-inner {
    font-size: 14px;
    font-weight: $font-weight-regular;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $p0 $p16;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background: #F6FAFD;
  }
}

.status-text {
  color: #002626;
  text-transform: capitalize;
}

.file-type-msg {
  font-size: 11px;
  line-height: 20px;
  color: $color-red-90;
}

.country-searchable {
  ::ng-deep .ng-select {
    .ng-select-container {
      background: $color-gray-5;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      width: 112px;
    }

    .ng-value-container {
      padding-left: $p8;
    }

    .ng-value-label {

      img {
        vertical-align: middle;
        margin-right: $m4;
      }
    }
  }

  .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.green {
  background-color: #2DD36F;
  border-color: #2DD36F;
  color: #FFFFFF;
}

.badge {
  display: inline-block;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  border: 0px;
}

.green .badge {
  color: $light;
  background-color: #19B457;
}
