<app-submitted-candidate>
  <div class="description-card bg-light p-32">
    <div class="dotloader" *ngIf="dataLoader"></div>
    <section class="content-section mt-32">
      <h4 class="title position-relative  mb-24">
        <icon class="icon-bg color-yellow mr-12 rounded-sm" theme="outlined" size="16px" name="info" type="material"
          cuClass="icon-cu"></icon>
        {{ 'candidate_information' | i18next }}
        <!-- <a *ngIf="!currentOfferId || isEditMode"
          class="btn-edit-save d-inline-block position-absolute pl-24 pr-24"
          (click)="editInformation()">{{candidateInfoEdit.title}}</a> -->
        <span class="toggle position-absolute rounded-sm" [ngClass]="{'disabled' : candidateInfoEdit.visibility}"
          (click)="toggleCandidateInfo()">
          <icon size="16px" [name]="candidateInfo ? 'expand_more' : 'expand_less'" type="material" cuClass="icon-cu">
          </icon>
        </span>
      </h4>
      <div class="section-info" [ngClass]="candidateInfo ? 'overflow-hidden hidden' : 'active'">
        <div *ngIf="!candidateInfoEdit.visibility">
          <div class="d-flex">
            <div class="info-box pr-12">
              <span>{{ 'name' | i18next }}</span>
              <p>{{submissionData?.first_name ?  submissionData?.first_name : '-'}} {{submissionData?.last_name}}</p>
            </div>
            <div class="info-box">
              <span>{{ 'vendor' | i18next }}</span>
              <P>{{submissionData?.vendor ? submissionData?.vendor : '-'}}</P>
            </div>
            <div class="info-box pr-12">
              <span>{{ 'current_location' | i18next }}</span>
              <p>{{submissionData?.addresses[0]?.country ? submissionData?.addresses[0]?.country : '-'}}</p>
            </div>
            <div class="info-box">
              <span>{{ 'start_date' | i18next }}</span>
              <p>
                <icon size="16px" class="v-align mr-4" name="calendar_today" type="material" cuClass="icon-cu">
                </icon>
                {{availableStartDate ? (availableStartDate  | localDateFormat:'dd/MM/yyyy') : (submissionData?.available_date ? (submissionData.available_date  | localDateFormat:'dd/MM/yyyy') : '-/-/-')}}
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="info-box pr-12" *ngIf="submissionData?.custom_field">
              <span>{{ 'custom_field_questions' | i18next }}</span>
              <p>{{ 'recruited' | i18next }}</p>
            </div>
            <div class="info-box pr-12" *ngIf="submissionData?.foundational_data">
              <span>{{ 'master_data' | i18next }}</span>
              <p>{{ 'intermediate' | i18next }}</p>
            </div>
          </div>
        </div>
        <div class="edit-mode" *ngIf="candidateInfoEdit.visibility">
          <div class="d-flex">
            <div class="info-box pr-12">
              <span>{{ 'name' | i18next }}</span>
              <p>{{submissionData?.first_name ? submissionData?.first_name : '-'}} {{submissionData?.last_name}}</p>
            </div>
            <div class="info-box">
              <span>{{ 'vendor' | i18next }}</span>
              <P>{{submissionData?.vendor ? submissionData?.vendor : '-'}}</P>
            </div>
            <div class="info-box pr-12">
              <span>{{ 'current_location' | i18next }}</span>
              <p>{{submissionData?.addresses[0]?.country ? submissionData?.addresses[0]?.country : '-'}}</p>
            </div>
            <div class="info-box position-relative">
              <span>{{ 'start_date' | i18next }}</span>
              <div class="mt-8 mb-24">
                <svms-datepicker [inputdateFormat]="'MM/DD/YY'" I18n [(ngModel)]="availableStartDate"></svms-datepicker>
              </div>
            </div>
          </div>
          <!-- <div class="d-flex">
            <div class="info-box pr-12" *ngIf="submissionData?.custom_field">
              <span>Custom Field Questions</span>
              <p>Recruited</p>
            </div>
            <div class="info-box pr-12" *ngIf="submissionData?.foundational_data">
              <span>Master Data</span>
              <p>Intermediate</p>
            </div>
          </div> -->
        </div>
      </div>
    </section>
    <section class="content-section mt-32 with-border pt-24">
      <h4 class="title position-relative  mb-24">
        <icon class="icon-bg color-light-red mr-12 rounded-sm" theme="outlined" size="16px" name="addchart"
          type="material" cuClass="icon-cu"></icon>
        {{ 'job_information' | i18next }}
        <!-- <a *ngIf="!currentOfferId || isEditMode"
          class="btn-edit-save d-inline-block position-absolute pl-24 pr-24"
          (click)="jobInformation()">{{jobInfoEdit.title}}</a> -->
        <span class="toggle position-absolute rounded-sm" [ngClass]="{'disabled' : jobInfoEdit.visibility}"
          (click)='toggleJobInfo()'>
          <icon size="16px" [name]="jobInfo ? 'expand_more' : 'expand_less'" type="material" cuClass="icon-cu">
          </icon>
        </span>
      </h4>
      <div class="section-info overflow-hidden" [ngClass]="jobInfo ? 'hidden' : 'active'">
        <div *ngIf="!jobInfoEdit.visibility">
          <div class="d-flex">
            <div class="info-box pr-12">
              <span>{{ 'organisation_name' | i18next }}</span>
              <P>{{ 'organisation_abc' | i18next }}</P>
            </div>
            <div class="info-box pr-12">
              <span>{{ 'hierarchy_level' | i18next }}</span>
              <p>{{jobData?.hierarchy ? jobData.hierarchy?.name : '-'}}</p>
            </div>
            <div class="info-box pr-12">
              <span>{{ 'address' | i18next }}</span>
              <p>{{jobData?.hierarchy?.addresses ? jobData?.hierarchy?.addresses[1]?.address_line1 + jobData?.hierarchy?.addresses[1]?.country : '-'}} </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="info-box pr-12">
              <span>{{ 'start_date' | i18next }}</span>
              <p>
                <icon size="16px" class="v-align mr-4" name="calendar_today" type="material" cuClass="icon-cu">
                </icon> {{jobData?.start_date  | localDateFormat:'dd/MM/yyyy'}}
              </p>
            </div>
            <div class="info-box pr-12">
              <span>{{ 'end_date' | i18next }}</span>
              <p>
                <icon size="16px" class="v-align mr-4" name="calendar_today" type="material" cuClass="icon-cu">
                </icon> {{jobData?.end_date  | localDateFormat:'dd/MM/yyyy'
              }}
              </p>
            </div>
            <div class="info-box pr-12">
              <span>{{ 'job_manager' | i18next }}</span>
              <p>{{jobManager ? jobManager : jobData?.job_manager?.first_name || '--' + ' ' + jobData?.job_manager?.last_name}}
              </p>
            </div>
            <!-- <div class="info-box">
              &nbsp;
            </div> -->
          </div>
          <!-- <div class="d-flex">
            <div class="info-box pr-12">
              <span>Timesheet Manager</span>
              <p>{{timesheetManager ? timesheetManager : 'William Smith'}}</p>

            </div>
            <div class="info-box">
              &nbsp;
            </div>
          </div> -->
        </div>
        <div class="edit-mode" *ngIf="jobInfoEdit.visibility">
          <div class="d-flex">
            <div class="info-box">
              <span>{{ 'organisation_name' | i18next }}</span>
              <P>{{ 'organisation_abc' | i18next }}</P>
            </div>
            <div class="info-box pr-12">
              <span>{{ 'hierarchy_level' | i18next }}</span>
              <p>{{jobData?.hierarchy ? jobData.hierarchy : '-'}}</p>
            </div>
            <div class="info-box pr-12">
              <span>{{ 'address' | i18next }}</span>
              <p>{{jobData?.hierarchy_location ? jobData?.hierarchy_location : '-'}}</p>
            </div>
          </div>
          <!-- <div class="d-flex">
            <div class="info-box">
              &nbsp;
            </div>
          </div> -->
          <div class="d-flex">
            <div class="info-box pr-12">
              <span>{{ 'start_date' | i18next }}</span>
              <p>
                <icon size="16px" class="v-align mr-4" name="calendar_today" type="material" cuClass="icon-cu">
                </icon> {{jobData?.start_date  | localDateFormat:'dd/MM/yyyy'}}
              </p>
            </div>
            <div class="info-box pr-12">
              <span>{{ 'end_date' | i18next }}</span>
              <p>
                <icon size="16px" class="v-align mr-4" name="calendar_today" type="material" cuClass="icon-cu">
                </icon> {{jobData?.end_date | localDateFormat:'dd/MM/yyyy'}}
              </p>
            </div>
            <div class="info-box pr-12">
              <span>{{ 'job_manager' | i18next }}</span>
              <div class="mt-8 mb-24">
                <input class="form-control" [value]="jobManager" [(ngModel)]="jobManager">
              </div>
            </div>
            <!-- <div class="info-box pr-12">
              <span>Timesheet Manager</span>
              <div class="mt-8 mb-24">
                <ng-select [clearable]="false" placeholder="Select" appendTo="body" [(ngModel)]="timesheetManager">
                  <ng-option [value]="'William Smith'">{{timesheetManager ? timesheetManager : 'William Smith'}}
                  </ng-option>
                </ng-select>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>
    <section class="content-section mt-32 with-border pt-24">
      <h4 class="title position-relative  mb-24">
        <icon class="icon-bg color-gray mr-12 rounded-sm" theme="outlined" size="16px" name="trending_up"
          type="material" cuClass="icon-cu"></icon>
        {{ 'rate_information' | i18next }}
        <!-- <a *ngIf="!currentOfferId || isEditMode"
          class="btn-edit-save d-inline-block position-absolute pl-24 pr-24"
          (click)="rateInformation()">{{rateInfoEdit.title}}</a> -->
        <span class="toggle position-absolute rounded-sm" [ngClass]="{'disabled' : rateInfoEdit.visibility}"
          (click)='toggleRateInfo()'>
          <icon size="16px" [name]="rateInfo ? 'expand_more' : 'expand_less'" type="material" cuClass="icon-cu">
          </icon>
        </span>
      </h4>
      <div class="section-info overflow-hidden" [ngClass]="rateInfo ? 'hidden' : 'active'">
        <div *ngIf="!rateInfoEdit.visibility">
          <div class="d-flex">
            <div class="info-box pr-12">
              <span>{{ 'overtime_pay_rate' | i18next }}</span>
              <p>$
                {{submissionData?.candidate_over_time_pay_rate ? submissionData?.candidate_over_time_pay_rate : '0.00' | customcurrency}}
              </p>
            </div>
            <div class="info-box pr-12">
              <span>{{ 'double_time_pay_rate' | i18next }}</span>
              <p>$
                {{submissionData?.candidate_double_time_pay_rate ? submissionData?.candidate_double_time_pay_rate : '0.00' | customcurrency}}
              </p>
            </div>
            <div class="info-box pr-12">
              <span>{{ 'over_time_bill_rate' | i18next }}</span>
              <p>$ 100</p>
            </div>
            <div class="info-box pr-12">
              <span>{{ 'double_time_bill_rate' | i18next }}</span>
              <p>$ 150</p>
            </div>
          </div>
          <div class="d-flex">
            <div class="info-box pr-12">
              <span [ngClass]="offerPayRate ? 'color-red' : 'color-green'">{{ 'pay_rate' | i18next }}</span>
              <p [ngClass]="offerPayRate ? 'color-red strike' : 'color-green'">
                {{offerData?.stages[0]?.pay_rate ? offerData.stages[0].pay_rate : submissionData?.candidate_pay_rate | customcurrency}}
              </p>
            </div>
            <div class="info-box pr-12" *ngIf="offerPayRate">
              <span class="color-green">{{ 'pay_rate' | i18next }}</span>
              <p class="color-green">${{offerPayRate}}</p>
            </div>
            <div class="info-box pr-12">
              <span>{{ 'bill_rate' | i18next }}</span>
              <p>{{offerBillRate ? offerBillRate : submissionData?.bill_rate | customcurrency}}</p>
            </div>
            <div class="info-box" *ngIf="!offerPayRate">
              &nbsp;
            </div>
            <div class="info-box">
              &nbsp;
            </div>
          </div>
        </div>
        <div class="edit-mode" *ngIf="rateInfoEdit.visibility">
          <div class="d-flex">
            <div class="info-box pr-12">
              <span>{{ 'overtime_pay_rate' | i18next }}</span>
              <p>$
                {{submissionData?.candidate_over_time_pay_rate ? submissionData?.candidate_over_time_pay_rate : '0.00' | customcurrency}}
              </p>
            </div>
            <div class="info-box pr-12">
              <span>{{ 'double_time_pay_rate' | i18next }}</span>
              <p>$
                {{submissionData?.candidate_double_time_pay_rate ? submissionData?.candidate_double_time_pay_rate : '0.00' | customcurrency}}
              </p>
            </div>
            <div class="info-box pr-12">
              <span>{{ 'over_time_bill_rate' | i18next }}</span>
              <p>$ 100</p>
            </div>
            <div class="info-box pr-12">
              <span>{{ 'double_time_bill_rate' | i18next }}</span>
              <p>$ 150</p>
            </div>
          </div>
          <div class="d-flex">
            <div class="info-box">
              <span>{{ 'pay_rate' | i18next }}</span>
              <div class="mt-8 mb-24">
                <input class="form-control" [(ngModel)]="offerPayRate" [value]="offerPayRate">
              </div>
            </div>
            <div class="info-box">
              <span>{{ 'bill_rate' | i18next }}</span>
              <input class="form-control" [(ngModel)]="offerBillRate" [value]="offerBillRate">
            </div>
            <div class="info-box">
                &nbsp;
            </div>
            <div class="info-box">
              &nbsp;
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="content-section mt-32 with-border pt-24">
      <h4 class="title position-relative  mb-24" *ngIf="!currentOfferId">
        <icon class="icon-bg color-gray mr-12 rounded-sm" theme="outlined" size="16px" name="description"
          type="material" cuClass="icon-cu"></icon>
        {{ 'notes' | i18next }}
        <span class="toggle position-absolute rounded-sm" (click)='toggleNotes()'>
          <icon size="16px" [name]="noteInfo ? 'expand_more' : 'expand_less'" type="material" cuClass="icon-cu">
          </icon>
        </span>
      </h4>
      <div class="section-info overflow-hidden" [ngClass]="noteInfo ? 'hidden' : 'active'" *ngIf="!currentOfferId">
        <div class="d-flex">
          <div class="info-box pr-12">
            <textarea class="form-control" rows="7" [(ngModel)]="notes"></textarea>
          </div>
        </div>
      </div>
      <!-- <div class="notes-output mt-24" *ngIf="currentOfferId">
        <ul>
          <li>
            <div class="avatar pr-24">
              <figure>
                <img src="../../../../../assets/images/5.jpg" alt="">
              </figure>
            </div>
            <div class="comment-info">
              <h4 class="mb-0">Art Venere <span class="ml-12">1 Day Ago</span></h4>
              <p>We had discussed about upping the rate to $ 82.00. That was on 19-02-20, and I forwarded it to you.... <a
                  >more</a></p>
              <a class="reply">
                <icon class="mr-8" size="16px" name="reply" type="material" cuClass="icon-cu"></icon> Reply
              </a>
            </div>
            <ul>
              <li>
                <div class="avatar pr-24">
                  <figure>
                    <img src="../../../../../assets/images/5.jpg" alt="">
                  </figure>
                </div>
                <div class="comment-info">
                  <h4 class="mb-0">Art Venere <span class="ml-12">1 Day Ago</span></h4>
                  <p>We had discussed about upping the rate to $ 82.00. That was on 19-02-20, and I forwarded it to
                    you..<a >more</a></p>
                  <a class="reply">
                    <icon class="mr-8" size="16px" name="reply" type="material" cuClass="icon-cu"></icon> Reply
                  </a>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <div class="avatar pr-24">
              <figure>
                <img src="../../../../../assets/images/5.jpg" alt="">
              </figure>
            </div>
            <div class="comment-info">
              <h4 class="mb-0">Art Venere <span class="ml-12">1 Day Ago</span></h4>
              <p>We had discussed about upping the rate to $ 82.00. That was on 19-02-20, and I forwarded it to you.</p>
              <a >
                <icon class="mr-8" size="16px" name="reply" type="material" cuClass="icon-cu"></icon> Reply
              </a>
            </div>
          </li>
        </ul>
      </div> -->
    </section>
    <div class="mt-64 pt-24 pb-64">
      <button class="float-left large btn btn-outined" (click)="goToSubmittedCandidate()">{{ 'back_to_candidate' | i18next }}
        {{ 'list' | i18next }}</button>
      <button class="float-right large btn btn-primary" (click)="releaseOffer()"
        *ngIf="!currentOfferId && !isEditMode">{{ 'release_offer' | i18next }}</button>
      <button class="float-right large btn btn-primary" (click)="counterOffer()"
        *ngIf="currentOfferId && isEditMode">{{ 'submit' | i18next }}</button>
    </div>
  </div>
</app-submitted-candidate>
