
  @import '../../../../../assets/sass/abstracts/variables';

  .description-panel {
    margin-right: 371px;
    background-color: $light;
    box-shadow: 0px 3px 16px #0000000A;
    border-right: 1px solid $color-gray-50;
    min-height: calc(100vh - 50px);
    transition: $transition;
    padding-top: 223px;
  
    .job-header {
      padding: 32px 53px 0;
      background: $color-blue url(../../../../../assets/images/job-header.svg) no-repeat right bottom;
      position: fixed;
      left: 200px;
      right: 371px;
      top: 50px;
      transition: $transition;
      z-index: 8;
  
      .back-btn {
        border-color: $light;
        border-radius: 15px;
        color: $light;
        font-weight: $font-weight-regular;
        font-size: 12px;
  
        icon {
          color: $light;
        }
  
        span {
          max-width: 0;
          overflow: hidden;
          transition: $transition;
          opacity: 0;
  
          &.space {
            padding-left: 3px;
            padding-right: 3px;
          }
        }
  
        &:hover {
          span {
            max-width: 200px;
            opacity: 1;
          }
        }
      }
  
      h2 {
        color: $light;
  
        span {
          background-color: #8B80FD;
          line-height: 24px;
          padding: 0 10px 0 24px;
          font-size: 12px;
  
          &:before {
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
            background: $light;
            width: 7px;
            height: 7px;
            border-radius: $rounded-circle;
            overflow: hidden;
            display: block;
            visibility: visible;
            content: '.';
            text-indent: -9999px;
          }
        }
      }
  
      p {
        font-size: 12px;
        color: $light;
  
        icon {
          vertical-align: middle;
  
          &.tag {
            color: $color-orange;
          }
  
          &.update-icon {
            color: #DBDBDB;
          }
        }
  
        span {
  
          &.updated {
            color: #DBDBDB;
          }
        }
      }
  
      .action-btn {
        line-height: 40px;
        border: 0;
        transition: $transition;
        background-color: $color-green;
        color: $light;
        font-weight: $font-weight-medium;
        outline: 0;
        cursor: pointer;
  
        icon {
          ::ng-deep i {
            vertical-align: middle;
          }
        }
  
        &:hover {
          background-color: #2DE275;
        }
      }
  
      .action-list {
        list-style-type: none;
        width: 245px;
        top: 62px;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: $transition;
        max-height: 0;
        z-index: 1;
        box-shadow: 0px 12px 13px #00000014;
        overflow: hidden;
  
        li {
  
          a {
            line-height: 24px;
            font-weight: $font-weight-medium;
            display: block;
            transition: $transition;
            cursor: pointer;
  
            icon {
              ::ng-deep i {
                vertical-align: middle;
              }
            }
  
            &:hover {
              background-color: $color-gray-5;
            }
          }
        }
  
        &.active {
          opacity: 1;
          visibility: visible;
          max-height: 400px;
        }
      }
    }
  
    .toggle-section {
      top: 77px;
      right: 357px;
      width: 26px;
      height: 26px;
      border-right: 1px solid $color-gray-50;
      z-index: 17;
      transition: $transition;
      display: block;
  
      icon {
        ::ng-deep i {
          line-height: 26px;
        }
      }
    }
  
    &.expanded {
      margin-right: 90px;
  
      ::ng-deep .grid-item {
        width: 32% !important;
  
        &:nth-child(2n) {
          margin-right: 2% !important;
        }
  
        &:nth-child(3n) {
          margin-right: 0 !important;
        }
      }
  
      .job-header {
        right: 90px;
      }
  
      .toggle-section {
        right: 77px;
      }
    }
  }
  
  
  
  .financial-info {
    list-style-type: none;
  
    li {
      width: 144px;
      border: 1px solid $color-gray-20;
      box-shadow: 0px 3px 16px #0000000A;
  
      p {
        font-size: 12px;
      }
    }
  }
  
  ::ng-deep .content-section {
  
    .title {
      .icon-bg {
        background-color: #00B4D8;
        padding: 0 $p4;
        line-height: 24px;
        display: inline-block;
  
        ::ng-deep i {
          color: $light;
          vertical-align: middle;
          line-height: 24px;
        }
  
        &.color-yellow {
          background-color: #FFBA08;
        }
  
        &.color-light-red {
          background-color: #F8AD9D;
        }
  
        &.color-gray {
          background-color: #6A6B83;
        }
  
        &.color-pink {
          background-color: #EC698F;
        }
      }
  
      .toggle {
        top: 0;
        right: 0;
        background: $color-gray-10;
        width: 26px;
        text-align: center;
        display: block;
        cursor: pointer;
  
        icon {
          display: inline-block;
  
          ::ng-deep i {
            color: $color-gray-90;
            vertical-align: middle;
            line-height: 26px;
          }
        }
  
        &.disabled {
          opacity: .5;
          pointer-events: none;
        }
      }
    }
  
    .section-info {
      transition: $transition;
      max-height: 3000px;
  
      p {
        color: $color-gray-90;
        margin-bottom: $m24;
      }
  
      ul {
        margin: $m16 0 0 $m16;
  
        li {
          color: $color-gray-90;
          line-height: 24px;
        }
  
        &.financial-info-list {
          list-style-type: none;
          margin: 0;
  
          li {
            list-style-type: none;
            border: 1px solid $color-gray-20;
            padding: $p12;
            min-width: 144px;
  
            &:first-child {
              border-right: 0;
            }
  
            &:nth-child(3) {
              border-right: 0;
            }
  
            &:nth-child(2) {
              margin-right: $m32;
            }
  
            figure {
              height: 24px;
            }
  
            p {
              font-size: 12px;
              margin-bottom: 0;
            }
          }
        }
      }
  
      .info-box {
        flex: 1;
  
        span {
          color: $color-gray-70;
          font-size: 12px;
          display: block;
          margin-bottom: $m4;
  
          &.color-red {
            color: $color-primary;
          }
  
          &.strike {
            text-decoration: line-through;
          }
  
          &.color-green {
            color: $color-green;
          }
        }
  
        figure {
          width: 25px;
          height: 25px;
  
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
  
        p {
          color: $color-assets-secondary;
          font-weight: $font-weight-medium;
  
          &.yellow {
            color: #D1A20D;
          }
  
          &.color-red {
            color: $color-primary;
          }
  
          &.color-green {
            color: $color-green;
          }
  
          &.strike {
            text-decoration: line-through;
          }
        }
  
        .ng-select {
          max-width: 150px;
  
          .ng-arrow-wrapper {
            display: table;
            margin-bottom: 0;
          }
        }
      }
  
      .q-label {
        flex: .6;
      }
  
      .q-value {
        flex: 2;
  
        ul {
          list-style-type: none;
          margin: 0;
  
          li {
            display: inline-block;
            background-color: $color-gray-10;
            line-height: 26px;
            padding: 0 $p12;
            margin-right: $m8;
            margin-bottom: $m8;
            border-radius: 15px;
            font-size: 12px;
          }
        }
      }
  
      &.active {
        max-height: 3000px;
      }
  
      &.hidden {
        max-height: 0;
      }
  
      .description-panel {
        &.short-view {
          max-height: 300px;
  
          &:before {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            content: '.';
            text-indent: -9999px;
            overflow: hidden;
            display: block;
            visibility: visible;
            height: 100px;
            background: linear-gradient(180deg, #FFFFFF36 0%, $light 100%);
            z-index: 5;
          }
        }
      }
    }
  
    .read-more {
      background: $color-gray-20;
      height: 1px;
      z-index: 3;
  
      a {
        background-color: $color-gray-5;
        border: 1px solid $color-gray-20;
        line-height: 33px;
        padding: 0 $p24;
        text-transform: uppercase;
        font-size: 12px;
        left: 50%;
        top: -15px;
        transform: translateX(-50%);
        color: $color-link;
      }
    }
  
    &.with-border {
      border-top: 1px solid $color-gray-20;
    }
  
    .v-align {
      vertical-align: middle;
    }
  
    .btn-edit-save {
      border-radius: 22px;
      background-color: $color-blue;
      font-size: 12px;
      line-height: 24px;
      color: $light;
      top: 0;
      right: 56px;
    }
  
    .edit-mode {
      .form-control {
        max-width: 150px;
      }
    }
  }
  
  ::ng-deep .notes-output {
    ul {
      list-style-type: none;
  
      li {
        margin: 0 0 49px 0;
  
        .avatar {
          display: table-cell;
          vertical-align: top;
        }
  
        figure {
          width: 38px;
          height: 38px;
          border-radius: $rounded-circle;
          overflow: hidden;
          
          
          img {
            width: 100%;
            height: auto;
            object-fit: contain;
          }
        }
  
        .comment-info {
          display: table-cell;
          vertical-align: top;
        }
  
        h4 {
          span {
            font-size: 13px;
            color: #8B8B8B;
            font-weight: 400;
          }
        }
  
        p {
          color: #080808;
  
          a {
            color: $color-link;
            text-decoration: underline;
          }
        }
  
        .reply {
          display: inline-block;
          font-size: 12px;
          color: $color-gray-70;
  
          icon {
            vertical-align: middle;
          }
        }
  
        ul {
          margin: $m24 0 0 84px;
        }
      }
    }
  }
  ::ng-deep .datepicker{
        max-width:54%;
        width:54%;

    }

::ng-deep .datepicker--nav-title{
    p{
        margin-bottom: 0px !important;
    }
}