.lineChart {
    .svg {
        border: 1px solid silver;
    }
}


.line {
    :hover {
        stroke: tomato;
        stroke-width: 3;
    }

    stroke: steelblue;
    stroke-width: 1.5;
    fill: none;
}

.circle {
    fill: steelblue;
    cursor: pointer;
}

.circle {
    fill: steelblue;
    cursor: pointer;
}

.tick text {
    text-transform: capitalize;
}

.lineTooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: 40px;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    cursor: pointer;
    text-transform: capitalize;
}

.lineTooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: 40px;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    cursor: pointer;
    text-transform: capitalize;
}