@import '../../../../assets/sass/abstracts/variables';

.active-user {
  .checkbox-container {
    .checkmark {
      border: 1px solid $color-gray-50;

      &:after {
        color: $color-gray-50;
        display: block;
        font-size: 18px;
        top: 1px;
        left: 1px;
      }
    }

    input {
      &:checked {
        ~ .checkmark {
          background-color: $light;
          border-color: $color-green;

          &:after {
            color: $color-green;
          }
        }
      }
    }
  }
}

.selected-templates {
  list-style-type: none;

  li {
    div {
      line-height: 16px;
      padding: $p16;
      border-bottom: 1px solid $color-border-secondary;
      color: $color-secondary;
      overflow: hidden;
    }
  }
}

.template-label {
  background: $color-gray-5;
  line-height: 40px;
}

.show-more {
  margin-top: 10px;
  width: 120px;
  font-size: 14px;
  height: 25px;
  background: var(--color-assets-primary);
  color: white;
}

.task-list {
  list-style-type: none;

  li {
    border-bottom: 1px solid $color-border-secondary;
    background-color: $light;
    margin-left: -$m24;
    margin-right: -$m24;
    overflow: hidden;
    position: relative;

    .checkbox-container {
      flex-basis: 100%;
      margin-bottom: 0;
      padding-left: 0;

      .checked {
        background-color: $color-green;
        border-color: $color-green;
      }
    }

    &:first-child {
      border-top: 1px solid $color-border-secondary;
    }

    .task-label {
      width: 100%;
      // padding: 22px 0;
      display: block;
      font-size: 14px;
      font-weight: $font-weight-medium;
      line-height: 18px;
      // padding-left: 38px;


      .text {
        text-decoration: underline;
        color: $color-secondary;
      }

      icon {
        ::ng-deep i {
          vertical-align: middle;
          margin-right: 20px;
        }
      }
    }

    .checkmark {
      // left: auto;
      // right: 80px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: $rounded-circle;
      background-color: $color-gray-50;
      border-color: $color-gray-50;

      &:after {
        display: block;
      }
    }
  }
}


.dependancy-table {
  thead {
    tr {
      background: $color-gray-5;

      th {
        color: $color-body-txt-secondary;
        font-weight: $font-weight-medium;
      }
    }
  }

  tbody {
    tr {
      td {
        .checkbox-container {
          .checkmark {
            border: 1px solid $color-gray-50;
            border-radius: $rounded-circle;

            &:after {
              color: $color-gray-50;
              display: block;
              font-size: 18px;
              top: 1px;
              left: 1px;
            }
          }

          .checked {
            background-color: $color-green;
            border-color: $color-green;

            &:after {
              color: $light;
            }
          }
        }
      }
    }
  }
}

.sub-label {
  font-size: $m12 !important;
  line-height: 20px !important;
}

.info-icon {
  font-size: $m12 !important;
}

.mandatory {
  font-size: $m12 !important;
  color: #5B6874;
  cursor: pointer;
  .icon-default {
    font-size: $m12 !important;
    width: $m12 !important;
  }
  &.selected {
    color: #0044C5;
  }
}

.mandatory:hover {
  color: #0044C5;
}
