
.add-new-modal{
.read-only {
    opacity: 0.5;
    pointer-events: none;
}
.error-message-box {
    padding: 10px;
    color: red;
    border: 1px solid #F6AB2B4A;
    background: #F6AB2B22;
}
.negative {
    color: red !important;
}
}