@import '../../../../assets/sass/abstracts/variables';
// ../../../../../assets/sass/abstracts/variables
.toggle-disable {
  .toggle-panel-inner {
    font-size: 14px;
    font-weight: 400;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 16px;
    border: 0px solid var(--color-border-primary);
    height: 40px;
    background-color: transparent;
    float: right;
  }

}

.radio-container {
  padding-left: 24px;
  margin-top: 3px;

  .checkmark {
    background-color: #ffffff;
    border: 2px solid black;
    height: 18px;
    width: 18px;

    &:after {
      top: 1px;
      left: 1px;
      color: #000000;
      font-size: 12px;
    }
  }
}

.badge {
  &:not(:first-child) {
    margin-left: 12px;
  }
}

.h-80 {
  min-height: 65px !important;
}

::ng-deep {
  .search-job {
    .ng-select {

      .ng-arrow-wrapper,
      .ng-clear-wrapper {
        display: none;
      }
    }
  }
}

.search {
  position: absolute;
  top: 10px;
  right: 8px;
  color: $placeholder-color;
  z-index: 999;
}