@import '../../../../../assets/sass/abstracts/variables';


.day-view-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .event-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: flex-end;

    .event-items {
      width: 100%;
      display: flex;
      flex-flow: inherit;
      padding: 1px;
      overflow: hidden;

      .event-item {
        display: flex;
        align-items: center;
        width: 100%;
        height: 20px;
        border-radius: 1px;
        margin: 1px;
        overflow: hidden;
        text-align: left;
        color: $color-secondary;
        font-size: 0.8em;
        word-break: break-all;
        cursor: pointer;

        .event-title {
          width: inherit;
          height: inherit;
          padding: 4px;
        }
      }
    }

    .additional-event-items-info {
      display: flex;
      align-items: center;
      height: 20px;
      width: 100%;
      justify-content: center;
      font-size: 0.8em;
      cursor: pointer;
    }
  }
}

.all-day-round {
  width: 100px;

  &::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: $color-green;
    vertical-align: middle;
  }
}
