@import '../../../../assets/sass/abstracts/variables';
//pagination styles
[hidden] {
    display: none !important;
}

.pagination-border {
    border-top: 1px solid $color-gray-7;
    .record-dropdown {
        width: 100px;
        &.ng-select {
            width:65px;
            &.ng-select-single {
                 ::ng-deep .ng-select-container {
                    height: 32px;
                    min-height: 32px;
                    background-color: $color-gray-1;
                }
            }
        }
    }
}
ng-select {
    width: 70px !important;
}
.pagination {
    display: inline-block;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pagination a {
    float: left;
    text-decoration: none;
    margin: 0 4px;
    border: 1px solid $color-gray-7;
    border-radius: 4px;
    color: $text-black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 11px;
}

.background-gray {
    background: $color-gray-12 !important;
    border-radius: 10%;
}

.pagination a.active {
    background-color: $color-assets-primary;
    border-color: $color-assets-primary;
    color: $light;
}

.pagination a:hover:not(.active) {
    color: $color-assets-primary;
    background-color: $color-gray-1;
}

.drop_div {
    position: absolute;
    background: $light;
    bottom: 40px;
    width: 197px;
    left: 0px;
    z-index: 999;
    text-align: center;
    max-height: 115px;
    min-height: 30px;
    overflow-y: auto;
    box-shadow: 0px 3px 34px $color-black;
    transition: 0.5s;
    border: 1px solid $color-border-secondary;
    transform: translateX(-50%);
    padding: $p8;
    input {
        width: 65px;
        height: 32px;
    }
    button {
        font-size: 12px;
    }
    li {
        list-style-type: none;
        padding: 4px;
        border: 1px solid transparent;
        &:hover {
            background-color: $text-black-10;
            color: $color-gray-8;
            cursor: pointer;
            border: 1px solid $color-gray-7;
            border-radius: 4px;
        }
    }
    .error {
        font-size: 12px;
        color: $color-red-100;
        margin-top: 4px;
    }
}

#scrollbar::-webkit-scrollbar {
    width: 0px;
}

#scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#scrollbar::-webkit-scrollbar-thumb {
    outline: 0px;
}