@import '../../../../assets/sass/abstracts/variables';

.warn-text {
    color: $color-warning;
}

*::ng-deep {
    .ng-value {
        flex-direction: row !important;
    }

    div.ng-value-icon.right.p-8 {
        color: black !important;
    }
}
