$toggle-button-bg-color: #5e71fe;

:host {
    display: block;
    width: 25px;
    height: 12px;
    position: relative;
}

input[type="checkbox"] {
    display: none;
}

.toggle-button-switch {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    z-index: 0;
    transition: left 0.3s;
    pointer-events: none;
}

.toggle-button-text {
    height: 12px;
    width: 25px;
    overflow: hidden;
    background-color: grey;
    border-radius: 30px;
    transition: background-color 0.3s;
    cursor: pointer;
}

input[type="checkbox"]:checked~.toggle-button-switch {
    left: 14px;
}

input[type="checkbox"]:checked~.toggle-button-text {
    background-color: $toggle-button-bg-color;
}