@import '../../../assets/sass/abstracts/variables';

.approved {
    background-color: #F1F8E9 !important;
    color: #43A047 !important;
}
.approved.tag:before{
    background-color: #43A047 !important;
}

.pending-button {
    background: #EB445A;
    color: #fff;
    border: none;

    ::ng-deep icon {
        .icon-default {
           color: #fff; 
        }
    }

    .approve-btn {
        height: 30px;
        margin-left: 16px;
        background: #C32E42;
        border: none;
        color: #fff;
    }
}
