@import '../../../../assets/sass/abstracts/_variables.scss';
@import '../../../../assets/css/custom-fields.scss';

.drag-table {

    width: fit-content;
    border: 1px solid #EBEEF3;
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    .drag-table-header {

        height: 60px;
        background: #F9F7FF;
        color: #000000;
        font-size: 16px;
        text-align: left;
        div {
            min-width: 120px;
        }
    }

    .drag-table-row {
        min-height: 60px;
        color: #2D3748;
        text-align: center;
        div {
            min-width: 120px;
        }
    }
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-align {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 8px;
}

.dndPlaceholder {
    min-height: 30px;
    margin-bottom: 10px;
    border: 1px dashed $color-gray-80;
    background-color: $color-gray-1;
}

.reordering-item {
    border: 1px solid #F9F7FF;
}

.reordering-item:hover {
    background-color: #F9F7FF;
}

icon {
    cursor: pointer;
}

.block {
    display: block;
    position: relative;
    width: 80px;
    top: 12px;
}

*::ng-deep {

    .daterangepicker-container {
        position: fixed;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0 0 4px #0000002b;
        max-width: 240px;   
        top: -64px;
        right: 24px;
    }

    ng-dropdown-panel {
        max-height: 84px !important;
        box-shadow: 0 0 4px #0000002b;
    }

    .ng-dropdown-panel-items {
        max-height: 84px !important;
    }

    .ng-dropdown-footer {
        border: 1px solid #d2e8ff;
        padding: 5px 7px;
        box-shadow: 0 0 4px #0000002b;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .custom_add {
        i {
            color: white;
            background-color: black;
            border-radius: 50%;
        }
    }

    .show-more {
        color: #5E71FE;
        cursor: pointer;  
    }    

    .error-border {
        .ng-select-container {
            border: 1px solid #FF2B2B;
        }
    }

    input.error-border {
        border: 1px solid #FF2B2B;
    }

}

.wx-100 {
    width: 100px;
}

.wx-48 {
    width: 48px;
}

.vw-90 {
    width: 90vw;
}