::ng-deep .c-action-dropdown {
    position: absolute;
    background-color: $white;
    border-radius: $border-radius;
    border: 1px solid colors(gray, 3);
    box-shadow: 0px 3px 5px #0000000B;
    top: 20px;
    left: 20px;
    z-index: 100;
    min-width: 194px;
    display: none;

    ul {
        list-style-type: none;

        li {
            a {
                line-height: 40px;
                padding: 0 $p16;
                display: block;
                transition: $transition;
                color: colors(primary, 9);
                text-transform: capitalize;

                &:hover {
                    background-color: $surfacing-in-white;
                }
            }
        }
    }

    &.align-right {
        left: auto;
        right: 0;
    }

    &.active {
        display: block;
    }
}