::ng-deep .c-btn {
    outline: none;
    border: 0;
    border-radius: $border-radius;
    height: 40px;
    line-height: 40px;
    font-size: $font-primary;
    padding: 0 $p16;
    font-weight: $font-weight-medium;
    transition: $transition;
    cursor: pointer;
    
    &-primary-medium {
        background-color: colors(primary, 6);
        color: $white;

        &-left-icon {
            background-color: colors(primary, 6);
            color: $white;
            text-transform: capitalize;

            i {
                color: $white;
                vertical-align: middle;
                font-size: $font-large;
                margin-right: $m4;
            }

            &:hover {
                background-color: colors(primary, 5);
            }
    
            &.active,
            &:active,
            &.focus,
            &:focus {
              background-color: colors(primary, 7);;
            }
        }

        &-right-icon {
            background-color: colors(primary, 6);
            color: $white;

            i {
                color: $white;
                vertical-align: middle;
                font-size: $font-large;
                margin-left: $m4;
            }

            &:hover {
                background-color: colors(primary, 5);
            }
    
            &.active,
            &:active,
            &.focus,
            &:focus {
              background-color: colors(primary, 7);;
            }
        }

        &:hover {
            background-color: colors(primary, 5);
        }

        &.active,
        &:active,
        &.focus,
        &:focus {
          background-color: colors(primary, 7);;
        }
    }

    &-primary-medium-d {
        background-color: rgba(colors(primary, 6), .5);
        color: $white;
        cursor: not-allowed;
    }

    &-primary-medium-left-icon-d {
        background-color: rgba(colors(primary, 6), .5);
        color: $white;
        cursor: not-allowed;

        i {
            color: $white;
            vertical-align: middle;
            font-size: $font-large;
            margin-right: $m4;
        }
    }

    &-primary-medium-right-icon-d {
        background-color: rgba(colors(primary, 6), .5);
        color: $white;
        cursor: not-allowed;

        i {
            color: $white;
            vertical-align: middle;
            font-size: $font-large;
            margin-left: $m4;
        }
    }

    &-success-medium {
        background-color: colors(teal, 8);
        color: $white;

        &:hover {
            background-color: colors(teal, 6);
        }

        &.active,
        &:active,
        &.focus,
        &:focus {
          background-color: colors(teal, 7);;
        }
    }

    &-warning-medium {
        background-color: colors(orange, 8);
        color: $white;

        &:hover {
            background-color: colors(orange, 6);
        }

        &.active,
        &:active,
        &.focus,
        &:focus {
          background-color: colors(orange, 7);;
        }
    }

    &-secondary-medium {
        background-color: colors(primary, 1);
        color: colors(primary, 7);

        &-left-icon {
            background-color: colors(primary, 1);
            color: colors(primary, 7);

            i {
                color: colors(primary, 7);
                vertical-align: middle;
                font-size: $font-large;
                margin-right: $m4;
            }

            &:hover {
                color: colors(primary, 6);
            }

            &.active,
            &:active,
            &.focus,
            &:focus {
              background-color: #DDEAFF;
              color: colors(primary, 7);
            }
        }

        &:hover {
            color: colors(primary, 6);
        }

        &.active,
        &:active,
        &.focus,
        &:focus {
            background-color: #DDEAFF;
            color: colors(primary, 7);
        }
    }

    &-outline-medium {
        background-color: $white;
        border: 1px solid colors(primary, 6);
        color: colors(primary, 6);

        &-left-icon {
            background-color: $white;
            border: 1px solid colors(primary, 6);
            color: colors(primary, 6);
            text-transform: capitalize;
            border: 1px solid colors(primary, 6);

            i {
                color: colors(primary, 6);
                vertical-align: middle;
                font-size: $font-large;
                margin-right: $m4;
            }

            &:hover {
                border-color: colors(primary, 7);
            }
    
            &.active,
            &:active,
            &.focus,
            &:focus {
                border-color: colors(primary, 7);
            }
        }

        &-right-icon {
            background-color: $white;
            border: 1px solid colors(primary, 6);
            color: colors(primary, 6);
            border: 1px solid colors(primary, 6);

            i {
                color: colors(primary, 6);
                vertical-align: middle;
                font-size: $font-large;
                margin-left: $m4;
            }

            &:hover {
                border-color: colors(primary, 5);
            }
    
            &.active,
            &:active,
            &.focus,
            &:focus {
              border-color: colors(primary, 7);;
            }
        }

        &:hover {
            border-color: colors(primary, 5);
        }

        &.active,
        &:active,
        &.focus,
        &:focus {
          border-color: colors(primary, 7);
        }
    }

    &-secondary-medium-d {
        background-color: rgba(colors(primary, 1), .5);
        color: rgba(colors(primary, 7), .5);
        cursor: not-allowed;
    }

    &-3-dot-actions {
        background-color: colors(primary, 1);
        padding: 0 $p8;

        i {
            color: colors(primary, 9);
            vertical-align: middle;
        }

        &:hover {
            color: colors(primary, 7);

            i {
                color: colors(primary, 7);  
            }
        }

        &.active,
        &:active,
        &.focus,
        &:focus {
          background-color: #DDEAFF;
          color: colors(primary, 7);
        }
    }

    &-icon-button {
        background-color: transparent;
        padding: 0 $p8;

        i {
            color: colors(primary, 9);
        }

        &:hover {
            color: colors(primary, 6);
        }

        &.active,
        &:active,
        &.focus,
        &:focus {
          background-color: #DDEAFF;
          color: colors(primary, 7);
        }
    }
    &.c-btn-add{
        background-color: colors(primary, 1);
        border: 1px solid olors(primary, 1);
        color: colors(primary, 7);
        i{
            font-size: $font-primary;
        }
    }

    &-transparent-bg {
      background-color: transparent;
      color: colors(primary, 6);
      padding: 0;

      i {
        vertical-align: middle;
        color: colors(primary, 6);
      }
    }

    &-danger {
        background-color: colors(red, 4);
        color: $white;
    }

    &.small {
        height: 32px;
        line-height: 32px;
    }

    &:disabled{
        opacity: 0.5;
        cursor: no-drop;
    }
}
