
::ng-deep  { 
    @import '../../../../assets/sass/abstracts/variables';
    a{
        color: colors(primary, 7);
        &:hover{
            color: colors(primary, 5);
        }
    }
    .page-title-main{
        border-bottom: 1px solid #EBF0F5;
        .page-title{
            a{
                display: inherit;
            }
        }
    }

    
    .invoice-config{
        .invoice-form{
            .invoice-c-input{
                width: 84%;
            }
            .invoice-c-dropdown{
                width: 50%;
            }
            .active-inactive-toggle{
                .toggle-panel-inner{
                    width: 100%;
                }
            }
            .select-unselect{
                color: colors(primary, 7);
            }
            .checkbox-wrapper{
                .checkbox-container{
                    font-size: 13px;
                    color: colors(primary, 8);
                    &:hover{
                        color:colors(primary, 6) ;
                    }
                    input{
                        left: 0;
                        &:checked{
                            ~.checkmark{
                                background-color: colors(primary, 6);
                                border: 1px solid colors(primary, 6);
                            }
                        }
                    }
                }
                .checkmark{
                    height: 15px;
                    width: 15px;
                    border-radius: 0;
                   border: 1px solid colors(gray, 7);
                    &::after{
                        top: -1px;
                        left: -1px;
                    }
                }
            }
        }
        
    }
    .invoice-config-inner{
        .list-heading{
            border-top: 1px solid #EBF0F5;
           
            p{
                color: colors(primary, 6);
            }
            .list-subHeading{
                color: #577088;
            }
        }
    }

    .toggle-panel-inner {
        border: 1px solid colors(primary, 1);
        background-color: colors(primary, 1);
        .toggle-switch {
            background: #d7e0e7;
            width: 30px;
            height: 16px;
            &.toggle-on{
                background-color: colors(primary, 6);
                &::before{
                    transform: translate(14px);
                }
            }
        }
    }

    
    .invoice-config{
        .invoice-form{
            .invoice-c-input{
                width: 84%;
            }
            .invoice-c-dropdown{
                width: 50%;
            }
            .active-inactive-toggle{
                width: 15%;
                margin-top: 25px;
                .toggle-panel-inner{
                    width: 100%;
                }
            }
            .select-unselect{
                color: colors(primary, 7);
            }
        }
        .toggle-panel-inner {
            border: 1px solid colors(primary, 1);
            background-color: colors(primary, 1);
            .toggle-switch {
                background: #d7e0e7;
                width: 32px;
                height: 16px;
                &.toggle-on{
                    background-color: colors(primary, 6);
                    &::before{
                        transform: translate(14px);
                    }
                }
            }
        }
        
    }
    .invoice-config-inner{
        .list-heading{
            border-top: 1px solid #EBF0F5;
            p{
                color: #0044C5;
            }
            .list-subHeading{
                color: #577088;
            }
        }
    }

    

    .tab-inner-parent{
    .tab-inner{
        padding: 16px 24px;
         border-top: 1px solid #57708824;
         i.invoice-icon{
          color: #5b6874;
          font-size: 20px;
         }
        .tab-left-content{
            width: 60%;
            padding-right: 20px;
            h2{
                font-size: 12px;
                color: colors(gray, 7);
                font-weight: 500;
            }
            h4{
                font-size: 13px;
                color: #0F2E4E;
                font-weight: 500;
                margin-bottom: 0;
            }
            p{
                font-size: 12px;
                color: #577088;
            }
            i{
                font-size: 22px;
                color: colors(primary, 4);
                margin-right: 20px;
                &.invoice-icon{
                  color: #5b6874;
                  font-size: 20px;
                  position: absolute;
                  left: 24px;
                  top: 35%;
                 }
            }
        }
        .tab-right-content{
            width: 35%;
            &.tab-right-content-width{
                width: 55%;
                flex-direction: column;
                .custom-form-element{
                    width: 57px;
                    border-radius: 0;
                    margin: 0 -1px;
                    &:focus{
                        margin:  0;
                    }
                }
                    ng-select{
                        .ng-select-container{
                            border-radius: 4px 0 0 4px;
                        }
                        &:not(:first-child){
                            .ng-select-container{
                                border-radius: 0 4px 4px 0;
                            }
                        }
                    }
            }
            ng-select, .c-form-control, textarea{
                width: 100%;
            }
            textarea{
                border: 1px solid colors(gray, 3);
            }
            .btn{
                &.bg-lightblue{
                    font-size: 13px;
                    color: colors(primary, 4);
                }
            }
            .c-timepicker {
                fieldset{
                    border: 0;
                }
            }
            .checkbox-item{
                list-style-type: none;
            }
           
            &.ng-select-input{
                &.percentage-input{
                    .ng-select-input-inner{
                        width: 100%;
                        span{
                            left: 1px;
                            top: 1px;
                            height: 100%;
                            height: 38px;
                            width: 40px;
                        }
        
                        input.c-form-control{
                            height: 40px;
    
                            &.no-left-border {
                                padding-left: 56px;
                                border-left: 1px solid colors(gray, 3);
                                border-radius: 4px 0 0 4px;
                            }
                            &:focus{
                                border-left: 1px solid colors(light-blue, 5) !important;
                            }
                        }
                    }
                }
                .ng-select-input-inner{
                    width: 100%;
                    input.c-form-control{
                        height: 40px;

                        &.no-left-border {
                            border-radius: 0 4px 4px 0;
                            border-left: 0;
                        }
                        
                        &.focussed-left-bord{
                            &:focus{
                                border-left: 1px solid colors(light-blue, 5);
                            }
                        }
                    }
                    &.ng-select-input-numb-inner{
                        .c-form-control{
                            width: 25%;
                            border-radius: 4px 0 0 4px;
                            border-right: 0;
                            &:focus{
                                border-right: 1px solid colors(light-blue, 5) !important;
                            }

                            &.wo-border-left {
                                border-right: 1px solid colors(gray, 3);
                                border-left: 0;
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                                border-top-right-radius: 4px;
                                border-bottom-right-radius: 4px;

                                &:focus{
                                    border-left: 1px solid colors(light-blue, 5) !important;
                                }
                            }
                        }
                        ng-select{
                            width: 75%;
                            .ng-select-container {
                                border-radius: 0 4px 4px 0;
                            }

                            &.input-both-side {
                                width: 25%;

                                .ng-select-container {
                                    border-radius: 0;
                                }
                            }
                        }
                    }
                    ng-select{
                        width: 50%;
                        .ng-select-container{
                            border-radius: 4px 0 0 4px;
                        }
                       
                    }
                    span.bg-lightblue{
                        border-radius: 4px 0 0 4px;
                    }
                    
                }
                
            }

            &.ng-select-input-ng-select {
                ng-select {
                    &.input-right {
                        .ng-select-container {
                            border-radius: 4px 0 0 4px;
                        }
                    }

                    &.input-left {
                        .ng-select-container {
                            border-radius: 0 4px 4px 0;
                        }
                    }
                }

                .c-form-control {
                    border-radius: 0;
                }
            }

            .checkbox-item {
                list-style-type: none;

                li {
                    display: inline-block;
                    margin-left: $m24;
                    margin-bottom: $m8;
                }
            }
            .span-input{
                flex-direction: row-reverse;
                input{
                    &:hover{
                        ~ span{
                            border-left: 1px solid colors(gray, 5) !important;
                            border-top: 1px solid colors(gray, 5) !important;
                            border-bottom: 1px solid colors(gray, 5) !important;
                        }
                    }
                    &:focus {
                        ~ span{
                            border-left: 1px solid colors(light-blue, 5) !important;
                            border-top: 1px solid colors(light-blue, 5) !important;
                            border-bottom: 1px solid colors(light-blue, 5) !important;
                        }
                    }
                }
            }

            .view-list {
                list-style-type: none;

                li {
                    display: inline-block;
                    background-color: colors(primary, 1);
                    line-height: 32px;
                    padding: 0 $p8;
                    margin-left: $m8;
                    color: colors(primary, 8);                    
                }
                &.view-list-radius{
                    li{
                        border-radius: $border-radius;
                        margin-top: $m4;
                        margin-bottom: $m4;
                        text-transform: capitalize;
                    }
                }
            }
            .user-control-box {
                ng-select {
                    min-width: 110px;
                }
                .c-form-control {
                    min-width: 80px;
                }
                .add-remove-box {
                    .remove {
                        color: colors(red, 5);
                    }
            
                    .add {
                        color: colors(primary, 6);
                        visibility: hidden;
                        pointer-events: none;
                    }
                }

                &:last-child {
                    margin-bottom: 0 !important;
                    .add {
                        visibility: visible;
                        pointer-events: auto;
                    }
                }
            }
        }
      }
    }
// }

    .header-layout {
        margin: 0 0 0 75px;

        .header-layout-box {
            border: 1px solid colors(gray, 3);
            border-radius: $border-radius;
            max-width: 600px;

            p {
                line-height: 18px;
            }
        }
        
        .address-box {
          width: 48%;

          .addrss-logo {
            background-color: colors(gray, 1);
            width: 66px;
            height: 38px;
            border-radius: $border-radius;
          }
        }
    }

    .parent-item{
        .tab-inner{
            padding-left: 75px;
        }
    }

      .child-item{
        margin-left: 75px;
        .tab-left-content{
            .c-text-content{
                padding-left: 40px;
                &::before{
                    position: absolute;
                    display: block;
                    visibility: visible;
                    content: ".";
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    background-color: #aac8ff;
                    left: 3px;
                    text-indent: -9999px;
                    overflow: hidden;
                    top: 16px;
                }
                &::after{
                    position: absolute;
                    display: block;
                    visibility: visible;
                    content: ".";
                    text-indent: -9999px;
                    overflow: hidden;
                    width: 1px;
                    bottom: 16px;
                    background-color: #aac8ff;
                    left: 8px;
                    top: 35px;
                }
            }
        }

          .tab-inner {
            padding-left: 0;
          }
          .tab-left-content{
            width: 55%;
          }
          .tab-right-content{
            width: 35%;
          }
  }

  .sticky-header {
    position: sticky;
    top: 161px;
    z-index: 3;
    background-color: $white;

    &.stuck {
        background-color: #FAFCFF;
        color: colors(primary, 6);
        border-bottom: 1px solid colors(gray, 1);
        padding-top: $p8 !important;
        padding-bottom: $p8 !important;
    }
  }

  .break-ui {
    background-color: #FFF5C546;
    border: 1px solid colors(orange, 2);
    border-radius: $border-radius;
    padding: $p16;
    margin: $m8 $m24 0 75px;
    position: relative;

    p {
        i {
            font-size: 16px;

            &.green {
                color: colors(lime, 5);
            }

            &.red {
                color: colors(red, 5)
            }
        }

        &.dark {
           color: colors(primary, 9) 
        }

        .values {
            color: colors(primary, 9) 
        }
    }
  }

  .upload-box {
    border: 1px solid colors(gray, 3);
    border-radius: $border-radius;
    overflow: hidden;
    background-color: $white;

    p {
        line-height: 40px;
    }

    .file-type {
        background-color: colors(primary, 1);
        color: colors(primary, 6);
        font-weight: $font-weight-medium;
        padding: 0 $p12;
    }

    .path-container {
        padding: 0 60px 0 $p12;
        color: #0F2E4E;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            z-index: 1;
            cursor: pointer;
            font-size: 18px;
            color: colors(red, 5);
        }
    }
  }

  .field-child-repeatable {
    .tab-right-content {
        margin-right: 35px;
    }

    .field-group-list {
        .repeat-control {
            position: absolute;
            top: 50%;
            right: 24px;
            transform: translateY(-50%);
    
            .add {
                color: colors(primary, 6);
                display: none;
            }
    
            .remove {
                color: colors(red, 5);
            }
        }
    
        &:first-child {
            .repeat-control {
                .add {
                    display: block;
                }

                .remove {
                    display: none;
                }
            }
        }
    }
  }

  .reassign-status-list {
    i {
        font-size: 18px;
    }
    .success {
        i, p {
            color: colors(green, 5);
        }
    }

    .pending {
        i, p {
            color: colors(orange, 5);
        }
    }

    .failed {
        i, p {
            color: colors(red, 5);
        }
    }
  }
}