::ng-deep  { 
    :host {
        width: 32px;
    }
    toggle-button.c-toggle-button-switch{
        width: 30px;
        height: 16px;
        .toggle-button-switch {
            top: 2px !important;
            left: 2px !important;
            width: 12px !important;
            height: 12px !important;
        }
        .toggle-button-text {
            background-color: colors(gray, 6) !important;
            height: 16px !important;
            width: 30px !important;
        }
        input[type="checkbox"]:checked~.toggle-button-switch {
            left: 16px !important;
          }
        input[type="checkbox"]:checked~.toggle-button-text {
            background-color: colors(primary, 6) !important;
        }
    }
}