::ng-deep {
  .config-item {
    border-top: 1px solid colors(gray, 1);
    padding: $p16 $p24;

    p {
      &.blue-color {
        color: colors(primary, 6);
      }
    }

    .toggle-panel {
      width: auto;

      .toggle-panel-inner {
        border: 0;
        background-color: transparent;
        padding: 0;
        height: 20px;
      }
    }
  }

  .rule-table {
    table {
      thead {
        tr {
          th {
            border-bottom: 1px solid colors(gray, 2);
            text-align: left;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: $font-weight-medium;
            color: colors(gray, 7);
            padding: $p8 0;
            height: auto;

            &:last-child {
              width: 5%;
            }
          }
        }
      }

      tbody {
        tr {
          td {
            padding: $p8 0;
            height: auto;
            border-bottom: 1px solid colors(gray, 2);

            p {
                background-color: colors(primary, 1);
                color: #0F2E4E;
                font-weight: $font-weight-medium;
                line-height: 40px;
                padding: 0 $p8;
                margin-right: $m8;
            }

            .rule-conditions {
                input {
                    max-width: 46px;
                    margin-right: $m8;
                    &.add-rule-value {
                      max-width: 80px;
                    }
                }

                .ng-select {
                    min-width: 75px;
                    margin-right: $m8;
                }
                &.add-rule-conditions{
                  .ng-select{
                    min-width: 100px;
                    &:nth-child(2){
                      min-width: 180px;
                    }
                  }
                }
            }
            

            .min-max-break {
                max-width: 94px;
            }

            i {
                vertical-align: middle;
                color: colors(red, 5);
                cursor: pointer;
            }
          }

          &:first-child {
            .delete-rule {
              opacity: 0;
              visibility: hidden;
            }
          }
        }
      }
    }
  }

  .light-blue-box{
    background-color: $surfacing-in-white;
    border: 1px solid #CFD8E1;
    transition: 0.2s ease-in-out;
    border-radius: 4px;
    .box-text-content{
        width: calc(100% - 280px);
        .title{
            color: #001A43;
        }
    }
    .side-ng-select{
        width: 280px;
    }
}
.c-form-box {
  background-color: $surfacing-in-white;

  p {
    &.dark {
      color: #0F2E4E;
    }
  }
}

.c-child {
  padding-left: 40px;

  &::before {
    position: absolute;
    display: block;
    visibility: visible;
    content: ".";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #aac8ff;
    left: 0;
    text-indent: -9999px;
    overflow: hidden;
    top: 0;
  }

  &::after {
    position: absolute;
    display: block;
    visibility: visible;
    content: ".";
    text-indent: -9999px;
    overflow: hidden;
    width: 1px;
    background-color: #aac8ff;
    left: 5px;
    top: 20px;
    bottom: 20px;
  }
}

.tab-inner-parent .tab-inner .tab-left-content {
  width: 100%;
}

.c-child-first {
  .tab-left-content{
      .c-text-content{
          padding-left: 40px;
          .c-text-content-inner{
              &::before{
                  position: absolute;
                  display: block;
                  visibility: visible;
                  content: ".";
                  width: 11px;
                  height: 11px;
                  border-radius: 50%;
                  background-color: #aac8ff;
                  left: -40px;
                  text-indent: -9999px;
                  overflow: hidden;
                  top: 14%;
              }
              &::after{
                  position: absolute;
                  display: block;
                  visibility: visible;
                  content: ".";
                  text-indent: -9999px;
                  overflow: hidden;
                  width: 1px;
                  height: 300px;
                  background-color: #aac8ff;
                  left: -35px;
                  top: 100%;
              }
          }
      }
  }

    .tab-inner {
      padding-left: 0;
    }
    .tab-left-content{
      width: 100%;
    }
    .tab-right-content{
      width: 35%;
    }
}

}
