::ng-deep .breadcrumb {
    list-style-type: none;
    margin-left: 6px;

    li {
        display: inline-block;
        font-size: $font-small;
        color: colors(primary, 9);
        line-height: 34px;

        i {
            vertical-align: middle;
            color: colors(gray, 5);
        }

        a {
            color: colors(primary, 7);
            font-size: $font-small;
        }
    }
}