::ng-deep .c-header-panel {
    background-color: colors(primary, 1);
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 224px);
    min-height: 58px;
    z-index: 100;
    transition: $transition;

    .user-avatar {
        width: 30px;
        height: 30px;
        border-radius: $rounded-circle;
        border: 1px solid colors(primary, 6);
        overflow: hidden;
        img {
            width: 30px;
            height: auto;
            object-fit: contain;
        }
    }
}