::ng-deep .dropdown-menu {
    position: absolute;
    top: 38px;
    left: 0;
    background-color: $white;
    list-style-type: none;
    z-index: 10;
    box-shadow: 0px 3px 6px #00000012;
    border: 1px solid colors(gray, 3);
    border-radius: $border-radius;
    min-width: 160px;
    opacity: 0;
    visibility: hidden;

    li {
        display: block;
        white-space: nowrap;

        a {
            display: block;
            padding: $p8 $p12;
            line-height: 24px;
            color: #0F2E4E;
            transition: $transition;

            &:hover {
                background-color: colors(gray, 1);
            }
        }
    }

    &.right-align {
        left: auto;
        right: 0;
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }
}