.self-config-wrapper, .generic-list-page, .fee-settings, .account-step-form {
  ::ng-deep .c-form-group-title {
    font-weight: $font-weight-medium;
    color: colors(primary, 9);
    font-size: $font-large;
    line-height: 27px;
    margin-bottom: $m24;
  }
  
  ::ng-deep .c-form-group-row {
    display: flex;
  
    .c-form-group {
      width: 100%;
      margin-bottom: $m24;
  
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }
  
  ::ng-deep {
    label {
      font-size: 13px;
      color: colors(gray, 7);
  
      &.small {
        font-size: 12px;
      }
    }
  }
  
  ::ng-deep .c-form-control {
    border: 1px solid colors(gray, 3);
    background-color: $white;
    border-radius: $border-radius;
    outline: none;
    padding: $p8 $p16;
    font-size: 14px;
    font-family: $font-family;
    font-weight: $font-weight-medium;
    line-height: 22px;
    width: 100%;
    height: 40px;
    transition: $transition;
    color: colors(cyan, 9);

    &.small {
      height: 32px;
      padding: 9px 12px;
      font-size: 12px;
    }
  
    &:hover {
      border-color: colors(gray, 5);
    }
  
    &:focus {
      border-color: colors(light-blue, 5);
    }

    &.error {
      border-color: colors(red, 5);
    }

    &.transparent {
      background-color: transparent;
      border: 0;
      padding: $p8 0;
      max-width: 80%;
    }

    &.white{
      background-color: $white;
    }
  }
  
  ::ng-deep textarea {
    resize: none;
    border: 1px solid colors(gray, 3);
    background-color: $white;
    border-radius: $border-radius;
    outline: none;
    padding: $p8 $p16;
    font-size: $font-primary;
    font-family: $font-family;
    font-weight: $font-weight-medium;
    min-height: 145px;
  
    &.v-resize {
      resize: vertical;
    }
  
    &.h-resize {
      resize: horizontal;
    }
  }
  
  ::ng-deep ::-webkit-input-placeholder {
    color: colors(gray, 4);
    font-size: $font-primary;
    font-weight: $font-weight-regular;
  }
  
  ::ng-deep :-ms-input-placeholder {
    color: colors(gray, 4);
    font-size: $font-primary;
    font-weight: $font-weight-regular;
  }
  
  ::ng-deep ::placeholder {
    color: colors(gray, 4);
    opacity: 1;
    font-size: $font-primary;
    font-weight: $font-weight-regular;
  }
  
  ::ng-deep :-ms-input-placeholder {
    color: colors(gray, 4);
    font-size: $font-primary;
    font-weight: $font-weight-regular;
  }
  
  ::ng-deep ::-ms-input-placeholder {
    color: colors(gray, 4);
    font-size: $font-primary;
    font-weight: $font-weight-regular;
  }

  ::ng-deep {
    .file-input {
      position: relative;
      height: 40px;
      > input {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 8;
      }
    }

    .styled-interface {
      position: relative;
      z-index: 2;

      input {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding-right: 50px;
        border-color: colors(primary, 1);
        pointer-events: none;
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        pointer-events: none;
      }
      &.file-attach{
        input{
         border-radius: $border-radius;
         border: 1px solid colors(gray, 3);
        }
        .c-btn{
          &.c-btn-secondary-medium{
            border-radius: 0 4px 4px 0;
            border: 1px solid colors(gray, 3);
          }
        }
      }
    }
  } 

  ::ng-deep {
    .error-message {
      font-size: $font-primary;
      color: colors(red, 6);
      font-weight: $font-weight-medium;

      i {
        color: colors(red, 5);
        font-size: 18px;
        vertical-align: middle;
      }
    }

    [readonly] {
      background-color: #fafbfc;
    }
  }

  ::ng-deep {
    .checklist-sidebar-wrapper {
      .task-list {
        li {
          .checkbox-wrapper {
            padding: $p16 $p24 $p16 $p32;
          }
        }
      }
    }

    .number-filter {
      .number-filter-input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .control-icon {
        border: 1px solid colors(gray, 3);
        border-left: 0;
        border-radius: $border-radius;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 32px;
        padding: 0 $p4;

        i {
          color: colors(gray, 5);
        }
      }

      .min-max-modal {
        top: 120%;
        background: $white;
        width: 190px;
        z-index: 9;
        border: 1px solid colors(gray, 3);
        border-radius: $border-radius;
      }
    }
  }
}
