.self-config-wrapper {
  ::ng-deep {
    hierarchy-treeview {
      .form-group {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
      }
      ngx-dropdown-treeview {

        .dropdown {
          button {
            &.dropdown-toggle {
              border-color: colors(gray, 3);
            }
          }
          .dropdown-menu {
            margin-top: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: 0;
          }

          &.show {
            button {
              &.dropdown-toggle {
                border-color: colors(primary, 6);
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom: 0;
              }
            }

            .dropdown-menu {
                border-color: colors(primary, 6);
            }
          }
        }
      }

      .badge {
        background-color: colors(primary, 1);
        font-size: 13px;
        text-transform: capitalize;
        font-weight: $font-weight-medium;
        color: colors(primary, 9);
        border-radius: $border-radius;
        position: relative;
        margin-top: $m8 !important;
        margin-bottom: 0 !important;

        .close {
          position: relative;
          color: colors(primary, 1);

          &:before {
            position: absolute;
						content: "cancel";
						color: #51C6D5;
						top: 5px;
						right: 0;
            font-family: 'Material Icons';
            font-size: 12px;
            line-height: 1;
            text-transform: none;
          }
        }
      }
    }
  }
}
