::ng-deep .c-notifications {
    padding: $p12 $p16;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: $border-radius;

    .notification-text-box {
        max-width: 85%;
    }

    .type {
        margin-right: $m16;
    }

    .close {
        font-size: 16px;
        cursor: pointer;
        background-color: transparent;
        border: 0;
        outline: 0;
    }

    ul {
        list-style-type: none;

        li {
            display: inline-block;
            margin-right: $m8;
            line-height: 32px;
            padding: 0 $p12;
            margin-top: $m8;
        }
    }

    &.info {
        background-color: colors(primary, 1);

        .type {
            color: colors(primary, 6);
        }

        p {
            color: colors(primary, 6);

            &.summary {
                color: colors(primary, 7);
            }
        }

        .close {
            color: colors(primary, 6);
        }
    }

    &.error {
        background-color: colors(red, 1);

        .type {
            color: colors(red, 6);
        }

        p {
            color: colors(red, 6);

            &.summary {
                color: colors(red, 6);
            }
        }

        .close {
            color: colors(red, 6);
        }
    }

    &.warning {
        background-color: colors(orange, 1);

        .type {
            color: colors(orange, 5);
        }

        p {
            color: colors(orange, 6);

            &.summary {
                color: colors(orange, 6);
                line-height: 16px;
            }
        }

        .close {
            color: colors(orange, 6);
        }

        .message-icon {
            color: colors(orange, 5);
        }

        ul {
            li {
                background-color: colors(orange, 2);
                color: colors(orange, 8);
            }
        }
    }

    &.success {
        background-color: colors(green, 1);

        .type {
            color: colors(green, 8);
        }

        p {
            color: colors(green, 8);

            &.summary {
                color: colors(green, 8);
            }
        }

        .close {
            color: colors(green, 7);
        }
    }
}

::ng-deep .notification-message {
    margin-top: 103px;
    padding: 0 $p16;
}