::ng-deep {
  .vendor-step-form {
    &.account-step-form {
      &.userProfileWrapper {
        .sideimg {
          height: 100vh;
          overflow: hidden;
          width: 547px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .img-text {
            position: absolute;
            bottom: 25%;
            left: 50%;
            transform: translate(-50%, 0);
            margin: 0 auto;
            width: 340px;
            text-align: center;

            h1 {
              color: #ffffff;
            }

            p {
              color: #E3E9F0;
              font-size: 16px;
            }
          }
        }

        .step-form-Content {
          width: calc(100% - 547px);

          .profileHead {
            border-bottom: 1px solid #EBF0F5;

            h3 {
              font-size: 18px;
              color: #0F2E4E;
            }

            .progress-ui {
              ul {
                li {
                  display: inline-block;
                  margin-left: 16px;
                  position: relative;

                  span {
                    width: 12px;
                    height: 12px;
                    position: relative;
                    background: #DDEAFF;
                    display: block;
                    z-index: 2;
                    border-radius: 50%;
                  }

                  &:after {
                    position: absolute;
                    top: 50%;
                    left: -16px;
                    width: 16px;
                    height: 1px;
                    content: '.';
                    text-indent: -9999px;
                    overflow: hidden;
                    display: block;
                    visibility: visible;
                    background-color: #DDEAFF;
                    z-index: 1;
                  }

                  &:first-child {
                    &::after {
                      display: none;
                    }
                  }

                  &.done {
                    span {
                      background: #01B116;
                      border-color: #01B116;
                    }
                  }

                  &.active {
                    span {
                      background: #0044C5;
                      border-color: #0044C5;
                    }

                    &::before {
                      height: 1px;
                      top: 6px;
                    }
                  }

                  &::before {
                    background: #DDEAFF;
                    top: 6px;
                  }
                }
              }
            }
          }

          .form-content {
            height: calc(100vh - 73px);
            overflow-y: auto;

            .form-wrapper {
              max-width: 630px;
              margin: auto;
            }

            .tooltip-icon {
              font-size: 16px;
              color: #A3B0C0;
            }

            .group-code {
              max-width: 309px;
            }
          }
        }
      }

      &.basic-details {
        .form-wrapper {
          max-width: 640px;
        }

        .custom-width {
          max-width: 200px;
        }
      }
    }

    .customize-avatar {
      .form-wrapper {
        max-width: 630px;

        .upload-box {
          width: 57px;
          height: 57px;
          border: 1px solid #A3B0C0;
          background: #FAFBFC;
          border-radius: $rounded-circle;
          box-shadow: 0px 3px 20px #0000001F;
          margin: auto;
          text-align: center;
          cursor: pointer;
          transition: $transition;
          position: relative;
          overflow: hidden;

          icon {
            ::ng-deep.upload-icon {
              color: #BFBCC9;
            }
          }

          p {
            color: #3E3B3B;
            line-height: 1.4;

            span {
              color: #464BD1;
            }
          }

          &:hover {
            box-shadow: 0px 8px 40px #0000001F;
          }

          &.after-image-upload {
            overflow: visible;
            &:before {
              content: "check_circle";
              font-family: "Material Icons";
              text-transform: none;
              font-size: 20px;
              top: -5px;
              right: 0px;
              color: #01B116;
              display: block;
              visibility: hidden;
              width: 23px;
              height: 23px;
              z-index: 20;
              position: absolute;
              overflow: hidden;
              background-color: #ffffff;
              border-radius: 50%;
              border: 2px solid #ffffff;
            }
          }
        }

        .other-option-title {
          max-width: 241px;
          margin: $m24 auto;
          position: relative;
          text-align: center;

          span {
            border: 1px solid #EDE8E8;
            border-radius: 9px;
            line-height: 30px;
            padding: 0 $p16;
            display: inline-block;
            position: relative;
            z-index: 2;
            background: #ffffff;
            color: #536476;
          }

          &:before {
            position: absolute;
            top: 16px;
            background: #EDE8E8;
            height: 1px;
            left: 0;
            right: 0;
            content: '.';
            text-indent: -9999px;
            overflow: hidden;
            display: block;
            visibility: visible;
            z-index: 1;
          }
        }

        .other-avatar-option {
          position: relative;

          ul {
            list-style-type: none;
            overflow: hidden;

            li {
              float: left;
              margin: 24px $m4 52px;

              .radio-container {
                width: 57px;
                height: 57px;
                border-radius: $rounded-circle;
                color: #ffffff;
                text-align: center;
                padding-left: 0;
                line-height: 57px;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 400;

                .checkmark {
                  right: -3px;
                  top: -3px;
                  left: unset;
                  background-color: white;
                  height: 23px;
                  width: 23px;
                  display: none;

                  &:after {
                    content: "check_circle";
                    font-family: 'Material Icons';
                    text-transform: none;
                    font-size: 20px;
                    top: -17px;
                    left: 2px;
                    color: #84919F;
                  }

                  &.greencolor {
                    &:after {
                      color: #01B116;
                    }
                  }
                }

                input {
                    &:checked {
                        ~ .checkmark {
                            display: block;
                        }
                    }
                }
              }

              &.imageselected {
                .upload-box {
                  &.after-image-upload {
                    &:before {
                      visibility: visible;
                    }
                  }
                }
              }
            }
          }

          .active-avatar {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 96px;
            height: 96px;
            text-align: center;
            line-height: 96px;
            color: #ffffff;
            font-size: 37px;
            text-transform: uppercase;
            border-radius: $rounded-circle;
            box-shadow: 0px 6px 11px #0000003E;
          }
        }
      }
    }

    .showhide {
        position: absolute;
        top: 71%;
        right: 15px;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 16px;
        line-height: 16px;
        z-index: 10;
        cursor: pointer;
    }
  }

  .vendor-setup-invalid {
   height: 100vh;
  }
}
