::ng-deep {
  .program-config-page {
    .tab-menu {
      position: fixed;
      top: 161px;
      right: 24px;
      left: 60px;
      width: auto !important;
      z-index: 5;
      ul {
        li {
          a {
            font-size: $font-primary !important;
          }
        }
      }
    }

    .tab-panel {
      padding-top: 49px !important;
    }

    .tab-inner {
      padding: $p24 0;
      border-bottom: 1px solid #57708824;
      .tab-left-content {
        width: 60%;
        padding-right: 20px;
        
        .sub-child-padd{
          padding-left: 42px;
        }

        h2 {
          font-size: 12px;
          color: colors(gray, 7);
          font-weight: 500;
        }

        .subtitle {
          color: #0F2E4E;
        }
       
        .material-icons {
          font-size: 22px;
          color: colors(primary, 4);
          margin-right: 20px;
        }
      }
      .tab-right-content {
        width: 40%;
        ng-select,
        .c-form-control,
        textarea {
          width: 65%;
        }
        .ng-select-input-inner{
          width: 65%;
          &.ng-select-input-numb-inner{
            .c-form-control{
              width: 25%;
              border-radius: 4px 0 0 4px;
              border-right: 0;
              &:focus{
                  border-right: 1px solid colors(light-blue, 5) !important;
              }
            }
            ng-select{
              width: 75%;
              .ng-select-container {
                  border-radius: 0 4px 4px 0;
                  z-index: 1;
              }
              .ng-dropdown-panel{
                z-index: 1;
              }
            }
          }
        }

        toggle-button {
          width: 32px;
          height: 16px;

          .toggle-button-switch {
            width: 12px;
            height: 12px;
            top: 2px;
            left: 2px;
            margin-bottom: 0;
          }

          .toggle-button-text {
            background-color: #d7e0e7;
            width: 32px;
            height: 16px;
          }

          input {
            &:checked {
              ~ .toggle-button-switch {
                left: 17px;
              }

              ~ .toggle-button-text {
                background-color: colors(primary, 6);
              }
            }
          }
        }

      
        .c-switch-tabs {
          overflow: hidden;
          position: relative;
          input {
            position: absolute !important;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            width: 1px;
            border: 0;
            overflow: hidden;
          }
          label {
            background-color: #ffffff;
            color: colors(gray, 8);
            font-size: $font-primary;
            line-height: 1;
            text-align: center;
            margin: 0;
            padding: $p8 $p16;
            border: 1px solid #5e71fe15;
            transition: all 0.1s ease-in-out;
            &:hover {
              cursor: pointer;
            }
          }
          input:checked + label {
            background-color: colors(primary, 6);
            color: $white;
            box-shadow: none;
          }

          label:first-of-type {
            border-radius: 4px 0 0 4px;
          }

          label:last-of-type {
            border-radius: 0 4px 4px 0;
          }
        }
      }
    }
  }
}
