.self-config-wrapper, .fee-settings {
  ::ng-deep {
    .section-body-content {
      min-height: calc(100vh - 268px);
      margin-top: 105px;
      .c-form-group{
        &.toggle-width{
          max-width: 135px;
        }
        &.onboarding-toggle{
          max-width: 160px;
        }
      }

      .white-box {
        max-width: 430px;
        margin: auto;
      }

      .blue-box {
        background-color: colors(primary, 1);
        padding: $p32;

        .child-box {
          max-width: 630px;
          margin: auto;
        }
      }
    }
  
    .info-icon {
      vertical-align: middle;
      font-size: 16px;
      color: colors(gray, 5);
      transition: $transition;
  
      &:hover {
          color: colors(primary, 6);
      }
    }

    .tooltip-icon {
      font-size: 16px;
      color: colors(gray, 5);

      &:hover {
        color: colors(primary, 6);
      }
    }
  
    quill-editor {
      .ql-toolbar {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
  
        &.ql-snow {
          border-bottom-width: 0;
        }
      }
  
      .ql-container {
  
        &.ql-snow {
          border-bottom-left-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
        }
      }
    }
    // Modal CSS
    .common-checkbox-modal{
      .content-item{
        &:hover{
          background-color: colors(primary, 1);
          .cb-ui{
              border-color: colors(primary, 6);
          }
          .cb-label{
              color: colors(primary, 6);
          }
         }
        &:active{
            background-color: colors(primary, 1);
        }
      }
      .checkbox-block {
            padding: 16px 10px;
            cursor: pointer;
            .default{
              i{
                  font-size: 16px;
              }
              &:hover{
                  i{
                      color: colors(primary, 6);
                  }
                  span{
                      color: colors(primary, 6)
                  }
              }
              .filled{
                  display: none;
                  color: colors(primary, 6);
              }
              .outlined{
                  display: block;
              }
              &.active{
                  .filled{
                      display: block;
                  }
                  .outlined{
                      display: none;
                  }
                  span{
                      color: colors(primary, 6)
                  }
              }
          }
      }
    }

    // Modal CSS:END

    .c-hyperlink{
      color: colors(primary, 6);
    }

    .custom-switch-width {
      width: 150px;
    }

    .toggle-panel {
      &.transparent-bg-toggle {
        width: auto;

        .toggle-panel-inner {
          background-color: transparent;
          border: 0;

          .status-text {
            white-space: nowrap;
            margin-left: $m8;
          }
        }
      }
    }

    .value-list {

      li {
        border-top: 1px solid #e9ecef;

        &:first-child {
          border-top: 0;
        }
      }

      .drag-indicator {
        font-size: 18px;
        color: colors(gray, 7);
        cursor: grab;
      }

      .remove-link {
        font-size: 20px;
        color: colors(gray, 5);
      }

      .selected-value {
        background-color: colors(primary, 1);
        padding: 0 $p8;
        border-radius: $border-radius;
        line-height: 32px;

        i {
          font-size: 12px;
          color: #51C6D5;
          vertical-align: middle;
        }
      }
    }

    .permission-edit {
        span {
          background-color: colors(primary, 1);
          color: colors(primary, 9);
          font-size: $font-small;
          border-radius: $border-radius;
          line-height: 21px;
        }

        i {
          font-size: 18px;
          color: colors(primary, 6);
        }
    }
  }
}

