::ng-deep {
    .section-header {
        position: fixed;
        background-color: $white;
        left: 60px;
        right: 24px;
        z-index: 5;
        top: 56px;
        transition: $transition;
        border-bottom: 1px solid colors(gray, 2);
        height: 105px;
        &.page-title-main{
            border-bottom: 1px solid #EBF0F5;
        }
        .back-arrow-icon{
            font-size: 18px;
            color: colors(primary, 9);
            padding: 12px;
            &:hover{
                background-color: colors(primary, 1);
                color: colors(primary, 6);
                border-radius: 4px;
                
            }
        }
    }
}
