::ng-deep {
  .selected-items-ui {
    width: 100%;
    justify-content: flex-start;
    gap: 8px;


    .selected-item {
      width: 150px;
      background-color: colors(primary, 1);
      border-radius: 4px;
      font-size: 14px;
      color: colors(primary, 9);

      i {
        font-size: 15px;
      }

      p {
        color: colors(gray, 7);
      }

      .item-code {
        color: colors(gray, 6);
      }

      .toggle-panel-inner {
        background-color: transparent;
        padding: 0;
        border: 0;
      }
    }
  }
}
