::ng-deep .c-status-ui {
    position: relative;
    background-color: colors(gray, 1);
    padding: 0 8px 0 21px;
    line-height: 24px;
    display: inline-block;
    border-radius: $border-radius;
    font-size: 13px;

    &:before {
        position: absolute;
        top: 50%;
        left: 8px;
        width: 8px;
        height: 8px;
        content: '.';
        text-indent: -9999px;
        overflow: hidden;
        display: block;
        visibility: visible;
        border-radius: $rounded-circle;
        background-color: colors(gray, 8);
        transform: translateY(-50%);
    }

    &.active {
        background-color: #E8F3EA;
        color: colors(green, 8);

        &:before {
            background-color: colors(green, 8);
        }
    }

    &.inactive {
        background-color: colors(gray, 1);
        color: colors(gray, 8);

        &:before {
            background-color: colors(gray, 8);
        }
    }

    &.expired {
        background-color: colors(red, 2);
        color: colors(red, 5);

        &:before {
            background-color: colors(red, 5);
        }
    }

    &.pending {
        background-color: colors(orange, 1);
        color: colors(orange, 7);

        &:before {
            background-color: colors(orange, 7);
        }
    }
}