::ng-deep {
    .svms-modal {
        background-color: $white;
        width: 95%;
        max-width: 500px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
        z-index: 1001;
        border-radius: $border-radius;
        opacity: 0;
        visibility: hidden;
        transition: $transition;
        overflow: hidden;
        max-height: 0;

        .svms-modal-header {
            padding: $p24 $p16;

            h4 {
                color: colors(primary, 9);
            }
        }

        .svms-modal-body {
            padding: 0 $p16 $p24 $p16;
            max-height: calc(100vh - 250px);
            overflow: auto;

            .c-search-panel-wrapper{
                height: 53px;
                .c-search-panel {
                    border-top: 1px solid #EBF0F5;
                    width: auto !important;
                    top: 0;
                    left: -16px !important;
                    right: -16px;
                }
            }
        }

        .svms-modal-footer {
            border-top: 1px solid colors(gray, 3);
            padding: $p16;
        }

        .close-modal {
            position: absolute;
            top: 24px;
            right: 16px;
            z-index: 10;

            i {
                font-size: 18px;
                color: colors(primary, 9);
            }
        }

        &.small {
            max-width: 400px;
        }

        &.medium {
            max-width: 800px;
        }

        &.large {
            max-width: 1000px;
        }

        &.x-large {
            max-width: 1500px;
        }

        &.largest {
            width: 98%;
            max-width: 98%;
        }

        &.active {
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, -50%);
            max-height: 4000px;
        }
    }

    .svms-modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #1F2031;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition: $transition;

        &.active {
            opacity: .85;
            visibility: visible;
        }
    }

    .header-layout-popup {
        border: 1px solid colors(gray, 3);
        border-radius: $border-radius;
        transition: $transition;
        cursor: pointer;

        .address-box {
            flex-basis: 40%;

            p {
                line-height: 18px;
            }
        }

        .addrss-logo {
            background-color: colors(gray, 1);
            border-radius: $border-radius;
            overflow: hidden;
            width: 66px;
            height: 38px;

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }

        &.active {
            background-color: colors(primary, 1);

            .addrss-logo {
                background-color: colors(primary, 2);
            }
        }
    }
}