::ng-deep {
    .toggle-box {
        background-color: $white;
        border: 1px solid colors(gray, 3);
        transition: $transition;
        border-radius: $border-radius;

        p {
            &.title {
                color: colors(primary, 9);
            }
        }

        a {
            color: colors(primary, 6);
        }

        .box-cb {
            flex-wrap: wrap;
            gap: 24px;

            label {
                margin-bottom: 0;
            }
        }

        &:hover {
            border-color: colors(gray, 4);
        }

        &.active {
            background-color: $surfacing-in-white;
        }

        .sub-item-box {
            margin-right: -24px;
        }

        .sub-item-arrow {
            color: colors(primary, 4);
            font-size: 18px;
        }
    }
}