.self-config-wrapper, .fee-settings{
    ::ng-deep {

        .view-detail-page {
            .detail-item-parent{
                a{
                  i{
                    margin-right: 6px;
                  }
                  &.Enabled{
                    color: colors(primary, 6);
                  }
                  &.Disabled{
                    color: colors(gray, 5);
                  }
                }
                .sub-item{
                    .item-label{
                        i{
                            color: colors(primary, 7);
                            font-size: 17px;
                        }
                    }
                }
            }
            .detail-item {
                .item-label {
                    width: 30%;

                    &.box-view-label {
                        line-height: 32px;
                    }
                }

                .item-value {
                    width: 65%;
                    ul {
                        list-style-type: none;

                        li {
                            display: inline-block;
                            background-color: colors(primary, 1);
                            padding: $p8;
                            color: colors(primary, 9);
                            margin-right: $m8;
                            margin-bottom: $m8;
                        }
                    }

                    &.bordered-paragraph {
                        p {
                            border: 1px dashed colors(gray, 4);
                            border-radius: $border-radius;
                        }
                    }

                    .description-field {
                        ol {
                            li {
                                display: list-item;
                                list-style-position: inside;
                                margin: 0  0 $m8 0;
                            }
                        }
                        ul {
                            list-style-type: disc;

                            li {
                                display: list-item;
                                background-color: transparent;
                                padding: 0;
                                list-style-position: inside;
                                margin: 0  0 $m8 0;
                            }
                        }
                    }
                }
                .description {
                    line-height: 24px;
                    span {
                      display: inline-block;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      overflow: hidden;
                      max-width: 90%;
                
                      &.full-text {
                        white-space :initial;
                        display: inline;
                      }
                    }
                
                    a {
                      color: colors(primary, 9);
                      vertical-align: top;
                
                      &:hover {
                        text-decoration: underline;
                      }
                    }
                }
            } 

            .field-icon {
                &[ng-reflect-name="check_circle"] {
                    i {
                        color: colors(green, 7);
                    }
                }

                &[ng-reflect-name="cancel"] {
                    i {
                        color: colors(gray, 4);
                    }
                }
            }
            
            .tick-icon {
                font-size: 14px;
                color: colors(green, 7);
            }

            .cross-icon {
                font-size: 14px;
                color: colors(gray, 4);
            }
        }

        .table-view {
            border: 1px solid colors(gray, 2);
            background-color: $surfacing-in-white;
            border-radius: $border-radius;
            overflow: hidden;

            a {
                color: colors(primary, 6);
                text-decoration: underline;
            }

            p {
                &.blue-color {
                    color: colors(primary, 6);
                }
            }

            table {
                thead {
                    th {
                        border-top: 1px solid colors(gray, 2);
                        text-align: left;
                        position: relative;
                        text-transform: capitalize;

                        ng-select {
                            .ng-arrow {
                                text-transform: none;
                            }
                        } 
                    }
                }

                tbody {
                    td {
                        border-top: 1px solid colors(gray, 2);
                        background-color: $white;

                        &.disabled-field {
                            background-color: $surfacing-in-white;
                            color: colors(gray, 6);
                        }
                    }
                }
            }

            .sorting {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                width: 15px;
                height: 18px;

                span {
                    position: absolute;
                    color: colors(gray, 4);
                    cursor: pointer;
                    left: 0;
                    top: 0;
                    height: 10px;
                    width: 15px;
                    overflow: hidden;
                    display: block;

                    i {
                        position: absolute;
                        top: -7px;
                        left: -5px;
                    }

                    &.dec {
                        top: 11px;
                    }
                }
            }

            .table-view-footer {
                position: static;
                width: auto;

                .c-pagination {
                    a {
                        text-decoration: none;

                        &.active {
                            color: $white;
                        }
                    }
                }
            }

            .edit-icon {
                font-size: 18px;
                color: colors(primary, 7);
            }

            &.disable-overflow {
                overflow: inherit;
            }
        }

        .detail-page-table {
            thead {
                th {
                    text-align: left;
                    border-bottom: 1px solid colors(gray, 1);
                    position: relative;
                    padding-left: 0;
                    text-transform: uppercase;
                    color: colors(gray, 7);
                    font-size: $font-small;
                }
            }

            tbody {
                td {
                    border-bottom: 1px solid colors(gray, 1); 
                    padding-left: 0;

                    .toggle-panel {
                        min-width: 130px;
                    }

                    .add-more-link {
                        margin-left: $m16;
                        i {
                            color: colors(primary, 6);
                            vertical-align: middle;
                        }
                    }
                }
            }

            .sorting {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                width: 15px;
                height: 18px;

                span {
                    position: absolute;
                    color: colors(gray, 4);
                    cursor: pointer;
                    left: 0;
                    top: 0;
                    height: 10px;
                    width: 15px;
                    overflow: hidden;
                    display: block;

                    i {
                        position: absolute;
                        top: -7px;
                        left: -5px;
                    }

                    &.dec {
                        top: 11px;
                    }
                }
            }

            &.no-border {
                thead {
                    th {
                        border-bottom: 0;
                        height: auto;
                    }
                }

                tbody {
                    td {
                        border-bottom: 0;
                        height: auto;
                    }
                }
            }
        } 

        .list-view-item {
            .item-description {
                width: 60%;
            }

            ul {
                list-style-type: none;

                li {
                    display: inline-block;
                    background-color: colors(primary, 1);
                    line-height: 32px;
                    padding: 0 $p8;
                    font-size: 13px;
                    color: colors(primary, 8);
                    margin-left: $m8;
                    border-radius: $border-radius;
                }
            }

            .field-edit-mode {
                .field-group-list {
                    input {
                        width: 57px;
                        border-right: 0;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
    
                        & ~ .ng-select {
    
                            .ng-select-container {
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                            }
                        }
                    }
    
                    .ng-select {
                        width: 130px;
                    }
    
                    .add {
                        color: colors(primary, 6);
                        display: none;
                    }
    
                    .remove {
                        color: colors(red, 5);
                        display: block;
                    }
    
                    &.multi-field {
                        .ng-select {
                            &.before {
                                .ng-select-container {
                                    border-top-right-radius: 0;
                                    border-bottom-right-radius: 0;
                                }
                            }
                        }
    
                        .c-form-control {
                            border-radius: 0;
                            border-left: 0;
                        }
                    }

                    &:first-child {
                        .add {
                            display: block;
                        }
        
                        .remove {
                            display: none;
                        }
                    }
                }    
            } 
        }
        .impacted-assignment {
            aside {
                flex-basis: 30%;
                height: calc(100vh - 163px);
                border-right: 1px solid colors(gray, 1);
                overflow: auto;
                background-color: $surfacing-in-white;

                .impacted-item {
                    border-bottom: 1px solid colors(gray, 1);
                    border-left: 3px solid transparent;
                    padding: $p16 $p24;
                    cursor: pointer;
                    transition: $transition;

                    i {
                        font-size: 14px;
                    }

                    p {
                        &.impacted-item-title {
                            color: colors(primary, 9);
                        }
                    }

                    &:hover {
                        background-color: $white;

                        p {
                            &.impacted-item-title {
                                color: colors(primary, 6);
                            }
                        }
                    }

                    &.active {
                        background-color: $white;
                        border-left-color: colors(primary, 6);

                        p {
                            &.impacted-item-title {
                                color: colors(primary, 6);
                            }
                        }
                    }
                }

                &::-webkit-scrollbar {
                  width: 4px;
                }

                &::-webkit-scrollbar-track {
                  background: transparent;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                  background: colors(gray, 4);
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                  background: colors(gray, 6);
                }
            }

            .table-view-item {
                flex-basis: 75%;

                .sorting {
                   position: relative;
                   width: 10px;

                   i {
                    font-size: 15px;
                    color: #A1A1C4;
                    cursor: pointer;
                   }
                   
                   span {
                    position: absolute;
                    left: 0;
                    height: 15px;
                    overflow: hidden;
                   }
                   .asc {
                    top: 0;
                   }

                   .dec {
                    top: 12px;
                   }
                }
                .table-list-wrapper {
                    height: calc(100vh - 271px);
                    overflow: auto;

                    &::-webkit-scrollbar {
                      width: 4px;
                    }

                    &::-webkit-scrollbar-track {
                      background: transparent;
                    }

                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                      background: colors(gray, 4);
                    }

                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                      background: colors(gray, 6);
                    }
                }
                table {
                    th {
                        text-transform: uppercase;
                        border-bottom: 1px solid colors(gray, 2);
                        height: 50px;
                        // padding-left: 0;
                        font-size: $font-small;
                        color: colors(gray, 7);
                    }
                    tbody {
                        tr {
                            td {
                                border-top: 1px solid colors(gray, 2);
                                height: 50px;
                                // padding-left: 0;
                            }
                        }
                    }
                }

                .c-listing-footer {
                    width: auto !important;
                    min-height: inherit;
                }
            }
        }
    }
}