@import "../../../../../assets/sass/abstracts/variables";

figure {
  width: 36px;
  height: 36px;
  min-width: 36px;
  border-radius: $rounded-circle;
  overflow: hidden;
  background-color: #e8ecff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: #7767cb;

  img {
    height: 18px;
    width: 18px;
    object-fit: cover;
  }

  icon {
    display: block;
    width: 100%;

    ::ng-deep i {
      line-height: 36px;
      color: #7767cb;
    }
  }
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.updated-row {
  width: 60%;
}

.full-height {
  height: 100%;
}