@import '../../../../assets/sass/abstracts/variables';

.sidepanel-assistant {
  background-color: $color-gray-10;
  width: 292px;
  position: fixed;
  right: 0px;
  top: 50px;
  height: calc(100vh - 50px);
  font-size: 13px;
  color: $color-blue;
  overflow-y: auto;
  z-index: 2;
  border-left: 1px solid $color-gray-30;

  &::-webkit-scrollbar {
    display: none;
  }

  &-header {
    span {
      color: $color-blue !important;
    }

    icon {
      color: $color-dark;
    }
  }

  a {
    color: inherit;
  }
}

.text-dark {
  color: $color-dark;
}

.text-secondary {
  color: $color-secondary;
}

.shadow {
  box-shadow: 0px 3px 5px #0000000B
}


.content-area {
  height: calc(100vh - 50px);
}

.main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: $p32;

  p {
    color: $text-secondary;
    font-size: 12px;
    line-height: 18px;
  }
}

.blue {
  color: #776DE0;
}

.light-bg {
  background: $light;
  border-radius: 21px;
}

.middle {
  margin-top: $m8;

  img {
    display: block;
    width: 100%;
  }
}
