<div class="content-area ui-content-wrapper">
  <div class="main-wrapper text-center">
    <icon size="30px" name="assistant" type="material" class="blue" cuClass="cu-icon"></icon>
    <h4>@{{ 'talentiq_assist' | i18next }}</h4>
    <p class="p-8">@{{ 'salaries_info_for_the_candidates' | i18next }}?</p>
    <a class="btn small btn-light light-bg mt-4 blue">
      <icon size="24px" name="play_circle_filled" type="material" class="icon--on-left blue" cuClass="cu-icon"></icon>
      {{ 'how_to_create_job' | i18next }} ?
      {{ 'program' | i18next }}
    </a>

    <div class="middle">
      <img src="../../../../assets/images/repeat-grid.png" alt="" width="123" height="129">
    </div>
  </div>
</div>
