<div *ngIf="(type === AlertType.INFO)" class="c-notifications info mb-24">
    <div class="notification-text-box d-flex align-items-center justify-content-between">
      <i class="type material-icons">info</i>
      <div>
        <p class="font-weight-medium"> {{ title | i18next }}</p>
        <p class="summary"> {{ message | i18next }}</p>
      </div>
    </div>
    <button *ngIf='showButton' (click)="btnClick()" class="c-btn c-btn-primary-medium">
      {{ btnTitle | i18next }}
    </button>
</div>

<div *ngIf="(type === AlertType.ERROR)" class="c-notifications error mb-24">
    <div class="notification-text-box d-flex align-items-center justify-content-between">
      <i class="type material-icons">report</i>
      <div>
        <p class="font-weight-medium"> {{ title | i18next }}</p>
        <p class="summary"> {{ message | i18next }}</p>
      </div>
    </div>
    <button *ngIf='showButton' (click)="btnClick()" class="c-btn c-btn-danger">
      {{ btnTitle | i18next }}
    </button>
</div>

<div *ngIf="(type === AlertType.WARN)" class="c-notifications warning mb-24">
    <div class="notification-text-box d-flex align-items-center justify-content-between">
      <i class="type material-icons">warning</i>
      <div>
        <p class="font-weight-medium"> {{ title | i18next }}</p>
        <p class="summary"> {{ message | i18next }}</p>
      </div>
    </div>
    <button *ngIf='showButton' (click)="btnClick()" class="c-btn c-btn-warning-medium">
      {{ btnTitle | i18next }}
    </button>
</div>

<div *ngIf="(type === AlertType.SUCCESS)" class="c-notifications success mb-24">
    <div class="notification-text-box d-flex align-items-center justify-content-between">
      <i class="type material-icons">check_circle</i>
      <div>
        <p class="font-weight-medium"> {{ title | i18next }}</p>
        <p class="summary"> {{ message | i18next }}</p>
      </div>
    </div>
    <button *ngIf='showButton' (click)="btnClick()" class="c-btn c-btn-success-medium">
      {{ btnTitle | i18next }}
    </button>
</div>