<form [formGroup]="formGroup">
  <app-program-config-control
      subtitle="Allow Multiple Approvers for Timesheet and Expense Approval Workflows"
      description="When enabled, the system will first allow for multiple users to be selected on the native “Timesheet Manager” and “Expense Manager” fields.  The multiple managers selected in both of these fields can then be used in the customer’s Timesheet and Expense workflows to send timesheets and/or expenses to multiple managers for approval."
      [type]="ControlType.TOGGLE"
      formControlName='multiple_approval_timesheet_expense'>
  </app-program-config-control>
  <app-program-config-control
      subtitle="Bulk Timesheet Approval"
      description="When enabled, the system will allow for timesheets to be approved in bulk. While this setting simply enables the feature it is important to note that the “Bulk Approval Timesheet” user role permission will then drives which users are provided the ability to approve timesheets in bulk."
      [type]="ControlType.TOGGLE"
      formControlName='bulk_timesheet_approval'>
  </app-program-config-control>
  <app-program-config-control
      subtitle="Bulk General Expense Approval"
      description="When enabled, the system will allow for General Expenses to be approved in bulk. While this setting simply enables the feature it is important to note that the “Approve Expense Bulk” user role permission will then drive which users are provided the ability to approve General Expenses in bulk."
      [type]="ControlType.TOGGLE"
      formControlName='bulk_general_expense_approval'>
  </app-program-config-control>
  <app-program-config-control
      subtitle="Bulk Misc Expense Approval"
      description="When enabled, the system will allow for Misc Expenses to be approved in bulk. While this setting simply enables the feature it is important to note that the “Approve Misc Expense Bulk” user role permission will then drive which users are provided the ability to approve Misc Expenses in bulk."
      [type]="ControlType.TOGGLE"
      formControlName='bulk_misc_expense_approval'>
  </app-program-config-control>
</form>
