@import '../../../../../assets/sass/abstracts/variables';


.schedule-selected{
  background-color: #dff8e9;
    border: 2px solid #b8ffd7;
}

.tick{
  color: #39d677;
}

.person{
  padding: 2px;
  border-radius: 20px;
  background-color: #e1ecf6;
}

.telephone{
  padding: 2px;
  border-radius: 20px;
  background-color: #f0deff;
}

.virtual{
  padding: 2px;
  border-radius: 20px;
  background-color: #e1e5ff;
}

.opacity-out{
  opacity: 0.5;
}

::ng-deep .extended-bar {
  top: 48px !important;
}

.profile-section {
  border: 1px solid $color-gray-30;

  .section-icon {
    vertical-align: middle;
  }

  .item-list {
    list-style-type: none;

    li {

      figure {

        &.bullet {
          background-color: $color-gray-20;
          width: 45px;
          height: 45px;
          justify-content: center;
        }

        &.item-img {
          border: 1px solid $border-color;
          border-radius: $border-radius;
          overflow: hidden;
          width: 104px;
          height: 63px;
          padding: $p4;
          position: relative;
          text-align: center;

          img {
            max-width: 100%;
            max-height: 100%;
            height: auto;
            width: auto;
            display: inline-block;
          }

          figcaption {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 2;
            background-color: rgba(43, 45, 66, .61);
            color: $light;
            font-size: 11px;
            padding: 0 10px;
            line-height: 22px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }

      .item-description {
        border-top: 1px solid $border-color;
        padding-right: 45%;
        width: 89%;

        &.full-width {
          padding-right: 0;
        }

        p {
          line-height: 21px;
        }

        a {

          &.read-more {
            color: $color-link;
          }
        }
      }

      &:first-child {
        .item-description {
          border-top: none;
        }
      }

      &:hover {
        .edit-item {
          opacity: 1;
        }
      }
    }
  }
}


.extend-bar {
  .user-avatar {
    width: 79px;
    height: 79px;
    border-radius: $border-radius;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  h4 {
    color: $text-black;
  }

  .social-profile {
    img {
      width: 14px;
      height: auto;
    }
  }

  .contact-info {
    overflow: hidden;
    margin-bottom: $m16;

    icon {
      float: left;
      margin-top: 5px;
      color: $text-secondary;
    }

    p {
      float: left;
      width: 80%;
    }
  }

  .btn-download {
    background-color: $color-blue;
    border-color: $color-blue;
    position: absolute;
    bottom: 46px;
    left: 32px;
    width: 240px;
    color: $light;
    font-size: 14px;
    justify-content: space-between;
  }
}

.tag {
  color: #FFC409 !important;
}


p icon {
  vertical-align: middle;
}



p icon.update-icon {
  color: #DBDBDB;
}

p span.updated {
  color: #DBDBDB;
}

.L-300 {
  margin-left: 300px;
}

.avatar {
  width: 28px;
  height: 28px;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.profiles-img {
  display: inline-flex;

  span {
    width: 20px;
    height: 20px;
    border: 1px solid $border-color;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $bg-default;
    box-shadow: 0px 3px 6px #00000019;
    position: relative;
    float: left;

    &:nth-of-type(2) {
      left: -16px;
      margin-right: -10px;
    }

    &:nth-of-type(3) {
      left: -16px;
      margin-right: -10px;
    }

    &:nth-of-type(4) {
      left: -16px;
      margin-right: -10px;
    }
  }
}

.option-icon {
  color: $color-blue;
  font-size: 19px;
}

.select-option-icon {
  color: $color-blue;
  font-size: 32px;

}

.interview-detail-sidebar {
  ::ng-deep.ng-select .ng-select-container span {
    color: $color-blue !important;
  }
}


table td {
  height: 49px;
  margin-bottom: $m8;
}

thead {
  color: $color-gray-70;
}

tr {
  border-radius: $border-radius;
  border: 1px solid $border-color;
  font-size: 12px;
}

.logo {
  background: $color-blue !important;
  padding: $p8;
  color: $light;
}

.more_circle {
  background: $light !important;
  padding: $p8;
  border: 1px solid $text-primary;
  height: 20px;
  width: 20px;
  vertical-align: middle;

  span {
    font-size: 14px;
  }

}
