@import "../../../../../../assets/sass/abstracts/variables";
.candidate-job-view-right-panel {
    .location-field {
        flex: 1;
    }
    .tooltip-enabled {
        .item-tooltip {
          position: absolute;
          bottom: 50px;
          left: 0;
          background-color: rgba(0, 0, 0, .86);
          padding: $p8;
          border-radius: $border-radius;
          width: 191px;
          opacity: 0;
          visibility: hidden;
          transition: $transition;
          transform: translateY(20px);
      
          p {
            color: $light;
            font-weight: $font-weight-regular;
          }
        }
        &:hover {
          .item-tooltip {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }
      }
    
      .detail-button {
        button {
          border: none;
          font-size: 13px;
          color: $color-blue;
          outline: none;
          cursor: pointer;
          background: none;
          text-align: center;
        }
      }
}

.panel {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 18px #00000007;

    .custom-title {
        color: #0F2E4E;
    }

    .btn-try {
        background-color: #FE5858;
        border-color: #FE5858;
        color: $light;

        &:hover {
            background-color: #e63939;
            border-color: #e63939;
        }
    }
}

.action-pending {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .action-text {
        border-left: 4px solid #FF6565;
        span {
            color: #FF6565;
        }
    }
    .arrows {
        div {
            background-color: #FAFBFC;
            border-radius: 16px;
            width: 26px;
            height: 26px;
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 8px;
            cursor: pointer;
        }
    }
}

.blue {
    color: #5E71FE !important;
}

.profile {
    float: left;
    margin-right: 20px;
    width: 80px;
    height: 80px;
    padding: 1px;
    border-radius: 100%;
    overflow: hidden;
    background-color: rgba(99, 117, 254, 0.13);
    display: flex;
    justify-content: center;
    align-items: center;
    figure {
        width: 100%;
        height: 100%;
        border-radius: $rounded-circle;
        overflow: hidden;
        background-color: rgba(99, 117, 254, 0.13);
        img {
            width: 100%;
            // overflow: auto;
            object-fit: cover;
            object-position: center;
            height: 100%;
        }
    }
    // img{
    //     width:100%;
    //     object-fit: cover;
    //     object-position: center;
    //     border-radius: 100%;
    // }
}

.initials-purple {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #5969E0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-item {
    flex: 1;
    p {
        flex: 1;
        color: #002626;
        &:nth-child(2) {
            font-weight: $font-weight-medium;
        }
    }
    figure {
        width: 21px;
        height: 21px;
        overflow: hidden;
        border-radius: $rounded-circle;
        vertical-align: middle;
        background-color: rgba(99, 117, 254, 0.13);
        font-size: 12px;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        &.initials{
            font-size: 9px;
            background-color: $color-blue;
        }
    }
}

.word-break {
    word-break: break-all !important;
}

.dp-candidate-card {
    overflow: auto;
}

.dp-candidate-card h4 {
    font-weight: 500;
    margin-bottom: 4px !important;
}

.dp-candidate-card button {
    font-size: 12px !important;
    padding: 14px 12px;
    height: 0px;
}

.dp-candidate-card .profile span {
    font-size: 24px;
    font-weight: 300;
}

.cursor-style {
    cursor: pointer;
}

.vendor-info {
    .avatar {
        width: 49px;
        height: 49px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0px 10px 12px -12px #00000057;
        border: 1px solid #00000014;
        padding: $p4;
        margin-right: 15px;
        background: $light;
        text-align: center;

        img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;  
            object-fit: contain;
        }
    }

    span {
        font-size: 13px;
        font-weight: $font-weight-medium;

        &.text-gray {
            color: #A5AEB7;
        }
    }
}

.master-talent-profile-btn {
    background-color: #DDEAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: $font-weight-medium;
    padding: 14px;
}