<div class="view-detail-page">

    <header class="section-header page-title-main p-24 d-flex align-items-center justify-content-between">
        <div class="page-title font-weight-semibold d-flex align-items-center">
            <!-- 
                <a href="javascript:void(0)">
                    <i class="material-icons back-arrow-icon mr-16">arrow_back</i>
                </a>
            -->
            <div class="ml-16">
                <h3 class="font-weight-semibold mb-0">{{ 'password_policy' | i18next}}</h3>
                <!--
                    <p class="small">
                        {{ headerDescription | i18next }}
                    </p>
                -->
            </div>
        </div>
        <div>
            <!--
                <button *authorize="'password_policies_manage'" class="c-btn c-btn-secondary-medium-left-icon" (click)="switchToEditMode()">
                    <i class="material-icons">drive_file_rename_outline</i>
                    {{'edit'|i18next}}
                </button>
             -->
        </div>
    </header>

    <section class="section-body-content">
        <div class="p-32">
            <app-self-config-log
                [showButton]="false"
                title="Information"
                message="The Password Policies listed below are READ ONLY and belong to the Client Organization which applies to client users and workers only. If you would like to know the password policies of a Vendor Organization and/or MSP, or if you would like to update the existing Client Organization password policies, please contact your SimplifyVMS Administrator."
            ></app-self-config-log>
            <app-common-view-rule-flow [details]="viewDetails">
            </app-common-view-rule-flow>
        </div>
    </section>
</div>
