@import "../../../../assets/sass/abstracts/variables";

.expense-table ::ng-deep .table-listing tbody > tr > td {
    padding: 8px 24px;
}

.expense-table ::ng-deep .listing-filter > .breadcrumb-listItem > .btn {
    background-color: $color-assets-primary;
    border-color: $color-assets-primary;
}