@import "../../../../assets/sass/abstracts/variables";

.aside-panel {
    width: 360px;
    height: calc(100vh - 50px);
    background-color: #F7FAFC;
    padding-right:24px;
  }

  .head {
    color: #3A4550;

    .initials {
      border-radius: 5px;
      width: 23px;
      height: 23px;
      display: flex;
      align-items: center;
      justify-content: center;

      &-blue {
        background-color: #85A5FF;
        color: white;
      }
    }
  }

  ul {
    list-style: none;

    li {
      margin-right: 0px;
      font-size: 13px;
      color: #3A4550;
      margin-bottom: 16px;
    }
  }