@import '../../../../assets/sass/abstracts/variables';

.add-deligate-form {
    .module-list {
        list-style-type: none;

        li {
            display: block;
            margin: $m16 $m16 0 0;

            .toggle-panel {
                

                .toggle-panel-inner {
                    background-color: transparent;
                    border: 0;
                }
            }
        }
    }

    ::ng-deep .datepicker--imgdate {
        .form-control {
            padding-left: 13px !important;
            padding-right: $p32 !important;
        }

        img {
            left: auto  !important;
            right: 8px !important;
        }
    }
}

.add-delegate-btn {
    font-size: 14px;
    min-width: 145px;
}
.text-capitalize {
    text-transform: capitalize;
}

*::ng-deep {
    .fade-background {
        div {
            div {
                input {
                    background-color: #fafbfc !important;
                }
            }
        }
    }
}
