@import '../../../../assets/sass/abstracts/variables';
.svms-body {
    height: 100vh;
    max-width: 681px;
    width: 100%;
    float: right;
    overflow: auto;
    scrollbar-width: none;
}

.profile-bar-nav {
    list-style-type: none;
    margin-right: -16px;
    li {
        margin-bottom: 8px;
        a {
            color: #D0D5FF;
            padding: 0 14px;
            display: block;
            // transition: $transition;
            sidebar-icon {
                display: inline-block;
                line-height: 54px;
                margin-right: $m16;
                vertical-align: top;
                 ::ng-deep i {
                    line-height: 46px;
                    color: $light;
                    font-size: 19px !important;
                }
            }
            span {
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 80%;
                line-height: 44px;
            }
            &:hover {
                color: $light;
            }
        }
        &.active {
            background-color: #3a5a9d;
            border-top-left-radius: 27px;
            border-bottom-left-radius: 27px;
            >a {
                background-color: $light;
                border-top-left-radius: 27px;
                border-bottom-left-radius: 27px;
                color: $color-assets-primary;
                sidebar-icon {
                     ::ng-deep i {
                        color: $color-assets-primary;
                    }
                }
            }
        }
        ul {
            padding: $p12 0;
            list-style: none;
            li {
                line-height: 30px;
                position: relative;
                padding-left: 60px;
                padding-right: 10px;
                font-weight: $font-weight-regular;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #9CB6FA;
                cursor: pointer;
                &.active {
                    color: white;
                }
                &:before {
                    position: absolute;
                    top: 11px;
                    left: 26px;
                    width: 6px;
                    height: 6px;
                    border: 2px solid #9CB6FA;
                    border-radius: $rounded-circle;
                    content: '.';
                    text-indent: -9999px;
                    overflow: hidden;
                    display: block;
                    visibility: visible;
                    z-index: 1;
                    color: #9CB6FA;
                }
                &.active {
                    &:before {
                        border-color: #05F044;
                    }
                }
            }
        }
    }
}