<vms-table
    [vmsTableConfig]="tableConfig" 
    [vmsDataSource]="vmsData?.qualification_types ?? []"
    [totalItem]="totalRecords" 
    [loading]="tableLoading"
    [itemsPerPage]="itemPerPage" 
    (columnClicked)="columnClicked($event)"
    (onViewClick)="onViewClick($event)" 
    (onDetailClick)="onDetailClick($event)" 
    (onListFilter)="onListFilter($event)" 
    (onDisableClicked)="onDisableClicked($event)" 
    (changePage)="onPaginationClick($event)" 
    (search)="onSearch($event)"
    (onCreate)="onCreateClick($event)"
    (onEditClick)="onEditClick($event)"
>
</vms-table>

<app-create-qualification-type 
    [createQualificationType]="isCreateRole"
    (onClose)="onCloseCreateRole($event)">
</app-create-qualification-type>
