@import '../../../../assets/sass/self-config/base/variables.scss';
:host *::ng-deep {

    app-svms-modal-body, .svms-modal-body {
        overflow: hidden;
        max-height: inherit;
    }

    .c-search-panel-wrapper{
        height: 53px;
            .c-search-panel {
                width: auto !important;
                top: 0 !important;
            left: -16px !important;
            right: -16px;
            }
            i {
                color: colors(primary, 6);
             }
    }

  
    .active-checked {
        color: colors(primary, 6) !important;
        font-weight: 500;
    }

    .content-panel {
        overflow: hidden;
        height: 200px;
    }

    .content-item {
        padding: 10px;
        border-radius: 4px;
        min-height: 40px;
    }

    .selected-item {
        background-color: #EDF2FE;
    }

    .blue-color {
        color: colors(primary, 6);
    }

    .item-badge {
        border: 1px solid #CFD8E1;
        border-radius: 4px;
    }

    .description {
        height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}