@import "../../../../../assets/sass/abstracts/variables";

.dnone {
  display: none !important;
}
.checkbox-box{
  border-top: none;
  border-bottom: none;
  padding: 10px 40px;
  margin: -15px -7px -6px;
  border-right:none;
  }
.checkbox-container .checkmark{
  background: transparent;
  border-radius: 32px;
  border:solid #d2d2d2 1px;
  color:red;
  display:block;
  width: 20px;
  height: 20px;
  }
  .checkbox-container .checkmark:after, .checkmark-active {
    content: "done";
    font-family: "Material Icons";
    position: absolute;
    font-size: 15px;
    top: -5px;
    left: 0px;
    width: 8px;
    height: 8px;
    font-weight: bold;
    color: #00CC5E;
  }
.checkbox-container input:checked ~ .checkmark{
  border: solid #00CC5E 2px;
  }
.checkbox-row{
  padding: 17px 0 7px;
  &.last{
      border-top: none;
    }
  }
  .disable {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .5;
  }
