.security-form {
  width: 37%;

  .form-control {
    font-size: 14px;
  }

  ::ng-deep .showhide {
    position: absolute;
    top: 50%;
    right: 15px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
    line-height: 16px;
    z-index: 7;
    cursor: pointer;

    i {
      font-size: 17px;
    }
  }

  button {
    width: 100%;
    font-size: 15px;

    &.green-color {
      background: #00CC5E;
      border-color: #00CC5E;
    }
  }

  .user-field {
      input {
          padding-right: 80px;
      }
    .create-btn {
      top: 12px;
      right: 14px;
      z-index: 3;
      cursor: pointer;

      ::ng-deep i {
        color: #447DFF;
      }

      &.editing {
        ::ng-deep i {
          color: #39D864;
        }
      }
    }

    .clear-btn {
      top: 12px;
      right: 54px;
      z-index: 3;
      cursor: pointer;

      ::ng-deep i {
        color:#FF1414;
      }
    }
  }
}

.security-right-panel {
  width: 40%;
  margin-right: 10%;
}
