:host ::ng-deep .svms-sidebar .svms-header{
  display: none;
}

:host ::ng-deep .svms-sidebar .svms-body{
  height: calc(100vh - 10px);
}

.initials {
  width: 36px;
  height: 36px;
  color: #fff;
  line-height: 36px;
  &-light {
    background-color: #e8ecff;
    color: #7f6fc1;
  }

  &-green {
    background-color: #caffb2;
    color: #59bc2e;
  }
}

.icon-wrapper{
  margin-top: 24px;
  margin-right: 20px;
}

.red-color {
  color: red;
}
.green-color{
  color: green;
}
