.notification-page-wrapper{
  background-color: #F7FAFC;
    min-height: calc(100vh - 50px);
    padding: 2em;

.card {
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px #0000001a;
  border-radius: 4px;
  margin-bottom: 2em;

  .text-danger {
    color: red;
  }
  h5 {
    font-size: 1em;
    padding: 2em 0em;
  }
  .pl_10 {
    padding-left: 1em;
    padding-right: 1em;
  }
  .w-100 {
    width: 100%;
  }
  .p_10 {
    padding: 1.5em 1em;
  }
  // search
  .position-relative {
    position: relative !important;
  }
  .position-absolute {
    position: absolute !important;
  }

  .domain-main {
    > div {
      flex: 10;
    }
    .domain-addbtn {
      flex: 1;
      background-color: #6ABA3F;
      font-size: 13px;
    }
  }

  .search_input {
    width: 100%;
    border-top: 1px solid rgb(238, 238, 238);

    .icon {
      left: 20px;
      top: 15px;
      position: absolute;
    }

    .form-control {
      border: none;
      padding-left: 50px;
      height: 46px;
    }
  }

  .table-outer-wrap {
    .table-wrapper {
      width: 100%;
      overflow: auto;
      height: calc(100vh - 322px);
      border-top: 1px solid #f0f2f4;
      table {
        min-width: 100%;

        thead {
          background-color: #fafcff;

          tr {
            th {
              font-size: 13px;
              height: 53px;
              color: #2e2f30;
              padding: 1.3em;
              white-space: nowrap;
            }
          }
        }

        tbody {
          tr {
            td {
              border-bottom: 1px solid #f0f2f4;
              font-size: 13px;
              color: #6f73de;
              white-space: nowrap;
              padding: 1.3em;

              .action-btn {
                display: inline-block;
                color: #6f73de;
                width: 28px;
                height: 24px;

                &:hover {
                  border: 1px solid #f0f2f4;
                  color: #f0f2f4;
                  border-radius: 4px;
                }
                i {
                  font-size: 20px;
                }
              }
              .more-actions {
                list-style: none;
                right: 0;
                min-width: 125px;
                box-sizing: border-box;
                box-shadow: 0px 12px 13px #00000014;
                border: 1px solid #f0f2f4;
                opacity: 0;
                visibility: hidden;
                max-height: 0;
                //  transition: $transition;
                z-index: 1;

                li {
                  a {
                    font-size: 13px;
                    width: 100%;
                    display: inline-block;
                    white-space: nowrap;
                    text-align: left;
                    &:hover {
                      background-color: #fafbfc;
                    }
                  }
                }

                &.active {
                  opacity: 1;
                  visibility: visible;
                  max-height: 500px;
                }
              }

              &:first-child {
                border-right: 1px solid transparent;
              }
            }
          }
        }
      }
    }
  }
}
}
.cur {
  cursor: pointer;
}
