
.breadcrumb {
    &-list {
      padding: 0px;
      margin: 0px;
      list-style: none;
      display: flex;
      align-items: center;
    }
  
    &-listItem {
      a {
        color: $text-default;
        text-decoration: none; 
      }
    }
  }
  