body {
  &.modal-open {
    //overflow: hidden;
  }
}

.switch-new-ui-modal {
  max-width: 630px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  background-color: $light;
  border-radius: $border-radius;
  z-index: 1000;
  transition: $transition;
  opacity: 0;
  max-height: 98%;
  visibility: hidden;
  overflow: hidden;

  .top-screen {
    background-color: rgba(237, 242, 254, .47);

    .dummy-placeholder-gray {
      background-color: #E0E9FA;
      border-radius: $border-radius;
      height: 8px;
      width: 55px;
      margin-bottom: $m4;

      &.medium {
        height: 12px;
      }

      &.big {
        height: 13px;
        width: 122px;
      }

      &.large {
        height: 26px;
        width: 28px;
      }
    }

    .dummy-placeholder-blue {
      background-color: #1C60D0;
      border-radius: $border-radius;
      height: 26px;
      width: 58px;
      margin-bottom: $m4;
    }

    .dummy-bordered {
      border: 1px solid #DFE5ED;
      border-radius: $border-radius;
      height: 21px;
      width: 72px;
    }

    table {
      thead {
        border-top: 1px solid #CFD8E1;
        border-bottom: 1px solid #CFD8E1;

        tr {
          th {
            padding-left: $p12;
            padding-right: $p12;
            &:first-child {
              border-right: 1px solid #CFD8E1;
              padding-left: $p24;
            }
          }
        }
      }

      tbody {
        tr {
          td {
            padding-left: $p12;
            padding-right: $p12;
            height: 30px;

            &:first-child {
              border-right: 1px solid #CFD8E1;
              padding-left: $p24;
            }
          }
        }
      }
    }
  }

  h3 {
    color: #1C60D0;
  }

  p {
    color: #5B6874;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
    border-radius: 2px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .4);
  }

  &.active {
    opacity: 1;
    visibility: visible;
    overflow: auto;
    transform: translate(-50%, -50%);
  }
}

.switch-new-ui-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #1F2031;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: .85;
    visibility: visible;
  }
}

.content {
  &:not(.config-active) {
    .svms-modal {
      background-color: $light;
      width: 95%;
      max-width: 500px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -20%);
      z-index: 1001;
      border-radius: $border-radius;
      opacity: 0;
      visibility: hidden;
      transition: $transition;
      overflow: hidden;
      max-height: 0;
    
      .svms-modal-header {
          padding: $p24 $p16;
    
          h4 {
              color: #0F2E4E;
          }
      }
    
      .svms-modal-body {
          padding: 0 $p16 $p24 $p16;
          max-height: calc(100vh - 250px);
          overflow: auto;
    
          .c-search-panel-wrapper{
              height: 53px;
              .c-search-panel {
                  border-top: 1px solid #EBF0F5;
                  width: auto !important;
                  top: 0;
                  left: -16px !important;
                  right: -16px;
              }
          }
      }
    
      .svms-modal-footer {
          border-top: 1px solid #E3E9F0;
          padding: $p16;
      }
    
      .close-modal {
          position: absolute;
          top: 24px;
          right: 16px;
          z-index: 10;
    
          i {
              font-size: 18px;
              color: #001A43;
          }
      }
    
      &.small {
          max-width: 400px;
      }
    
      &.medium {
          max-width: 800px;
      }
    
      &.large {
          max-width: 1000px;
      }
    
      &.x-large {
          max-width: 1500px;
      }

      &.largest {
        width: 98%;
        max-width: 98%;
      }
    
      &.active {
          visibility: visible;
          opacity: 1;
          transform: translate(-50%, -50%);
          max-height: 4000px;
      }
    }
    
    .svms-modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #1F2031;
      z-index: 1000;
      opacity: 0;
      visibility: hidden;
      transition: $transition;
    
      &.active {
          opacity: .85;
          visibility: visible;
      }
    }
  }
}

