.accordion-item {

  .accordion-trigger {
    background-color: #FAFCFF;
    padding: $p12 $p24;
    cursor: pointer;
    color: #222428;
    transition: $transition;
    margin: $m4;

    &:hover {
      background-color: #f2f7ff;
      color: #3c62af;
    }

    &.active {
      background-color: #f2f7ff;
      color: #3c62af;
      font-weight: $font-weight-medium;
    }
  }

  .accordion-content {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: $transition;
    margin-left: $m4;
    margin-right: $m4;

    .notification-type {
      .item-name {
        font-size: 13px;
        color: $color-link;
      }

      .tag {
        margin-left: $m8;
        padding: 0 $p8;
        line-height: 22px;
        font-size: 12px;
        border-radius: 11px;
        text-transform: capitalize;

        &.information, &.Information {
          background-color: #4C7FF01D;
          color: #4C7FF0;
        }

        &.action, &.Action {
          background-color: #6ABA3F21;
          color: #5DAF31;
        }

        &.reminder, &.Reminder {
          background-color: #F6AB2B2E;
          color: #E89810;
        }
      }
    }

    .toggle-panel {
      width: auto;

      .toggle-panel-inner {
        background-color: transparent;
        border: 0;
        padding: 0;
      }
    }

    &.active {
      visibility: visible;
      max-height: inherit;
      opacity: 1;
    }
  }
}
