.alert_message {
    border-radius: $border-radius;
    padding: 10px;
    font-size: 12px;
    text-align: left;

    icon {
        margin-top: 0px;
    }

    .medium-font {
        font-size: 13px;
    }

    &.alert_pending {
        border-left: 5px solid #ed8936;
        color: #ed8936;
        margin-top: -14px;
        margin-bottom: 7px;
        background: #feebc8;
    }

    &.alert_error {
        border-left: 5px solid #f72951;
        color: #fd556b;
        margin-top: -14px;
        margin-bottom: 7px;
        background: #ffc8cf;
    }

    &.info {
        background-color: #EDF2FE;

        p {
            color: #00338E;
        }

        icon {
            i {
                color: #0044C5;
            }
        }

        .alert-message-text {
            flex-grow: 1;
        }

        .close-icon {
            top: 20px;
            right: 20px;
            
            i {
                font-size: 14px;
                color: #0044C5;
            }
        }
    }
}