
.attachments-box {
    label {
        icon {
            i {
                color: #A3B0C0;
            }

            &:hover {
                i {
                    color: $color-assets-primary;
                }
            }
        }
    }
    .file-input {
        position: relative;
        cursor: pointer;

        .file-field {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 40px;
            opacity: 0;
        }

        .styled-interface {
            pointer-events: none;
            button {
                position: absolute;
                top: 0;
                right: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    .list-item {
        background-color: #F6FAFD;
        border: 1px solid  #DDEAFF;
        margin-bottom: $m8;
        padding-left: $p12;

        .download, .delete {
            padding: $p8;
            border-left: 1px solid #DDEAFF;
            background-color: #FCFCFC;
        }
    }
}