@import '../../../../assets/sass/abstracts/variables';

.level {
  color: $text-secondary;
}

.level-listing {
    list-style-type: none;
    margin-left: -24px;
    margin-right: -24px;
    border-top: 1px solid $color-gray-20;

    li {
        .listing-item {
            border-bottom: 1px solid $color-gray-20;
            background-color: $color-gray-5;
            padding-left: $p32;
            overflow: hidden;
            transition: $transition;
            cursor: pointer;

            .listing-info {
                padding-top: $p16; 
                padding-bottom: $p16;
                float: left;

                .initials {
                    margin-top: 2px;
                    margin-right: $m8;
                }

                .level-title {
                    line-height: 24px;
                    text-decoration: underline;
                }
            }

            .level-status {
                float: right;
                border-left: 1px solid $color-gray-20;
                padding-top: $p16; 
                padding-bottom: $p16;
                width: 195px;
                text-align: center;

                .checkbox-wrapper {
                    width: 22px;
                    height: 22px;
                    margin: auto;
                    margin-top: 2px;
                    margin-bottom: 3px;

                    .checkbox-container {

                        .checkmark {
                            border: none;
                            border-radius: $rounded-circle;
                            background-color: $color-gray-50;

                            &:after {
                                display: block;
                            }
                        }

                        input {
                            &:checked {

                                & ~ .checkmark {
                                    background-color: $color-green;
                                }
                            }
                        }
                    }
                }
            }

            &:hover {
                background-color: $light;
            }

            &.active {

                .sub-level-title {
                    color: $color-green;
                }
            }
        }
    }

    ul {
        list-style-type: none;

        li {
            .sub-level-title {
                line-height: 24px;
                display: block;
                position: relative;
                margin-left: $p32;
                text-decoration: underline;
    
                &:before {
                    position: absolute;
                    top: 6px;
                    left: -32px;
                    background: url(../../../../assets/images/arrow-sub-item.svg) no-repeat left top;
                    content: '.';
                    text-indent: -9999px;
                    overflow: hidden;
                    display: block;
                    visibility: visible;
                    width: 15px;
                    height: 13px;
                }
            }

            ul {

                li {

                    .listing-item {
                        padding-left: $p64;
                    }

                    ul {

                        li {
        
                            .listing-item {
                                padding-left: 96px;
                            }

                            ul {

                                li {
                
                                    .listing-item {
                                        padding-left: 128px;
                                    }

                                    ul {

                                        li {
                        
                                            .listing-item {
                                                padding-left: 160px;
                                            }

                                            ul {

                                                li {
                                
                                                    .listing-item {
                                                        padding-left: 192px;
                                                    }

                                                    ul {

                                                        li {
                                        
                                                            .listing-item {
                                                                padding-left: 224px;
                                                            }
                                                        }

                                                        ul {

                                                            li {
                                            
                                                                .listing-item {
                                                                    padding-left: 256px;
                                                                }

                                                                ul {

                                                                    li {
                                                    
                                                                        .listing-item {
                                                                            padding-left: 288px;
                                                                        }

                                                                        ul {

                                                                            li {
                                                            
                                                                                .listing-item {
                                                                                    padding-left: 320px;
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}