@import '../../../assets/sass/abstracts/variables';
.generic-list-page {
  &.doc-list {
      ::ng-deep {
          .c-listing-header {
             top: 50px;
          }

          .c-listing-table-wrapper {
              &.search-disabled {
                  margin-top: 92px;
                  padding-bottom: 46px;
              }
          }

          .c-listing-footer {

          }
      }
  }
}
::ng-deep {
  .page-container {
      &.mini-sidebar{
          .generic-list-page {
              &.doc-list{
                  .c-listing-header, .c-listing-footer {
                  left: 265px;
                  width: calc(100vw - 265px);
                }
              }
          }
      }
      .generic-list-page {
          &.doc-list{
          .c-listing-header,
            .c-listing-footer {
              left: 427px;
              width: calc(100% - 427px);
            }
      }
  }

  }

}
::ng-deep {
  .btn-secondary{
    display: none;
  }
}
.document-upload {
  .upload-zone {
    border: 1px dashed #6375FE6F;
    background-color: #FAF8FF;
    cursor: pointer;

    .drop-zone {
      width: 40px;
      height: 40px;
      border-radius: $border-radius;
      background-color: $color-assets-primary;
      float: left;

      icon {
        display: inline-block;
        line-height: 40px;
        color: $color-gray-50;

        ::ng-deep i {
          line-height: 40px;
          color: $light;
        }
      }
    }

    .drop-zone-text {
      margin-left: 55px;
    }

    p {

      a {
        color: $color-link;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    p {
        font-size: 12px;
    }
  }
}

.uploaded-list {
  list-style-type: none;

  li {
    border-top: 1px solid $color-gray-30;
    background: $color-gray-5;
    overflow: hidden;
    padding: $p16 $p24;

    figure {
      float: left;
      margin-right: $p12;
    }

    .item-description {
      float: left;
      font-size: 12px;
      font-weight: $font-weight-medium;

      icon {
        vertical-align: middle;
        color: $color-green;
      }

      p {
        font-size: 11px;
        color: $color-gray-90;
        font-weight: $font-weight-regular;

        span {
          padding: 0 $p8;
        }
      }
    }

    .delete-file{
      float: right;
      cursor: pointer;

      icon {
        color: $color-red-90;
      }
    }
    .download-file {
      float: right;
      cursor: pointer;
      icon {
        color: $color-assets-primary;
      }
    }
  }

  &.error {
    li {
      background: #CE0B252F;

      .item-description {
        icon {
          color: $color-red-90;
        }

        p {
          color: $color-red-90;
          font-weight: $font-weight-medium;
        }
      }

      .delete-file {
        icon {
          color: $color-secondary;
        }
      }
    }
  }
}
