// @import "../../../../../../assets/sass/abstracts/variables";
@import "../../../assets/sass/abstracts/variables";

.timer {
  background-color: #65d85b;
  border-radius: 17px;
  color: $light;
  padding: $p8 $p12;
}
