@import "../../../../assets/sass/abstracts/_variables"; 

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}


.domain, .bottom-legend line {
  opacity: 0.3;
}
/*
#columnId {
  overflow: scroll;
}
*/
#columnHoverId {
  position: relative;
}

#tooltip  {
    font-size: 12px;
    font-weight: bold;   
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
    pointer-events: none;
    background-color: $color-white; 
    position:absolute;
    display:block;
    border-radius: 4px;
    border: 1px solid gray;
   /* padding: 5px;*/
    margin: 5px;
    width:auto;
    opacity: 0;
} 

.tooltip-row {
  display:block;
  width:auto;
}  



.tooltip-cell {
  display:inline;
  border: 1px dotted blue;
}  

.tooltip-cell.header {
  display:table-cell;
  background-color: #55A9ee;
  border: 1px dotted blue;
}  



.columnToolTip {
  background-color: $color-white;
  padding: 10px;
}

.axisleft-text {
  margin: 0 50px;
  font-size: 8px;
  opacity: 0.5;
}

.axisbottom-text {
  text-anchor: start;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
}



.areas {
  pointer-events: all;
  cursor: pointer;
}  

svg {
  pointer-events: none;
}  
