* ::ng-deep {
    .nav-item {
        border: 1px solid #EBEEF3;
        width: fit-content;
        padding: 1em 2em;
        list-style-type: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #F9F7FF;
        color: #0F2E4E;
        border-bottom: 1px solid #F9F7FF;
        position: relative;
        top: 2px;
    }

    .active {
        color: #5E71FE;
    }
}