@import '../../../../../../assets/sass/self-config/base/variables.scss';

.view-accuracy-configuration{
    .accuracy-info-box{
        background-color: colors(primary, 1);

        p{
            color: colors(primary, 6);
        }
        i{
            color: colors(primary, 6);
            font-size: 20px;
        }
        .info-icon{
            margin-top: 2px;
        }
      }
}