<div class="confirmation-dialog position-fixed bg-light rounded-sm pt-32 overflow-hidden active">
  <div class="success-modal-body text-center pb-32">

    <h4 class="mt-8 pl-16 pr-16" *ngIf="reasonCodes && reasonCodes.length > 0">
      {{message}}
    </h4>
    <br />
    <div class="pl-16 pr-16 ">
      <div class="form-group d-flex align-items-center row">
        <label class="col-3">{{ 'reason' | i18next }}<span class="required">*</span></label>
        <ng-select class="col-8" placeholder="{{ 'select' | i18next }}" [(ngModel)]="resp.rollback_reason">
          <ng-option [value]=""></ng-option>
          <ng-option *ngFor="let reason of reasonCodes" [value]="reason.name"> {{ reason.name }}</ng-option>
        </ng-select>
      </div>

      <div class="form-group d-flex align-items-center row">
        <label class="col-3">
          {{ 'notes' | i18next }}<span class="required">*</span>
        </label>
        <span class="col-8"><textarea class="form-control" placeholder="{{ 'notes' | i18next }}"
            [(ngModel)]="resp.rollback_notes"></textarea>
        </span>
      </div>

    </div>
  </div>
  <div class="modal-footer text-center d-flex justify-content-center">
    <button class="btn btn-light large" (click)="decline()">{{ 'cancel' | i18next }}</button>
    <button class="btn  btn-primary large" (click)="accept()">{{ 'submit' | i18next }}</button>
    <div class="clearfix"></div>
  </div>
</div>
<div class="dialog-backdrop position-fixed active"></div>