@import '../../../../assets/sass/abstracts/variables';

.confirmation-dialog {
  width: 578px;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  z-index: 1003;
  transition: $transition;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 11px 16px #0000000F;

  .success-modal-body {
    .success-icon {
      display: inline-block;

      ::ng-deep i {
        color: $color-warning;
      }
    }

    h3 {
      line-height: 32px;
      max-width: 80%;
      margin: auto;
      color: $color-dark;
      word-break: break-word;
    }
  }

  .modal-footer {
    .btn {
      width: 50%;
      border-radius: 0;
    }

    .user-avatar {
      background: $initials-purple;
      color: $light;
      line-height: 40px;
      width: 40px;
      font-size: 16px;
    }

    .user-info {
      color: $color-body-txt-default;

      p {
        line-height: 16px;
      }

      .user-status {
        line-height: 21px;
        font-size: 12px;

        span {
          width: 7px;
          height: 7px;
        }

        &.inactive {
          background: $color-gray-30;
          color: $color-gray-70;

          span {
            background: $color-gray-70;
          }
        }
      }
    }
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.dialog-backdrop {
  background: #1F2031;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1002;
  opacity: 0;
  visibility: hidden;
  transition: $transition;

  &.active {
    opacity: .85;
    visibility: visible;
  }
}
.required {
  color: red;
}