@import '../../../../../assets/sass/abstracts/variables';

.email-designer-panel {
  .design-editor {
    background-image: radial-gradient(#DDEAFF 8%, transparent 8%), radial-gradient(#DDEAFF 8%, transparent 8%);
    background-color: #F8FAFF;
    background-position: 0 0, 40px 0;
    background-size: 40px 30px;
    height: calc(100vh - 48px);
    display: flex;
    justify-content: space-between;
    gap: 0;

    >div {
      flex: 1;
    }

    .editor-preview {
      background-color: $light;
      box-shadow: 0px 0px 22px #00000010;
      border-radius: 6px;
      max-width: 650px;
      margin: 0 auto 50px;
      border-radius: 6px;
      margin-bottom: 10px;
      width: 100%;
      padding: $p12;

      table {
        table-layout: fixed;

        tr {
          padding: $p12;
          display: flex;
          justify-content: space-between;
          gap: 12px;
          position: relative;

          td {
            flex: 1;
            position: relative;
            height: auto;
            min-height: 60px;
          }
          &.row-dot-border {
            border: 1px dashed #0016ffbf;
          }
        }
      }
    }

    .toolbar-area {
      max-width: 525px;
      background-color: $light;
      box-shadow:  1px 11px #00000007;
      border-left: 1px solid #E8F0F7;
    }
  }

  .inline-toolbar {
    position: absolute;
    background-color: #FAFCFF;
    border: 1px solid #E8F0F7;
    padding: $p4;
    top: -33px;
    right: -7px;
    z-index: 10;

    icon {
      cursor: pointer;

      ::ng-deep i {
        color: $color-gray-45;
        transition: $transition;
        opacity: .7;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .editor-tab {
    max-width: 650px;
    margin: 50px auto 0;
    
    ul {
      list-style-type: none;
      margin-left: $m24;

      li {
        display: inline-block;
        margin-right: $m12;

        a {
          padding: 0 $p16;
          line-height: 40px;
          display: block;
          border-top-left-radius: $border-radius;
          border-top-right-radius: $border-radius;
          transition: $transition;

          &:hover {
            color: $color-assets-primary;
          }

          &.active {
            color: $color-assets-primary;
            background-color: $light;
          }
        }
      }
    }
  }
}
