
@import '../../../../assets/sass/abstracts/variables';

.summary-table {
   thead {
       tr {
           background-color: $color-gray-1;
           th {
               text-align: left;
               font-weight: $font-weight-medium;
               color: $color-black;
           }
       }
   } 

   tbody {
       tr {
           border-bottom: 1px solid $color-gray-1;

           &.disabled {
               background-color: #F9F9F9;

               td {
                   color: #b2b6bd;
               }
           }

           td {
            &.green {
                color: #5DAD60;
            }

            &.red {
                color: #D7373F;
            }

            &.strike {
                text-decoration: line-through;
            }
        }
       }
   }
}

.other-detail {
    tr {
        border-bottom: 1px solid $color-gray-1;

        &:first-child {
            border-top: 1px solid $color-gray-1;
        }
        td {
            font-weight: $font-weight-medium;
            &:nth-child(2) {
                width: 40%;
                font-weight: $font-weight-regular;
                background-color: $color-gray-1;
            }
        }
    }
}