@import '../../../../assets/sass/abstracts/variables';

.display-none {
  display: none !important;
}

.selected-field-icon {
  top: 4px;
  left: 12px;
}

.tooltip-icon {
  font-size: 16px;
  color: colors(gray, 5);
}

.field-btn {
  top: 4px;
  right: 12px;
}

.field-type-input {
  padding-left: 60px;
  color: #536476;
}

.toggle {
  display: flex;
  align-items: center;

  .toggle-panel {
    width: 50%;
    padding-bottom: 16px;
  }

  .toggle-panel-inner {
    background-color: transparent;
    border-color: transparent;
    justify-content: flex-start;
    padding-left: 0px;
  }
}

.disable {
  color: #DCDAD1;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.8;
}

.chip-holder {
  width: 100%;
  min-height: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4px;
}

.custom-chip {
  min-height: 16px;
  min-width: 32px;
  background-color: #E8ECFF;
  border-radius: 4px;
  margin-left: 4px;
  margin-bottom: 4px;
  div {
    padding: 4px;
  }
  .close {
    cursor:pointer;
  }
}

.flag {
  cursor: pointer;
  position: relative;
  top: 2px;
}

.hierarchy-tree {

    ::ng-deep .dropdown {
      position: relative;

      &.show {
        .dropdown-toggle::after {
          content: 'expand_less';
        }
      }

      .dropdown-toggle {

        &:active::after,
        &:focus::after,
        &:hover::after {
          color: #707070;
        }

        &::after {
          content: 'expand_more';
          font-family: Material Icons;
          font-weight: 400;
          font-style: normal;
          font-size: 21px;
          color: $color-assets-primary;
          margin-top: 0;
          right: 5px;
        }
      }

      .dropdown-menu {
        border: 1px solid $color-border-secondary;
        border-radius: 4px;
        margin-top: 8px;
        padding-top: 8px;
        display: none;

        &.show {
          display: block;
        }

        .row-item {
          display: flex;

          i {
            position: relative;
            display: flex;
            align-items: center;
          }
        }

        .form-check {
          display: flex;
          align-items: center;
          padding-left: 18px;
          margin-bottom: 8px;

          .form-check-label {
            margin-bottom: 0;
            margin-left: 4px;
          }
        }

        .dropdown-divider {
          height: 0;
          margin: 0.5rem 0;
          overflow: hidden;
          border-top: 1px solid $color-border-secondary;
        }
      }

      .treeview-header {
        .form-check {
          padding: 0;
          margin-bottom: 0;
        }

        .col-12 {
          display: flex;
          justify-content: space-between;

          .form-check-label {
            margin-bottom: 0;
          }
        }
      }
    }
}

.close {
  padding: 5px 0 0 5px;
}

.chip-bg{
  background-color: #F2F3FF;
  border-radius: 4px;
}

ngx-dropdown-treeview ::ng-deep {
  div {
    button ::ng-deep {
      font-size: 14px;
      background-color: white;
      border: 1px solid #EBEEF3;
      text-align: left;
      color: #707070;

      &:after {
        font-size: 14px;
        background-color: white;
        border: 1px solid #EBEEF3;
        text-align: left;
        color: #707070;
      }

      &:hover, &:focus {
        color: #f4f4f4;
        background-color: #f4f4f4;
      }

    }
  }
}

.warn-text {
  color: $color-warning;
}

icon {
  cursor: pointer;
}