@import '../../assets/sass/abstracts/variables';

.main-dash-bg{
  .dashboard-bg {
    background-color: $color-gray-0;
    min-height: calc(100vh - 51px);
  }
}

.outlook-configure{
  ~.main-dash-bg{
    .dashboard-bg {
      background-color: $color-gray-0;
      min-height: calc(100vh - 94px);
    }
  }
}
.warning-message {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E8F0F7;
  border-radius: 4px;
  opacity: 1;
  padding: 13px;
}
.no-program-bg {
  min-height: calc(100vh - 51px);
  position: relative;

  .has-no-program {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}


.alert-primary {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: relative;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
}
.outlook-block{
  a{
    cursor: pointer;
  }
}

