@import '../../../../../../../assets/sass/self-config/base/variables.scss';

:host {
    width: 100%;

    .toggle-panel {
        border: 1px solid colors(gray, 3);
    }
    
    .toggle-title {
        color: colors(primary, 8);
    }
}
