<div class="toggle-panel w-100 d-flex justify-content-between rounded-sm">
    <div class="p-24">
        <p class="toggle-title font-weight-medium"> {{ name || '--' | i18next }} </p>
        <p *ngIf="description"> {{ description | i18next }} </p>
    </div>
    <div class="py-24 px-32 d-flex just-fy-content-center align-items-center">
        <toggle-button
            class="c-toggle-button-switch"
            [checked]="value"
            (changed)="toggleValue()"
        ></toggle-button>
    </div>
</div>
