@import '../../../assets/sass/abstracts/variables';

.avatar {
    width: 43px;
    height: 43px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .initials {
        width: 43px;
        height: 43px;
        font-size: 18px;
    }
}

.tabular-list {
    border-top: 1px solid $color-gray-20;

    ::ng-deep  vms-table {
        vms-header, vms-paginator, .total-result {
            display: none;
        }

        .content-area-inner {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .table-bg {
            min-height: calc(100vh - 240px) !important
        }
    }
}

.tab-list {

    li {

        a {
            background-color: $color-gray-10;
            border: 1px solid $color-gray-50;
            line-height: 24px;
            padding: $p8 $p12; 
            border-radius: $border-radius;
            font-weight: $font-weight-medium;

            span {
                margin-left: $m16;
                background-color: $color-primary;
                color: $light;
                padding: 0 $p4;
                min-width: 41px;
                text-align: center;
                display: inline-block;
                border-radius: 12px;
            }

            &.active {
                background-color: $color-blue;
                color: $light;
                border-color: $color-blue;

                span {
                    background-color: $light;
                    color: $color-blue;
                }
            }
        }
    }
}