@import '../../../../assets/sass/abstracts/variables';

.alert-background {
  height: auto;
  width: 320px;
  position: fixed;
  box-shadow: 0px 7px 13px #00000029;
  font-size: 14px;
}

.alert {
  padding: $p24;
  position: fixed;
  width: 100%;
  max-width: 429px;
  bottom: 79px;
  left: 220px;
  z-index: 99999;
  border-radius: $border-radius;
  box-shadow: 0px 7px 13px #0000001D;

  h3 {
    color: $light;
  }

  p {
    line-height: 18px;
    margin: 0;
    font-weight: normal;
  }

  .cursor-pointer {
    top: 14px;
    right: 14px;
    cursor: pointer;
    pointer-events: all;
  }
}

//alert-info
.alert-info {
  background: #483FAC;

  ::ng-deep i {
    color: #fff;
  }

  a {
    color: #fff;
    border-bottom: 1px solid;
    cursor: pointer;
  }

  p {
    color: #fff;
  }

  &.light {
    background: $light;

    ::ng-deep i {
      color: #483FAC;
    }

    h3 {
      color: #483FAC;
    }

    p {
      color: $color-gray-90;
    }

    span {
      ::ng-deep i {
        color: $color-gray-70;
      }
    }
  }
}

.alert-warning {
  background: #E5C049;

  ::ng-deep i {
    color: #fff;
  }

  a {
    color: #fff;
    border-bottom: 1px solid;
    cursor: pointer;
  }

  p {
    color: #fff;
  }

  &.light {
    background: $light;

    ::ng-deep i {
      color: #FFC409;
    }

    h3 {
      color: #E5C049;
    }

    p {
      color: $color-gray-90;
    }

    span {
      ::ng-deep i {
        color: $color-gray-70;
      }
    }
  }
}

.alert-error {
  background: $color-red-80;

  ::ng-deep i {
    color: #fff;
  }

  a {
    color: #fff;
    border-bottom: 1px solid;
    cursor: pointer;
  }

  p {
    color: #fff;
  }

  &.light {
    background: $light;

    ::ng-deep i {
      color: $color-red-80;
    }

    h3 {
      color: $color-red-80;
    }

    p {
      color: $color-gray-90;
    }

    span {
      ::ng-deep i {
        color: $color-gray-70;
      }
    }
  }
}

.alert-success {
  background: $color-success;

  ::ng-deep i {
    color: $light;
  }

  a {
    color: $light;
    border-bottom: 1px solid;
    cursor: pointer;
  }

  p {
    color: $light;
  }

  &.light {
    background: $light;

    ::ng-deep i {
      color: $color-success;
    }

    h3 {
      color: $color-success;
    }

    p {
      color: $color-gray-90;
    }

    span {
      ::ng-deep i {
        color: $color-gray-70;
      }
    }
  }
}

.alert-left-top {
  top: 60px;
  left: 220px;
  right: auto;
  bottom: auto;
}

.alert-left-bottom {
  bottom: 79px;
  left: 220px;
  top: auto;
  right: auto;
}

.alert-right-top {
  top: 60px;
  left: auto;
  right: 20px;
  bottom: auto;
}

.alert-right-bottom {
  top: auto;
  left: auto;
  right: 20px;
  bottom: 79px;
}

.alert-center-top {
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  right: auto;
  bottom: auto;
  margin-left: 100px;
}

.alert-center-bottom {
  top: auto;
  left: 50%;
  transform: translateX(-50%);
  right: auto;
  bottom: 79px;
  margin-left: 100px;
}
