<div class="account-form-wrapper">
  <div class="top-left-corner"></div>
  <div class="top-right-corner"></div>
  <div class="bottom-left-corner"></div>
  <div class="bottom-right-corner"></div>
  <div class="form-wrapper">
    <div class="logo text-center pt-8">@</div>
    <h2 class="text-center">{{ 'set_account_password' | i18nextEager }}</h2>
    <p class="text-center">{{ 'account_using_the_form_below' | i18nextEager }}
      {{ 'create_a_strong_password_for_your_simplify' | i18nextEager }}
    
    </p>
    <div class="progress-bar">
      <ul class="pb-12">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <div class="form-group mb-0">
      <label>{{ 'enter_your_password' | i18nextEager }} <span class="require">*</span></label>
      <input type="password" class="form-control medium no-radius" [ngClass]="{'error': isPasswordError}"
        [(ngModel)]="password" placeholder="{{ 'enter_your_password' | i18nextEager }}"
        appPasswordToggle>
    </div>
    <div class="output-checker mb-24">
      <vms-password-strength [passwordToCheck]="password">
      </vms-password-strength>
    </div>
    <div class="validation-alert p-8 alert-error overflow-hidden d-flex mb-16"
      *ngIf="isPasswordError || isRePasswordError">
      <icon name="error_outline" size="24px" type="material" class="d-flex mr-16 justify-content-align-center"></icon>
      <p class="small" *ngIf="errorMessage">
        {{errorMessage}}
      </p>
    </div>

    <div class="form-group mb-8">
      <label>{{ 'confirm_your_password' | i18nextEager }} <span class="require">*</span></label>
      <input type="password" class="form-control medium" [ngClass]="{'error': isRePasswordError}"
        [(ngModel)]="rePassword" (ngModelChange)="checkPassword(rePassword)" placeholder="{{ 'confirm_your_password' | i18nextEager }}" appPsswordToggle>
    </div>
    <div class="row">
      <div class="col">
        <button [disabled]="invalidPassword" class="account-btn btn btn-secondary float-right" (click)="basicDetail()">{{ 'save' | i18nextEager }} &amp; {{ 'continue' | i18nextEager }}
          <icon class="icon--on-right d-flex" cuClass="intro-btn" name="keyboard_backspace" size="24px" type="material">
          </icon>
        </button>
      </div>
    </div>
  </div>
</div>
