@import '../../../assets/sass/abstracts/variables';


.chip-overlay {
    position: relative;
    margin-right: -8px;
}

.logo-pic{
    width: 127px;
    height: auto;
    align-self: center;
}

.view{
    font-size: 11px;
    color: $color-link;
}


.expanded-chips {
  background-color: $color-gray-10;
  padding: $p8 $p12;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius;

  .profiles-img {
    display: inline-block;

    span {
      width: 30px;
      height: 30px;
      border: 1px solid $border-color;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background-color: $bg-default;
      box-shadow: 0px 3px 6px #00000019;
      position: relative;
      float: left;

      &:nth-of-type(2) {
        left: -13px;
        margin-right: -13px;
      }

      &:nth-of-type(3) {
        left: -13px;
        margin-right: -13px;
      }
    }
  }

  .chip-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-overflow: ellipsis;

    .name {
      color: $color-body-txt-secondary;
      font-weight: $font-weight-regular;
      font-size:12px;
    }

    .designation {
      color: $color-gray-70;
      font-weight: 400;
      font-size:11px;
    }
  }
}
  