<div *ngIf="resumeURL">
  <ngx-doc-viewer
  [url]="resumeURL"
  viewer="google"
  googleCheckContentLoaded = true
  style="height:100vh;"
  googleCheckInterval = 3000
></ngx-doc-viewer>
</div>
<div *ngIf="isLoading" class="d-flex justify-content-center loader-height align-items-center p-24 img_height">
  <div class="dotloader"></div>
</div>
<div class="d-flex justify-content-center align-items-center p-24 height-vh p-m-0 height-auto-m">
  <div *ngIf="!resumeURL" class="no-data text-align-center text-center">
    <icon name="article" color="#4267b2" size="60px" type="material" theme="outlined" class="mr-8"></icon>
    <h5 class="pt-4 mb-0">{{ 'no_resume_added_yet' | i18next }}</h5>
  </div>
</div>

