@import '../../../../assets/sass/abstracts/variables';

.help-bar-wrapper {
    position: relative;
    padding-bottom: 200px;
}
.help-bar {
    text-align: center;
    padding: $p32 0 0;
    position: absolute;
    bottom: 0px;
    left: 32px;
    right: 32px;

    p {
        color: $light;

        &.grey-color {
            line-height: 17px;
            color: rgba(255, 255, 255, .58);
        }
    }

    .icon-wrapper {
        width: 42px;
        height: 42px;
        margin: auto;
        background-color: rgba(255, 255, 255, .15);
        border-radius: $rounded-circle;
    }
}