@import '../../../../../assets/sass/abstracts/variables';
//pagination styles
[hidden] {
  display: none !important;
}

.pagination-border {
  border-top: 1px solid #E8E9EC;

  .record-dropdown {
    &.ng-select {
      &.ng-select-single {
        ::ng-deep .ng-select-container {
          height: 32px;
          min-height: 32px;
          background-color: #F9F7FF;
        }
      }
    }
  }
}

.pagination {
  display: inline-block;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}


.pagination a {
  float: left;
  text-decoration: none;
  border: 1px solid #E8E9EC;
  border-radius: 4px;
  margin: 0 4px;
  color:#002626;
  cursor:pointer;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 5px 11px;
}

.background-gray {
  background: #e6e6e68a !important;
}

.pagination a.active {
  background-color: $color-assets-primary;
  color: $light;
}

.pagination a:hover:not(.active) {
  color: $color-assets-primary;
}

.drop_div {
  position: absolute;
  background: $light;
  bottom: 40px;
  width: 197px;
  left: 0px;
  z-index: 999;
  text-align: center;
  max-height: 115px;
  min-height: 30px;
  overflow-y: auto;
  box-shadow: 0px 3px 6px #0000000F;
  transition: 0.5s;
  border: 1px solid $color-border-secondary;
  transform: translateX(-50%);
  padding: $p8;

  input {
    width: 65px;
    height: 32px;
  }

  button {
    font-size: 12px;
  }

  li {
    list-style-type: none;
    padding: 4px;
    border: 1px solid transparent;

    &:hover {
      background-color: #3C3B40;
      color: #FFFDFD;
      cursor: pointer;
      border: 1px solid #E8E9EC;
      border-radius: 4px;
    }
  }
  .error{
    font-size: 12px;
    color: red;
    margin-top: 4px;
  }

}

#scrollbar::-webkit-scrollbar {
  width: 0px;
}

#scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#scrollbar::-webkit-scrollbar-thumb {
  outline: 0px;
}
