@import '../../../../../assets/sass/self-config/base/variables.scss';

.program-header {
    border-bottom: 1px solid colors(gray, 2);

    h2 {
        color: #1E69E6;
    }
}

.relative-icon {
    position: relative;
    top: 4px;
}

.program-body-content {
    .prog-detail {
        background-color: $surfacing-in-white;
        width: 30%;
        border-right: 1px solid colors(gray, 2);
        height: calc(100vh - 147px);
        overflow-y: scroll;

        h4 {
            color: #0F2E4E;
        }

        .program-status {
            background-color: #0ED26B;
            border-radius: $border-radius;
            position: relative;
            padding: 0 8px 0 20px;
            line-height: 22px;
            display: inline-block;
            color: $white;
            position: relative;

            &:before {
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translateY(-50%);
                background-color: $white;
                width: 8px;
                height: 8px;
                border-radius: $rounded-circle;
                display: block;
                visibility: visible;
                overflow: hidden;
                content: '.';
                text-indent: -9999px;
            }

            &.inactive {
                background-color: colors(gray, 4);
            }

            i {
                vertical-align: middle;
                font-size: 16px;
            }
        }

        .edit-status {
            .program-status {
                cursor: pointer;
            }
            
            .c-action-dropdown {
                top: 26px;
                left: 0;

                ul {
                    li {
                        &.active {
                            pointer-events: none;
                            background-color: $surfacing-in-white;
                        }
                    }
                }
            }
        }

        p {
            &.dark {
                color: colors(primary, 9);
            }
        }

        ul {
          &.list {
            li {
              display: inline-block;
              background-color: colors(primary, 1);
              color: colors(primary, 9);
              line-height: 32px;
              padding: 0 $p8;
              border-radius: $border-radius;
              margin: $m8 $m12 0 0;
            }
          }
        }

        &.edit-mode {
            background-color: $white;
        }
    }

    .program-content-area {
        width: 70%;
        ::ng-deep {
            .page-title {
                display: none;
            }

            .row {
                .col-5 {
                    display: none;
                }

                .col-7 {
                   max-width: 100%;
                   flex: 1;
                   padding: 0 !important;

                   .panel {
                    box-shadow: inherit;
                    border: 0;
                   }

                   .detail-tab {
                     .tab-panel {
                       padding-top: 24px !important;
                     }
                   }
                }
            }

            .rate-model {
                align-items: center;
                label {
                    margin-bottom: 0;
                }
                .radio {
                    align-items: center;

                    .bottom-4 {
                        margin-bottom: 0 !important;
                        bottom: 0 !important;
                    }

                    label {
                        margin-bottom: 0;
                    }
                }
            }
            .tab-panel{
              padding-left: 0px !important;
              padding-right: 0px !important;
            }

            .tab-menu {
                height: 54px !important;
          
                ul {
          
                  li {
                    a {
                      background-color: transparent !important;
                      border-bottom-width:2px !important;
                    }
                  }
                }
            }
        }
    }
}

:host ::ng-deep {
    .col-4 {
      -ms-flex: 0 0 100% !important;
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }

    svms-datepicker {
        min-width: 75% !important;
        + input[type='text'] {
            max-width: 25% !important;
        }
    }
  }