@import '../../../../assets/sass/abstracts/variables';

.social-media {
  .add-new {
    a {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .add-remove {
    flex-basis: 10%;
    margin-top: $m8;
  }
}

.phone-format {
  width: 100px;
}
