@import '../../../../../assets/sass/abstracts/variables';

.permissons-form {
  margin-bottom: 5%;

  .checkbox-box {
    display: flex;
    justify-content: center;
    margin-left: 8px;
    align-items: center;
  }

  .checkbox-container .checkmark {
    border-radius: 50%;
    border-color: #ccc;

  }

  .checkbox-container input:checked~.checkmark {
    background: #2DD36F;
  }

  .checkbox-container .checkmark:after {
    content: "done";
    font-family: "Material Icons";
    position: absolute;
    display: block;
    font-size: 15px;
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    color: $color-gray-50;
  }

  .checkbox-container input:checked~.checkmark:after {
    color: $light;
  }

  .checkbox-h {
    height: 50px;
  }
}

.tab-panel {
  padding: 0px;
}
