@import "../../../../../assets/sass/abstracts/variables";
.on-boarding-listing {
    ::ng-deep {
        .table-bg {
            padding: 0px !important;
            .title {
                padding-left: 24px !important;
            }
        }
    }
    
    .table-bg-inner {
        box-shadow: 0px 0px 60px #00000000 !important;
    }
}
