@import '../../../../../assets/sass/abstracts/variables';

.submitted-candidate-listing {
  ::ng-deep {
    .table-bg {
      padding: 0px !important;

      .table-bg-inner {
        box-shadow: 0px 0px 0px #00000000 !important;

        .title {
          padding-left: 0px !important;
        }

        .p-24 {
          padding-left: 0px !important;
          padding-right: 0px !important;
          padding-top: 8px !important;
        }

        .px-24 {
          padding-left: 0px !important;
          padding-right: 0px !important;
        }
      }
    }

    .if-submitted-candidate {
      .create-candidate {
        margin-left: 16px;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: .1s;

        &:hover {
          border-color: $color-assets-primary;

          table-icon {
            i {
              color: $color-assets-primary;
            }
          }
        }
      }
    }


  }
  ::ng-deep {
    .table-listing {
      tbody {
        tr {
          vms-row {
            &:first-child {
              td {
                max-width: 400px;
              }
            }
          }
        }
      }
    }
  }
  // ::ng-deep .filter-panel {
  //     .filter-content {
  //         overflow: inherit !important;
  //     }
  // }
  
  .overflow-box{
    .potential-duplicate{
      i{
        font-size: 18px;
        color: #CF6625;
      }
      a{
        font-size: 12px;
        color: #CF6625;
        text-decoration: underline;
        
        .count{
          border-radius: 5px;
          background-color: #CF6625;
          color: #ffffff;
          text-align: center;
          padding: 4px;
          min-width: 22px;
        }
      }
    }
  }
}

.detail-page-wrapper {
  &.withdrawal-table {
    min-height: auto;
    .withdwrwal-box {
      border-top: 15px solid #f1f1f1;
    }
  }
}

:host ::ng-deep td:first-child {
  overflow: visible !important;
}

:host ::ng-deep td:first-child p {
  display: flex;
  display: -webkit-flex;
  position: relative;
  overflow: visible !important;
}

::ng-deep .custom-tooltip {
  position: relative;
  right: -30px;

  img {
    opacity: 0.8;
    width: 25px;
    margin-right: 3px;
  }

  i {
    margin-right: 3px;
    color:red;
  }
}

::ng-deep .custom-tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  white-space: normal;
  padding: 8px 10px;
  background-color: #536476;
  color: #fff;
  line-height: 18px;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  z-index: 99;
  bottom: 100%;
  left: 50%;
  margin-bottom: 20px;
  transform: translateX(-50%);
}



::ng-deep .custom-tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #536476 transparent transparent transparent;
}

::ng-deep .custom-tooltip:hover .tooltiptext {
  visibility: visible;
}

.submitted-candidate-page-wrapper {
  ::ng-deep {
    .detail-page-wrapper {
      min-height: inherit;

      .table-outer {
        min-height: inherit;
      }
    }
  }
}