@import "../../../../../assets/sass/abstracts/variables";

.ot-factor-popover {
  position: absolute;
  min-width: 280px;
  top: 20px;
  right: 0;
  background-color: $light;
  border-radius: $border-radius;
  z-index: 8;
  border: 2px solid $color-border-secondary;

  .factor-top {
    gap: 12px;
  }

  p {
    white-space: nowrap;
    font-weight: $font-weight-medium;
  }

  .factor-value {
    border-radius: $border-radius;
    overflow: hidden;
    display: flex;

    input {
      background-color: transparent;
      border: 0;
      border-right: 1px solid $color-border-secondary;
      padding: $p12;
      width: 80px;
      outline: 0;
    }

    p {
      line-height: 44px;
      padding: 0 $p12;
      text-align: center;
    }
  }
}
