<div class="self-config-wrapper" appOnscroll [ngClass]="{'sidebar-menu-active' : showSidebarMenu}">
    <a href="javascript:void(0)" class="sidebar-menu-toggle" (click)="toggleSidebarMenu()">
        <i class="material-icons" *ngIf="showSidebarMenu">menu_open</i>
        <i class="material-icons" *ngIf="!showSidebarMenu">menu</i>
    </a>
    <div class="nav-bar">
        <app-self-config-sidebar></app-self-config-sidebar>
    </div>
        <div class="c-content mr-24">
            <app-self-config-header></app-self-config-header>
            <div class="c-page-content">
                <router-outlet></router-outlet>
            </div>
        </div>
</div>