@import '../../../../assets/sass/abstracts/variables';


.on-boarding-listing {
  ::ng-deep {
    .table-bg {
      padding: 0px !important;

      .title {
        padding-left: 24px !important;
      }
    }
  }

  .table-bg-inner {
    box-shadow: 0px 0px 60px #00000000 !important;
  }
}

.onboarding-grid td, .onboarding-grid th{
  white-space: nowrap;
}

.onboarding-grid tr{
  border-bottom: 1px solid #f4f4f4;
  &:last-child{
    border-bottom: none;
  }
}

.onboarding-grid {
    border: 1px solid #F4F4F4;
    display: flex;
    align-items: center;
  .status-ui {
      padding:0 4px 0 9px;
      display: inline-flex;
      align-items: center;
      // cursor:pointer;
    &:before {
      display: none;
    }
  }

}
.onboarding-grid .clickable{
  cursor: pointer;
  color: $color-link;
}

.onboarding-grid .not-clickable{
  color: $color-link;
  pointer-events: none;
}

.inactive-grid{
    background-color: #F5FEFF;
    .status-ui{
        opacity:.4;
    }
}

.action-list {
    list-style-type: none;
    width: 134px;
    top: 27px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: $transition;
    max-height: 0;
    z-index: 1;
    box-shadow: 0px 12px 13px #00000014;

    li {

      a {
        line-height: 24px;
        font-weight: $font-weight-medium;
        display: block;
        transition: $transition;
        cursor: pointer;

        icon {
          ::ng-deep i {
            vertical-align: middle;
          }
        }

        &:hover {
          background-color: $color-gray-5;
        }
      }
    }

    &.active {
      opacity: 1;
      visibility: visible;
      max-height: 400px;
    }
  }

  .validation-msg{
    font-size: 14px;
  }