@import '../../../../assets/sass/abstracts/variables';

.h-100 {
  height: 100%;
}
.evaluated-field {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

// ::ng-deep .svms-header {
//   background: $color-green !important;
//   padding: 24px !important;
// }

::ng-deep .curser-pointer{
  cursor: pointer;
}

::ng-deep .active-star {
  color: red;
}
