@import '../../../assets/sass/abstracts/variables';

.back-button {
  position: relative;
  left: 0;
  top: 0;
}

.accuracy-wrapper {
  background-color: $bg-default;
  position: relative;

  &-inner {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .message-banner {
    background-color: $color-gray-50;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    color: #5b6874;
  }
}

.block-container {
  border: 1px solid $navigation-border;
  border-radius: 8px;
  padding: 16px 8px;
  margin: 0;
}

.page-title {
  margin: auto 0px !important;
}

.row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.design {
  width: 130px !important;
  height: 35px !important;
}

.text-custom-grey {
  color: #5b6874;
  margin-top: 13px;
}

.divider {
  border-top: 1px solid $navigation-border;
  margin-top: 14px !important;
}

.icon_height {
  height: 18px;
}

.valid,
.invalid {
  color: $color-white;
  padding: 2px;
  border-radius: 50%;
}

.valid {
  background: $success-color;
}

.invalid {
  background: $error-color;
}

.try-modal-link {
  color: $color-assets-primary;
}

.try-modal-link:hover {
  text-decoration: underline;
}