@import '../../../../assets/sass/abstracts/variables';

.special-access {
    table {
        td {
            padding: $p8;
            white-space: nowrap;
            .m-width {
                min-width: 80px;
            }
        }
    }
}