<div>
  <header class="section-header d-flex align-items-center p-24">
      <h3 class="font-weight-semibold mb-0">{{ 'upload_utility' | i18next }}</h3>
  </header>
  <section class="section-body-content p-24 text-center">
      <div class="white-box pb-24">
          <h3 class="font-weight-semibold my-24">{{ 'upload_utility_title' | i18next }} </h3>
          <button class="c-btn c-btn-primary-medium" (click)="navigateToSimplifyBridge()">{{ 'upload_utility' | i18next }}</button>
          <p class="mt-24">{{ 'upload_utility_subtitle' | i18next }}</p>
      </div>
      <div class="blue-box mt-12">
          <div class="child-box">
              <figure>
                  <img src="../../../../../assets/images/bridge.png" alt="" width="120" height="80">
              </figure>
              <h3 class="font-weight-semibold mb-24 mt-16">{{ 'upload_utility_integration' | i18next }} </h3>
              <p>{{ 'upload_utility_description' | i18next }}</p>
          </div>
      </div>
  </section>
</div>
