<svms-sidebar [title]="showReduceFlyout ? 'reduce_positions' : 'budget_details'" size="big" [dataVisibility]="isCreateEstimate"
  (onClose)="sidebarClose(false)">
  <svms-sidebar-body>
    <app-logs [log]="logs"></app-logs>

    <form [formGroup]="reducePositionForm">
      <div class="p-24 job-estimate">

        <div *ngIf="showReduceFlyout" class="form-group-row">
          <div class="form-group">
                <label>{{ 'number_of_positions' | i18next }}</label>
                <input class="form-control" [readonly]="true" [value]="jobDetailsData?.positions"/>
          </div>
          <div class="form-group">
                <label>{{ 'filled_positions' | i18next }}</label>
                <input class="form-control" [readonly]="true" [value]="jobDetailsData?.filled_positions"/>
          </div>
          <div class="form-group">
            <div class="d-flex">
                <label>{{ 'revised_positions' | i18next }}</label> 
                <i class="info-icon material-icons ml-4 reduced-position-info"
                [tooltip]="'select_a_new_value_to_reflect_the_total_number_of_positions_for_this_job._note_the_value_cannot_exceed_the_current_number_of_positions_and_once_updated_cannot_be_reverted' | i18next"
                placement="left">help</i>
            </div>
            <input class="form-control" type="number" formControlName="num_resources" onlyNumber [allowDecimal]="false"  [min]="jobDetailsData?.filled_positions || 1" [max]="jobDetailsData?.positions-1">
            <p class="validation-msg" *ngIf="(reducePositionForm.controls.num_resources.errors?.min)">
              {{'value_cannot_be_zero_or_less_than_filled_positions.' | i18next}}
            </p>
            <p class="validation-msg" *ngIf="(reducePositionForm.controls.num_resources.errors?.max)">
              {{'value_cannot_exceed_current_number_of_positions.' | i18next}}
            </p>
          </div>
          
      </div>

        <div class="row">
          {{jobDetailsData?.ratemodel}}

          <div class="col">
              <div class="rate-range d-flex align-items-center">
                <div class="range-icon mr-16 d-flex align-items-center justify-content-center blue">
                  <i class="icon-default material-icons">south_west</i>
                </div>
                <div class="rate-text">
                  <h4 class="m-0">
                    {{(jobDetailsData?.rate_model === 'BILL_RATE' ? jobDetailsData?.min_bill_rate : jobDetailsData?.rate_markup_info?.est_min_rate) | accuracy : 'rate' : { currencyCode: jobDetailsData?.currency } }}
                  </h4>
                  <p> {{ 'min_bill_rate' | i18next }}</p>
                </div>
              </div>
            </div>
            <div class="col" *ngIf="!isMaxBudgetCalculation">
              <div class="rate-range d-flex align-items-center">
                <div class="range-icon mr-16 d-flex align-items-center justify-content-center orange">
                  <i class="icon-default material-icons">multiple_stop</i>
                </div>
                <div class="rate-text">
                  <h4 class="m-0">{{jobDetailsData?.rate_markup_info?.avg_bill_rate || averageRate | accuracy : 'rate' : { currencyCode: jobDetailsData?.currency , view_accurate:true } }}</h4>
                  <p>{{ 'average_bill_rate' | i18next }}</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="rate-range d-flex align-items-center">
                <div class="range-icon mr-16 d-flex align-items-center justify-content-center yellow">
                  <i class="icon-default material-icons">south_west</i>
                </div>
                <div class="rate-text">
                    <h4 class="m-0">
                      {{(jobDetailsData?.rate_model === 'BILL_RATE' ? jobDetailsData?.max_bill_rate : jobDetailsData?.rate_markup_info?.est_max_rate) | accuracy : 'rate' : { currencyCode: jobDetailsData?.currency } }}
                    </h4>
                    <p>{{ 'max_bill_rate' | i18next }}</p>
                </div>
              </div>
            </div>
        </div>
         <div class="work-duration-box d-flex align-items-center my-16">
          <div class="number-dropdown">
            <div class="row">
              <div class="col-3">
                <div class="form-group m-0">
                  <label>{{ 'no._of_positions' | i18next }}</label>
                  <p *ngIf="!reducePosition; else newValue">{{jobDetailsData?.positions}}</p>
                  <ng-template #newValue> {{reducePosition}}</ng-template>
                  <del *ngIf="reducePosition" class="d-block text-red">{{jobDetailsData?.positions}}</del>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group m-0">
                  <label>{{ 'est._hours' | i18next }} / {{ 'day' | i18next }}</label>
                 <p> {{jobDetailsData?.estimated_hours | accuracy : 'hour'}} </p>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group m-0">
                  <label>{{'unit_of_measure'|i18next}}</label>
                  <p>{{rateTypeMap.get(this.jobDetailsData?.rate_type)}}</p>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group m-0">
                  <label>{{ 'work_days' | i18next }} / {{ 'week' | i18next }}</label>
                  <p> {{jobDetailsData?.day_per_week}} </p>
                </div>
              </div>
            </div>
          </div>
          <div class="work-duration">
            <label>{{ 'work_duration' | i18next }}</label>
            <p class="info-item item-value" *ngIf="jobDetailsData?.duration?.weeks <= 1">
              {{jobDetailsData?.duration?.weeks ? jobDetailsData.duration?.weeks + ' week' : ''}}
              {{ jobDetailsData?.duration?.days ? (jobDetailsData.duration?.days > 1 ? jobDetailsData.duration?.days + ' days':  jobDetailsData.duration?.days + ' day') : '0 day'}}
            </p>
            <p class="info-item item-value" *ngIf="jobDetailsData?.duration?.weeks >= 2">
                {{jobDetailsData?.duration?.weeks ? jobDetailsData.duration?.weeks + ' weeks' : ''}}
                {{ jobDetailsData?.duration?.days ? (jobDetailsData.duration?.days > 1 ? jobDetailsData.duration?.days + ' days' : jobDetailsData.duration?.days + ' day') : '0 day'}}
            </p>
          </div>
        </div>

        <div class="detailed-estimation">
          <div class="row py-16">
            <div class="col-12">
              <h5 class="d-flex">
                <i class="icon-default material-icons mr-8">calculate</i>
                {{ 'detailed_estimate' | i18next }} / {{ 'position' | i18next }}
              </h5>
            </div>
          </div>
        <div class="row">
          <div class="col-7 py-16">
            <label class="spc">{{'total_working_units'|i18next}}</label>
          </div>
          <div class="col-5 py-16">
            <div class="spc d-flex justify-content-end">
              {{ getWorkingUnits() }}
             </div>
          </div>
        </div>

        <div class="row" *ngIf="!isMaxBudgetCalculation">
          <div class="col-7 py-16">
            <label class="spc">{{ 'average' | i18next }} {{ 'amount' | i18next }}</label>
          </div>
          <div class="col-5 py-16">
            <div class="spc d-flex justify-content-end">
               {{(jobDetailsData?.rate_markup_info?.single_initial_budget ? jobDetailsData?.rate_markup_info?.single_initial_budget : jobDetailsData?.budget_estimate / jobDetailsData?.positions) |  accuracy : 'amount' : { currencyCode: jobDetailsData?.currency } }}
             </div>
          </div>
        </div>

        <div class="row" *ngIf="jobDetailsData?.rate_markup_info?.min_single_initial_budget || jobDetailsData?.rate_markup_info?.max_single_initial_budget">
          <div class="col-7 py-16">
            <label class="spc">{{ 'amount' | i18next }}  <span class="label" *ngIf="!isMaxBudgetCalculation">{{ 'range' | i18next }}</span></label>
          </div>
          <div class="col-5">
            <div class="spc d-flex justify-content-end">
              <div class="amount-range d-flex justify-content-between py-16 px-8" *ngIf="!isMaxBudgetCalculation">
                <label>{{ 'min' | i18next }}.</label>
                <span class="text-nowrap ml-8"> {{ jobDetailsData?.rate_markup_info?.min_single_initial_budget || '0.00' |  accuracy : 'amount' : { currencyCode: jobDetailsData?.currency } }}
                </span>
               </div>
             <div class="amount-range d-flex justify-content-between py-16 px-8">
              <label>{{ 'max' | i18next }}.</label>
              <span class="text-nowrap ml-8"> {{ jobDetailsData?.rate_markup_info?.max_single_initial_budget || 0.00 |  accuracy : 'amount' : { currencyCode: jobDetailsData?.currency } }}
              </span>
             </div>
             </div>
          </div>
        </div>

        <div class="row align-items-center" *ngIf="jobDetailsData?.additional_amount">
          <div class="col-7 py-16">
            <label class="spc d-flex align-items-center ">{{ 'additional_amount' | i18next }}
              <div class="add-amount-toggle d-flex ml-24" *ngIf="jobDetailsData?.adjustment_type">
                <label class="selected" for="radio-one"> {{ jobDetailsData?.adjustment_type | titlecase }}</label>
             </div>
            </label>
          </div>
          <div class="col-5 py-16">
            <div *ngIf="jobDetailsData?.adjustment_type?.toLowerCase() == 'fixed'; else percentage" class="spc d-flex justify-content-end">
                      {{ jobDetailsData?.additional_amount || 0.00 |  accuracy : 'amount' : { currencyCode: jobDetailsData?.currency } }}
             </div>
             <ng-template #percentage>
              <div *ngIf="!isMaxBudgetCalculation; else isMaxCal" class="spc d-flex justify-content-end">
                {{((jobDetailsData?.rate_markup_info?.single_net_budget) - (jobDetailsData?.rate_markup_info?.single_initial_budget || jobDetailsData?.budget_estimate / jobDetailsData?.positions)) || 0.00 |  accuracy : 'amount' : { currencyCode: jobDetailsData?.currency, view_accurate: true } }}
              </div>
              <ng-template #isMaxCal>
                <div class="spc d-flex justify-content-end">
                  {{ (jobDetailsData?.rate_markup_info?.max_single_net_budget - jobDetailsData?.rate_markup_info?.max_single_initial_budget) || 0.00 |  accuracy : 'amount' : { currencyCode: jobDetailsData?.currency, view_accurate: true } }}
                </div>
              </ng-template>
           </ng-template>
          </div>
        </div>

        <div class="row" *ngIf="!isMaxBudgetCalculation">
          <div class="col-7 py-16">
            <label class="spc">{{ 'estimate_average_budget' | i18next }}</label>
          </div>
          <div class="col-5 py-16">
            <div class="spc d-flex justify-content-end">
                {{(jobDetailsData?.rate_markup_info?.single_net_budget ? jobDetailsData?.rate_markup_info?.single_net_budget : jobDetailsData?.budget_estimate / jobDetailsData?.positions) | accuracy : 'amount' : { currencyCode: jobDetailsData?.currency } }}
             </div>
          </div>
        </div>

        <div class="row" *ngIf="jobDetailsData?.rate_markup_info?.min_single_net_budget != null || jobDetailsData?.rate_markup_info?.max_single_net_budget != null">
          <div class="col-7 py-16">
            <label class="spc">{{ 'estimated_budget' | i18next }}<span class="label" *ngIf="!isMaxBudgetCalculation"> {{ 'range' | i18next }}</span></label>
          </div>
          <div class="col-5">
            <div class="spc d-flex justify-content-end">
              <div class="amount-range d-flex justify-content-between py-16 px-8" *ngIf="!isMaxBudgetCalculation">
                <label>{{ 'min' | i18next }}.</label>
                <span class="text-nowrap ml-8">
                  {{ jobDetailsData?.rate_markup_info?.min_single_net_budget || 0.00 |  accuracy : 'amount' : { currencyCode: jobDetailsData?.currency } }}
                </span>
               </div>
               <div class="amount-range d-flex justify-content-between py-16 px-8">
                <label>{{ 'max' | i18next }}.</label>
                <span class="text-nowrap ml-8">
                  {{ jobDetailsData?.rate_markup_info?.max_single_net_budget || 0.00 |  accuracy : 'amount' : { currencyCode: jobDetailsData?.currency } }}
                </span>
               </div>
             </div>
          </div>
        </div>
        <!-- <ng-container *ngIf="!isMaxBudgetCalculation">
          <div class="row" *ngIf="jobDetailsData?.rate_markup_info?.markup_mode!='BILL_RATE' && jobDetailsData?.rate_markup_info?.markup_mode!=null">
            <div class="col-7 py-16">
              <label class="spc">{{ 'average_markup_percentage' | i18next }}</label>
            </div>
            <div class="col-5">
              <div class="spc d-flex justify-content-end">
              <div class="amount-range d-flex justify-content-between py-16 px-8" *ngIf="!isMaxBudgetCalculation">
                <label>Min.</label>
                <span class="text-nowrap ml-8">
                  {{(jobDetailsData?.rate_markup_info?.min_markup ? jobDetailsData?.rate_markup_info?.min_markup : "0.00")}}
                </span>
              </div>
              <div class="amount-range d-flex justify-content-between py-16 px-8">
                <label>Max.</label>
                <span class="text-nowrap ml-8">
                  {{(jobDetailsData?.rate_markup_info?.max_markup ? jobDetailsData?.rate_markup_info?.max_markup : "0.00")}}
                </span>
              </div>
              </div>
            </div>
          </div>
        </ng-container> -->



        <!-- <div class="row" *ngIf="jobDetailsData?.rate_markup_info?.min_single_net_budget || jobDetailsData?.rate_markup_info?.max_single_net_budget">
          <div class="col-7 py-16">
            <label class="spc">{{ 'estimated_budget_range' | i18next }}</label>
          </div>
          <div class="col-5">
            <div class="spc d-flex justify-content-end">
             <div class="amount-range d-flex justify-content-between py-16 px-8" *ngIf="!isMaxBudgetCalculation">
              <label>Min.</label>
              <span class="text-nowrap ml-8">
                {{(jobDetailsData?.rate_markup_info?.min_single_net_budget || 0.00) | customcurrency:jobDetailsData?.currency }}
              </span>
             </div>
             <div class="amount-range d-flex justify-content-between py-16 px-8">
              <label>Max.</label>
              <span class="text-nowrap ml-8">
                {{(jobDetailsData?.rate_markup_info?.max_single_net_budget || 0.00) | customcurrency:jobDetailsData?.currency }}
              </span>
             </div>
             </div>
          </div>
        </div> -->

        <div class="row py-16">
          <div class="col-12">
            <h5 class="d-flex">
              <i class="icon-default material-icons mr-8">calculate</i>
              {{ (showReduceFlyout ? 'current_estimates' : 'total_estimates') | i18next }}
            </h5>
          </div>
        </div>

        <div class="row" *ngIf="!isMaxBudgetCalculation">
          <div class="col-7 py-16">
            <label class="spc"><b>{{ (showReduceFlyout ? 'current_total_estimated_average_budget' : 'total_estimated_average_budget') | i18next }}</b></label>
          </div>
          <div class="col-5 py-16">
            <div class="spc d-flex justify-content-end">
               <b>{{ jobDetailsData?.budget_estimate || 0.00 |  accuracy : 'amount' : { currencyCode: jobDetailsData?.currency } }}</b>
             </div>
          </div>
        </div>

        <div class="row">
          <div class="col-7 py-16">
            <label class="spc"><b>{{ (showReduceFlyout ? 'current_total_estimated_budget' : 'total_estimated_budget') | i18next }}<span style="color: #000" *ngIf="!isMaxBudgetCalculation"> {{ 'range' | i18next }}</span></b></label>
          </div>
          <div class="col-5">
            <div class="spc d-flex justify-content-end">
             <div class="amount-range d-flex justify-content-between py-16 px-8" *ngIf="!isMaxBudgetCalculation">
              <label>{{ 'min' | i18next }}.</label>
              <span class="text-nowrap ml-8">
                <b>{{(jobDetailsData?.min_budget ? jobDetailsData?.min_budget : 0.00) | accuracy : 'amount' : { currencyCode: jobDetailsData?.currency } }}</b>
              </span>
             </div>
             <div class="amount-range d-flex justify-content-between py-16 px-8">
              <label>{{ 'max' | i18next }}.</label>
              <span class="text-nowrap ml-8">
                <b>{{(jobDetailsData?.max_budget ? jobDetailsData?.max_budget : jobDetailsData?.budget_estimate ) | accuracy : 'amount' : { currencyCode: jobDetailsData?.currency } }}</b>
              </span>
             </div>
             </div>
          </div>
        </div>

      <div *ngIf="showReduceFlyout">
        <div class="row py-16">
          <div class="col-12">
            <h5 class="d-flex">
              <i class="icon-default material-icons mr-8">calculate</i>
              {{ 'revised_estimates' | i18next }}
            </h5>
          </div>
        </div>

        <div class="row" *ngIf="!isMaxBudgetCalculation">
          <div class="col-7 py-16">
            <label class="spc"><b>{{ 'revised_total_estimated_average_budget' | i18next }}</b></label>
          </div>
          <div class="col-5 pt-16">
            <div *ngIf="!dataLoading" class="spc d-flex justify-content-end">
              <b>{{reducePositionForm.get('net_budget')?.value || 0.00 | accuracy : 'amount' : { currencyCode: jobDetailsData?.currency } }}</b>
            </div>
            <div *ngIf="dataLoading">
              <ngx-skeleton-loader count="1" animation="progress" appearance="line"
                [theme]="{'width': '100%', height: '16px', 'border-radius':'4px', 'background-color': '#ebeef3'}">
              </ngx-skeleton-loader>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-7 py-16">
            <label class="spc"><b>{{ 'revised_total_estimated_budget' | i18next }}<span style="color: #000" *ngIf="!isMaxBudgetCalculation"> {{ 'range' | i18next }}</span></b></label>
          </div>
          <div class="col-5">
            <div *ngIf="!dataLoading" class="spc d-flex justify-content-end">
             <div class="amount-range d-flex justify-content-between py-16 px-8" *ngIf="!isMaxBudgetCalculation">
              <label>{{ 'min' | i18next }}.</label>
              <span class="text-nowrap ml-8">
               <b>{{reducePositionForm.get('min_net_budget').value || 0.00 | accuracy : 'amount' : { currencyCode: jobDetailsData?.currency } }}</b>
              </span>
             </div>
             <div class="amount-range d-flex justify-content-between py-16 px-8">
              <label>{{ 'max' | i18next }}.</label>
              <span class="text-nowrap ml-8">
                <b>{{reducePositionForm.get('max_net_budget').value || 0.00 | accuracy : 'amount' : { currencyCode: jobDetailsData?.currency } }}</b>
              </span>
             </div>
             </div>
             <div *ngIf="dataLoading" class="pt-16">
              <ngx-skeleton-loader count="1" animation="progress" appearance="line"
                [theme]="{'width': '100%', height: '16px', 'border-radius':'4px', 'background-color': '#ebeef3'}">
              </ngx-skeleton-loader>
            </div>
          </div>
        </div>
      
        <div class="form-group mt-16">
          <label>{{ 'notes' | i18next }}</label>
          <textarea class="form-control" formControlName="notes"></textarea>
        </div>
    </div>
  </div>
</div>
</form>
  </svms-sidebar-body>
  <div *ngIf="showReduceFlyout">
    <svms-sidebar-footer>
          <button type="submit" [disabled]="!isValid" class="btn btn-primary border-0 float-right"
            (click)="onUpdateReducePosition()">
            <icon size="24px" name="check_circle" type="material" class="d-flex mr-8" cuClass="icon-cu">
            </icon> {{ 'update' | i18next }}
          </button>
    </svms-sidebar-footer>
  </div>
</svms-sidebar>
