@import '../../../../assets/sass/abstracts/variables';

.mt-26 {
  margin-top: 26px;
}
.disable-color {
  background-color: #FAFBFC;
}
.toggle-disable {
  .toggle-panel-inner {
    font-size: 14px;
    font-weight: 400;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 16px;
    border: 0px solid var(--color-border-primary);
    height: 40px;
    background-color: transparent;
    float: right;
  }

}

.trans-bg {
  background: $light;
  margin-bottom: 16px;
  border: 0px solid var(--color-border-primary);
}

.spc {
  padding: 12px 0px 20px 0px;
}

.highlight-form {
  background-color: #F6FAFD;
}

.panel-info {
  border: 1px solid #EBEEF3;
  background-color: #FAFBFC;
  border-radius: 4px;
}

.card-info {
  border: 1px solid #F0F2F4;
  background-color: #F6FAFD;
  border-radius: 4px;
}

.x-small {
  font-size: 11px;
}

.arrow_position {
  position: relative;
  top: 17px;
  transform: translateX(205px);
}

.panel-footer {
  background: $color-gray-5;
}

.blue {
  color: #776DE0;
}

::ng-deep.datepicker-inline{
top:auto;
}
