@import '../../../../assets/sass/abstracts/variables';
//pagination styles
[hidden] {
  display: none !important;
}
.pagination {
  display: inline-block;
  height: 51px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pagination a {
  float: left;
  height: 26px;
  width: 26px;
  text-decoration: none;
  border: 1px solid $color-gray-7;
  border-radius: 4px;
  margin: 0 4px;
  color: $text-black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a.active {
  background-color: $text-black-10;
  color: $color-gray-8;
  border: 1px solid $color-gray-9;
}

.pagination a:hover:not(.active) {
  border: 1px solid $color-gray-11;
  background: $color-white;
}

.record-dropdown.small-record {
  width: 60px;
  height: 26px;

  ::ng-deep .ng-select-container {
    height: 26px;
    min-height: 26px;
  }
}