@import '../../../assets/sass/abstracts/variables';
.not-found {
  text-align: center;
  margin-top: 44px;
  font-size: 18px;
}
.mass-assignment {
  .card-info {
    background: #FBFAFF;
    box-shadow: inherit;
    border: 0;

    .close-icon {
      position: absolute;
      top: 4px;
      right: 4px;
      z-index: 2;
      cursor: pointer;
    }
  }

  .info-bar {
    background-color: #F8E8DD;
    color: #CF6625;

    p {
      color: #CF6625;
    }

    ::ng-deep i {
      vertical-align: middle;
      color: #eb7f25;
    }

    a {
      color: #CF6625;
      display: block;
      text-decoration: underline;
    }
  }

  .card {
    &.no-shadow {
      box-shadow: inherit;

      .panel {
        box-shadow: inherit;
      }
    }
  }

  .panel-light {
    background-color: #FBFAFF;
    border: 0px solid transparent;
  
    .initials-profile,
    .initials-icon {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      overflow: hidden;
      background-color: #D9E9FF;
  
      img {
        width: 100%;
      }
  
      icon {
        color: #976FE3;
      }
    }
  
    .collapse-arrow {
      width: 33px;
      height: 33px;
      background-color: #F1EDFF;
      border-radius: 4px;
    }
  
    &.danger {
      background-color: #FFF0F0;
      border-left: 4px solid #FF0000;
  
      .initials-icon {
        background-color: rgba(255, 144, 144, .34);
  
        icon {
          color: #FFA0A0;
        }
      }
  
      .collapse-arrow {
        display: none !important;
      }
    }
  }

  .warning-color {
    color: #CF6625;
  }

  .assignment-details-info-item{
    @media screen and (min-width: 768px){
      width: 18%;
  
      &.notes{
        width: 40%;
      }
    }
  }
}
.disableDiv {
  pointer-events: none;
  opacity: 0.3;
}

::ng-deep {
  .impacted-detail-box {
    gap: 13px;
    flex-wrap: wrap;
  
    > div {
      border: 1px solid #E3E9F0;
      padding: $p16;
      width: 49%;
      border-radius: $border-radius;

      .info-trigger {
        position: absolute;
        top: 12px;
        right: 12px;
        z-index: 4;
      }
    }
  }

  .impacted-sheet {
    &.bordered-line {
      tbody {
        td {
          border-top: 1px solid #E9ECEF;
        }
      }
    }
  }
}

.mass-data{
  label {
    font-size: 12px;
    color: #ADB5BD;
  }

}


.text-danger {
  color: #FF4A6C !important;
}

.right-content{
  width:calc(100% - 32px);
}

thead {
  background-color: $color-gray-5;
  border: 1px solid $color-gray-30;
  th {
      text-transform: capitalize;
  }
}

.info {
  background-color: #EDF2FE;
    border-radius: 4px;
    padding: 10px;
}

.failed-warning-message {
  p {
    color: #CF6625;
    line-height: 18px;
  }
}