  @import "../../../../assets/sass/abstracts/variables";
  
  .status {
    background-color: #E1EEF5;
    color: black;
  }
  
  .status-drop {
    display: flex;
    flex-direction: column;
    padding: 8px 8px;
    position: absolute;
    background-color: #e1eef5;
    width: 100%;
    display: none;
    span{
      cursor:pointer;
    }
  }
  .chart-filter{
    a{
      background-color: #FCF8FF;
      width:30px;
      height:30px;
      color:#BDB2C6;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      &:not(:last-child){
        margin-right:4px;
      }
      &.active{
        color:white;
        background-color: $color-assets-primary;
      }
      &.flip{
        transform: rotate(90deg);
      }
    }
  }