@import "../../../../assets/sass/abstracts/variables";
.search-candidate {
  .search-cand {
    top: 10px;
    left: 12px;
    color: $placeholder-color;
    z-index: 4;
    font-size: 16px;
  }
}

::ng-deep {
  .search-candidate {
    .ng-select {
      .ng-arrow-wrapper {
        display: none;
      }

      .ng-select-container {
        padding-left: 24px;
      }
    }

    .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
      left: 24px;
    }

    .ng-select.ng-select-opened .ng-select-container {
      z-index: 3;
    }
  }

  .ng-dropdown-panel {
    box-shadow: 0px 0px 0px 0px #00000000;
  }
}
.disabled-wrapper {
  cursor: not-allowed;
  .disabled {
    pointer-events: none;
    background: $color-gray-20;
    border: $color-gray-20;
  }
  input[readonly] {
    background: $color-gray-20;
    border: $color-gray-20;
    pointer-events: none;
  }
  ::ng-deep .disabled {
    pointer-events: none;
    .ng-select-container {
      background: $color-gray-20;
      border: $color-gray-20;
    }
  }
}

.text-danger {
  font-size: 11px;
  color: red;
}

.sidebar-wrapper {
  max-height: calc(100vh - 122px);
  overflow: auto;
}
.search-cand {
  top: 10px;
  left: 12px;
  color: $placeholder-color;
  z-index: 4;
}
.pl-5{
  padding-left: 30px !important;
}