@import '../../../../assets/sass/abstracts/variables';

.text-green {
  color: $color-green;
}

.text-yellow {
  color: $color-warning;
}

.no-history {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  h5 {
    font-size: 14px;
  }

  h6 {
    color: $text-secondary;
  }

}

.budget-amount {
  font-size: 19px;
}

.panel-card {
  background-color: #FAF8FF;
}

.h-100 {
  height: 100% !important;
}

table {
  thead {
    background-color: #F9F7FF;

    th {
      text-align: left;
      font-size: 13px;
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #F3F3F3;
    }

    td {
      padding-left: 12px;
      padding-right: 12px;
      color: #2D3748;

      a {
        color: #5762bd;
      }
    }

  }
}

.details-chart {
  top: -64px;
  right: 12px;
}

.approval-chart {
  top: -96px;
  right: 0;
}

.full-width {
  width: 100%;
}

.card-content {
  height: 152px;
  align-items: center;
}