@import "../../../../../assets/sass/abstracts/variables";

.col-del-btn {
    position: absolute;
    background-color: #FAFCFF;
    border: 1px solid #E8F0F7;
    padding: $p4;
    top: -33px;
    right: 16px;
    z-index: 10;

    icon {
        cursor: pointer;
  
        ::ng-deep i {
          color: $color-gray-45;
          transition: $transition;
          opacity: .7;
  
          &:hover {
            opacity: 1;
          }
        }
      }
}