@import '../../../assets/sass/abstracts/variables';

.disableDiv{
    pointer-events: none;
    opacity: 0.5;
    .status-text {
      color: var(--color-body-txt-secondary);
    }
    .toggle-panel-inner {
      background-color: #ebeef3;
    }
  }

.landing-wrapper {
    background-color: #EDF2FE;
    height: 100vh;

    .card {
        max-width: 507px;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0px 3px 6px #00000012;
        border-radius: $border-radius;
    }

    .program-search {
        border-top: 1px solid $color-border-secondary;
        border-bottom: 1px solid $color-border-secondary;
        position: relative;
        padding: $p16 50px;
        margin-bottom: $m16;

        .search-icon {
            position: absolute;
            top: 50%;
            left: 24px;
            transform: translateY(-50%);

            ::ng-deep i {
                color: #001A43;
            }
        }

        .clear-search {
            position: absolute;
            top: 50%;
            right: 24px;
            transform: translateY(-50%);
            display: none;
            cursor: pointer;
        }

        .show-clear-icon {
            display: block !important;
        }

        input {
            width: 100%;
            border: 0;
            outline: 0;
            color: #5B6874;
            font-size: 13px;

            &:focus {
                color: #001A43;
                font-weight: $font-weight-medium;

                ~.search-icon {
                    ::ng-deep i {
                        color: #0044C5;
                    }
                }
            }
        }
    }

    .list-available {
        height: 190px;
        overflow: hidden;
        padding: 0 $p8 0 $p16;

        .list-item {
            padding: $p8 $p16 $p8 $p8;
            margin-top: $m16;
            margin-right: $m8;
            transition: $transition;
            border-radius: $border-radius;

            figure {
                background-color: #5B96FF;
                border-radius: $border-radius;
                text-align: center;
                width: 36px;
                height: 36px;
                overflow: hidden;
                line-height: 36px;
                color: $light;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    height: auto;
                    width: auto;
                    object-fit: cover;
                }
            }

            &:hover {
                background-color: #EDF2FE;
            }

            &:first-child {
                margin-top: 0;
            }
        }
    }
}