@import '../../../../../assets/sass/abstracts/variables';

.description-card {
    border-radius: $border-radius;
    border: 1px solid $color-gray-30;
    box-shadow: 0 6px 14px rgba(0, 0, 0, .02);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: transparent;
  }