@import '../../../../assets/sass/abstracts/variables';
.create-job {
    background-color: $bg-default;
    position: relative;
    &-inner {
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
    }
}

.close_btn {
    position: relative !important;
    float: right;
    top: 36px;
    left: 40px;
    width: 30px;
    height: 30px;
}