@import '../../../../../assets/sass/abstracts/variables';

.initials {
  width: 36px;
  height: 36px;
  color: #000;

  &-light {
    background-color: #e8ecff;
    color: #7f6fc1;
  }

  &-green {
    background-color: #caffb2;
    color: #59bc2e;
  }
}

.description-download {
  a {
    color: $color-link;

    span:hover {
      text-decoration: underline;
    }
  }

  span {
    margin-top: 2px;
  }
}

.download-btn {
  background: none;
  border: none;
  padding: 0;
  color: cornflowerblue;
  cursor: pointer;
}

.description-text-body {
  max-width: 63%;
}