@import '../../../../assets/sass/abstracts/variables';

.btn-green {
  background-color: #2dd36f;
  border-color: #2dd36f;

  icon {
    ::ng-deep i {
      color: $light;
    }
  }
}

.btn-red {
  background-color: #ff6075;
  border-color: #ff6075;

  icon {
    ::ng-deep i {
      color: $light;
    }
  }
}

.btn-orange {
  background-color: #eb9e21;
  border-color: #eb9e21;
}
