.generic-list-page {
    ::ng-deep {
        .ng-dropdown-panel {
            direction: ltr;
            text-align: left;
        }

        .ng-select {
            .ng-select-container {
                .ng-value-container {
                    padding-left: 13px;
                    padding-right: 0px;
                }
            }
        }

        .ng-value {
            min-width: 28px;
        }

        .c-listing-table-wrapper {
            table {
                tbody {
                    tr {
                        td {
                            &:first-child {
                                a {
                                    span {
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
