@import '../../../../assets/sass/abstracts/variables';

.radio-wrapper {
  padding: $p8 $p16 0 $p24;
  flex-wrap: wrap;
}

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 43px;
  margin-bottom: $m12;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 45px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border: 0px;
    box-shadow: 0px 3px 5px #0003;

    &:after {
      content: "done";
      font-family: 'Material Icons';
      position: absolute;
      display: none;
      font-size: 15px;
      top: auto;
      left: auto;
      bottom: -5px;
      right: -5px;
      width: 20px;
      height: 20px;
      color: $light;
      background: #fdb153;
      border-radius: $rounded-circle;
      text-align: center;
      line-height: 20px;
    }

    .second-color {
      position: absolute;
      left: 12px;
      right: 0;
      top: 0;
      bottom: 0;
      display: block;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  input {

    &:checked {

      &~.checkmark {


        &:after {
          display: block;
        }
      }
    }
  }
}
