@import '../../../../../assets/sass/abstracts/variables';

.no-content {
  padding-top: $m64 !important;
  padding-bottom: $m64 !important;
}

.no-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  h5 {
    font-size: 14px;
  }

  h6 {
    color: $text-secondary;
  }

}
