@import '../../../../assets/sass/abstracts/variables';
.dndPlaceholder {
  min-height: 30px;
  margin-bottom: 10px;
  border: 1px dashed $color-gray-80;
  background-color: $color-gray-1;
}
.reordering-item{
  border:1px solid #F9F7FF;
}
.reordering-item:hover {
	background-color: #F9F7FF;
}
.sequence-box {
  max-width: 50px;
  margin-right: 10px;
}
