@import "../../../../assets/sass/abstracts/variables";

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.domain,
.bottom-legend line {
  opacity: 0;
}

.tick line {
  opacity: 0.05;
}

.axisleft {
  margin: 0 50px;
  font-size: 10px;
  color: $color-gray-60;
  font-family: Inter;
}

.axisbottom {
  text-anchor: middle;
  /*text-transform: uppercase;*/
  font-size: 10px;
  font-weight: 400;
  color: $color-gray-60;
  font-family: Inter;
}

#columnHoverId {
  position: relative;
}

.columnToolTip {
  background-color: $color-white;
  padding: 10px;
}

.bar {
  pointer-events: all;
  cursor: pointer;
  opacity: 0.8;
}

.bar:hover {
  opacity: 1;
}

.m-bar {
  fill: $color-white;
  pointer-events: all;
}
.m-bar.selected {
  fill: $color-gray-57;
}

svg {
  pointer-events: none;
}

.chart-label {
  text-anchor: middle;
  font-family: Inter;

  font-size: 13px;
  /* letter-spacing: 1px !important; */
  font-weight: 500;
  color: $color-gray-60;
  fill: $color-gray-60;
}

.tooltip {
  text-align: left;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
  color: $color-gray-60;
  opacity: 0;
  padding: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: $color-white 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px $color-gray-94;
  border-radius: 2px;
}

.tooltip th {
  height: 0.9em;
  line-height: 0.7em;
  padding-left: 10px;
  border-bottom: 1px solid $color-gray-23;
  font: normal normal medium 13px/24px Inter;
  color: $color-black;
}

.tooltip td.name {
  width: 120px;
}

.tooltip tr {
  font: normal normal normal 12px/24px Inter;
  color: $color-black;
}

.tooltip td {
  height: 0.8em;
  /* line-height: 0.5em;*/
  padding-top: 12px;
  padding-right: 7px;
  padding-left: 2px;
  white-space: nowrap;
  font: normal normal normal 12px/12px Inter;
  font-weight: 500;
  letter-spacing: 0px;
}

.tooltip td:first-of-type {
  padding-top: 5px;
  padding-left: 9px;
}

/*
#tooltip  {
  font-size: 12px;
  font-weight: bold;   
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none; 
  pointer-events: none;
  position:absolute;
  color: #999;
  opacity: 0;
  border-radius: 2px;

  border:1px solid #3f6cd3;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
} 

#tooltip tr {
  background-color: $color-white;
} 

#tooltip tr.selected {
  background-color: #ddd;
}

rect.selected {
  stroke-width:3px;
  stroke: #3f7ce3;
  opacity: 1;
}  

#tooltip th {
  background-color: #5f8cf3;
  color: $color-white;
  font-weight: bold;
  height: 0.9em;
  line-height: 0.7em;
} 

#tooltip table {
  border:1px solid #3f6cd3;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}  

#tooltip td {
  font-weight: bold;
  border-bottom:1px solid #eee;
  height: 0.8em;
  line-height: 0.5em;
  padding: 9px;
} 

#tooltip td:first-of-type{ 
  padding-top: 2px;
}

#tooltip tr:last-of-type{ 
  padding-top: 2px;
  background-color: #dde;
  color: #3f6cd3;
}
*/
