@import '../../../../assets/sass/abstracts/_variables.scss';
@import '../../../../assets/css/custom-fields.scss';


.dndPlaceholder {
  min-height: 30px;
  margin-bottom: 10px;
  border: 1px dashed $color-gray-80;
  background-color: $color-gray-1;
}

.reordering-item{
  border:1px solid #F9F7FF;
}
.reordering-item:hover {
	background-color: #F9F7FF;

}

:host ::ng-deep{
  .svms-sidebar {
    .svms-header{
      background-color:#fff !important;
      color:#000000 !important;
      box-shadow: 0px 3px 6px #0000000F;

      a{
        icon{
          i{
            color:#000 !important;
          }
        }
      }
    }
    .svms-footer{
      padding-top:12px !important;
      padding-bottom:12px !important;
    }
  }
}
