@import 'src/assets/sass/abstracts/variables';

.warning-info-box{
  background-color:#EDF2FE;
  border-radius: $border-radius;
  p{
    color: #0044C5;
    font-size: 14px !important;
    i{
      font-size: 18px;
    }
  }
}

.info-color {
    color: #0044C5;
}

.cost-component-form{
    .cost-component-c-input{
        width: 84%;
    }
    .active-inactive-toggle{
        width: 15%;
        margin-top: 25px;
        .toggle-panel-inner{
            width: 100%;
        }
    }
}
