@import '../../../../../assets/sass/abstracts/variables';

.schedule-wrapper {
  position: absolute;
  top: 40px;
  left: 305px;
  z-index: 10;
  width: 635px;
  height: calc(100vh - 133px);
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.dates-header {
  p {
    &.first {
      flex-basis: 49%;
    }

    &.second {
      flex-basis: 51%;
    }
  }
}

.dates-bodywrapper {
  .dates-loop {
    background-color: $color-gray-1;
    padding: $p12;
    margin-bottom: $m8;

    .form-group-row {
      .form-group {
        &:first-child {
          flex-basis: 75%;
        }
      }
    }

    .addslot {
      display: none;
      margin-top: 7px
    }

    .deleteslot {
      margin-top: 7px;
      display: block;
    }

    &:first-child {
      .addslot {
        display: block;
      }

      .deleteslot {
        display: none;
      }
    }

    ::ng-deep .datepicker-inline {
      top: 42px;
    }
  }
}

.interview-type {
  .no-item {
    background-color: #FAFBFC;
    border: 1px solid $color-border-secondary;
    height: 40px;
    margin-top: 25px;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .type {
    flex-basis: 46%;
  }
}

.scheduled-navbar {
  ::ng-deep .help-bar-wrapper {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
  }
}

::ng-deep {
  .profile-bar {
    position: absolute;
  }
}
