@import '../../../../assets/sass/abstracts/variables';

.qr-modal-cta {
  color: $header-icon-color;
  font-weight: $font-weight-medium;
  text-transform: capitalize;
  display: block;
  line-height: 22px;
  padding: 6px 11px;
  margin: 7px 0 7px 7px;
  border-radius: 4px;
  font-size: 13px;
  transition: $transition;

  icon {
    float: left;
    margin: 1px $m4 0 0;

    ::ng-deep i {
      color: $header-icon-color;
    }
  }

  &:hover {
    text-decoration: none;
    background-color: $header-icon-hover-color;
  }
}

.qr-scanner-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1081px;
  max-width: 80%;
  z-index: 100;
  background-color: $light;
  transition: $transition;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: center center;

  .close-trigger {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
  }

  .qr-left {
    width: 45%;
    background-color: #ecf2fe;
    padding: $p24;


    .mobile-screen {
      text-align: center;

      img {
        max-height: 400px;
        width: auto;
      }
    }

    .store-logo {
      img {
        max-width: 135px;
        height: auto;
      }
    }
  }

  .qr-right {
    width: 55%;
    text-align: center;
    padding-top: $p32;

    .qr-right-title {
      max-width: 344px;
      margin: auto;
      padding: $p24 0 $p32 0;
      color: #0F2E4E;
    }

    .code-body {
      padding-top: $p32;
      padding-bottom: 50px;
    }

    .how-works {
      color: #0044C5;
    }

    ol {
      list-style-type: none;
      border-top: 1px solid #E3E9F0;
      background-color: #FAFCFF;
      counter-reset: numbers;

      li {
        display: inline-block;
        padding: $p64 $p32 $p24 $p24;
        width: 33.33%;
        position: relative;
        font-size: 13px;
        font-weight: $font-weight-medium;
        color: #0F2E4E;
        text-align: left;
        overflow: hidden;

        &:before {
          position: absolute;
          top: 13px;
          left: 24px;
          background-color: #B6F6FF;
          width: 36px;
          height: 36px;
          border-radius: $rounded-circle;
          counter-increment: numbers;
          content: ""counter(numbers) "";
          overflow: hidden;
          display: block;
          visibility: visible;
          text-align: center;
          color: #0044C5;
          font-size: 13px;
          font-weight: $font-weight-medium;
          line-height: 36px;
        }

        &:after {
          position: absolute;
          top: 17px;
          bottom: 0;
          right: 20px;
          width: 94px;
          height: 94px;
          overflow: hidden;
          border: 1px solid #E3E9F0;
          border-left: 0;
          border-top: 0;
          content: '.';
          text-indent: -9999px;
          overflow: hidden;
          display: block;
          visibility: visible;
          transform: rotate(319deg);
        }

        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);

  }
}

.qr-scaner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #1F2031;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: .85;
    visibility: visible;
  }
}
