@import "../../../../assets/sass/abstracts/variables";
.reports-bg {
    padding-bottom: 32px;
    background-color: #F7FAFC;
    min-height: 100vh;
     ::ng-deep {
        .table-bg {
            padding: 0px !important;
            background-color: white !important;
        }
        .table-bg-inner {
            border: 1px solid #e9eff3f5;
            box-shadow: 0px 4px 9px #67676717;
        }
        .has-border {
            ::ng-deep td {
               padding-right: 10px !important;
               ::ng-deep span {
                   width: 100%;
                   overflow: hidden;
                   text-overflow: ellipsis;
                   white-space: nowrap;
                   word-break: normal;
                   display: inline-block;
               }
           }
       }
    }
}

.back-btn:hover {
    background: #edf1f5;
    border-radius: 4px;
    color: #344ca7;
}

.back-btn {
    color: #5050a2;
    padding: 9px 10px 10px 3px;
    cursor: pointer;
}

.charts-wrapper {
    height: 385px;
}

.chart_center {
    margin: 0px auto !important;
}

.m-width {
    min-width: 140px;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    z-index: 1000;
    display: block;
    min-width: 8rem;
    margin-top: 10px;
    font-size: 13px;
    text-align: left;
    list-style: none;
    border-radius: .25rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000033;
    min-width: 200px;
    letter-spacing: 0px;
    color: #3a4550;
    opacity: 1;
    visibility: unset !important;
    &-right-corner {
        right: 0;
        left: unset;
    }
}

.dropdown-menu::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 12px;
    top: -10px;
    border: 5px solid transparent;
    border-bottom: 5px solid #ffffff;
}

.dropdown-item {
    position: relative;
    padding: 16px;
    white-space: nowrap;
    background-color: transparent;
    &:hover {
        background-color: $color-gray-1;
        border-radius: .25rem;
    }
}

.status {
    background-color: #E1EEF5;
    color: black;
}

.status-drop {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    position: absolute;
    background-color: #fff;
    width: 125px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    top: 30px;
    z-index: 99;
    span {
        cursor: pointer;
    }
}

.chart-filter {
    a {
        background-color: #FCF8FF;
        width: 30px;
        height: 30px;
        color: #BDB2C6;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        &:not(:last-child) {
            margin-right: 4px;
        }
        &.active {
            color: white;
            background-color: $color-assets-primary;
        }
        &.flip {
            transform: rotate(90deg);
        }
        &.disabled {
            pointer-events: none;
        }
    }
}

.filter-info {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 13px #00000008;
    border: 1px solid #25C3103C;

    .font-13 {
        font: 13px Inter;
    }
    .font-16 {
        font: 16px Inter;
        font-weight: 600;
    }

    .icon-background {
        width: 50px;
        height: 50px;
        background: #FF890026 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #0000000A;
        border-radius: 10px;
    }
}

.filter-info::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 86px;
    top: 108px;
    border: 10px solid transparent;
    border-bottom: 8px solid #25C3103C;
}

.filter-info::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 85px;
    top: 108px;
    border: 11px solid transparent;
    border-bottom: 9px solid #ffffff;
}

.filter-info-base {
    min-width: 850px;
}

.filter-info-custom {
    min-width: 1000px;
}

.confirmation-info {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 13px #00000008;
    border: 1px solid #25C3103C;

    .icon-background {
        width: 50px;
        height: 50px;
        background: #FF890026 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #0000000A;
        border-radius: 10px;
    }

    .green-circle {
        width: 24px;
        height: 24px;
        background: #30BE1D 0% 0% no-repeat padding-box;
        border-radius: 50%;
        color: #FFFFFF;
    }

    .grey-circle {
        width: 20px;
        height: 20px;   
        background-color: $border-color-outline;
        border-radius: 50%;
        color: #FFFFFF;
        cursor: pointer;
    }

    .font-13 {
        font: 13px Inter;
    }
    .font-16 {
        font: 16px Inter;
        font-weight: 600;
    }
}

.save-dropdown {
    position: absolute;
    background-color: white;
    right: 0;
    z-index: 10;
    min-width: 250px;
    margin-top: 50px;
    box-shadow: 0px 3px 6px #0000001D;
}

.save-dropdown::before {
    content: "";
    position: fixed;
    width: 0;
    height: 0;
    right: 85px;
    top: 175px;
    border: 11px solid transparent;
    border-bottom: 8px solid #0000001D;
}

.save-dropdown::after {
    content: "";
    position: fixed;
    width: 0;
    height: 0;
    right: 85px;
    top: 176px;
    border: 11px solid transparent;
    border-bottom: 8px solid #ffffff;
}

.save-dropdown-base {
    margin-right: 45px;
}

.save-dropdown-custom {
    margin-right: 268px;
}

.save-dropdown-custom::after {
    right: 308px;
}

.save-dropdown-custom::before {
    right: 308px;
}

.width-100 {
    width: 100%;
}

.report-details-top-actions button {
    font-weight: 400;
    padding: 10px 12px;
}

.custom-shadow,
.table-bg-inner {
    border: 1px solid #e9eff3f5;
    box-shadow: 0px 4px 9px #67676717;
}

.btn {
    font: 14px Inter;
}

.btn-green {
    background-color: white;
    border: 1px solid #38C325;
    border-radius: 4px;
    color: #38C325;
}

.btn-clear {
    color: #FA0026;
    background-color: white;
    border-color: #FA0026;
    border-radius: 30px;

    .close-icon {
        color: white;
        background-color:#FA0026;
        border-radius: 50%;
    }
}

