<vms-table *ngIf="vmsData" [vmsTableConfig]="tableConfig" [vmsDataSource]="vmsData?.qualifications" [open]="'false'"
    [totalItem]="totalRecords" [itemsPerPage]="itemPerPage" (onListFilter)="onListFilter($event)"
    (onViewClick)="onViewClick($event)"(changePage)="onPaginationClick($event)"(search)="onSearch($event)">
</vms-table>
<app-qualifications-details [isCreateQualificationItem]="isCreateQualificationItem" (onClose)="onCloseCreateQualificationItem($event)"></app-qualifications-details>