@import "../../../../assets/sass/abstracts/variables";

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.domain, .bottom-legend line {
  opacity: 0.3;
}
/*
#columnId {
  overflow: scroll;
}
*/
#columnHoverId {
  position: relative;
}

#tooltip  {
    font-size: 10px;
  
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
    pointer-events: none;
    position:absolute;
    color: #999;
} 


#tooltip tr {
  background-color: $color-white;
} 

#tooltip tr.selected {
  background-color: #ddd;
}

rect.selected {
  stroke-width:3px;
  stroke: #3f7ce3;
  opacity: 1;
}  


#tooltip th {
 background-color: #5f8cf3;
 color: $color-white;
 font-weight: bold;
 height: 0.9em;
 line-height: 0.7em;
 text-align: left;
    padding-left: 10px;
} 

#tooltip table {
  border:1px solid #3f6cd3;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}  

td.name {
  width: 200px;
}


#tooltip td {


  /*border:1px solid $color-white;*/
  border-bottom:1px solid #eee;
  height: 0.8em;
  line-height: 0.5em;
  padding: 9px;
  padding-right:0px;
  padding-left: 2px;
 } 

 #tooltip td:first-of-type{ 
  padding-top: 2px;
  padding-left:9px;
 /* border: 0px;
  border-left: 1px solid $color-white; */
 }


#tooltip td:last-of-type {
  text-align: right;
  font-weight: bold;
padding:0px;
  padding-right: 2px;
  border-left: 1px solid #eee;

}  

 #tooltip tr:last-of-type{ 
  padding-top: 2px;
  background-color: #dde;
  color: #3f6cd3;
 /* border: 0px;
  border-left: 1px solid $color-white; */
 }

 /*#tooltip tr:last-of-type > td:last-of-type {
  text-align: center;
  padding-right: 4px;
 } */


.columnToolTip {
  background-color: $color-white;
  padding: 10px;
}

.axisleft-text {
  margin: 0 50px;
  font-size: 8px;
  opacity: 0.5;
}

.axisbottom-text {
  text-anchor: start;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
}


.bar {
  pointer-events: all;
  cursor: pointer;
  opacity: 1;
}  

svg {
  pointer-events: none;
}  
