@import '../../assets/sass/abstracts/variables';

.favourite {
  position: fixed;
  top: 51px;
  right: 0;
  bottom: 0;
  width: 320px;
}

.float-content {
  margin-right: 320px;
  background-color: $light;
  box-shadow: 3px 5px 18px #0000000D;
  min-height: calc(100vh - 51px);

  .content-header {
    background-color: $color-assets-primary;
    // background: transparent linear-gradient(100deg, #1770F2 0%, #4A93FF 100%) 0% 0% no-repeat;
    padding: $p24 $p32;
    display: flex;
    justify-content: space-between;

    .close {
      color: white;
      font-size: 2em;
      text-align: center;
      cursor: pointer;
      position: relative;
      bottom: 20px;
      left: 16px;
    }

    h3 {
      font-weight: $font-weight-medium;
      color: $light;
      margin-bottom: 0;
      float: left;
      margin-right: $m8;
      line-height: 34px;
    }

    .search-form {
      float: left;
      width: 286px;
      position: relative;

      input {
        background-color: rgba(255, 255, 255, .11);
        border: 0;
        outline: 0;
        padding: $p8 $p32 $p8 $p12;
        font-size: 13px;
        color: $light;
        width: 100%;
      }

      ::placeholder {
        color: #E9E5FF;
      }

      :-ms-input-placeholder {
        color: #E9E5FF;
      }

      ::-ms-input-placeholder {
        color: #E9E5FF;
      }

      icon {
        position: absolute;
        top: 10px;
        right: 10px;

        ::ng-deep i {
          color: $light;
        }
      }
    }
  }

  .content-box {
    padding: $p32;

    .content-list {
      list-style-type: none;
      column-count: 4;
      column-gap: 50px;

      li {

        // margin-top: $m24;

        &:first-child {
          margin-top: 0px !important;
        }

        > div {
          margin-bottom: $m24;
        }

        h5 {
          font-size: 14px;
          font-weight: $font-weight-medium;
          color: $color-assets-primary;
        }

        icon {
          margin-right: $m8;

          ::ng-deep i {
            color: $color-assets-primary;
            vertical-align: middle;
          }
        }
        ul {
          list-style-type: none;
          margin-bottom: $m24;

          li {
            margin-top: $m24;

            &:first-child {
              margin-top: 0;
            }

            a {
              color: #495057;
              transition: $transition;
              cursor: pointer;
              &:hover {
                color: #2d3135;
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1400px) {
  .float-content {
    .content-box {
      .content-list {
        column-count: 3;
      }
    }
  }
}
